Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

fixes
  extensions/default/src/DicomWebDataSource/index.js
Due: none

Add config hook support for dicom web data source
  extensions/default/src/DicomWebDataSource/index.js
Due: none

Add option to disable worklist mode button and mode option to disable worklist return button
  extensions/default/src/ViewerLayout/index.tsx
  platform/viewer/src/routes/WorkList/WorkList.tsx
Due: viewer

Improve formatPN util check
  platform/core/src/utils/formatPN.js
Due: core

Add documentation
  platform/docs/docs/configuration/configurationFiles.md
Due: none

Inject query and params to datasource init
  platform/viewer/src/routes/DataSourceWrapper.tsx
Due: viewer

Fix typo
  platform/docs/docs/configuration/configurationFiles.md
Due: none

Update dependency: cornerstone-wado-image-loader@4.13.1
  extensions/cornerstone/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Update dependency: cornerstone-wado-image-loader@^4.13.1
  extensions/cornerstone/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Custom Colormap Working
  extensions/tmtv/src/utils/hpViewports.ts
Due: none

ColorMap Working
  extensions/default/src/getHangingProtocolModule.js
  extensions/tmtv/src/utils/colormaps/index.js
  extensions/tmtv/src/utils/hpViewports.ts
  modes/tmtv/src/toolbarButtons.js
Due: none

chore(circleci): comment release temporary
  .circleci/config.yml
Due: none

chore(build): try to build demo and docs
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  platform/docs/docs/platform/services/data/SegmentationService.md
Due: none

refact
  platform/core/src/services/HangingProtocolService/lib/validator.js
  platform/core/src/services/HangingProtocolService/lib/validator.test.js
Due: core

code review
  extensions/default/src/ViewerLayout/index.tsx
  platform/core/src/services/PanelService/PanelService.ts
  platform/core/src/services/WorkflowStagesService/WorkflowStagesService.ts
  platform/ui/src/components/SidePanel/SidePanel.tsx
  platform/ui/src/components/SidePanelWithService/SidePanelWithService.tsx
  platform/ui/src/components/SidePanelWithService/index.js
  platform/ui/src/components/index.js
  platform/ui/src/index.js
  platform/viewer/src/appInit.js
  platform/viewer/src/routes/Mode/Mode.tsx
Due: core, viewer

code review (4D)
  extensions/cornerstone-dynamic-volume/src/panels/WorkflowPanel.tsx
  modes/preclinical-4d/src/index.tsx
Due: none

add documentation
  platform/docs/docs/platform/extensions/modules/hpModule.md
Due: none

fix circle ci
  .circleci/build-and-publish-docs.sh
  .circleci/config.yml
Due: none

fix versionings
  lerna.json
  platform/docs/docusaurus.config.js
  platform/docs/versionsArchived.json
  platform/viewer/package.json
Due: viewer

edit readme
  README.md
Due: none

lots of docs editing
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/pull_request_template.md
  platform/docs/docs/README.md
  platform/docs/docs/assets/img/OHIF-Viewer.jpg
  platform/docs/docs/assets/img/OHIF-Viewer.png
  platform/docs/docs/configuration/dataSources/dicom-json.md
  platform/docs/docs/configuration/dataSources/dicom-web-proxy.md
  platform/docs/docusaurus.config.js
  platform/docs/versioned_docs/version-3.0/README.md
  platform/docs/versioned_docs/version-3.0/configuration/dataSources/dicom-json.md
Due: none

wip
  platform/docs/docusaurus.config.js
Due: none

try circlci
  .circleci/config.yml
Due: none

rework TS
  extensions/cornerstone/src/init.tsx
  extensions/cornerstone/src/initWADOImageLoader.js
  extensions/default/src/DicomWebDataSource/index.js
  platform/docs/docs/configuration/configurationFiles.md
Due: none

null safe
  extensions/cornerstone/src/initWADOImageLoader.js
Due: none

update comments
  extensions/cornerstone/src/initWADOImageLoader.js
Due: none

Fix undefined volumes
  extensions/cornerstone/src/Viewport/Overlays/CustomizableViewportOverlay.tsx
Due: none

remove v3-stable
  extensions/tmtv/src/Panels/PanelROIThresholdSegmentation/PanelROIThresholdSegmentation.tsx
  platform/docs/docs/deployment/docker.md
  platform/docs/docs/development/getting-started.md
  platform/docs/docusaurus.config.js
  platform/ui/src/components/AboutModal/AboutModal.tsx
  platform/ui/src/storybook/components/footer/footer.tsx
  platform/ui/src/storybook/components/heading/heading.tsx
Due: none

remove lerna version and publish for now
  .circleci/config.yml
  package.json
Due: none

Refact
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
Due: core

dont let leran to version
  lerna.json
Due: none

Add sketch
  extensions/default/src/getValidationModule.js
  platform/core/src/extensions/ExtensionManager.ts
  platform/core/src/extensions/MODULE_TYPES.js
  platform/core/src/index.ts
  platform/core/src/validations/ValidationManager.ts
  platform/core/src/validations/index.js
  platform/viewer/src/appInit.js
Due: core, viewer

create dicomTagToArray function to ensure the value that come from DICOM is always an array and fix includes and doesNotIncludes validators
  platform/core/src/services/HangingProtocolService/lib/validator.js
  platform/core/src/services/HangingProtocolService/lib/validator.test.js
Due: core

update pdf maker
  platform/viewer/src/lib/PdfMaker.js
Due: viewer

necessary updates
  lerna.json
  package.json
  platform/docs/docs/platform/extensions/index.md
  platform/docs/docs/platform/modes/index.md
  platform/docs/docs/platform/services/data/HangingProtocolService.md
  platform/public/demo.html
  yarn.lock
Due: none

version script
  version.mjs
Due: none

remove debug flag
  extensions/cornerstone-dicom-seg/package.json
  extensions/cornerstone-dicom-sr/package.json
  extensions/default/package.json
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-video/package.json
  extensions/measurement-tracking/package.json
  extensions/test-extension/package.json
  extensions/tmtv/package.json
  modes/basic-dev-mode/package.json
  modes/basic-test-mode/package.json
  modes/longitudinal/package.json
  modes/microscopy/package.json
  modes/tmtv/package.json
  platform/cli/templates/extension/dependencies.json
  platform/cli/templates/mode/dependencies.json
  platform/i18n/package.json
Due: none

working video
  extensions/dicom-video/.webpack/webpack.prod.js
Due: none
