Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Switch to decreasing for loop after code review (thanks @ckedar!)
  platform/core/src/classes/metadata/StudyMetadata.js
Due: core

Converted dicom-(html, microscopy, pdf) & cornerstone extensions to React Lazy components
  extensions/cornerstone/src/asyncComponent.js
  extensions/cornerstone/src/index.js
  extensions/dicom-html/src/asyncComponent.js
  extensions/dicom-html/src/index.js
  extensions/dicom-microscopy/src/asyncComponent.js
  extensions/dicom-microscopy/src/index.js
  extensions/dicom-pdf/src/asyncComponent.js
  extensions/dicom-pdf/src/index.js
Due: none

Fix broken SM viewport.
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.js
Due: none

fix: 🐛 Fix broken SM viewport
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.js
Due: none

Sm fix (#1585)
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.js
Due: none

chore(release): publish [skip ci]
  extensions/dicom-microscopy/CHANGELOG.md
  extensions/dicom-microscopy/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

use moment to format date
  platform/ui/src/views/StudyList/StudyList.mdx
Due: none

Fixed incorrect import from OHIFDicomPDFSopClassHandler to ConnectedOHIFDicomPDFViewer
  extensions/dicom-pdf/src/index.js
Due: none

Creating Header example
  platform/ui/src/components/Header/Header.mdx
  platform/ui/src/components/NavBar/NavBar.jsx
  platform/ui/src/views/StudyList/components/Header.js
Due: none

Improve NavBag example page
  platform/ui/src/components/Header/Header.mdx
  platform/ui/src/components/NavBar/NavBar.mdx
Due: none

expose new components
  platform/ui/index.js
  platform/ui/src/components/index.js
Due: none

fix study list expanded row
  platform/ui/src/components/StudyListExpandedRow/StudyListExpandedRow.js
Due: none

Export and Create doc page for Pagination
  platform/ui/src/components/StudyListPagination/StudyListPagination.js
  platform/ui/src/components/StudyListPagination/StudyListPagination.mdx
  platform/ui/src/components/StudyListPagination/index.js
Due: none

API Definition, Export and Doc page for StudyListTable
  platform/ui/src/components/StudyListTable/StudyListTable.js
  platform/ui/src/components/StudyListTable/StudyListTable.mdx
  platform/ui/src/components/StudyListTable/index.js
Due: none

StudyListTableRow
  platform/ui/src/components/StudyListTable/StudyListTableRow.js
Due: none

use real example to mount study list
  platform/ui/src/views/StudyList/StudyList.mdx
Due: none

move files
  platform/ui/src/views/StudyList/components/StudyListPagination.js
  platform/ui/src/views/StudyList/components/StudyListTable.js
  platform/ui/src/views/StudyList/components/StudyListTableRow.js
Due: none

temporary change study list (viewer) structure
  platform/viewer/src/connectedComponents/ConnectedStudyList.js
Due: viewer

fix studyList
  platform/ui/src/views/StudyList/StudyList.js
Due: none

remove unused files
  platform/ui/src/utils/capitalize.js
  platform/ui/src/utils/getInstances.js
  platform/ui/src/utils/index.js
Due: none

remove file
  platform/ui/src/utils/getModalities.js
Due: none

fix: segmentation not loading (#1566)
  extensions/dicom-segmentation/src/OHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Fixing callouts
  platform/ui/src/components/NavBar/NavBar.mdx
Due: none

chore: Header docz page examples (#1586)
  platform/ui/src/components/NavBar/NavBar.jsx
  platform/ui/src/views/StudyList/components/Header.js
Due: none

remove unused package
  platform/ui/package.json
Due: none

Hide actions of structure item
  extensions/dicom-rt/src/components/StructureSetItem/StructureSetItem.js
Due: none

feat: 🎸 Timecourse modal
  extensions/kinderspital-mr-urography/package.json
  extensions/kinderspital-mr-urography/src/components/timecourseModal/TimecourseContent.css
  extensions/kinderspital-mr-urography/src/components/timecourseModal/TimecourseContent.js
  extensions/kinderspital-mr-urography/src/components/timecourseModal/chart/index.js
  extensions/kinderspital-mr-urography/src/components/timecourseModal/chart/lineChart.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

withCornerstone HOC to wrap routes requiring CornerstoneWADOImageLoader initiazation
  platform/viewer/src/routes/ViewerRouting.js
  platform/viewer/src/routes/routesUtil.js
  platform/viewer/src/utils/cornerstoneWADOImageLoader.js
Due: viewer

removed dead code in comments
  platform/viewer/src/App.js
  platform/viewer/src/config.js
Due: viewer

initWeWorkers is no more. Remove al its references.
  platform/viewer/src/utils/index.js
  platform/viewer/src/utils/index.test.js
  platform/viewer/src/utils/initWebWorkers.js
  platform/viewer/src/utils/initWebWorkers.test.js
Due: viewer

chore: Switch asyncComponent to React Lazy/Suspense (Closes #1577) (#1582)
  extensions/cornerstone/src/asyncComponent.js
  extensions/cornerstone/src/index.js
  extensions/dicom-html/src/asyncComponent.js
  extensions/dicom-html/src/index.js
  extensions/dicom-microscopy/src/asyncComponent.js
  extensions/dicom-microscopy/src/index.js
  extensions/dicom-pdf/src/asyncComponent.js
  extensions/dicom-pdf/src/index.js
Due: none

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-microscopy/CHANGELOG.md
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/CHANGELOG.md
  extensions/dicom-pdf/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Set default maxConcurrentMetadataRequests to unlimited and add explaination of setting in config
  platform/viewer/public/config/default.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: viewer

fix docs dead links
  docs/latest/README.md
  docs/latest/SUMMARY.md
  docs/latest/architecture/index.md
  docs/latest/deployment/index.md
  docs/latest/deployment/recipes/embedded-viewer.md
  docs/latest/deployment/recipes/nginx--image-archive.md
  docs/latest/deployment/recipes/user-account-control.md
  docs/latest/development/contributing.md
  docs/latest/development/testing.md
  docs/latest/extensions/_maintained-extensions-table.md
  docs/latest/extensions/index.md
  docs/latest/our-process.md
  docs/latest/services/index.md
  docs/latest/services/ui/index.md
  docs/latest/viewer/internationalization.md
Due: none

add examples to SOP handler docs
  docs/latest/extensions/modules/sop-class-handler.md
Due: none

docs: Remove dead links in docs and improve SOP Class Handler docs (#1593)
  docs/latest/README.md
  docs/latest/SUMMARY.md
  docs/latest/architecture/index.md
  docs/latest/deployment/index.md
  docs/latest/deployment/recipes/embedded-viewer.md
  docs/latest/deployment/recipes/nginx--image-archive.md
  docs/latest/deployment/recipes/user-account-control.md
  docs/latest/development/contributing.md
  docs/latest/development/testing.md
  docs/latest/extensions/_maintained-extensions-table.md
  docs/latest/extensions/index.md
  docs/latest/extensions/modules/sop-class-handler.md
  docs/latest/our-process.md
  docs/latest/services/index.md
  docs/latest/services/ui/index.md
  docs/latest/viewer/internationalization.md
Due: none

fix: 🐛 Fix multiframe images
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/StackManager.js
Due: core

feat: Limit concurrent series metadata requests (#1581)
  platform/viewer/public/config/default.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: viewer
