Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

fix docker-compose and dockerfile for keycloak
  platform/viewer/.recipes/OpenResty-Orthanc-Keycloak/docker-compose.yml
  platform/viewer/.recipes/OpenResty-Orthanc-Keycloak/dockerfile
Due: viewer

fix/chore: Various style improvements (#2015)
  extensions/default/src/ViewerLayout/index.jsx
  modes/longitudinal/src/toolbarButtons.js
  platform/ui/src/components/CinePlayer/CinePlayer.jsx
  platform/ui/src/components/CinePlayer/CinePlayerCustomInputRange.css
  platform/ui/src/components/IconButton/IconButton.jsx
  platform/ui/src/components/NavBar/NavBar.jsx
  platform/ui/src/components/SplitButton/SplitButton.jsx
  platform/ui/src/components/SplitButton/SplitButton.mdx
  platform/ui/src/components/StudyListFilter/StudyListFilter.jsx
  platform/ui/src/components/ToolbarButton/ToolbarButton.jsx
  platform/ui/src/views/Viewer/Viewer.js
  platform/ui/src/views/Viewer/Viewer.mdx.todo
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

Sort tag browser, add items, add indent.
  extensions/dicom-tag-browser/src/components/DicomBrowserSelect.js
  extensions/dicom-tag-browser/src/components/DicomBrowserSelectItem.css
  extensions/dicom-tag-browser/src/components/DicomTagBrowser.css
  extensions/dicom-tag-browser/src/components/DicomTagBrowser.js
  platform/viewer/src/index.js
Due: viewer

Remove debugger.
  extensions/dicom-tag-browser/src/components/DicomTagBrowser.js
Due: none

Fix conflicts.
  extensions/cornerstone/src/commandsModule.js
Due: none

add _redirects file for when output target is netlify
  platform/viewer/public/_redirects
Due: viewer

temporarily swap dialog primary/secondary button types for dialogs
  extensions/cornerstone/src/callInputDialog.js
  extensions/measurement-tracking/src/_shared/createReportDialogPrompt.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

fix: button colors quick (#2056)
  extensions/cornerstone/src/callInputDialog.js
  extensions/measurement-tracking/src/_shared/createReportDialogPrompt.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/viewer/public/_redirects
Due: viewer

[IDC-2049] Sort Tags in Tag browser split items in sequences, add indent after space. (#2053)
  extensions/dicom-tag-browser/src/components/DicomBrowserSelect.js
  extensions/dicom-tag-browser/src/components/DicomBrowserSelectItem.css
  extensions/dicom-tag-browser/src/components/DicomTagBrowser.css
  extensions/dicom-tag-browser/src/components/DicomTagBrowser.js
  platform/viewer/src/index.js
Due: viewer

chore(release): publish [skip ci]
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Update react-cornerstone-viewport
  extensions/cornerstone/package.json
Due: none

Bump react-cornerstone-viewport version.
  extensions/cornerstone/package.json
Due: none

Comment out tests which always cause problems.
  platform/viewer/cypress/integration/pwa/OHIFExtensionHTMLPDF.spec.js
Due: viewer

Update react-cornerstone-viewport for performance improvements (#2062)
  extensions/cornerstone/package.json
  platform/viewer/cypress/integration/pwa/OHIFExtensionHTMLPDF.spec.js
Due: viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Add more to debug extension.
  extensions/debugging/src/DebugReportModal.css
  extensions/debugging/src/DebugReportModal.js
  extensions/debugging/src/commandsModule.js
  extensions/debugging/src/index.js
  extensions/debugging/src/state.js
  platform/ui/src/elements/Icon/getIcon.js
  platform/ui/src/elements/Icon/icons/clipboard.svg
  platform/viewer/src/index.js
Due: viewer

[IDC-2052] PWA start url
  platform/viewer/public/manifest.json
Due: viewer

[IDC-2052] PWA start url (#2070)
  platform/viewer/public/manifest.json
Due: viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

fix: Enable port changes for Docker image using the PORT variable (#2016)
  .docker/Viewer-v2.x/entrypoint.sh
Due: none

fix: use SeriesMetadata method instead of property in findMostRecentStructuredReport (#2038)
  platform/core/src/DICOMSR/utils/findMostRecentStructuredReport.js
Due: core

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

fix: set a min-width so flexbox doesn't shrink our lil svg
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
Due: none

fix: swallow update-image error for "clicking annotation arrows"; as doing _nothing_ if the image isn't loaded yet is perfectly okay
  extensions/measurement-tracking/src/_shared/setCornerstoneMeasurementActive.js
Due: none

fix: allow pointer events to pass through to arrow navigation buttons
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

fix: allow pointer events to pass through to arrow navigation buttons (#2077)
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

fix: swallow update-image error for "clicking annotation arrows"; as doing _nothing_ if the image isn't loaded yet is perfectly okay (#2076)
  extensions/measurement-tracking/src/_shared/setCornerstoneMeasurementActive.js
Due: none

fix: set a min-width so flexbox doesn't shrink our lil svg (#2075)
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
Due: none

fix: update csv column titles to be consistent (UIDs)
  extensions/measurement-tracking/src/_shared/downloadCSVReport.js
Due: none

Update and comment out unit tests broke from v3.
  extensions/dicom-rt/src/loadRTStruct.js
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  yarn.lock
Due: viewer

fix: prevent app from blowing up when snapshot modal is opened
  extensions/cornerstone/src/CornerstoneViewportDownloadForm.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  platform/ui/src/components/ViewportDownloadForm/ViewportDownloadForm.jsx
Due: none

fix: use superscript tag to indicate ellipse is mm squared
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

fix: update measurement item to allow us to specify html in MeasurementItem display text
  platform/ui/src/components/MeasurementTable/MeasurementItem.js
Due: none

fix: sort study cards by study date, descending
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
Due: none

fix: for incorrect toolbar state between routes
  extensions/cornerstone/src/commandsModule.js
  modes/longitudinal/src/index.js
  platform/viewer/src/routes/Mode/Mode.jsx
Due: viewer

fix: autofocus reject SR dialog input focus to "Yes" button
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  platform/ui/src/components/Dialog/Dialog.jsx
  platform/ui/src/components/Dialog/Footer.js
Due: none

fix: temporarily hide/disable capture until it can be repaired
  modes/longitudinal/src/index.js
  modes/longitudinal/src/toolbarButtons.js
Due: none

fix: update csv column titles to be consistent (UIDs) (#2080)
  extensions/measurement-tracking/src/_shared/downloadCSVReport.js
Due: none

fix: sort study cards by study date, descending (#2081)
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
Due: none
