Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

temporarily remove p10 loader
  extensions/dicom-p10-downloader/.webpack/webpack.dev.js
  extensions/dicom-p10-downloader/.webpack/webpack.prod.js
  extensions/dicom-p10-downloader/CHANGELOG.md
  extensions/dicom-p10-downloader/LICENSE
  extensions/dicom-p10-downloader/README.md
  extensions/dicom-p10-downloader/package.json
  extensions/dicom-p10-downloader/src/commandsModule.js
  extensions/dicom-p10-downloader/src/downloadAndZip.js
  extensions/dicom-p10-downloader/src/index.js
  extensions/dicom-p10-downloader/src/utils.js
Due: none

fix incorrect react-dnd backend
  platform/ui/src/contextProviders/DragAndDropProvider.jsx
  yarn.lock
Due: none

pull in tracked measurements panel
  extensions/measurement-tracking/src/getPanelModule.js
  modes/longitudinal/src/index.js
Due: none

begin mapping measurement data to measurements table
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

feat: ErrorBoundaryDialog
  platform/viewer/src/components/ErrorBoundaryDialog/ErrorBoundaryDialog.js
  platform/viewer/src/components/ErrorBoundaryDialog/index.js
Due: viewer

replace component to use ErrorBoundaryDialog
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

add proptypes
  platform/ui/src/components/errorBoundary/ErrorBoundary.js
Due: none

fix context
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

remove ErrorBoundary from extensions
  extensions/cornerstone/src/index.js
  extensions/dicom-html/src/index.js
  extensions/dicom-microscopy/src/index.js
  extensions/dicom-pdf/src/index.js
  extensions/dicom-rt/src/index.js
  extensions/dicom-segmentation/src/index.js
  extensions/vtk/src/index.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
Due: viewer

WIP SR Viewport.
  extensions/dicom-sr/src/getSopClassHandlerModule.js
Due: none

feat: 🎸 1729 - error boundary wrapper (#1764)
  extensions/cornerstone/src/index.js
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.js
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/index.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/index.js
  extensions/vtk/src/index.js
  platform/ui/package.json
  platform/ui/src/components/errorBoundary/ErrorBoundary.js
  platform/ui/src/components/errorBoundary/ErrorFallback.css
  platform/ui/src/components/errorBoundary/index.js
  platform/ui/src/components/index.js
  platform/ui/src/index.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionMicroscopy.spec.js
  platform/viewer/src/App.js
  platform/viewer/src/OHIFStandaloneViewer.js
  platform/viewer/src/components/ErrorBoundaryDialog/ErrorBoundaryDialog.js
  platform/viewer/src/components/ErrorBoundaryDialog/index.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
  platform/viewer/src/components/ViewportGrid/ViewportPane.js
  platform/viewer/src/connectedComponents/Viewer.js
  yarn.lock
Due: viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-microscopy/CHANGELOG.md
  extensions/dicom-microscopy/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

fix: 🐛 Infinite frame index change when quickly jumping between (#1734)
  extensions/cornerstone/package.json
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  yarn.lock
Due: none

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Fix: #1130 Fixing support for download of an entire study (#1753)
  extensions/dicom-p10-downloader/src/commandsModule.js
  extensions/dicom-p10-downloader/src/utils.js
  platform/core/src/DICOMSR/utils/findMostRecentStructuredReport.js
  platform/core/src/redux/reducers/studies.js
  platform/viewer/src/connectedComponents/ConnectedViewerRetrieveStudyData.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/dicom-p10-downloader/CHANGELOG.md
  extensions/dicom-p10-downloader/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

SR Viewport WIP
  extensions/dicom-sr/src/getSopClassHandlerModule.js
Due: none

Replace measurementsPanel w/ a format that reduces nesting
  extensions/default/src/ActionButtons.jsx
  extensions/default/src/MeasurementTable.js
  extensions/default/src/PanelMeasurementTable.js
  extensions/default/src/getPanelModule.js
  extensions/lesion-tracker/.webpack/webpack.dev.js
  extensions/lesion-tracker/.webpack/webpack.prod.js
  extensions/lesion-tracker/CHANGELOG.md
  extensions/lesion-tracker/LICENSE
  extensions/lesion-tracker/README.md
  extensions/lesion-tracker/package.json
  extensions/lesion-tracker/src/components/MeasurementComparisonTable.css
  extensions/lesion-tracker/src/components/MeasurementComparisonTable.js
  extensions/lesion-tracker/src/index.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/ActionButtons.jsx
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  package.json
  platform/ui/index.js
  platform/ui/src/components/MeasurementsPanel/MeasurementsPanel.jsx
  platform/ui/src/components/MeasurementsPanel/MeasurementsPanel.mdx
  platform/ui/src/components/MeasurementsPanel/index.js
  platform/ui/src/components/StudySummary/StudySummary.jsx
  platform/ui/src/components/StudySummary/StudySummary.mdx
  platform/ui/src/components/StudySummary/index.js
  platform/ui/src/components/index.js
  platform/ui/src/views/Viewer/Viewer.mdx
  platform/viewer/package.json
Due: viewer

truncate and ellipse studysummary text
  platform/ui/src/components/StudySummary/StudySummary.jsx
Due: none

Set studySummary data
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

bump docz version
  platform/ui/package.json
  yarn.lock
Due: none

clean up study summary initial values and transitions
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/ui/src/components/StudySummary/StudySummary.jsx
Due: none

feat: ErrorBoundary collapsed stack trace
  platform/viewer/src/components/ErrorBoundaryDialog/ErrorBoundaryDialog.css
  platform/viewer/src/components/ErrorBoundaryDialog/ErrorBoundaryDialog.js
Due: viewer

button styles
  platform/ui/src/design/styles/common/button.styl
  platform/viewer/src/components/ErrorBoundaryDialog/ErrorBoundaryDialog.css
Due: viewer

WIP
  extensions/dicom-sr/src/getSopClassHandlerModule.js
Due: none

Change "Toggle stack trace" to "Stack Trace"
  platform/viewer/src/components/ErrorBoundaryDialog/ErrorBoundaryDialog.js
Due: viewer

fix: OIDC Redirect erases query parameters
  platform/viewer/src/OHIFStandaloneViewer.js
  platform/viewer/src/routes/CallbackPage.js
Due: viewer

prevent issues
  platform/viewer/src/OHIFStandaloneViewer.js
  platform/viewer/src/routes/CallbackPage.js
Due: viewer

Generate render tool.
  extensions/dicom-sr/src/constants/scoordTypes.js
  extensions/dicom-sr/src/constants/toolNames.js
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/dicom-sr/src/index.js
  extensions/dicom-sr/src/init.js
  extensions/dicom-sr/src/tools/DICOMSRDisplayTool.js
  extensions/dicom-sr/src/utils/addMeasurement.js
  platform/core/src/extensions/ExtensionManager.js
  platform/viewer/public/config/default.js
  platform/viewer/src/appInit.js
  platform/viewer/src/routes/Mode/Mode.jsx
  platform/viewer/src/routes/buildModeRoutes.js
  platform/viewer/src/routes/index.js
Due: core, viewer

Feat/1767 error boundary stack trace (#1772)
  platform/ui/src/design/styles/common/button.styl
  platform/viewer/src/components/ErrorBoundaryDialog/ErrorBoundaryDialog.css
  platform/viewer/src/components/ErrorBoundaryDialog/ErrorBoundaryDialog.js
Due: viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Finish render tool other than rotated ellipse and clean up.
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/dicom-sr/src/tools/DICOMSRDisplayTool.js
  extensions/dicom-sr/src/utils/addMeasurement.js
Due: none

get ViewportDialog to display as a part of machine transition
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.jsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/index.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
  extensions/measurement-tracking/src/getContextModule.js
  extensions/measurement-tracking/src/getViewportModule.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/core/src/services/UIViewportDialogService/index.js
  platform/ui/src/components/Notification/Notification.jsx
  platform/ui/src/components/Notification/Notification.mdx
  platform/ui/src/components/Viewport/Viewport.jsx
  platform/ui/src/contextProviders/ViewportDialogProvider.jsx
  platform/ui/src/contextProviders/ViewportDialogProvider.mdx
  platform/viewer/src/App.jsx
  platform/viewer/src/appInit.js
Due: core, viewer

Update README.md
  platform/viewer/README.md
Due: viewer

simplify stateMachine
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.jsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
Due: none

Custom message per prompt type
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.jsx
Due: none

set interaction for viewportPane on mouse down
  platform/ui/src/components/ViewportPane/ViewportPane.jsx
Due: none

remove console log
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

Only add measurements after initial completion from csTools to MeasurementService
  extensions/cornerstone/src/init.js
Due: none
