Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

ci: update netlify deploy preview to build viewer project
  .netlify/build-deploy-preview.sh
Due: none

update PWA entrypoint to pass configuration on window to App as props
  platform/viewer/src/index.js
Due: viewer

fix: for missing key
  platform/ui/src/components/SidePanel/SidePanel.jsx
Due: none

Pass routerBasename to our React Router component
  platform/viewer/src/App.js
Due: viewer

Simplify config for meow
  platform/viewer/public/config/netlify.js
Due: viewer

catch change in ui-v2
  platform/viewer/.webpack/webpack.pwa.js
Due: viewer

fix: 1px gap that shows text underneath
  platform/ui/src/components/StudyListFilter/StudyListFilter.jsx
Due: none

Shift to routes folder
  platform/viewer/src/containers/NotFound/NotFound.jsx
  platform/viewer/src/containers/NotFound/index.js
  platform/viewer/src/containers/StudyListContainer/StudyListContainer.jsx
  platform/viewer/src/containers/StudyListContainer/index.js
  platform/viewer/src/containers/ViewerContainer/ViewerContainer.jsx
  platform/viewer/src/containers/ViewerContainer/index.js
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
  platform/viewer/src/routes/index.js
Due: viewer

feat: OHIF-120 - Study List Route Template (#1693)
  platform/ui/index.js
  platform/ui/src/components/StudyListFilter/StudyListFilter.jsx
  platform/ui/src/components/StudyListFilter/StudyListFilter.mdx
  platform/ui/src/components/StudyListFilter/index.js
  platform/ui/src/components/StudyListPagination/StudyListPagination.js
  platform/ui/src/components/index.js
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/StudyList.mdx
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
  platform/viewer/src/routes/index.js
Due: viewer

Add loading to update volumes
  extensions/vtk/src/OHIFVTKViewport.js
Due: none

Fix broken configuration
  extensions/dicom-segmentation/src/OHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/vtk/src/commandsModule.js
  platform/core/src/classes/metadata/StudyMetadata.js
Due: core

Create basic structure for Viewport dialog provier and Dialog component
  platform/ui/index.js
  platform/ui/src/components/Dialog/Dialog.jsx
  platform/ui/src/components/Dialog/index.js
  platform/ui/src/components/index.js
  platform/ui/src/contextProviders/ViewportDialogProvider.jsx
  platform/ui/src/contextProviders/index.js
Due: none

Implementation of a UIViewportDialogService
  platform/core/src/index.js
  platform/core/src/services/UIViewportDialogService/index.js
  platform/core/src/services/index.js
  platform/ui/src/contextProviders/ViewportDialogProvider.jsx
  platform/ui/src/contextProviders/ViewportDialogProvider.mdx
  platform/ui/src/contextProviders/index.js
Due: core

Update viewportDialogProvider docz
  platform/ui/src/components/Dialog/Dialog.jsx
  platform/ui/src/contextProviders/ViewportDialogProvider.jsx
  platform/ui/src/contextProviders/ViewportDialogProvider.mdx
  platform/ui/src/gatsby-theme-docz/components/Sidebar/index.js
Due: none

Create example of use of UIViewportDialogService
  platform/ui/src/contextProviders/ViewportDialogProvider.mdx
Due: none

fix: use bit-appropriate array for palette lookup tables (#1698)
  platform/core/src/utils/metadataProvider/fetchPaletteColorLookupTableData.js
Due: core

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Bump vtk version
  extensions/vtk/package.json
  yarn.lock
Due: none

Use loading label
  extensions/vtk/src/LoadingIndicator.js
Due: none

fix: 🐛 Proper error handling for derived display sets
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/src/OHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/index.js
  extensions/dicom-segmentation/src/loadSegmentation.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/ui/src/components/snackbar/Snackbar.css
  platform/viewer/public/config/idc.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
Due: core, viewer

Update viewport state after moving the stack (#1645)
  extensions/cornerstone/package.json
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/index.js
  yarn.lock
Due: none

Revert idc.js change
  platform/viewer/public/config/idc.js
Due: viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

fix: 🐛 Proper error handling for derived display sets (#1708)
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/src/OHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/index.js
  extensions/dicom-segmentation/src/loadSegmentation.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/ui/src/components/snackbar/Snackbar.css
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
Due: core, viewer

fix: 🐛 Proper error handling for derived display sets
  platform/viewer/public/config/idc.js
Due: viewer

Load correct Segment colors.
  extensions/dicom-segmentation/src/loadSegmentation.js
Due: none

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Support initialization of segment color from RecommendedDisplayCIELabValue (#1709)
  extensions/dicom-segmentation/src/loadSegmentation.js
Due: none

chore(release): publish [skip ci]
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

feat: Notification provider and service (#1703)
  platform/core/src/index.js
  platform/core/src/services/UIViewportDialogService/index.js
  platform/core/src/services/index.js
  platform/ui/index.js
  platform/ui/src/components/Dialog/Dialog.jsx
  platform/ui/src/components/Dialog/index.js
  platform/ui/src/components/index.js
  platform/ui/src/contextProviders/ViewportDialogProvider.jsx
  platform/ui/src/contextProviders/ViewportDialogProvider.mdx
  platform/ui/src/contextProviders/index.js
  platform/ui/src/gatsby-theme-docz/components/Sidebar/index.js
Due: core

Update cy tests after vtk loading label changed
  platform/viewer/cypress/integration/pwa/OHIFExtensionVTK.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFExtensionVTK.spec.js
  platform/viewer/cypress/support/commands.js
Due: viewer

Remove loading for segs
  extensions/vtk/src/OHIFVTKViewport.js
Due: none

initial structure for extension default
  extensions/default/index.js
  extensions/default/package.json
Due: none

webpack config
  extensions/default/.webpack/webpack.dev.js
  extensions/default/.webpack/webpack.prod.js
Due: none

split default modules into separated files
  extensions/default/src/index.js
  extensions/default/src/modules/webApi.js
Due: none

bump versions
  extensions/default/index.js
  extensions/default/package.json
Due: none

update index
  extensions/default/src/index.js
Due: none
