Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

test: don't save SR state for the time being
  platform/viewer/cypress/integration/pwa/OHIFSaveMeasurements.spec.js
Due: viewer

test: disable more tests
  platform/viewer/cypress/integration/pwa/OHIFSaveMeasurements.spec.js
Due: viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Add basic RT panel along with configuration
  extensions/dicom-rt/src/components/RTPanel/RTPanel.css
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/components/RTSettings/RTSettings.css
  extensions/dicom-rt/src/components/RTSettings/RTSettings.js
  extensions/dicom-rt/src/index.js
  extensions/dicom-rt/src/panelModule.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  platform/ui/src/elements/Icon/getIcon.js
  platform/ui/src/elements/Icon/icons/eye.svg
  platform/viewer/package.json
  platform/viewer/public/config/default.js
Due: viewer

Wire up configuration with settings component
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/components/RTSettings/RTSettings.js
Due: none

fix: StudyList Fixes
  platform/ui/src/components/Button/Button.jsx
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
  platform/ui/src/views/StudyList/components/StudyListTable.js
  platform/ui/tailwind.config.js
Due: none

Mock structure set tables
  extensions/dicom-rt/src/components/RTPanel/RTPanel.css
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/components/StructureSetItem/StructureSetItem.css
  extensions/dicom-rt/src/components/StructureSetItem/StructureSetItem.js
  platform/ui/src/components/tableList/TableList.js
Due: none

Improve design of settings
  extensions/dicom-rt/src/components/RTPanel/RTPanel.css
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/components/RTSettings/RTSettings.css
  extensions/dicom-rt/src/components/RTSettings/RTSettings.js
Due: none

fix: rendering delete button when text is too wide for parent div
  platform/ui/src/components/measurementTable/MeasurementTableItem.styl
Due: none

fix: resolves #1483
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/findDisplaySetByUID.js
  platform/viewer/src/connectedComponents/findDisplaySetByUID.test.js
  yarn.lock
Due: viewer

Integrate list of contours
  extensions/dicom-rt/src/components/RTPanel/RTPanel.css
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/components/StructureSetItem/StructureSetItem.css
  extensions/dicom-rt/src/components/StructureSetItem/StructureSetItem.js
Due: none

fix sticky elements
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/Header.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

fix header navbar border
  platform/ui/src/views/StudyList/components/Header.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Extract panel section
  extensions/dicom-rt/src/components/PanelSection/PanelSection.css
  extensions/dicom-rt/src/components/PanelSection/PanelSection.js
  extensions/dicom-rt/src/components/RTPanel/RTPanel.css
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
Due: none

fix study list filter border
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Removed unecessary screenshots and duplicated test cases
  platform/viewer/cypress/integration/common/OHIFCornerstoneHotkeys.spec.js
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/common/OHIFDownloadSnapshotFile.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionHTMLPDF.spec.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionVTK.spec.js
  platform/viewer/cypress/integration/pwa/OHIFSaveMeasurements.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFCornerstoneHotkeys.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFDownloadSnapshotFile.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFExtensionMicroscopy.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFExtensionPDF.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFExtensionVTK.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFRoutes.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFStudyViewer.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFUserPreferences.spec.js
  platform/viewer/cypress/support/commands.js
Due: viewer

Navigation Fix for HTML extension and improved Flip button verification
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionHTMLPDF.spec.js
Due: viewer

feat: Date Range wrapper component
  platform/ui/index.js
  platform/ui/package.json
  platform/ui/src/components/DateRange/DateRange.css
  platform/ui/src/components/DateRange/DateRange.jsx
  platform/ui/src/components/DateRange/DateRange.mdx
  platform/ui/src/components/DateRange/index.js
  platform/ui/src/components/Input/Input.jsx
  platform/ui/src/components/index.js
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
  yarn.lock
Due: none

Filter by seriesuid
  extensions/dicom-rt/src/components/PanelSection/PanelSection.css
  extensions/dicom-rt/src/components/PanelSection/PanelSection.js
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/components/StructureSetItem/StructureSetItem.css
  extensions/dicom-rt/src/components/StructureSetItem/StructureSetItem.js
  extensions/dicom-rt/src/panelModule.js
  extensions/dicom-rt/src/tools/modules/lib/structureSetReferencesSeriesInstanceUid.js
  extensions/dicom-rt/src/tools/modules/rtStructModule.js
Due: none

fix: resolves #1483 (#1527)
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/findDisplaySetByUID.js
  platform/viewer/src/connectedComponents/findDisplaySetByUID.test.js
  yarn.lock
Due: viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

ci: Added verification on Before hook to avoid navigating again to viewer page (#1505)
  platform/viewer/cypress/integration/common/OHIFCornerstoneHotkeys.spec.js
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/common/OHIFDownloadSnapshotFile.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyList.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionHTMLPDF.spec.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionPDF.spec.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionVTK.spec.js
  platform/viewer/cypress/integration/pwa/OHIFSaveMeasurements.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFCornerstoneHotkeys.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFDownloadSnapshotFile.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFExtensionPDF.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFExtensionVTK.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFStudyViewer.spec.js
  platform/viewer/cypress/support/commands.js
  platform/viewer/package.json
Due: viewer

fix: rendering delete button when text is too wide for parent div (#1526)
  platform/ui/src/components/measurementTable/MeasurementTableItem.styl
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Fix slow settings
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/components/RTSettings/RTSettings.js
  extensions/dicom-rt/src/loadRTStruct.js
Due: none

fix broken build
  .yarn/build-state.yml
  .yarn/releases/yarn-rc.js
  .yarnrc.yml
  platform/ui/package.json
  yarn.lock
Due: none

Custom Select component
  platform/ui/index.js
  platform/ui/package.json
  platform/ui/src/components/Input/Input.jsx
  platform/ui/src/components/Select/Select.css
  platform/ui/src/components/Select/Select.jsx
  platform/ui/src/components/Select/Select.mdx
  platform/ui/src/components/Select/index.js
  platform/ui/src/components/index.js
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
  yarn.lock
Due: none

Add jump to image
  extensions/cornerstone/src/commandsModule.js
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/index.js
  extensions/dicom-rt/src/panelModule.js
Due: none

Fix expandable items
  extensions/dicom-rt/src/components/PanelSection/PanelSection.js
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/components/StructureSetItem/StructureSetItem.js
  extensions/dicom-rt/src/index.js
  platform/ui/src/elements/Icon/getIcon.js
  platform/ui/src/elements/Icon/icons/eye-closed.svg
Due: none

Only permit web workers to be initialized once.
  platform/viewer/src/utils/initWebWorkers.js
  platform/viewer/src/utils/initWebWorkers.test.js
Due: viewer

fix yarn issues
  .yarn/build-state.yml
  .yarn/releases/yarn-rc.js
  .yarnrc.yml
Due: none

add calendar icon
  platform/ui/src/assets/icons/calendar.svg
Due: none

date range css styles
  platform/ui/src/components/DateRange/DateRange.css
  platform/ui/src/components/DateRange/DateRange.jsx
  platform/ui/src/components/Icon/getIcon.jsx
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

date range fixes
  platform/ui/src/components/DateRange/DateRange.css
  platform/ui/src/components/DateRange/DateRange.jsx
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Modal Provider Component
  platform/ui/index.js
  platform/ui/src/contextProviders/ModalProvider.js
  platform/ui/src/contextProviders/index.js
Due: none

fix: #1312 Cine dialog remains on screen
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

fix: Only permit web workers to be initialized once. (#1535)
  platform/viewer/src/utils/initWebWorkers.js
  platform/viewer/src/utils/initWebWorkers.test.js
Due: viewer
