Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

Dynamically import component
  extensions/dicom-html/src/index.js
  extensions/dicom-pdf/src/asyncComponent.js
  extensions/dicom-pdf/src/index.js
Due: none

Make sopInstanceUid matching with what we have into the viewport/viewer
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  platform/core/src/redux/reducers/viewports.js
Due: core

Fix wrong file change
  extensions/dicom-html/src/index.js
Due: none

Remove ContextMenu and Labelling services and provider to use DialogService directly
  platform/core/src/index.js
  platform/core/src/index.test.js
  platform/core/src/services/UIContextMenuService/index.js
  platform/core/src/services/UILabellingFlowService/index.js
  platform/core/src/services/index.js
  platform/ui/src/components/contextMenu/ContextMenu.css
  platform/ui/src/components/contextMenu/ContextMenu.js
  platform/ui/src/components/contextMenu/index.js
  platform/ui/src/components/index.js
  platform/ui/src/contextProviders/ContextMenuProvider.js
  platform/ui/src/contextProviders/LabellingFlowProvider.js
  platform/ui/src/contextProviders/index.js
  platform/ui/src/index.js
  platform/viewer/src/App.js
  platform/viewer/src/appCustomProviders/ContextMenuProvider/ContextMenuProvider.js
  platform/viewer/src/appCustomProviders/LabellingFlowProvider/LabellingFlowProvider.js
  platform/viewer/src/appCustomProviders/index.js
  platform/viewer/src/appExtensions/MeasurementsPanel/index.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
  platform/viewer/src/connectedComponents/ToolContextMenu.js
  platform/viewer/src/index.js
Due: core, viewer

chore: remove unused file
  platform/viewer/server.js
Due: viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Fix import
  extensions/dicom-pdf/src/index.js
Due: none

Refactor init to display labelling
  platform/viewer/src/appExtensions/MeasurementsPanel/index.js
Due: viewer

Cleanup labelling flow in measurements init
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
Due: viewer

Cleanup viewer imports
  platform/viewer/src/appExtensions/MeasurementsPanel/index.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
  platform/viewer/src/index.js
Due: viewer

Add classname to toolcontextmenu
  platform/ui/src/components/contextMenu/ContextMenu.js
  platform/viewer/src/connectedComponents/ToolContextMenu.js
Due: viewer

chore: upgrade cypress to latest
  platform/viewer/package.json
  yarn.lock
Due: viewer

Revert "fix: Set VTK viewport as active by interaction"
  extensions/vtk/src/ConnectedVTKViewport.js
  extensions/vtk/src/VTKViewport.css
  extensions/vtk/src/VTKViewport.js
Due: none

ci: add record flag for master cypress runs
  .circleci/config.yml
  platform/viewer/package.json
Due: viewer

ci: upgrade cypress version (#1293)
  .circleci/config.yml
  platform/viewer/package.json
  yarn.lock
Due: viewer

Add multi opened pdf configuration
  extensions/dicom-pdf/src/DicomPDFViewport.js
  extensions/dicom-pdf/src/OHIFDicomPDFViewport.js
Due: none

ci: simplify cypress orb tasks now that cypress@3.8 uses electron w/ chromium 78
  .circleci/config.yml
Due: none

ci: remove video false flag
  platform/viewer/cypress.json
Due: viewer

ci: drop browser flag
  platform/viewer/package.json
Due: viewer

ci: store video artifacts
  .circleci/config.yml
Due: none

ci: store cypress videos as artifacts; make sure we upload them to dashboard
  .circleci/config.yml
  platform/viewer/cypress.json
  platform/viewer/package.json
Due: viewer

fix: allow empty values for dimensions
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
Due: none

ci: update executor and browser flag for circleci orbs
  .circleci/config.yml
Due: none

ci: browser flag when running percy/ci tests
  platform/viewer/package.json
Due: viewer

ci: limit ourselves to the executors defined by the cypress orb for now
  .circleci/config.yml
Due: none

ci: fix webgl e2e test failures (only on CI) (#1296)
  .circleci/config.yml
  platform/viewer/package.json
Due: viewer

Refactor connected component
  extensions/dicom-pdf/src/ConnectedOHIFDicomPDFViewer.js
Due: none

Specify worker explicitly
  extensions/dicom-pdf/src/DicomPDFViewport.js
Due: none

Add error message
  platform/viewer/src/appExtensions/MeasurementsPanel/index.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
Due: viewer

fix: consistently use `defaultSize` for intial values
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
Due: none

fix: allow empty values for dimensions (#1295)
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Remove changes on OHIF after updates on react-cornerstone-viewport
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  platform/core/src/redux/reducers/viewports.js
Due: core

refactor: 💡 Use env variables to set locize
  .webpack/webpack.base.js
  platform/i18n/src/index.js
Due: none

E2E Tests: Save Measurements Functionality
  platform/ui/src/components/measurementTable/MeasurementTable.js
  platform/ui/src/viewer/ToolbarButton.js
  platform/viewer/cypress/integration/common/OHIFSaveMeasurements.spec.js
Due: viewer

CR Update: Remove dead code
  extensions/dicom-pdf/src/DicomPDFViewport.js
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
