Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

try to fix tests
  yarn.lock
Due: none

feat(deps): updates lerna version to 5.1.4
  package.json
  platform/viewer/package.json
  yarn.lock
Due: viewer

Remove the obsolete Cornerstone3D options changes
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
Due: none

Update plugin config to avoid needing to hard link extensions
  platform/viewer/package.json
  platform/viewer/pluginConfig.json
Due: viewer

fix: pubnub build
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  platform/viewer/package.json
Due: viewer

fix: measurement item avatar
  platform/ui/src/components/MeasurementTable/MeasurementItem.js
  yarn.lock
Due: none

fix: initial position
  platform/ui/src/components/MeasurementTable/MeasurementItem.js
Due: none

fix(HangingProtocols):Fix some PR comments
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/DicomMetadataStore/createStudyMetadata.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.test.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/core/src/services/HangingProtocolService/ProtocolEngine.js
  platform/viewer/src/routes/Mode/Mode.tsx
Due: core, viewer

fix(HP):PR fixes
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/viewer/src/components/ViewportGrid.tsx
  platform/viewer/src/routes/Mode/Mode.tsx
Due: core, viewer

fix: color (#68)
  platform/ui/src/components/MeasurementTable/MeasurementItem.js
Due: none

bump dependency versions
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  platform/core/package.json
  platform/core/src/services/HangingProtocolService/HangingProtocolService.js
  platform/docs/docs/platform/services/data/HangingProtocolService.md
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

bump: dependency versions to fix hydration bugs (#2848)
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-video/package.json
  extensions/measurement-tracking/package.json
  platform/core/package.json
  platform/core/src/services/HangingProtocolService/HangingProtocolService.js
  platform/docs/docs/platform/services/data/HangingProtocolService.md
  platform/ui/src/contextProviders/DialogProvider.tsx
  platform/ui/src/contextProviders/SnackbarProvider.tsx
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

feat(i18n): add German translations
  platform/i18n/src/locales/de/AboutModal.json
  platform/i18n/src/locales/de/Buttons.json
  platform/i18n/src/locales/de/CineDialog.json
  platform/i18n/src/locales/de/Common.json
  platform/i18n/src/locales/de/DatePicker.json
  platform/i18n/src/locales/de/Header.json
  platform/i18n/src/locales/de/MeasurementTable.json
  platform/i18n/src/locales/de/StudyList.json
  platform/i18n/src/locales/de/UserPreferencesModal.json
  platform/i18n/src/locales/de/ViewportDownloadForm.json
  platform/i18n/src/locales/de/index.js
  platform/i18n/src/locales/index.js
Due: none

fix: fix typo
  modes/longitudinal/src/toolbarButtons.js
Due: none

fix: package version number
  platform/docs/docusaurus.config.js
  platform/viewer/package.json
Due: viewer

fix: package version number (#2853)
  platform/docs/docusaurus.config.js
  platform/viewer/package.json
Due: viewer

Extension for dicom-ecg, allows to load the dicom ecg for the modalities '1.2.840.10008.5.1.4.1.1.9.1.1' and '1.2.840.10008.5.1.4.1.1.9.1.2', this generates it with a graph from the c3 library.
  extensions/dicom-ecg/.webpack/webpack.dev.js
  extensions/dicom-ecg/.webpack/webpack.prod.js
  extensions/dicom-ecg/CHANGELOG.md
  extensions/dicom-ecg/LICENSE
  extensions/dicom-ecg/README.md
  extensions/dicom-ecg/package.json
  extensions/dicom-ecg/src/ConnectedOHIFDicomECGViewer.js
  extensions/dicom-ecg/src/DicomECGViewport.css
  extensions/dicom-ecg/src/DicomECGViewport.js
  extensions/dicom-ecg/src/OHIFComponentPlugin.js
  extensions/dicom-ecg/src/OHIFDicomECGSopClassHandler.js
  extensions/dicom-ecg/src/OHIFDicomECGViewport.js
  extensions/dicom-ecg/src/TypedArrayProp.js
  extensions/dicom-ecg/src/index.js
  extensions/dicom-ecg/yarn.lock
  package.json
  platform/viewer/package.json
  platform/viewer/src/index.js
  yarn.lock
Due: viewer

.
  extensions/dicom-ecg/src/DicomECGViewport.js
Due: none

Update to "@ohif/extension-dicom-ecg": "^1.0.3",
  extensions/dicom-ecg/CHANGELOG.md
  extensions/dicom-ecg/src/DicomECGViewport.js
  extensions/dicom-ecg/src/OHIFDicomECGViewport.js
  platform/viewer/package.json
Due: viewer

fix add ohif extensions package (github url), minor decoupling from package structure
  package.json
  platform/viewer/.webpack/writePluginImportsFile.js
  platform/viewer/pluginConfig.json
  yarn.lock
Due: viewer

import and export complete: review of flow required
  extensions/xnat/src/components/XNATSegmentationExportMenu/XNATSegmentationExportMenu.js
  extensions/xnat/src/components/XNATSegmentationImportMenu/XNATSegmentationImportMenu.js
  platform/viewer/src/appExtensions/LungModuleSimilarityPanel/utils.js
Due: viewer

Update to "@ohif/extension-dicom-ecg": "^1.0.4"
  extensions/dicom-ecg/CHANGELOG.md
  extensions/dicom-ecg/package.json
  extensions/dicom-ecg/src/DicomECGViewport.js
  extensions/dicom-ecg/src/constants/graphicCalibration.js
  extensions/dicom-ecg/src/utils/DrawGraphs.js
  extensions/dicom-ecg/src/utils/ReadECGData.js
  platform/viewer/package.json
Due: viewer

Update HangingProtocolService.md
  platform/docs/docs/platform/services/data/HangingProtocolService.md
Due: none

Loading patient data on top ECG.
  extensions/dicom-ecg/src/DicomECGViewport.css
  extensions/dicom-ecg/src/DicomECGViewport.js
Due: none

docs: update HangingProtocolService (#2857)
  platform/docs/docs/platform/services/data/HangingProtocolService.md
Due: none

fix: typo in accept headers
  extensions/cornerstone/src/initWADOImageLoader.js
Due: none

fix: typo in accept headers (#2858)
  extensions/cornerstone/src/initWADOImageLoader.js
Due: none

fix: ptDisplaySet metadata problem
  extensions/cornerstone/src/Viewport/Overlays/CornerstoneOverlays.tsx
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
  extensions/default/src/getPTImageIdInstanceMetadata.ts
  extensions/tmtv/src/getHangingProtocolModule.js
  modes/tmtv/src/index.js
  modes/tmtv/src/toolbarButtons.js
  modes/tmtv/src/utils/setFusionActiveVolume.js
  platform/docs/docs/resources.md
  platform/viewer/pluginConfig.json
Due: viewer

fix: typo in xhrHeader field
  extensions/default/src/init.js
Due: none

no message
  extensions/dicom-ecg/package.json
Due: none

Update "ecg-dicom-web-viewer": "^1.0.5"
  extensions/dicom-ecg/CHANGELOG.md
  extensions/dicom-ecg/README.md
  extensions/dicom-ecg/package.json
Due: none

Load correct data information.
  extensions/dicom-ecg/src/DicomECGViewport.js
  yarn.lock
Due: none

feat(HP): Apply HP to display sets, fix race condition
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/getHangingProtocolModule.js
  jest.config.base.js
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/DicomMetadataStore/StudyMetadata.ts
  platform/core/src/services/DicomMetadataStore/createStudyMetadata.js
  platform/core/src/services/DisplaySetService/DisplaySet.ts
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/core/src/services/HangingProtocolService/HPMatcher.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.test.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/core/src/services/HangingProtocolService/ProtocolEngine.js
  platform/core/src/services/HangingProtocolService/lib/validator.js
  platform/core/src/services/HangingProtocolService/lib/validator.test.js
  platform/docs/versioned_docs/version-3.0/platform/services/data/DisplaySetService.md
  platform/docs/versioned_docs/version-3.0/platform/services/data/HangingProtocolService.md
  platform/docs/versioned_docs/version-3.0/platform/services/pubsub.md
  platform/viewer/pluginConfig.json
  platform/viewer/src/components/ViewportGrid.tsx
  platform/viewer/src/routes/Mode/Mode.tsx
Due: core, viewer

fix: hanging protocol issue
  platform/viewer/src/routes/Mode/Mode.jsx
  yarn.lock
Due: viewer

fix: fixed variant PropTypes is undefined and SeriesNumber type is Number bug
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/ui/src/components/Button/Button.jsx
Due: none

fix: default protocol name
  platform/core/src/services/HangingProtocolService/ProtocolEngine.js
Due: core

fix: hanging protocols
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
Due: viewer

fix(hp):Add typescript definitions for the hanging protocol
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  platform/core/src/services/DicomMetadataStore/StudyMetadata.ts
  platform/core/src/services/DisplaySetService/DisplaySet.ts
  platform/core/src/services/HangingProtocolService/HPMatcher.ts
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/core/src/services/HangingProtocolService/MatchDetails.ts
  platform/core/src/services/HangingProtocolService/ProtocolEngine.ts
  platform/core/src/services/HangingProtocolService/index.ts
Due: core

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
