Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Update dependency: cornerstone-wado-image-loader@4.13.2
  extensions/cornerstone/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  platform/viewer/public/config/default.js
  yarn.lock
Due: core, viewer

Bump cswil version to address codec issues
  extensions/cornerstone/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Update to the newer CS3D
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  yarn.lock
Due: none

PR feedback
  platform/app/public/config/local_orthanc.js
  platform/app/src/hooks/index.js
  platform/core/src/extensions/ExtensionManager.ts
  platform/docs/docs/platform/extensions/modules/data-source.md
  platform/docs/docs/platform/managers/extension.md
Due: core

Remove confusing highlight style
  platform/ui/src/components/ViewportPane/ViewportPane.tsx
Due: none

cleanup pdf
  platform/viewer/src/lib/PdfMaker.js
Due: viewer

Add a small delay to try to resolve a couple of issues on load
  platform/app/cypress/support/commands.js
Due: none

merge similar scans loading with page load
  platform/viewer/src/connectedComponents/Radiomics.js
Due: viewer

Use enum comparison for RENDERED
  platform/app/cypress/support/commands.js
Due: none

fix isReuseableViewport method
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
Due: none

chore(test): Integration test wait until rendered/queried instead of timed (#3540)
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  platform/app/cypress/support/commands.js
  platform/app/src/routes/WorkList/WorkList.tsx
  platform/ui/src/components/StudyListTable/StudyListTable.tsx
  yarn.lock
Due: none

chore(version): version.json [skip ci]
  commit.txt
  extensions/cornerstone-dicom-rt/package.json
  extensions/cornerstone-dicom-seg/package.json
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-video/package.json
  extensions/measurement-tracking/package.json
  extensions/test-extension/package.json
  extensions/tmtv/package.json
  modes/basic-dev-mode/package.json
  modes/basic-test-mode/package.json
  modes/longitudinal/package.json
  modes/microscopy/package.json
  modes/tmtv/package.json
  platform/core/package.json
  version.json
  version.txt
Due: core

chore(version): Update package versions [skip ci]
  extensions/cornerstone-dicom-rt/package.json
  extensions/cornerstone-dicom-seg/package.json
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-video/package.json
  extensions/measurement-tracking/package.json
  extensions/test-extension/package.json
  extensions/tmtv/package.json
  lerna.json
  modes/basic-dev-mode/package.json
  modes/basic-test-mode/package.json
  modes/longitudinal/package.json
  modes/microscopy/package.json
  modes/tmtv/package.json
  platform/app/package.json
  platform/cli/package.json
  platform/core/package.json
  platform/docs/package.json
  platform/i18n/package.json
  platform/ui/package.json
Due: core

Fix the wrong aspect ratio load (#3534)
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  platform/ui/src/components/Dialog/Footer.tsx
Due: none

use new cornerstone js adapters for parsing SEG
  extensions/cornerstone-dicom-seg/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  platform/core/src/extensions/ExtensionManager.ts
  platform/core/src/services/DisplaySetService/DisplaySetService.ts
  platform/docs/docs/deployment/iframe.md
  platform/ui/src/components/LoadingIndicatorTotalPercent/LoadingIndicatorTotalPercent.tsx
Due: core

feat(windowLevel): window level component with histogram
  extensions/cornerstone-dynamic-volume/src/getHangingProtocolModule.ts
  extensions/cornerstone-dynamic-volume/src/panels/DynamicDataPanel.tsx
  extensions/cornerstone-dynamic-volume/src/panels/ToolsPanel.tsx
  extensions/cornerstone-dynamic-volume/src/panels/WindowLevelPanel.tsx
  extensions/cornerstone-dynamic-volume/src/panels/index.js
  extensions/cornerstone/src/components/ActiveViewportWindowLevel/ActiveViewportWindowLevel.tsx
  extensions/cornerstone/src/components/ActiveViewportWindowLevel/index.js
  extensions/cornerstone/src/components/ViewportWindowLevel/ViewportWindowLevel.tsx
  extensions/cornerstone/src/components/ViewportWindowLevel/index.js
  extensions/cornerstone/src/getCustomizationModule.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  platform/ui/src/components/InputRange/InputRange.css
  platform/ui/src/components/WindowLevel/WindowLevel.tsx
  platform/ui/src/components/WindowLevel/WindowLevelHistogram.tsx
  platform/ui/src/components/WindowLevel/WindowLevelSlider.tsx
  platform/ui/src/components/WindowLevel/__stories__/windowLevel.stories.mdx
  platform/ui/src/components/WindowLevel/index.js
  platform/ui/src/components/WindowLevel/types.ts
  platform/ui/src/components/index.js
  platform/ui/src/index.js
Due: none

fix volume opacity + cache histograms + event handlers
  extensions/cornerstone-dynamic-volume/src/getHangingProtocolModule.ts
  extensions/cornerstone/src/components/ViewportWindowLevel/ViewportWindowLevel.tsx
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  platform/ui/src/components/WindowLevel/WindowLevel.tsx
Due: none

Update README.md
  README.md
Due: none

fix(oauth): handle no user scenario
  platform/app/src/utils/OpenIdConnectRoutes.tsx
Due: none

feat(DataSource): Allow for dynamic data source configuration and creation (#3543)
  extensions/default/src/DicomJSONDataSource/index.js
  extensions/default/src/DicomLocalDataSource/index.js
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebProxyDataSource/index.js
  extensions/default/src/Panels/DataSourceSelector.tsx
  platform/app/public/config/aws.js
  platform/app/public/config/default.js
  platform/app/public/config/demo.js
  platform/app/public/config/dicomweb-server.js
  platform/app/public/config/dicomweb_relative.js
  platform/app/public/config/docker_nginx-orthanc.js
  platform/app/public/config/docker_openresty-orthanc.js
  platform/app/public/config/e2e.js
  platform/app/public/config/google.js
  platform/app/public/config/local_dcm4chee.js
  platform/app/public/config/local_orthanc.js
  platform/app/public/config/local_static.js
  platform/app/public/config/multiple.js
  platform/app/public/config/netlify.js
  platform/app/src/hooks/index.js
  platform/app/src/hooks/useQuery.js
  platform/app/src/hooks/useSearchParams.js
  platform/app/src/hooks/useSearchParams.ts
  platform/app/src/routes/DataSourceWrapper.tsx
  platform/app/src/routes/Mode/Mode.tsx
  platform/app/src/routes/WorkList/WorkList.tsx
  platform/app/src/routes/buildModeRoutes.tsx
  platform/app/src/routes/index.tsx
  platform/core/src/DataSources/IWebApiDataSource.js
  platform/core/src/extensions/ExtensionManager.ts
  platform/core/src/types/DataSource.ts
  platform/core/src/types/index.ts
  platform/docs/docs/configuration/configurationFiles.md
  platform/docs/docs/configuration/dataSources/dicom-web.md
  platform/docs/docs/platform/extensions/modules/data-source.md
  platform/docs/docs/platform/managers/extension.md
Due: core

fix(oauth): handle no user scenario (#3556)
  platform/app/src/utils/OpenIdConnectRoutes.tsx
Due: none

feat(windowLevel): window level component with histogram + colormap (#3522)
  extensions/cornerstone-dynamic-volume/src/getHangingProtocolModule.ts
  extensions/cornerstone-dynamic-volume/src/panels/DynamicDataPanel.tsx
  extensions/cornerstone-dynamic-volume/src/panels/ToolsPanel.tsx
  extensions/cornerstone-dynamic-volume/src/panels/WindowLevelPanel.tsx
  extensions/cornerstone-dynamic-volume/src/panels/index.js
  extensions/cornerstone/src/components/ActiveViewportWindowLevel/ActiveViewportWindowLevel.tsx
  extensions/cornerstone/src/components/ActiveViewportWindowLevel/index.js
  extensions/cornerstone/src/components/ViewportWindowLevel/ViewportWindowLevel.tsx
  extensions/cornerstone/src/components/ViewportWindowLevel/index.js
  extensions/cornerstone/src/getCustomizationModule.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  platform/ui/src/components/InputRange/InputRange.css
  platform/ui/src/components/WindowLevel/WindowLevel.tsx
  platform/ui/src/components/WindowLevel/WindowLevelHistogram.tsx
  platform/ui/src/components/WindowLevel/WindowLevelSlider.tsx
  platform/ui/src/components/WindowLevel/__stories__/windowLevel.stories.mdx
  platform/ui/src/components/WindowLevel/index.js
  platform/ui/src/components/WindowLevel/types.ts
  platform/ui/src/components/index.js
  platform/ui/src/index.js
Due: none

docs: fixes a README.md typo (#3553)
  README.md
Due: none

fix(rerendering): reduce the re-rendering of the viewport grid
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/components/CinePlayer/CinePlayer.tsx
  extensions/cornerstone/src/components/CinePlayer/index.ts
  platform/ui/src/components/ContextMenu/ContextMenu.tsx
  platform/ui/src/components/SplitButton/SplitButton.tsx
Due: none

docs - NCI funding and data sources
  README.md
  platform/docs/docs/configuration/configurationFiles.md
  platform/docs/docs/migration-guide.md
Due: none

apply review comments
  extensions/cornerstone/src/components/CinePlayer/CinePlayer.tsx
  platform/ui/src/components/SplitButton/SplitButton.tsx
Due: none

fix(rerendering): reduce the re-rendering of the viewport grid (#3558)
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/components/CinePlayer/CinePlayer.tsx
  extensions/cornerstone/src/components/CinePlayer/index.ts
  platform/ui/src/components/ContextMenu/ContextMenu.tsx
  platform/ui/src/components/SplitButton/SplitButton.tsx
Due: none

presentation update
  extensions/cornerstone-dicom-rt/src/index.tsx
  extensions/cornerstone-dicom-rt/src/viewports/OHIFCornerstoneRTViewport.tsx
  extensions/cornerstone-dicom-seg/src/index.tsx
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/commandsModule.ts
  platform/core/src/services/ViewportGridService/getPresentationIds.ts
  platform/ui/src/components/ContextMenu/ContextMenu.tsx
Due: core
