Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

CR Update: Update casing
  extensions/cornerstone/src/utils/measurementServiceMappings/ArrowAnnotate.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Bidirectional.js
  extensions/cornerstone/src/utils/measurementServiceMappings/EllipticalRoi.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.test.js
  platform/core/src/services/MeasurementService/MeasurementService.js
Due: core

Remove "module" field from every package.json
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-microscopy/package.json
  extensions/dicom-p10-downloader/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/lesion-tracker/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/i18n/package.json
  platform/ui/package.json
  platform/viewer/package.json
Due: core, viewer

fix label bug and dead code
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptSaveReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptTrackNewSeries.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptTrackNewStudy.js
  platform/core/src/DICOMSR/dataExchange.js
Due: core

remove comment
  extensions/measurement-tracking/src/_shared/createReportAsync.js
Due: none

Wire up CreateReportButton
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

fix additionalFindingTypes + save interaction
  extensions/measurement-tracking/src/_shared/createReportAsync.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/core/src/DICOMSR/dataExchange.js
Due: core

Prompts plus switch SR on save.
  extensions/measurement-tracking/src/_shared/createReportDialogPrompt.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptSaveReport.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  platform/core/src/DICOMSR/dataExchange.js
Due: core

Remove unused createReportAsync call
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

stub for report hydration prompt
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
Due: none

Update PR
  .eslintrc.json
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/dicom-sr/src/init.js
  extensions/measurement-tracking/src/_shared/createReportAsync.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.jsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/_hydrateStructuredReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/getToolStateToCornerstoneMeasurementSchema.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptHydrateStructuredReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptSaveReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/utils/addMeasurement.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/utils/getLabelFromDCMJSImportedToolData.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/utils/isRehydratable.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  platform/core/src/DICOMSR/dataExchange.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: core

Remove debuggers
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/_hydrateStructuredReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptHydrateStructuredReport.js
Due: none

push updated code
  extensions/measurement-tracking/src/_shared/createReportAsync.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.jsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/_hydrateStructuredReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
Due: none

Push updates
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.jsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/_hydrateStructuredReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptBeginTracking.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptHydrateStructuredReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptSaveReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptTrackNewSeries.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptTrackNewStudy.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

push
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.jsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/_hydrateStructuredReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptSaveReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptTrackNewSeries.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptTrackNewStudy.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

wip
  extensions/dicom-microscopy/src/DicomMicroscopySopClassHandler.js
  extensions/dicom-microscopy/src/index.js
  modes/microscopy/.webpack/webpack.dev.js
  modes/microscopy/.webpack/webpack.prod.js
  modes/microscopy/LICENSE
  modes/microscopy/babel.config.js
  modes/microscopy/package.json
  modes/microscopy/src/index.js
  modes/microscopy/src/toolbarButtons.js
Due: none

fix sidebar save
  extensions/cornerstone/src/init.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.jsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptHydrateStructuredReport.js
  platform/core/src/measurements/conformance/ConformanceCriteria.js
Due: core

enable tracking of new study or series
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptSaveReport.js
Due: none

Seems to work
  extensions/dicom-microscopy/package.json
  extensions/dicom-microscopy/src/DicomMicroscopySopClassHandler.js
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.js
  extensions/dicom-microscopy/src/getSopClassHandlerModule.js
  extensions/dicom-microscopy/src/index.js
  modes/microscopy/src/index.js
  modes/microscopy/src/toolbarButtons.js
  platform/viewer/package.json
  platform/viewer/src/App.jsx
  platform/viewer/src/appInit.js
  platform/viewer/src/index.js
  platform/viewer/src/routes/WorkList/WorkList.jsx
  yarn.lock
Due: viewer

show warnings for rt.
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/components/StructureSetItem/StructureSetItem.css
  extensions/dicom-rt/src/components/StructureSetItem/StructureSetItem.js
  extensions/dicom-rt/src/index.js
  extensions/dicom-rt/src/loadRTStruct.js
  yarn.lock
Due: none

Remove unneeded old code
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/index.js
Due: none

WIP
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  platform/core/src/classes/metadata/StudyMetadata.js
Due: core

CR Updates
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/ui/src/components/ContextMenuMeasurements/ContextMenuMeasurements.jsx
Due: core

WIP
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/getViewportComponent.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
Due: viewer

Remove trailing zeroes from patient age
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

OHIF-325: Remove trailing zeroes from patient age (#1941)
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

WIP reject + remove displaySet.
  extensions/default/src/DicomWebDataSource/dcm4cheeReject.js
  extensions/default/src/DicomWebDataSource/index.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/index.jsx
  platform/core/src/DataSources/IWebApiDataSource.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/core/src/services/DisplaySetService/EVENTS.js
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
  platform/viewer/public/config/default.js
Due: core, viewer

fix for duplicate created report series in sidebard
  extensions/measurement-tracking/src/_shared/createReportAsync.js
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
Due: core

fix for unexpected viewport dialog after visiting study list then a new study
  platform/viewer/src/routes/Mode/Mode.jsx
Due: viewer

Fix for hydration not marking multiple series as active
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/_hydrateStructuredReport.js
Due: none

Update cornerstone measurments when the label is edited in the measurement service.
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/getCornerstoneMeasurementById.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Bidirectional.js
  extensions/cornerstone/src/utils/measurementServiceMappings/EllipticalRoi.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/core/src/services/MeasurementService/MeasurementService.js
Due: core

Add SR series numbers started from 4701.
  extensions/measurement-tracking/src/_shared/getNextSRSeriesNumber.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/_hydrateStructuredReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptSaveReport.js
Due: none

Reviewer changes.
  extensions/cornerstone/src/init.js
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/dicom-sr/src/init.js
  extensions/dicom-sr/src/utils/getLabelFromDCMJSImportedToolData.js
  extensions/measurement-tracking/src/_shared/createReportAsync.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.jsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/_hydrateStructuredReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptSaveReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/utils/addMeasurement.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/utils/isRehydratable.js
  platform/core/src/DICOMSR/dataExchange.js
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

ohif-316: Update DICOM SR thumbnail design to include a delete action
  extensions/cornerstone/src/init.js
  extensions/default/src/DicomWebDataSource/dcm4cheeReject.js
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/index.jsx
  platform/ui/src/components/Dialog/Header.js
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
Due: none

ohif-316: Update DICOM SR thumbnail design to include a delete action (#1948)
  extensions/cornerstone/src/init.js
  extensions/default/src/DicomWebDataSource/dcm4cheeReject.js
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/index.jsx
  platform/ui/src/components/Dialog/Header.js
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
Due: none

Respond to final review comment, add series description setting for export.
  extensions/measurement-tracking/src/_shared/PROMPT_RESPONSES.js
  extensions/measurement-tracking/src/_shared/createReportDialogPrompt.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptSaveReport.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

[OHIF-339] - workflow changes (#1931)
  .eslintrc.json
  extensions/cornerstone/src/init.js
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/dicom-sr/src/init.js
  extensions/measurement-tracking/src/_shared/PROMPT_RESPONSES.js
  extensions/measurement-tracking/src/_shared/createReportAsync.js
  extensions/measurement-tracking/src/_shared/createReportDialogPrompt.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.jsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/_hydrateStructuredReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/getToolStateToCornerstoneMeasurementSchema.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptBeginTracking.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptHydrateStructuredReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptSaveReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptTrackNewSeries.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptTrackNewStudy.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/utils/getLabelFromDCMJSImportedToolData.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  platform/core/src/DICOMSR/dataExchange.js
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/measurements/conformance/ConformanceCriteria.js
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

Remove re-added files in merge
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/utils/addMeasurement.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/utils/isRehydratable.js
  platform/core/src/DICOMSR/dataExchange.js
Due: core

ohif-300: add primary to allstudies in all tab
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
Due: none

Implement click outside behavior
  extensions/cornerstone/src/init.js
  platform/core/src/services/UIDialogService/index.js
  platform/ui/src/contextProviders/DialogProvider.jsx
Due: core

ohif-300: add primary to allstudies in all tab (#1954)
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
Due: none
