Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Fix on CI - Changing to another Patient Study
  platform/viewer/cypress/integration/common/OHIFStudyList.spec.js
  platform/viewer/cypress/integration/pwa/OHIFSaveMeasurements.spec.js
Due: viewer

Integrate configuration
  extensions/dicom-seg/src/components/SegmentationPanel.js
  extensions/dicom-seg/src/components/SegmentationSettings.js
Due: none

Add palette color cache object back to core (fix #1350)
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
  platform/viewer/src/lib/localFileLoaders/dicomFileLoader.js
Due: core, viewer

Add palette color cache object back to core (fix #1350) (#1395)
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
  platform/viewer/src/lib/localFileLoaders/dicomFileLoader.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Improve styles
  extensions/dicom-seg/src/components/SegmentationSettings.css
  extensions/dicom-seg/src/components/SegmentationSettings.js
Due: none

Float numbers
  extensions/dicom-seg/src/components/SegmentationSettings.js
Due: none

Improve css
  extensions/dicom-seg/src/components/SegmentationSettings.css
Due: none

Removing dependency ffmpeg-installer
  platform/viewer/package.json
Due: viewer

Refresh settings menu if side panel changed
  extensions/dicom-seg/src/components/SegmentationPanel.js
  extensions/dicom-seg/src/components/SegmentationSettings.css
  extensions/dicom-seg/src/components/SegmentationSettings.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

chore: Removing dependency ffmpeg-installer (#1397)
  platform/viewer/package.json
Due: viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

OIDC Initiating Login from a Third Party
  platform/viewer/src/OHIFStandaloneViewer.js
Due: viewer

Bump minimum react-vtkjs-viewport version to leverage new event
  extensions/vtk/package.json
  yarn.lock
Due: none

Simplify to use onScroll event instead of passing down commandsManager to base component
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/VTKViewport.js
  extensions/vtk/src/withCommandsManager.js
Due: none

Handle Palette Color images where LUT has been returned as InlineBinary (#1350)
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
Due: core

Add DICOM Group 6xxx Overlay Plane rendering
  extensions/cornerstone/src/init.js
Due: none

Bump to cornerstone-tools 4.12.0 to support DICOM 6xxx Overlays
  extensions/cornerstone/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Add DICOM Group 6xxx Overlay Plane rendering (#1402)
  extensions/cornerstone/package.json
  extensions/cornerstone/src/init.js
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Handle Palette Color images where LUT has been returned as InlineBinary (#1350) (#1401)
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
Due: core

chore: scare away stale bot
  .github/stale.yml
Due: none

chore: exclude extension discussion
  .github/stale.yml
Due: none

test: 1316 - E2E tests for /local (#1379)
  package.json
  platform/viewer/cypress/fixtures/PDFDICOMfile.pdf
  platform/viewer/cypress/integration/common/OHIFLoadLocalFile.spec.js
  platform/viewer/cypress/integration/pwa/OHIFLoadLocalPDFFile.spec.js
  platform/viewer/cypress/support/commands.js
  yarn.lock
Due: viewer

Sketch matchers
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/MeasurementServiceFormatter.js
  extensions/cornerstone/src/utils/MeasurementServiceFormatter.test.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/MeasurementService/MeasurementService.test.js
  yarn.lock
Due: core

Fix events and valuetypes imports
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/MeasurementServiceFormatter.js
  extensions/cornerstone/src/utils/MeasurementServiceFormatter.test.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/MeasurementService/MeasurementService.test.js
Due: core

Remove context support
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/MeasurementServiceFormatter.js
  extensions/cornerstone/src/utils/MeasurementServiceFormatter.test.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/MeasurementService/MeasurementService.test.js
Due: core

Rename formatter to mappings
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.test.js
Due: none

Sketching source and source definitions
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.js
  platform/core/src/services/MeasurementService/MeasurementService.js
Due: core

Adjust matching criteria in addOrUpdate
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.js
  platform/core/src/services/MeasurementService/MeasurementService.js
Due: core

fix: download tool fixes & improvements (#1235)
  platform/i18n/src/locales/en-US/ViewportDownloadForm.json
  platform/i18n/src/locales/en-US/index.js
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.styl
  platform/ui/src/components/tableList/TableListItem.js
  platform/ui/src/elements/Icon/Icon.styl
  platform/ui/src/elements/Icon/getIcon.js
  platform/ui/src/elements/Icon/icons/unlink.svg
  platform/ui/src/elements/form/Select.js
  platform/ui/src/elements/form/TextInput.js
  platform/viewer/cypress/integration/common/OHIFDownloadSnapshotFile.spec.js
Due: viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/i18n/CHANGELOG.md
  platform/i18n/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

chore: Remove unused dependency on `favicons-webpack-plugin`. (#1351)
  package.json
  platform/viewer/.webpack/webpack.pwa.js
  yarn.lock
Due: viewer

Fix settings rendering logic and remove comments
  extensions/dicom-seg/src/components/SegmentationPanel.js
  extensions/dicom-seg/src/components/SegmentationSettings.js
  extensions/dicom-seg/src/index.js
Due: none
