Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

UI refactoring
  platform/i18n/src/locales/en-US/Messages.json
  platform/ui/src/assets/icons/status-alert-warning.svg
  platform/ui/src/components/DisplaySetMessageListTooltip/DisplaySetMessageListTooltip.tsx
  platform/ui/src/components/Icon/getIcon.js
Due: none

Refactor for more typescript compliant
  extensions/default/src/utils/validations/areAllImageComponentsEqual.ts
  extensions/default/src/utils/validations/areAllImageDimensionsEqual.ts
  extensions/default/src/utils/validations/areAllImageOrientationsEqual.ts
  extensions/default/src/utils/validations/areAllImagePositionsEqual.ts
  extensions/default/src/utils/validations/areAllImageSpacingEqual.ts
  extensions/default/src/utils/validations/checkSingleFrames.ts
Due: none

Address tooltip position
  platform/ui/src/components/DisplaySetMessageListTooltip/DisplaySetMessageListTooltip.tsx
  platform/ui/src/components/StudyBrowser/StudyBrowser.tsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.tsx
Due: none

Revert "Address tooltip position"
  platform/ui/src/components/DisplaySetMessageListTooltip/DisplaySetMessageListTooltip.tsx
  platform/ui/src/components/StudyBrowser/StudyBrowser.tsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.tsx
Due: none

Added an example hanging protocol to the test extension
  extensions/test-extension/src/hpTestSwitch.ts
  extensions/test-extension/src/index.tsx
  platform/core/src/types/HangingProtocol.ts
Due: core

Fix the positioning names on the viewports so they are re-used
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
Due: none

Additional HP for working with viewports
  extensions/test-extension/src/hpTestSwitch.ts
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
Due: none

Set viewportId to use position so viewports are re-used
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
Due: none

upgrade cs3d
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  platform/app/package.json
  platform/core/package.json
  yarn.lock
Due: core

Restore default.js and rebase code
  platform/app/public/config/default.js
Due: none

merge
  yarn.lock
Due: none

code review
  extensions/cornerstone-dynamic-volume/src/panels/ROISegmentationPanel/ROISegmentationPanel.tsx
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/index.tsx
  extensions/cornerstone/src/init.tsx
  extensions/cornerstone/src/services/ToolGroupService/ToolGroupService.ts
  extensions/cornerstone/src/services/ToolService/ToolService.ts
  extensions/cornerstone/src/services/ToolService/index.ts
  extensions/cornerstone/src/types/CornerstoneServices.ts
Due: none

chore: adds GCP config
  extensions/cornerstone/src/initWADOImageLoader.js
  extensions/default/src/DicomWebDataSource/index.js
  platform/core/src/DICOMWeb/getAuthorizationHeader.js
  platform/viewer/public/config/default.js
Due: core, viewer

build(nginx): updates nginx file
  Dockerfile-MIB-AIR
  platform/viewer/package.json
Due: viewer

build(nginx): updates nginx file
  Dockerfile-MIB-AIR
Due: none

chore(NX): updates NX config
  nx.json
Due: none

chore(NX): updates NX config
  nx.json
  package.json
  yarn.lock
Due: none

chore(NX): updates NX config
  Dockerfile-MIB-AIR
Due: none

chore(NX): updates NX config
  Dockerfile-MIB-AIR
  nx.json
  platform/viewer/package.json
Due: viewer

chore(NX): updates NX config
  platform/viewer/package.json
Due: viewer

chore(NX): updates NX config
  nx.json
  package.json
Due: none

chore(NX): updates NX config
  Dockerfile-MIB-AIR
  nx.json
  package.json
  platform/viewer/package.json
Due: viewer

chore: removes .browserslistrc
  .browserslistrc
Due: none

chore: fixes nginx file path
  .docker/Viewer-v3.x/default.template
  Dockerfile-MIB-AIR
Due: none

chore: fixes nginx file path
  .docker/Viewer-v3.x/default.template
Due: none

chore: fixes nginx file path
  .docker/Viewer-v3.x/default.conf
Due: none

chore: fixes nginx file path
  .docker/Viewer-v3.x/default.conf
  .docker/Viewer-v3.x/entrypoint.sh
  Dockerfile-MIB-AIR
Due: none

build: adds NX cache
  nx.json
  package.json
  yarn.lock
Due: none

fix undefined instance in metadata
  platform/core/src/classes/MetadataProvider.js
Due: core

feat(security): adds oidc auth
  platform/viewer/package.json
  platform/viewer/public/config/default.js
Due: viewer

feat(docker): adds GCP url back to Dockerfile
  .docker/Viewer-v3.x/entrypoint.sh
  Dockerfile-MIB-AIR
Due: none

fix: Reset of hanging protocol left old protocol in place.
  extensions/default/src/getHangingProtocolModule.js
  extensions/default/src/hpCompare.ts
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
Due: core

add seg mode
  extensions/cornerstone/src/Viewport/Overlays/CustomizableViewportOverlay.tsx
  modes/segmentation/.gitignore
  modes/segmentation/.prettierrc
  modes/segmentation/.webpack/webpack.prod.js
  modes/segmentation/LICENSE
  modes/segmentation/README.md
  modes/segmentation/babel.config.js
  modes/segmentation/package.json
  modes/segmentation/src/id.js
  modes/segmentation/src/index.tsx
  platform/app/public/config/default.js
  platform/docs/docs/platform/services/ui/customization-service.md
  yarn.lock
Due: none

initial panel
  modes/longitudinal/src/initToolGroups.js
  modes/segmentation/src/index.tsx
  platform/app/pluginConfig.json
  platform/app/public/config/default.js
Due: none

feat(docker): adds new env `APP_URL_PREFIX`
  .docker/Viewer-v3.x/entrypoint.sh
  Dockerfile-MIB-AIR
  platform/viewer/src/App.tsx
Due: viewer

feat(docker): adds new env `APP_URL_PREFIX`
  .docker/Viewer-v3.x/entrypoint.sh
Due: none
