Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

cleanup removeExtension and addMode
  platform/cli/src/commands/addExtension.js
  platform/cli/src/commands/addMode.js
  platform/cli/src/commands/removeExtension.js
  platform/cli/src/commands/utils/findRequiredOhifExtensionsForMode.js
  platform/cli/src/commands/utils/index.js
  platform/cli/src/commands/utils/removeExtensionFromConfigFile.js
  platform/cli/src/commands/utils/throwIfExtensionUsedByInstalledMode.js
  platform/cli/src/commands/utils/writeModeToConfig.js
  platform/viewer/package.json
  platform/viewer/pluginConfig.json
  yarn.lock
Due: viewer

Cleanup removeMode
  platform/cli/src/commands/removeMode.js
  platform/cli/src/commands/utils/findOhifExtensionsToRemoveAfterRemovingMode.js
  platform/cli/src/commands/utils/index.js
  platform/cli/src/commands/utils/removeModeFromConfigFile.js
  platform/viewer/package.json
  platform/viewer/pluginConfig.json
  yarn.lock
Due: viewer

Update existing extensions with the needed keywords/peer deps
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  modes/longitudinal/package.json
  platform/cli/package.json
  platform/cli/src/commands/addExtension.js
  platform/cli/src/commands/addMode.js
  platform/cli/src/commands/removeExtension.js
  platform/cli/src/commands/removeMode.js
  platform/cli/src/commands/utils/addToConfig.js
  platform/cli/src/commands/utils/findOhifExtensionsToRemoveAfterRemovingMode.js
  platform/cli/src/commands/utils/index.js
  platform/cli/src/commands/utils/private/getPackageNameAndScope.js
  platform/cli/src/commands/utils/private/index.js
  platform/cli/src/commands/utils/private/manipulatePluginConfigFile.js
  platform/cli/src/commands/utils/private/readPluginConfigFile.js
  platform/cli/src/commands/utils/private/writePluginConfigFile.js
  platform/cli/src/commands/utils/removeExtensionFromConfigFile.js
  platform/cli/src/commands/utils/removeFromConfig.js
  platform/cli/src/commands/utils/removeModeFromConfigFile.js
  platform/cli/src/commands/utils/throwIfExtensionUsedByInstalledMode.js
  platform/cli/src/commands/utils/validate.js
  platform/cli/src/commands/utils/writeExtensionToConfig.js
  platform/cli/src/commands/utils/writeModeToConfig.js
  platform/viewer/package.json
  platform/viewer/pluginConfig.json
  yarn.lock
Due: viewer

IDC: update dcmjs with SEG loading regression fix
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

IDC update dcmjs to v0.19.2 (#2672)
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Fix broken config
  platform/viewer/pluginConfig.json
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

Feat/ohif cli validation + auto install (#2671)
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  modes/longitudinal/package.json
  modes/longitudinal/src/index.js
  platform/cli/package.json
  platform/cli/src/commands/addExtension.js
  platform/cli/src/commands/addExtensions.js
  platform/cli/src/commands/addMode.js
  platform/cli/src/commands/constants/notFound.js
  platform/cli/src/commands/createExtension.js
  platform/cli/src/commands/createMode.js
  platform/cli/src/commands/enums/keywords.js
  platform/cli/src/commands/removeExtension.js
  platform/cli/src/commands/removeExtensions.js
  platform/cli/src/commands/removeMode.js
  platform/cli/src/commands/utils/addToConfig.js
  platform/cli/src/commands/utils/findOhifExtensionsToRemoveAfterRemovingMode.js
  platform/cli/src/commands/utils/findRequiredOhifExtensionsForMode.js
  platform/cli/src/commands/utils/getPackageVersion.js
  platform/cli/src/commands/utils/getVersionedPackageName.js
  platform/cli/src/commands/utils/getYarnInfo.js
  platform/cli/src/commands/utils/index.js
  platform/cli/src/commands/utils/private/getPackageNameAndScope.js
  platform/cli/src/commands/utils/private/index.js
  platform/cli/src/commands/utils/private/manipulatePluginConfigFile.js
  platform/cli/src/commands/utils/private/readPluginConfigFile.js
  platform/cli/src/commands/utils/private/writePluginConfigFile.js
  platform/cli/src/commands/utils/removeFromConfig.js
  platform/cli/src/commands/utils/throwIfExtensionUsedByInstalledMode.js
  platform/cli/src/commands/utils/validate.js
  platform/viewer/src/routes/WorkList/WorkList.jsx
  yarn.lock
Due: viewer

WIP
  extensions/cornerstone/src/id.js
  extensions/cornerstone/src/index.js
  extensions/default/src/id.js
  extensions/default/src/index.js
  extensions/dicom-sr/package.json
  extensions/dicom-sr/src/index.js
  extensions/measurement-tracking/src/index.js
  modes/longitudinal/src/index.js
  platform/viewer/src/appInit.js
Due: viewer

fixed metadata error & jobs reload
  platform/viewer/src/appExtensions/ThetaDetailsPanel/LayerControls/LayerControls.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/Jobs.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/TextureFeature.js
Due: viewer

fix: webpack imports
  .webpack/rules/cssToJavaScript.js
  .webpack/webpack.base.js
  extensions/cornerstone/.webpack/webpack.dev.js
  extensions/cornerstone/.webpack/webpack.prod.js
  extensions/default/.webpack/webpack.dev.js
  extensions/default/.webpack/webpack.prod.js
  extensions/dicom-sr/.webpack/webpack.dev.js
  extensions/dicom-sr/.webpack/webpack.prod.js
  extensions/measurement-tracking/.webpack/webpack.dev.js
  extensions/measurement-tracking/.webpack/webpack.prod.js
  platform/cli/templates/extension/.webpack/webpack.dev.js
  platform/cli/templates/extension/.webpack/webpack.prod.js
  platform/cli/templates/mode/.webpack/webpack.dev.js
  platform/cli/templates/mode/.webpack/webpack.prod.js
  platform/cli/templates/mode/src/index.js
  platform/core/.webpack/webpack.dev.js
  platform/core/.webpack/webpack.prod.js
  platform/i18n/.webpack/webpack.dev.js
  platform/i18n/.webpack/webpack.prod.js
  platform/ui/.webpack/webpack.dev.js
  platform/viewer/.webpack/webpack.pwa.js
  yarn.lock
Due: core, viewer

wip
  modes/longitudinal/.webpack/webpack.dev.js
  modes/longitudinal/.webpack/webpack.prod.js
Due: none

fix: react router dom private routes
  .eslintrc.json
  extensions/default/.webpack/webpack.prod.js
  extensions/default/package.json
  platform/cli/templates/extension/dependencies.json
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/package.json
  platform/viewer/src/routes/PrivateRoute.jsx
  platform/viewer/src/routes/index.js
  yarn.lock
Due: viewer

from last commit
  extensions/cornerstone/.webpack/webpack.prod.js
Due: none

wip
  .webpack/webpack.base.js
  extensions/cornerstone/.webpack/webpack.prod.js
  platform/viewer/.webpack/webpack.pwa.js
Due: viewer

fix: webpack prod builds
  .webpack/rules/cssToJavaScript.js
  extensions/default/.webpack/webpack.prod.js
  extensions/default/package.json
  extensions/dicom-sr/.webpack/webpack.prod.js
  extensions/measurement-tracking/.webpack/webpack.prod.js
  extensions/measurement-tracking/package.json
  modes/longitudinal/.webpack/webpack.prod.js
  platform/cli/templates/extension/dependencies.json
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/src/routes/PrivateRoute.jsx
  yarn.lock
Due: viewer

feat: refactor pretty print for console
  platform/cli/src/commands/createExtension.js
  platform/cli/src/commands/createMode.js
  platform/cli/src/commands/enums/colors.js
  platform/cli/src/commands/index.js
  platform/cli/src/commands/listPlugins.js
  platform/cli/src/commands/searchPlugins.js
  platform/cli/src/commands/utils/index.js
  platform/cli/src/commands/utils/prettyPrint.js
  platform/cli/src/index.js
Due: none

feat: add search for modes and extensions
  platform/cli/src/commands/enums/colors.js
  platform/cli/src/commands/enums/endPoints.js
  platform/cli/src/commands/enums/index.js
  platform/cli/src/commands/listPlugins.js
  platform/cli/src/commands/searchPlugins.js
  platform/cli/src/commands/utils/prettyPrint.js
Due: none

fix: ugly colors
  platform/cli/src/commands/searchPlugins.js
  platform/cli/src/commands/utils/prettyPrint.js
Due: none

WIP
  extensions/_example/src/index.js
  extensions/dicom-sr/src/id.js
  extensions/dicom-sr/src/viewports/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.jsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  modes/longitudinal/src/index.js
  platform/cli/templates/mode/src/index.js
  platform/core/src/extensions/ExtensionManager.js
  platform/docs/docs/configuration/configuration.md
  platform/docs/docs/configuration/dataSources/dicom-web.md
  platform/docs/docs/configuration/index.md
  platform/docs/docs/platform/extensions/extension.md
  platform/docs/docs/platform/extensions/lifecycle.md
  platform/docs/docs/platform/extensions/modules/panel.md
  platform/docs/docs/platform/extensions/modules/toolbar.md
  platform/docs/docs/platform/extensions/modules/viewport.md
  platform/docs/docs/platform/managers/extension.md
  platform/docs/docs/platform/modes/index.md
  platform/docs/docs/platform/modes/installation.md
  platform/docs/docs/platform/modes/routes.md
  platform/viewer/public/config/aws.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/dicomweb-server.js
  platform/viewer/public/config/docker_nginx-orthanc.js
  platform/viewer/public/config/docker_openresty-orthanc.js
  platform/viewer/public/config/google.js
  platform/viewer/public/config/local_dcm4chee.js
  platform/viewer/public/config/local_static.js
  platform/viewer/public/config/netlify.js
  platform/viewer/src/appInit.js
  platform/viewer/src/routes/Mode/Mode.jsx
  platform/viewer/src/routes/WorkList/WorkList.jsx
  platform/viewer/src/routes/buildModeRoutes.js
  platform/viewer/src/routes/index.js
Due: core, viewer

Feat/cli search (#2677)
  platform/cli/src/commands/createExtension.js
  platform/cli/src/commands/createMode.js
  platform/cli/src/commands/enums/colors.js
  platform/cli/src/commands/enums/endPoints.js
  platform/cli/src/commands/enums/index.js
  platform/cli/src/commands/index.js
  platform/cli/src/commands/listPlugins.js
  platform/cli/src/commands/searchPlugins.js
  platform/cli/src/commands/utils/index.js
  platform/cli/src/commands/utils/prettyPrint.js
  platform/cli/src/index.js
Due: none

Working regsitration with new IDs
  platform/viewer/package.json
  platform/viewer/pluginConfig.json
  platform/viewer/src/routes/Mode/Mode.jsx
  yarn.lock
Due: viewer

Stable
  platform/viewer/package.json
  platform/viewer/pluginConfig.json
  yarn.lock
Due: viewer

verify extensions when constructing modes.
  extensions/dicom-sr/src/viewports/OHIFCornerstoneSRViewport.js
  platform/cli/templates/mode/src/index.js
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/extensions/ExtensionManager.test.js
  platform/viewer/src/routes/buildModeRoutes.js
  platform/viewer/src/routes/checkExtensionDependencies.js
  platform/viewer/src/routes/index.js
Due: core, viewer

Add version to unit tests so it conforms to schema
  platform/core/src/extensions/ExtensionManager.test.js
Due: core

Update ohif utils exposed via @ohif/core
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  modes/longitudinal/package.json
  platform/cli/templates/extension/dependencies.json
  platform/cli/templates/mode/dependencies.json
  platform/core/package.json
  platform/core/src/utils/index.js
  platform/docs/docs/platform/extensions/installation.md
  platform/viewer/package.json
Due: core, viewer

Fix import
  platform/core/src/utils/index.js
Due: core

fix tests
  platform/core/src/utils/index.test.js
Due: core

verify extensions when constructing modes. (#2681)
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-sr/package.json
  extensions/dicom-sr/src/viewports/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/package.json
  modes/longitudinal/package.json
  platform/cli/templates/extension/dependencies.json
  platform/cli/templates/mode/dependencies.json
  platform/cli/templates/mode/src/index.js
  platform/core/package.json
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/extensions/ExtensionManager.test.js
  platform/core/src/utils/index.js
  platform/core/src/utils/index.test.js
  platform/docs/docs/platform/extensions/installation.md
  platform/viewer/package.json
  platform/viewer/src/routes/buildModeRoutes.js
  platform/viewer/src/routes/checkExtensionDependencies.js
  platform/viewer/src/routes/index.js
Due: core, viewer

feat: enable cli to work with project root
  platform/cli/package.json
  platform/cli/src/commands/utils/installNPMPackage.js
  platform/cli/src/commands/utils/uninstallNPMPackage.js
  platform/cli/src/index.js
Due: none

feat: add initial link package
  platform/cli/src/commands/index.js
  platform/cli/src/commands/linkPackage.js
  platform/cli/src/commands/unlinkPackage.js
  platform/cli/src/commands/utils/index.js
  platform/cli/src/commands/utils/validateYarn.js
  platform/cli/src/index.js
Due: none

feat: add link and unlink extension
  platform/cli/src/commands/linkPackage.js
  platform/cli/src/commands/unlinkPackage.js
  platform/cli/src/commands/utils/addToConfig.js
  platform/cli/src/commands/utils/validateYarn.js
  platform/cli/src/index.js
Due: none

feat: add link and unlink mode
  platform/cli/src/commands/index.js
  platform/cli/src/commands/linkPackage.js
  platform/cli/src/commands/unlinkPackage.js
  platform/cli/src/index.js
Due: none

erro handling for link-package
  platform/cli/src/commands/linkPackage.js
Due: none

fix(OHIFv2):Fix a dependency issue on windows caused by node-gyp
  package.json
  yarn.lock
Due: none

Add instance/series linking
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  platform/viewer/src/components/ViewportGrid.jsx
Due: viewer

feat: ohif-cli link local modes/extensions for development (#2682)
  platform/cli/package.json
  platform/cli/src/commands/index.js
  platform/cli/src/commands/linkPackage.js
  platform/cli/src/commands/unlinkPackage.js
  platform/cli/src/commands/utils/addToConfig.js
  platform/cli/src/commands/utils/index.js
  platform/cli/src/commands/utils/installNPMPackage.js
  platform/cli/src/commands/utils/uninstallNPMPackage.js
  platform/cli/src/commands/utils/validateYarn.js
  platform/cli/src/index.js
Due: none

feat: add comment on ohif-cli linking for developemtn
  platform/cli/src/commands/createExtension.js
  platform/cli/src/commands/createMode.js
Due: none

feat: add comment on ohif-cli linking for development (#2686)
  platform/cli/src/commands/createExtension.js
  platform/cli/src/commands/createMode.js
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
