Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

ohif-323: add cineplayer flow
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/default/src/commandsModule.js
  extensions/default/src/getToolbarModule.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  modes/longitudinal/src/toolbarButtons.js
  platform/core/src/services/ViewportGridService/ViewportGridService.js
  platform/ui/index.js
  platform/ui/src/assets/icons/old-play.svg
  platform/ui/src/assets/icons/old-stop.svg
  platform/ui/src/components/CinePlayer/CinePlayer.css
  platform/ui/src/components/CinePlayer/CinePlayer.jsx
  platform/ui/src/components/CinePlayer/CinePlayer.mdx
  platform/ui/src/components/CinePlayer/index.js
  platform/ui/src/components/Icon/getIcon.jsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/ui/src/components/index.js
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
  platform/viewer/src/components/ViewportGrid.jsx
Due: core, viewer

IDC-1897 (#1940)
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/components/StructureSetItem/StructureSetItem.css
  extensions/dicom-rt/src/components/StructureSetItem/StructureSetItem.js
  extensions/dicom-rt/src/index.js
  extensions/dicom-rt/src/loadRTStruct.js
  yarn.lock
Due: none

chore(release): publish [skip ci]
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Remove loading percent.
  extensions/cornerstone/package.json
  yarn.lock
Due: none

WIP
  extensions/dicom-segmentation/src/getViewportComponent.js
  yarn.lock
Due: none

fix: 🐛 Remove % loading on cornerstone viewport
  yarn.lock
Due: none

[IDC-1956] - Remove loading %age which is always zero. (#1959)
  extensions/cornerstone/package.json
  yarn.lock
Due: none

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

ohif-301: add sorting to work list series
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  platform/core/src/utils/index.js
  platform/core/src/utils/sortBySeriesDate.js
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: core, viewer

WIP
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/getSourceDisplaySet.js
  extensions/dicom-segmentation/src/getViewportComponent.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: viewer

Address reviewer comments.
  extensions/cornerstone/src/init.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/ui/src/components/ContextMenuMeasurements/ContextMenuMeasurements.jsx
  platform/ui/src/contextProviders/DialogProvider.jsx
Due: core

[OHIF-193 + OHIF-313] (#1955)
  extensions/cornerstone/src/index.js
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/getCornerstoneMeasurementById.js
  extensions/cornerstone/src/utils/measurementServiceMappings/ArrowAnnotate.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Bidirectional.js
  extensions/cornerstone/src/utils/measurementServiceMappings/EllipticalRoi.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.test.js
  extensions/cornerstone/src/utils/measurementServiceMappings/utils/getHandlesFromPoints.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/UIDialogService/index.js
  platform/ui/index.js
  platform/ui/src/components/ContextMenu/ContextMenu.jsx
  platform/ui/src/components/ContextMenu/ContextMenu.mdx
  platform/ui/src/components/ContextMenu/index.js
  platform/ui/src/components/ContextMenuMeasurements/ContextMenuMeasurements.jsx
  platform/ui/src/components/ContextMenuMeasurements/index.js
  platform/ui/src/components/index.js
  platform/ui/src/contextProviders/DialogProvider.jsx
Due: core

Working click on seg.
  extensions/dicom-segmentation/src/getSourceDisplaySet.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
Due: viewer

Load SEG if not loaded and set active.
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/getSourceDisplaySet.js
  extensions/dicom-segmentation/src/loadSegmentation.js
  extensions/dicom-segmentation/src/utils/refreshViewports.js
  extensions/dicom-segmentation/src/utils/setActiveLabelMap.js
Due: none

ohif-323: improve toolbar flow of cine
  extensions/default/src/ViewerLayout/index.jsx
  extensions/default/src/getToolbarModule.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  modes/longitudinal/src/toolbarButtons.js
  platform/core/src/services/ToolBarService/ToolBarService.js
  platform/ui/src/components/CinePlayer/CinePlayer.jsx
  platform/ui/src/components/CinePlayer/CinePlayerCustomInputRange.css
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/viewer/src/components/ViewportGrid.jsx
Due: core, viewer

RTSTRUCT
  extensions/dicom-rt/src/OHIFDicomRTStructSopClassHandler.js
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/getSourceDisplaySet.js
  extensions/dicom-segmentation/src/getSourceDisplaySet.js
  extensions/dicom-segmentation/src/loadSegmentation.js
  extensions/dicom-segmentation/src/utils/setActiveLabelMap.js
Due: none

feat: 🎸 Display SEG and RTSTRUCT in side panel
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
Due: none

Throw error if dataset not available.
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: viewer

ohif-323: improve cine styles
  platform/ui/src/components/CinePlayer/CinePlayerCustomInputRange.css
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

ohif-323: use toggle instead of set
  extensions/default/src/ViewerLayout/index.jsx
  extensions/default/src/commandsModule.js
  extensions/default/src/getToolbarModule.js
  extensions/default/src/index.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  modes/longitudinal/src/toolbarButtons.js
  platform/core/src/defaults/hotkeyBindings.js
Due: core

ohif-323: add compatibility comment
  platform/ui/src/components/CinePlayer/CinePlayerCustomInputRange.css
Due: none

ohif-323: move cine logic to command
  extensions/default/src/commandsModule.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

wip on OIDC integration
  platform/viewer/src/App.jsx
  platform/viewer/src/routes/CallbackPage.js
  platform/viewer/src/routes/index.js
  platform/viewer/src/utils/getUserManagerForOpenIdConnectClient.js
  platform/viewer/src/utils/getUserManagerForOpenIdConnectClient.test.js
Due: viewer

OIDC works
  platform/viewer/src/App.jsx
  platform/viewer/src/routes/index.js
Due: viewer

wip
  extensions/default/src/DicomWebDataSource/index.js
  platform/core/src/DICOMWeb/getAuthorizationHeader.js
  platform/core/src/extensions/ExtensionManager.js
  platform/viewer/src/App.jsx
  platform/viewer/src/config.js
  platform/viewer/src/routes/DataSourceWrapper.jsx
Due: core, viewer

ohif-332: cr updates
  extensions/default/src/ViewerLayout/index.jsx
  platform/core/src/classes/HotkeysManager.js
  platform/core/src/defaults/hotkeyBindings.js
  platform/ui/src/components/HotkeyField/HotkeyField.jsx
  platform/ui/src/components/HotkeysPreferences/HotkeysPreferences.jsx
  platform/ui/src/components/UserPreferences/UserPreferences.jsx
Due: core

ohif-332: disable
  platform/ui/src/components/UserPreferences/UserPreferences.jsx
Due: none

ohif-321: update study list sorting logic
  platform/ui/src/components/InputGroup/InputGroup.jsx
Due: none

ohif-320: remove outline from span
  platform/ui/src/components/InputLabelWrapper/InputLabelWrapper.jsx
Due: none

ohif-299: fix focus on date picker
  platform/ui/src/components/InputDateRange/InputDateRange.jsx
Due: none

wip
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/initWADOImageLoader.js
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/wado/retrieveMetadataLoaderAsync.js
  platform/core/src/DICOMWeb/getAuthorizationHeader.js
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/index.js
  platform/core/src/services/UserAuthenticationService/UserAuthenticationService.js
  platform/core/src/services/UserAuthenticationService/index.js
  platform/core/src/services/index.js
  platform/ui/index.js
  platform/ui/src/contextProviders/UserAuthenticationProvider.js
  platform/ui/src/contextProviders/index.js
  platform/viewer/src/App.jsx
  platform/viewer/src/appInit.js
  platform/viewer/src/config.js
  platform/viewer/src/routes/DataSourceWrapper.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

wip
  platform/viewer/src/context/UserManagerContext.js
Due: viewer

Working
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/initWADOImageLoader.js
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/wado/retrieveMetadataLoaderAsync.js
  extensions/default/src/Panels/getStudiesForPatientByStudyInstanceUID.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/getStudiesForPatientByStudyInstanceUID.js
  platform/core/src/classes/MetadataProvider.js
  platform/viewer/src/App.jsx
  platform/viewer/src/config.js
  platform/viewer/src/routes/DataSourceWrapper.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
  platform/viewer/src/utils/Authenticator.jsx
  platform/viewer/src/utils/ReduxOIDCClientToUserAuthenticationService.jsx
  platform/viewer/src/utils/initWebWorkers.js
Due: core, viewer

ohif-320: remove outline from span (#1965)
  platform/ui/src/components/InputLabelWrapper/InputLabelWrapper.jsx
Due: none

ohif-321: update study list sorting logic (#1964)
  platform/ui/src/components/InputGroup/InputGroup.jsx
Due: none

WIP point
  extensions/dicom-rt/src/loadRTStruct.js
Due: none

Show 1-based in stack position of measurement in measurements panel.
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/viewports/ViewportOverlay.js
Due: none

change DP of SR viewport to 1dp
  extensions/dicom-sr/src/getSopClassHandlerModule.js
Due: none

change DP of SR viewport to 1dp (#1968)
  extensions/dicom-sr/src/getSopClassHandlerModule.js
Due: none

Show 1-based in stack position of measurement in measurements panel. (#1967)
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/viewports/ViewportOverlay.js
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
