Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.10%
      core:
        flags: core
      viewer:
        flags: viewer
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

chore: clearer use of watch
  platform/viewer/package.json
Due: viewer

chore: update yarn lock
  yarn.lock
Due: none

docs(contributing): move to own directory
  docs/latest/README.md
  docs/latest/SUMMARY.md
  docs/latest/contributing/index.md
  docs/latest/frequently-asked-questions.md
Due: none

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

chore: update references to `ohif-core` and `react-viewerbase`
  README.md
  docs/latest/essentials/themeing.md
  docs/latest/essentials/translating.md
  extensions/cornerstone/src/toolbarModule.js
  platform/core/README.md
  platform/ui/README.md
  platform/ui/src/__docs__/compatibility.mdx
  platform/ui/src/__docs__/getting-started.mdx
  platform/ui/src/__docs__/introduction.mdx
  platform/ui/src/__docs__/translating.mdx
  platform/ui/src/components/cineDialog/CineDialog.js
  platform/viewer/README.md
  platform/viewer/public/config/docker_openresty-orthanc-keycloak.js
  platform/viewer/src/store/index.js
Due: core, viewer

fix: set NODE_ENV for production build
  extensions/dicom-html/package.json
Due: none

docs(contributing): yarn link instead of yalc
  docs/latest/assets/img/cornerstone-tools-link.gif
  docs/latest/contributing/index.md
Due: none

docs(contributing): link cornerstone-tools
  docs/latest/contributing/index.md
Due: none

docs(contributing): example gif
  docs/latest/contributing/index.md
Due: none

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

docs(contributing): react-vtkjs-viewport, tests
  docs/latest/contributing/index.md
Due: none

fix: viewer project should build output before publish
  platform/viewer/package.json
Due: viewer

A way to list linked packages
  package.json
Due: none

docs(build-pwa): updated commands, file locations, point to configs instead of duplicating
  docs/latest/deployment/recipes/build-for-production.md
Due: none

docs: don't include implementation detail in docs
  docs/latest/deployment/recipes/build-for-production.md
Due: none

docs: don't include implementation detail in docs
  README.md
Due: none

Fix: Bump react-vtkjs-viewport
  extensions/vtk/package.json
Due: none

feat(Download ScreenShot Dialog)
  platform/ui/src/components/downloadDialog/DownloadDialog.styl
  platform/ui/src/elements/form/Select.css
  platform/ui/src/elements/form/Select.js
  platform/ui/src/elements/form/TextInput.css
  platform/ui/src/elements/form/TextInput.js
  platform/viewer/src/lib/DownloadViewportEngine.js
Due: viewer

docs: no need to specify implementation details in employment recipe
  docs/latest/deployment/recipes/nginx--image-archive.md
Due: none

docs: no need to specify implementation details in deployment recipe
  docs/latest/deployment/recipes/user-account-control.md
Due: none

refactor: 💡 React components to consume appConfig using Context (#852)
  README.md
  docs/latest/deployment/recipes/nginx--image-archive.md
  docs/latest/deployment/recipes/user-account-control.md
  platform/viewer/src/App.js
  platform/viewer/src/OHIFStandaloneViewer.js
  platform/viewer/src/components/Header/Header.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/context/AppContext.js
  platform/viewer/src/context/UserManagerContext.js
  platform/viewer/src/context/WhiteLabellingContext.js
  platform/viewer/src/studylist/StudyListRouting.js
  platform/viewer/src/studylist/StudyListWithData.js
Due: viewer

ci: fix docs deploy-preview redirect
  .netlify/www/_redirects
  docs/_redirects
  netlify.toml
Due: none

ci: fix docs deploy-preview redirect (#878)
  .netlify/www/_redirects
  README.md
  docs/_redirects
  netlify.toml
Due: none

feat(Download ScreenShot Dialog)
  platform/ui/src/components/downloadDialog/DownloadDialog.js
  platform/viewer/src/connectedComponents/ConnectedDownloadDialog.js
  platform/viewer/src/lib/DownloadViewportEngine.js
Due: viewer

Upgrade to cornerstoneTools 4.0.1 and dcmjs 0.6.0
  extensions/cornerstone/package.json
  extensions/cornerstone/src/handleSegmentationStorage.js
  extensions/dicom-html/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  platform/viewer/src/setupTools.js
  yarn.lock
Due: core, viewer

feat: 🎸 Upgraded to cornerstoneTools 4.0
  extensions/cornerstone/src/handleSegmentationStorage.js
Due: none

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

fix: import regenerator-runtime for umd build
  platform/viewer/src/index-umd.js
Due: viewer

feat(Download ScreenShot Dialog)
  platform/ui/src/components/downloadDialog/DownloadDialog.js
  platform/ui/src/components/downloadDialog/DownloadDialog.styl
  platform/ui/src/elements/form/TextInput.css
  platform/viewer/src/lib/DownloadViewportEngine.js
Due: viewer

TEST E2E: Drag and drop thumbnail into viewport
  platform/viewer/cypress/helpers/DragSimulator.js
  platform/viewer/cypress/integration/OHIFStudyViewer.spec.js
  platform/viewer/cypress/support/commands.js
Due: viewer

fix: remove requestOptions when key is not needed
  docs/latest/deployment/recipes/embedded-viewer.md
  docs/latest/essentials/configuration.md
  platform/core/src/DICOMWeb/getAuthorizationHeader.js
  platform/core/src/utils/addServer.test.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/docker_nginx-orthanc.js
  platform/viewer/public/config/docker_openresty-orthanc-keycloak.js
  platform/viewer/public/config/docker_openresty-orthanc.js
  platform/viewer/public/config/local_dcm4chee.js
  platform/viewer/public/config/netlify.js
  platform/viewer/public/config/public_dicomweb.js
Due: core, viewer

chore: remove unused relativeWebWorkerScriptsPath config key
  platform/viewer/src/index.js
Due: viewer

fix: on-brand library global name
  platform/viewer/.webpack/webpack.commonjs.js
Due: viewer

removed server defaultProp
  platform/viewer/src/studylist/StudyListWithData.js
Due: viewer

ci: script tag e2e tests
  .circleci/config.yml
  package.json
  platform/viewer/.webpack/webpack.commonjs.js
  platform/viewer/package.json
  platform/viewer/public/html-templates/script-tag.html
  yarn.lock
Due: viewer

re-add working directory key
  .circleci/config.yml
Due: none

feat(Download ScreenShot Dialog)
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer
