Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

fix: mpr jump to measurements
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  platform/viewer/src/components/ViewportGrid.tsx
Due: viewer

fix: reloading an already loaded seg displayset
  extensions/cornerstone-dicom-seg/src/getSopClassHandlerModule.js
  extensions/cornerstone/src/Viewport/Overlays/ViewportImageSliceLoadingIndicator.tsx
Due: none

fix: optimization for the segmentation load
  extensions/cornerstone/src/initCornerstoneTools.js
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/default/src/DicomLocalDataSource/index.js
  modes/tmtv/src/initToolGroups.js
Due: none

fix: webworker destroy
  extensions/cornerstone/src/initWADOImageLoader.js
Due: none

Pass the user information through props
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/index.js
  extensions/cornerstone/src/init.js
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/viewer/src/App.jsx
  platform/viewer/src/appInit.js
  platform/viewer/src/index_module.js
  platform/viewer/src/routes/Mode/Mode.jsx
  platform/viewer/src/state/accessToken.js
  platform/viewer/src/state/index.js
  platform/viewer/src/state/lanternAppConfig.js
  platform/viewer/src/state/studyInstanceUIDs.js
  yarn.lock
Due: viewer

replace lower.substr with lower.substring
  platform/core/src/extensions/ExtensionManager.js
Due: core

remove redundant parameter
  platform/viewer/src/App.tsx
Due: viewer

fixed import syntax error
  platform/viewer/src/index.js
Due: viewer

fixed import syntax error
  platform/viewer/src/App.tsx
Due: viewer

feat: initial work for the stack synchronization
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/services/SyncGroupService/SyncGroupService.ts
  extensions/cornerstone/src/utils/calculateViewportRegistrations.ts
  extensions/default/src/ViewerLayout/index.tsx
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/ui/src/components/SidePanel/SidePanel.tsx
Due: core

package and webpack configuration reduction
  platform/viewer/.webpack/webpack.module.js
  platform/viewer/package.json
Due: viewer

package and webpack configuration reduction
  platform/viewer/.webpack/webpack.module.js
  yarn.lock
Due: viewer

fix: deprecated syntax of lower substr (#3013)
  platform/core/src/extensions/ExtensionManager.js
  platform/viewer/src/App.tsx
  platform/viewer/src/index.js
Due: core, viewer

fix: add validateDisplaySetSelectorsForNewDisplaySets to make sure drag and drop can follow requirements
  extensions/cornerstone/src/commandsModule.ts
  extensions/tmtv/src/getHangingProtocolModule.js
  modes/longitudinal/src/index.js
  modes/longitudinal/src/toolbarButtons.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
Due: core

fix: various react proptypes
  extensions/cornerstone-dicom-seg/src/panels/PanelSegmentation.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportOverlay.tsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.tsx
  extensions/tmtv/src/Panels/PanelROIThresholdSegmentation/PanelROIThresholdSegmentation.tsx
  platform/ui/src/components/PatientInfo/PatientInfo.tsx
Due: none

fix: thumbnails for the tmtv and change default props to default params
  extensions/cornerstone-dicom-seg/src/getSopClassHandlerModule.js
  extensions/default/src/Panels/PanelStudyBrowser.tsx
  extensions/default/src/ViewerLayout/index.tsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.tsx
  modes/longitudinal/src/index.js
  modes/tmtv/src/index.js
Due: none

feat: make showing loading indicator configurable and add docs
  extensions/cornerstone/src/Viewport/Overlays/ViewportOrientationMarkers.tsx
  extensions/default/src/ViewerLayout/index.tsx
  platform/docs/docs/assets/img/hangingProtocolExample.png
  platform/docs/docs/configuration/configurationFiles.md
  platform/docs/docs/configuration/dataSources/dicom-web.md
  platform/docs/docs/configuration/dataSources/introduction.md
  platform/docs/docs/configuration/dataSources/static-files.md
  platform/docs/docs/configuration/url.md
  platform/docs/docs/platform/extensions/modules/data-source.md
  platform/docs/docs/platform/extensions/modules/hpModule.md
  platform/docs/docs/platform/modes/index.md
  platform/docs/docs/platform/services/data/HangingProtocolService.md
  platform/docs/docusaurus.config.js
  platform/docs/versionsArchived.json
  platform/viewer/public/config/default.js
  platform/viewer/src/App.tsx
  platform/viewer/src/routes/WorkList/WorkList.tsx
Due: viewer

bump versions and add more docs
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  extensions/tmtv/src/getHangingProtocolModule.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/docs/docs/platform/extensions/modules/hpModule.md
  platform/docs/docs/platform/services/data/HangingProtocolService.md
  platform/viewer/public/config/default.js
  yarn.lock
Due: core, viewer

fix demo
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
Due: none

Critical Bug fix which is not rendering the popup
  package.json
  platform/ui/src/components/Dialog/Dialog.jsx
  platform/viewer/package.json
Due: viewer

CI Build Fix
  platform/viewer/.webpack/webpack.module.js
  platform/viewer/package.json
  yarn.lock
Due: viewer

fix: #2964 Reword message for segmentation error loading due to orientation tolerance
  extensions/dicom-segmentation/src/index.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: core, viewer

fix: handle missing ReferencedInstanceSequence attribute (#2786)
  platform/core/src/studies/services/wado/getReferencedSeriesSequence.js
Due: core

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

update DicomJSONDataSource to support directURL method
  extensions/default/src/DicomJSONDataSource/index.js
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/utils/getDirectURL.js
Due: none

Fix Elliptical ROIs not being added when created outside the actual image are (black area)
  extensions/cornerstone/src/utils/measurementServiceMappings/EllipticalROI.js
Due: none

Fixed reference to old params in the image IDs used for dicomweb calls
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/utils/getImageId.js
  extensions/default/src/DicomWebDataSource/utils/getWADORSImageId.js
Due: none

update cornerstone versions
  extensions/cornerstone-dicom-seg/package.json
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  platform/viewer/public/config/aws.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/dicomweb-server.js
  platform/viewer/public/config/dicomweb_relative.js
  platform/viewer/public/config/docker_nginx-orthanc.js
  platform/viewer/public/config/docker_openresty-orthanc-keycloak.js
  platform/viewer/public/config/docker_openresty-orthanc.js
  platform/viewer/public/config/google.js
  platform/viewer/public/config/idc.js
  platform/viewer/public/config/local_dcm4chee.js
  platform/viewer/public/config/local_orthanc.js
  platform/viewer/public/config/local_static.js
  platform/viewer/public/config/netlify.js
  platform/viewer/public/config/public_dicomweb.js
  yarn.lock
Due: viewer

apply review comments
  extensions/cornerstone-dicom-seg/LICENSE
  extensions/cornerstone-dicom-seg/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-seg/src/panels/PanelSegmentation.tsx
  extensions/cornerstone-dicom-seg/src/panels/callColorPickerDialog.tsx
  extensions/cornerstone-dicom-seg/src/utils/_hydrateSEG.ts
  extensions/cornerstone-dicom-seg/src/utils/promptHydrateSEG.ts
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/cornerstone/src/utils/transitions.ts
  extensions/default/src/Panels/PanelMeasurementTable.tsx
  extensions/default/src/ViewerLayout/index.tsx
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.tsx
  extensions/tmtv/src/Panels/PanelROIThresholdSegmentation/PanelROIThresholdSegmentation.tsx
  modes/tmtv/src/index.js
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/core/src/types/HangingProtocol.ts
  platform/docs/docs/configuration/configurationFiles.md
  platform/docs/docs/configuration/dataSources/introduction.md
  platform/ui/src/components/MeasurementTable/MeasurementTable.tsx
  platform/ui/src/components/SegmentationGroupTable/SegmentationConfig.tsx
  platform/ui/src/components/SegmentationGroupTable/SegmentationGroupTable.tsx
  platform/ui/src/components/SegmentationTable/SegmentationTable.tsx
Due: core

feat: add reference lines
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/init.tsx
  extensions/cornerstone/src/initCornerstoneTools.js
  modes/longitudinal/src/initToolGroups.js
  modes/longitudinal/src/toolbarButtons.js
  platform/core/src/services/ViewportGridService/ViewportGridService.js
  platform/core/src/services/ViewportGridService/ViewportGridService.ts
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
  platform/viewer/src/components/ViewportGrid.tsx
Due: core, viewer

fix build
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.tsx
Due: none

Fix modal show error
  platform/ui/src/components/Dialog/Dialog.jsx
  yarn.lock
Due: none

Fix the modal show error
  platform/viewer/package.json
Due: viewer

fix unit tests
  platform/core/src/index.test.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.test.js
  platform/core/src/utils/index.test.js
  platform/core/src/utils/sortInstancesByPosition.test.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/netlify.js
  platform/viewer/public/config/public_dicomweb.js
  platform/viewer/src/routes/Local/Local.tsx
Due: core, viewer

update node version for build
  .drone.jsonnet
Due: none

update drone file
  .drone.jsonnet
  yarn.lock
Due: none

add reference lines icon
  modes/longitudinal/src/toolbarButtons.js
  platform/ui/src/assets/icons/reference-lines.svg
  platform/ui/src/components/Icon/getIcon.js
Due: none

fix: e2e tests
  platform/ui/src/components/SidePanel/SidePanel.tsx
  platform/viewer/cypress/integration/measurement-tracking/OHIFStudyViewer.spec.js
  platform/viewer/cypress/support/aliases.js
Due: viewer

fix static wado config
  platform/viewer/public/config/default.js
  platform/viewer/public/config/netlify.js
Due: viewer

docs: add segmentation service docs
  .gitignore
  platform/docs/docs/platform/services/data/SegmentationService.md
  platform/docs/docs/platform/services/index.md
  platform/viewer/.recipes/README.md
Due: viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
