Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Add support for "additional findings" section
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

Add support for "additional findings" section (#1867)
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

bump RCV version and use new prop to control resize/refresh behavior
  extensions/cornerstone/package.json
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/dicom-sr/package.json
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  yarn.lock
Due: none

bump RCV version and use new prop to control resize/refresh behavior (#1869)
  extensions/cornerstone/package.json
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/dicom-sr/package.json
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  yarn.lock
Due: none

Disable double click for now.
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/core/src/services/ViewportGridService/ViewportGridService.js
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
  platform/viewer/src/components/ViewportGrid.jsx
Due: core, viewer

Fix paging cutting off one-page too soon
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

fix studydate/time tooltip
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

Make mrn slightly larger
  platform/viewer/src/routes/WorkList/WorkList.jsx
  platform/viewer/src/routes/WorkList/filtersMeta.js
Due: viewer

Add missing and non-retired modalites to modality dropdown
  platform/viewer/src/routes/WorkList/filtersMeta.js
Due: viewer

Disable double click for now. (#1872)
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/core/src/services/ViewportGridService/ViewportGridService.js
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
  platform/viewer/src/components/ViewportGrid.jsx
Due: core, viewer

Temporarily disable SegmentationMode
  platform/viewer/src/appInit.js
Due: viewer

fix: clear filter was not updating pagination value
  platform/ui/src/components/StudyListPagination/StudyListPagination.js
Due: none

fix: OHIF-260 - "Clear Filters" button should not be visible on first load, when no filters are set
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

Keep sr measuremnets
  extensions/cornerstone/src/init.js
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/dicom-sr/src/init.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

fix: OHIF-255 Fixes Thumbnail height for active item
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
Due: none

fix: 🐛 Fix RT Panel hide/show
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/tools/modules/rtStructModule.js
Due: none

hang viewport data only after all display sets is loaded
  extensions/default/src/DicomWebDataSource/index.js
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/DicomMetadataStore/createStudyMetadata.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/core/src/services/DisplaySetService/EVENTS.js
  platform/viewer/src/components/ViewportGrid.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

Prevent infinite loop by persisting load errors on displaySet.
  extensions/dicom-rt/src/OHIFDicomRTStructSopClassHandler.js
  extensions/dicom-segmentation/src/loadSegmentation.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/viewer/public/config/idc.js
Due: core, viewer

fix: 🐛 Fix infinite error messages
  platform/viewer/public/config/idc.js
Due: viewer

Add missing props
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
Due: none

Add wildcards
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/qido.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/netlify.js
Due: viewer

fix: OHIF-219 - Viewport Labels should be sequential
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.jsx
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
Due: none

WIP, need to fix arrow making measurement
  extensions/cornerstone/src/commandsModule.js
  platform/core/src/defaults/hotkeyBindings.js
Due: core

Update cornerstoneTools to fix cst arrow annotate event bug.
  extensions/cornerstone/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

fix/ohif-remove-measurements-label-notification
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

WIP
  platform/core/src/DICOMSR/dataExchange.js
Due: core

Finish OHIF-288, need to update dcmjs.
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/dicom-sr/src/tools/DICOMSRDisplayTool.js
  extensions/dicom-sr/src/utils/getToolStateToCornerstoneMeasurementSchema.js
  extensions/measurement-tracking/src/_shared/createReportAsync.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  modes/longitudinal/src/hotkeyBindings.js
  modes/longitudinal/src/windowLevelPresets.js
  platform/core/src/DICOMSR/dataExchange.js
Due: core

Remove unused copied resources.
  modes/longitudinal/src/hotkeyBindings.js
  modes/longitudinal/src/windowLevelPresets.js
Due: none

Cleaned up label import code.
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/dicom-sr/src/utils/getLabelFromDCMJSImportedToolData.js
  extensions/dicom-sr/src/utils/getToolStateToCornerstoneMeasurementSchema.js
Due: none

fix: OHIF-307 - Any interaction outside of an expanded patient info tooltip should close the tooltip
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

add callback to clickOutsideHandler
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
  platform/ui/src/utils/clickOutsideHandler.js
Due: none

use clickOutsideHandler and create tooltipRef for patientInfo
  platform/ui/src/components/Tooltip/Tooltip.jsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

Create TooltipClipboard component
  platform/ui/index.js
  platform/ui/src/assets/icons/clipboard.svg
  platform/ui/src/components/Icon/getIcon.jsx
  platform/ui/src/components/TooltipClipboard/TooltipClipboard.jsx
  platform/ui/src/components/TooltipClipboard/index.js
  platform/ui/src/components/index.js
Due: none

basic doc page for TooltipClipboard
  platform/ui/src/components/TooltipClipboard/TooltipClipboard.mdx
Due: none

enable clipboard tooltip for specific rows
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

wrap component with tooltip clipboard
  platform/ui/src/components/StudyListTable/StudyListTableRow.js
Due: none

Update for dcmjs Findings -> Finding.
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/dicom-sr/src/utils/getLabelFromDCMJSImportedToolData.js
  platform/core/src/DICOMSR/dataExchange.js
Due: core

Update dcmjs
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Set cornerstone tool active when jumping to measurement.
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/setCornerstoneMeasurementActive.js
Due: none

Remove debugger statement
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/setCornerstoneMeasurementActive.js
Due: none
