Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

chore: throw our error if we encounter one (no swallow) (#1337)
  platform/core/src/studies/services/wado/retrieveMetadataLoader.js
Due: core

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

01012020 - push changes from local branch
  OHIFViewer/.meteor/packages
  OHIFViewer/.meteor/versions
  Packages/ohif-wadoproxy/server/initialize.js
  Packages/ohif-wadoproxy/server/routes.js
  config/orthancDICOMWeb.json
  config/orthancDICOMWebProd.json
Due: none

01012020 - change email logic to MAIL_URL support env variable
  OHIFViewer/.meteor/packages
  OHIFViewer/.meteor/versions
  OHIFViewer/packages.json
  OHIFViewer/packages/npm-container/index.js
  OHIFViewer/packages/npm-container/package.js
  OHIFViewer/server/email.js
  Packages/ohif-servers/both/schema/servers.js
  package-lock.json
Due: none

Create variable to track erros
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
Due: none

Fix small console error
  platform/ui/src/components/tableList/TableListItem.js
Due: none

Fix all conflicts and merge changes from latest master with this PR's improvements
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
Due: none

chore: remove unused file; duplicated by studyInstanceHelpers
  platform/core/src/studies/studyUtils.js
Due: core

patch for Gen3 workspace
  .docker/Viewer-v2.x/default.conf
  .docker/Viewer-v2.x/entrypoint.sh
  Dockerfile
  platform/viewer/public/config/default.js
Due: viewer

fix NGINX to proxy to the right path
  .docker/Viewer-v2.x/default.conf
Due: none

Change expected study list results num
  platform/viewer/cypress/integration/common/OHIFStudyList.spec.js
Due: viewer

Changed command CI line for diff test paths
  .circleci/config.yml
Due: none

fix endpoint and probe
  .docker/Viewer-v2.x/default.conf
  platform/viewer/public/config/default.js
Due: viewer

chore: remove unused file; duplicated by studyInstanceHelpers (#1349)
  platform/core/src/studies/studyUtils.js
  platform/viewer/cypress/integration/common/OHIFStudyList.spec.js
Due: core, viewer

Removing unnecessary screenshots
  .circleci/config.yml
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFCornerstoneHotkeys.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFDownloadSnapshotFile.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFExtensionMicroscopy.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFExtensionPDF.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFExtensionVTK.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFRoutes.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFStudyViewer.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFUserPreferences.spec.js
Due: viewer

fix dicom-web forward
  .docker/Viewer-v2.x/default.conf
Due: none

Small improvement on select and textinput labels
  platform/ui/src/elements/form/Select.js
  platform/ui/src/elements/form/TextInput.js
Due: none

Add new icon for unlink
  platform/ui/src/elements/Icon/getIcon.js
  platform/ui/src/elements/Icon/icons/unlink.svg
Due: none

Refactor on download image modal
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.styl
Due: none

Adding loading screen
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.styl
  platform/ui/src/elements/Icon/Icon.styl
Due: none

Fix translation issue
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
Due: none

Remove unused dependency on `favicons-webpack-plugin`.
  package.json
  platform/viewer/.webpack/webpack.pwa.js
  yarn.lock
Due: viewer

wait for Orthanc to load
  .docker/Viewer-v2.x/default.conf
Due: none

Fix measurements panel css and delete button visibility
  platform/ui/src/components/measurementTable/MeasurementTableItem.styl
  platform/ui/src/components/tableList/TableListItem.styl
Due: none

Improvements on VTK visual tests
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFExtensionVTK.spec.js
Due: viewer

Fixing aspect Ratio and E2E tests
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.styl
  platform/viewer/cypress/integration/common/OHIFDownloadSnapshotFile.spec.js
Due: viewer

Improvements on VTK visual tests 2
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFCornerstoneHotkeys.spec.js
Due: viewer

Allow empty value without setting to 0
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
Due: none

Changed path for cypress/videos
  .circleci/config.yml
Due: none

Changed record to false
  .circleci/config.yml
Due: none

Added dependency ffmpeg-installer
  platform/viewer/package.json
Due: viewer

Contributing: Fix a typo
  extensions/vtk/src/commandsModule.js
Due: none

chore: Fix a typo (#1353)
  extensions/vtk/src/commandsModule.js
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

fix: measurements panel css and delete button visibility (#1352)
  platform/ui/src/components/measurementTable/MeasurementTableItem.styl
  platform/ui/src/components/tableList/TableListItem.styl
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Remove tash data from redux storage after updates
  platform/core/src/redux/reducers/viewports.js
Due: core

fix: 🐛 Make default tool button active at first load of new plu
  extensions/cornerstone/src/toolbarModule.js
  extensions/vtk/src/toolbarModule.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

Changing screenshot paths back to original
  .circleci/config.yml
Due: none
