Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

Improve(#2483) Make client-side code debuggable right from the source code
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/src/index.js
Due: viewer

improvement(#2483) ake client-side code debuggable right from the source code
  .vscode/launch.json
  platform/viewer/.webpack/webpack.pwa.js
Due: viewer

seems to be working but theres a bunch of garbage left over
  package.json
  platform/ui/src/tailwind.css
  platform/ui/src/utils/getGridWidthClass.js
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/public/html-templates/script-tag.html
  platform/viewer/src/index.js
  platform/viewer/tailwind.config.js
  platform/viewer/tailwind.css
  yarn.lock
Due: viewer

wip
  .webpack/webpack.base.js
Due: none

wip test
  .webpack/rules/cssToJavaScript.js
  .webpack/webpack.base.js
  extensions/cornerstone/src/ViewportLoadingIndicator.js
  extensions/cornerstone/src/ViewportOverlay.js
  extensions/dicom-sr/src/viewports/ViewportOverlay.js
  extensions/measurement-tracking/src/viewports/ViewportLoadingIndicator.js
  extensions/measurement-tracking/src/viewports/ViewportOverlay.js
  platform/docs/docs/platform/component-library/components/ExpandableToolbarButton.mdx
  platform/docs/docs/platform/component-library/components/ListMenu.mdx
  platform/docs/src/components/ComponentPropsTable.jsx
  platform/docs/tailwind.config.js
  platform/ui/.webpack/webpack.prod.js
  platform/ui/src/components/WindowLevelMenuItem/WindowLevelMenuItem.jsx
  platform/viewer/package.json
  platform/viewer/src/index.js
  platform/viewer/tailwind.config.js
Due: viewer

wip
  platform/docs/tailwind.config.js
  platform/ui/tailwind.config.js
  platform/viewer/tailwind.config.js
Due: viewer

wip
  .webpack/rules/cssToJavaScript.js
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/public/html-templates/index.html
  platform/viewer/public/html-templates/rollbar.html
  platform/viewer/src/routes/DataSourceWrapper.jsx
Due: viewer

fix(tailwind): Ensure tailwind properly purges unused utility classes (#2485)
  .webpack/rules/cssToJavaScript.js
  .webpack/webpack.base.js
  extensions/cornerstone/src/ViewportLoadingIndicator.js
  extensions/cornerstone/src/ViewportOverlay.js
  extensions/dicom-sr/src/viewports/ViewportOverlay.js
  extensions/measurement-tracking/src/viewports/ViewportLoadingIndicator.js
  extensions/measurement-tracking/src/viewports/ViewportOverlay.js
  package.json
  platform/docs/docs/platform/component-library/components/ExpandableToolbarButton.mdx
  platform/docs/docs/platform/component-library/components/ListMenu.mdx
  platform/docs/pluginOHIFWebpackConfig.js
  platform/ui/.webpack/webpack.prod.js
  platform/ui/package.json
  platform/ui/postcss.config.js
  platform/ui/src/components/DateRange/DateRange.css
  platform/ui/src/components/InputGroup/InputGroup.jsx
  platform/ui/src/components/SidePanel/SidePanel.jsx
  platform/ui/src/components/StudyListTable/StudyListTableRow.js
  platform/ui/src/components/WindowLevelMenuItem/WindowLevelMenuItem.jsx
  platform/ui/src/tailwind.css
  platform/ui/src/utils/getGridWidthClass.js
  platform/ui/tailwind.config.js
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/package.json
  platform/viewer/public/html-templates/index.html
  platform/viewer/public/html-templates/rollbar.html
  platform/viewer/public/html-templates/script-tag.html
  platform/viewer/src/index.js
  platform/viewer/src/routes/DataSourceWrapper.jsx
  platform/viewer/tailwind.config.js
  platform/viewer/tailwind.css
  yarn.lock
Due: viewer

chore(#2483) make client-side code debuggable right from the source code (#2484)
  .vscode/launch.json
  platform/viewer/.webpack/webpack.pwa.js
Due: viewer

fix: changed new image handler conditional for 0 edge case (#2338)
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
Due: none

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

fix(tailwind): Missed some changes when upgrading to tailwind 2.x
  .vscode/launch.json
  extensions/default/src/ViewerLayout/index.jsx
  platform/docs/docs/platform/component-library/components/SidePanel.mdx
  platform/docs/docs/platform/component-library/example-views/Viewer.mdx.todo
  platform/ui/.webpack/webpack.prod.js
  platform/ui/package.json
  platform/ui/src/components/DateRange/DateRange.css
  platform/ui/src/components/HotkeysPreferences/HotkeysPreferences.jsx
  platform/ui/src/components/WindowLevelMenuItem/WindowLevelMenuItem.jsx
  platform/ui/src/views/Viewer/Viewer.js
  platform/ui/tailwind.config.js
  platform/viewer/.webpack/webpack.pwa.js
Due: viewer

Add badge numbers for seg and rtstruct
  extensions/dicom-rt/src/index.js
  extensions/dicom-rt/src/loadRTStruct.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/index.js
  extensions/dicom-segmentation/src/loadSegmentation.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/ui/src/components/roundedButtonGroup/RoundedButtonGroup.css
  platform/ui/src/components/roundedButtonGroup/RoundedButtonGroup.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: core, viewer

add autoFocus proeprty to TextInput control. This gets passed down to the input element.
  platform/ui/src/components/simpleDialog/SimpleDialog.js
Due: none

Expose the Cobb's Angle tool from cornerstone.
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/toolbarModule.js
  platform/core/src/measurements/tools/cobbAngle.js
  platform/i18n/src/locales/es/Buttons.json
  platform/ui/src/elements/Icon/getIcon.js
  platform/ui/src/elements/Icon/icons/angle-open.svg
Due: core

Extract event
  extensions/dicom-rt/src/index.js
  extensions/dicom-segmentation/src/index.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

fix(css): make date range readable
  platform/ui/src/components/DateRange/DateRange.css
Due: none

wip
  extensions/default/src/ViewerLayout/index.jsx
  platform/viewer/public/config/default.js
  platform/viewer/public/config/netlify.js
  platform/viewer/public/config/public_dicomweb.js
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

fix: setting hotkeys was not working
  platform/core/src/classes/HotkeysManager.js
  platform/core/src/classes/HotkeysManager.test.js
  platform/core/src/utils/hotkeys/index.js
  platform/core/src/utils/hotkeys/pausePlugin.js
  platform/core/src/utils/hotkeys/recordPlugin.js
  platform/ui/src/components/HotkeyField/HotkeyField.jsx
Due: core

fix netlify toml for docs
  platform/docs/netlify.toml
Due: none

fix: setting hotkeys was broken (#2496)
  extensions/default/src/ViewerLayout/index.jsx
  platform/core/src/classes/HotkeysManager.js
  platform/core/src/classes/HotkeysManager.test.js
  platform/core/src/utils/hotkeys/index.js
  platform/core/src/utils/hotkeys/pausePlugin.js
  platform/core/src/utils/hotkeys/recordPlugin.js
  platform/docs/netlify.toml
  platform/ui/src/components/HotkeyField/HotkeyField.jsx
  platform/viewer/public/config/default.js
  platform/viewer/public/config/netlify.js
  platform/viewer/public/config/public_dicomweb.js
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: core, viewer

wip fixing styling
  README.md
  platform/docs/docs/faq.md
  platform/docs/docusaurus.config.js
  platform/docs/src/components/ComponentPropsTable.jsx
  platform/docs/src/pages/help.md
  platform/docs/src/theme/Playground/index.js
  platform/docs/src/theme/Playground/styles.module.css
  platform/docs/src/utils/IFrame.jsx
  platform/docs/tailwind.config.js
  platform/docs/versioned_docs/version-1.0/faq/general.md
  platform/docs/versioned_docs/version-2.0/faq/index.md
  platform/docs/versioned_docs/version-2.0/help.md
  platform/viewer/cypress/integration/measurement-tracking/OHIFCornerstoneToolbar.spec.js
Due: viewer

Updating the branch to upstream
  .gitignore
  package.json
  platform/ui/src/components/StudyListPagination/StudyListPagination.js
  platform/viewer/package.json
  platform/viewer/public/config/local_static.js
  platform/viewer/src/routes/WorkList/StudyListConfig.jsx
  platform/viewer/src/routes/WorkList/WorkList.jsx
  yarn.lock
Due: viewer

Create CITATION.cff
  CITATION.cff
Due: none

Create CITATION.cff (#2503)
  CITATION.cff
Due: none

Update CITATION.cff
  CITATION.cff
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
