Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

feat: Implement a 'Exit 2D MPR' button in the toolbar to act as a toggle when '2D MPR' button is clicked
  platform/viewer/src/connectedComponents/ConnectedExitPluginSwitch.js
  platform/viewer/src/connectedComponents/ConnectedPluginSwitch.js
  platform/viewer/src/connectedComponents/ExitPluginSwitch.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

ci: first attempt at adding a gated docker PR Publish
  .circleci/config.yml
Due: none

See if we can use contexts to inject variables after approval
  .circleci/config.yml
Due: none

fix build command
  .circleci/config.yml
Due: none

try alternative context
  .circleci/config.yml
Due: none

docs: pull request template that spells out PR checklist
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: none

change context back to Docker Hub
  .circleci/config.yml
Due: none

ci: first attempt at adding a gated docker PR Publish (#1038)
  .circleci/config.yml
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: none

Return display sets in StudyMetadata._createDisplaySetsForSeries
  platform/core/src/classes/metadata/StudyMetadata.js
Due: core

fix: Return display sets in StudyMetadata._createDisplaySetsForSeries (#1042)
  platform/core/src/classes/metadata/StudyMetadata.js
Due: core

Move logic to exit MPR and toggling into ConnectedPluginSwitch and PluginSwitch. Also, discard the ConnectedExitPluginSwitch and ExitPluginSwitch components.
  platform/viewer/src/connectedComponents/ConnectedExitPluginSwitch.js
  platform/viewer/src/connectedComponents/ConnectedPluginSwitch.js
  platform/viewer/src/connectedComponents/ExitPluginSwitch.js
  platform/viewer/src/connectedComponents/PluginSwitch.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

ci: Skip copying URL to clipboard on headless CI servers
  platform/viewer/package.json
Due: viewer

ci: Upgrade yarn version to speed up installs
  .circleci/config.yml
Due: none

ci: Skip copying URL to clipboard on headless CI servers (#1043)
  platform/viewer/package.json
Due: viewer

wip
  .circleci/config.yml
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Update ToolbarRow.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

feat: Implement a 'Exit 2D MPR' button in the toolbar
  platform/viewer/src/connectedComponents/ConnectedPluginSwitch.js
  platform/viewer/src/connectedComponents/PluginSwitch.js
Due: viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Streaming WIP.
  extensions/vtk/package.json
  extensions/vtk/src/ConnectedVTKViewport.js
  extensions/vtk/src/LoadingIndicator.css
  extensions/vtk/src/LoadingIndicator.js
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/utils/setMPRLayout.js
  yarn.lock
Due: none

init
  package.json
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/public/html-templates/index.html
  platform/viewer/public/html-templates/rollbar.html
  platform/viewer/public/init-service-worker.js
  platform/viewer/src/service-worker.js
  yarn.lock
Due: viewer

move SnackbarContext to ui project, rename, export
  platform/ui/src/components/snackbar/SnackbarContainer.js
  platform/ui/src/index.js
  platform/ui/src/utils/SnackbarProvider.js
  platform/viewer/src/App.js
Due: viewer

Initial prototype: read presentation states as measurements
  platform/core/src/DICOMWeb/getNumbers.js
  platform/core/src/DICOMWeb/getSequence.js
  platform/core/src/DICOMWeb/index.js
  platform/core/src/studies/services/wado/retrieveMetadata.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

use workbox-window
  platform/viewer/public/html-templates/index.html
  platform/viewer/public/html-templates/rollbar.html
  platform/viewer/public/init-service-worker.js
  platform/viewer/src/service-worker.js
Due: viewer

feat: Notification Service (#1011)
  platform/ui/src/components/snackbar/Snackbar.css
  platform/ui/src/components/snackbar/SnackbarContainer.js
  platform/ui/src/components/snackbar/SnackbarItem.js
  platform/ui/src/components/snackbar/SnackbarTypes.js
  platform/ui/src/index.js
  platform/ui/src/utils/SnackbarProvider.js
  platform/viewer/src/App.js
  platform/viewer/src/variables.css
Due: viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Try to accomodate SW hosted at non root url
  platform/viewer/public/html-templates/index.html
  platform/viewer/public/init-service-worker.js
Due: viewer

v5 updated namespaces
  platform/viewer/src/service-worker.js
Due: viewer

Functional default and manual wwwc
  extensions/vtk/src/ConnectedVTKViewport.js
  extensions/vtk/src/LoadingIndicator.css
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/commandsModule.js
  yarn.lock
Due: none

Test w/ no prompt
  platform/viewer/public/init-service-worker.js
Due: viewer

add icons to manifest
  platform/viewer/public/assets/icons-192.png
  platform/viewer/public/assets/icons-512.png
  platform/viewer/public/manifest.json
Due: viewer

remove scope for now
  platform/viewer/public/manifest.json
Due: viewer

add icon tile information to entrypoint
  platform/viewer/public/assets/icon.png
  platform/viewer/public/assets/icon_largetile.png
  platform/viewer/public/assets/ios-icon.png
  platform/viewer/public/html-templates/index.html
  platform/viewer/public/html-templates/rollbar.html
Due: viewer

See if we can skirt by without a duplicate install
  netlify.toml
Due: none

shift client claims to skip waiting message
  platform/viewer/src/service-worker.js
Due: viewer

Remove prepended slash
  platform/viewer/public/html-templates/index.html
  platform/viewer/public/html-templates/rollbar.html
Due: viewer

feat: 🎸 Code review. Translate loading study status
  platform/ui/src/components/studyList/StudyList.js
  platform/ui/src/components/studyList/StudyListLoadingText.js
Due: none

comment out cache handler for now
  platform/viewer/src/service-worker.js
Due: viewer

Test Cases: Delete measurement, Relabel and Description through Contextmenu
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/support/commands.js
Due: viewer

feat: Add browser info and app version
  .webpack/webpack.base.js
  platform/ui/package.json
  platform/ui/src/components/userPreferencesModal/AboutModal.js
  platform/ui/src/design/styles/common/modal.styl
  platform/viewer/src/components/Header/Header.css
  platform/viewer/src/components/Header/Header.js
Due: viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
