Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

versions
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  modes/longitudinal/package.json
  platform/cli/templates/extension/dependencies.json
  platform/cli/templates/mode/dependencies.json
  platform/core/.webpack/webpack.prod.js
  platform/core/package.json
  platform/viewer/package.json
Due: core, viewer

fix publish
  .webpack/webpack.base.js
  extensions/default/package.json
  extensions/default/src/ViewerLayout/index.jsx
  extensions/measurement-tracking/package.json
  package.json
  platform/viewer/src/routes/Mode/Mode.jsx
  yarn.lock
Due: viewer

wip
  .webpack/webpack.base.js
  platform/core/.webpack/webpack.prod.js
Due: core

remove webpack clean output
  .webpack/webpack.base.js
  platform/ui/.webpack/webpack.prod.js
Due: none

use next as dist tag for v3 for now
  package.json
Due: none

fix webpack pro recipe for output
  extensions/cornerstone/.webpack/webpack.prod.js
  extensions/default/.webpack/webpack.prod.js
  extensions/dicom-sr/.webpack/webpack.prod.js
  extensions/measurement-tracking/.webpack/webpack.prod.js
  modes/longitudinal/.webpack/webpack.prod.js
  platform/core/.webpack/webpack.prod.js
  platform/i18n/.webpack/webpack.prod.js
Due: core

fix: lerna publish next
  .circleci/config.yml
  package.json
Due: none

feat: Add documentation for templates
  platform/cli/src/commands/createExtension.js
  platform/cli/src/commands/createMode.js
  platform/docs/docs/assets/img/create-extension.png
  platform/docs/docs/assets/img/create-mode.png
  platform/docs/docs/assets/img/extension-template.png
  platform/docs/docs/assets/img/mode-template.png
  platform/docs/docs/development/continous-integration.md
  platform/docs/docs/development/contributing.md
  platform/docs/docs/development/ohif-cli.md
  platform/docs/docs/development/our-process.md
  platform/docs/docs/development/testing.md
Due: none

feat: Add more documentation
  platform/docs/docs/assets/img/add-extension.png
  platform/docs/docs/assets/img/add-mode.gif
  platform/docs/docs/assets/img/cli-search-no-verbose.png
  platform/docs/docs/assets/img/cli-search-with-verbose.png
  platform/docs/docs/assets/img/mode-clock.png
  platform/docs/docs/assets/img/ohif-cli-list.png
  platform/docs/docs/assets/img/remove-mode.gif
  platform/docs/docs/development/ohif-cli.md
Due: none

ci: Add .node-version file to fix build
  .node-version
Due: none

ci: Add runtime.txt to set PYTHON_VERSION for build because node-sass is a pain
  runtime.txt
Due: none

fix(OHIFv2):Updated to a version available (3.7) according to the docs
  runtime.txt
Due: none

feat(OHIFv2):Add static wado deploy for e2e tests
  .webpack/webpack.base.js
  package.json
  platform/core/src/studies/services/qido/StaticWadoClient.js
  platform/core/src/studies/services/qido/studies.js
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/package.json
  platform/viewer/public/config/e2e.js
  yarn.lock
Due: core, viewer

Updated circleci node version to be consistent
  .circleci/config.yml
  .node-version
Due: none

Trying to get versions consistent for build
  .circleci/config.yml
  .node-version
Due: none

fix: 🐛 Update study metadata / dicom loader to load rt json
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/dicomLoaderService.js
Due: core

fix(OHIFv2):Added accession number as a search field
  platform/core/src/studies/services/qido/StaticWadoClient.js
  platform/core/src/studies/services/qido/studies.js
Due: core

fix(OHIFv2):Make the pdf viewer run against static wado
  extensions/dicom-pdf/src/DicomPDFViewport.js
  extensions/dicom-pdf/src/OHIFDicomPDFViewport.js
  platform/core/src/index.js
Due: core

fix(OHIFv2):Fixed a race condition in the e2e test needed for static-wado
  platform/viewer/cypress/support/commands.js
  platform/viewer/public/config/e2e.js
Due: viewer

Added an extra expected export on OHIF
  platform/core/src/index.test.js
Due: core

feat: Add theme/config-point capability and docs. (#2641)
  extensions/cornerstone/src/commandsModule.js
  package.json
  platform/core/src/utils/StackManager.js
  platform/docs/docs/configuration/configuration.md
  platform/docs/docs/configuration/theme-configuration.md
  platform/docs/docs/platform/services/config-point-service.md
  platform/viewer/package.json
  platform/viewer/public/theme/theme.json5
  platform/viewer/src/appInit.js
  yarn.lock
Due: core, viewer

feat(OHIFv2):Initial attempt at running circleci on local testdata
  .circleci/config.yml
  .gitmodules
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/public/config/e2e.js
Due: viewer

Add the executor back
  .circleci/config.yml
Due: none

Switch to submodule update --init to reload testdata
  .circleci/config.yml
Due: none

Fix a race condition in initial render tests
  platform/viewer/cypress/support/commands.js
  platform/viewer/package.json
Due: viewer

fix(OHIFv2):Update the config.yml a bit mroe to try to get it running
  .circleci/config.yml
Due: none

Another try to get the config.yml working
  .circleci/config.yml
Due: none

Trying with && between build commands
  .circleci/config.yml
Due: none

Making all the builds run local data sets
  .circleci/config.yml
Due: none

Force deploy
  .circleci/config.yml
Due: none

Feat/v2 e2e static tests (#2684)
  .circleci/config.yml
  .gitmodules
  .node-version
  .webpack/webpack.base.js
  extensions/dicom-pdf/src/DicomPDFViewport.js
  extensions/dicom-pdf/src/OHIFDicomPDFViewport.js
  package.json
  platform/core/src/index.js
  platform/core/src/index.test.js
  platform/core/src/studies/services/qido/StaticWadoClient.js
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/cypress/support/commands.js
  platform/viewer/package.json
  platform/viewer/public/config/e2e.js
  platform/viewer/public/config/local_static.js
  runtime.txt
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/dicom-pdf/CHANGELOG.md
  extensions/dicom-pdf/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Docs/ohif cli (#2687)
  platform/cli/src/commands/createExtension.js
  platform/cli/src/commands/createMode.js
  platform/docs/docs/assets/img/add-extension.png
  platform/docs/docs/assets/img/add-mode.gif
  platform/docs/docs/assets/img/cli-search-no-verbose.png
  platform/docs/docs/assets/img/cli-search-with-verbose.png
  platform/docs/docs/assets/img/create-extension.png
  platform/docs/docs/assets/img/create-mode.png
  platform/docs/docs/assets/img/extension-template.png
  platform/docs/docs/assets/img/mode-clock.png
  platform/docs/docs/assets/img/mode-template.png
  platform/docs/docs/assets/img/ohif-cli-list.png
  platform/docs/docs/assets/img/remove-mode.gif
  platform/docs/docs/development/continous-integration.md
  platform/docs/docs/development/contributing.md
  platform/docs/docs/development/ohif-cli.md
  platform/docs/docs/development/our-process.md
  platform/docs/docs/development/testing.md
Due: none

Fixing broken OpenResty / Orthanc recipes and updating doc (#2652)
  docs/latest/deployment/recipes/nginx--image-archive.md
  platform/viewer/.recipes/OpenResty-Orthanc-Keycloak/docker-compose.yml
  platform/viewer/.recipes/OpenResty-Orthanc-Keycloak/dockerfile
  platform/viewer/.recipes/OpenResty-Orthanc/docker-compose.yml
  platform/viewer/.recipes/OpenResty-Orthanc/dockerfile
Due: viewer

Fix/core publish (#2685)
  .circleci/config.yml
  .webpack/webpack.base.js
  extensions/cornerstone/.webpack/webpack.prod.js
  extensions/cornerstone/package.json
  extensions/default/.webpack/webpack.prod.js
  extensions/default/package.json
  extensions/default/src/ViewerLayout/index.jsx
  extensions/dicom-sr/.webpack/webpack.prod.js
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/.webpack/webpack.prod.js
  extensions/measurement-tracking/package.json
  modes/longitudinal/.webpack/webpack.prod.js
  modes/longitudinal/package.json
  package.json
  platform/cli/templates/extension/dependencies.json
  platform/cli/templates/mode/dependencies.json
  platform/core/.webpack/webpack.prod.js
  platform/core/package.json
  platform/i18n/.webpack/webpack.prod.js
  platform/ui/.webpack/webpack.prod.js
  platform/viewer/package.json
  platform/viewer/src/routes/Mode/Mode.jsx
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

implement logic to detect the ReferencedSOPInstanceUID if missing in the measurement. Fix also world to IJ coordinates.
  lerna-debug.log
  platform/core/package.json
  platform/core/src/DICOMSR/SCOORD3D/parseSCOORD3D.js
  platform/core/src/DICOMSR/SCOORD3D/utils/getCoordsFromSCOORDOrSCOORD3D.js
  platform/core/src/DICOMSR/SCOORD3D/utils/getMeasurements.js
  platform/core/src/DICOMSR/SCOORD3D/utils/getRenderableData.js
  platform/core/src/DICOMSR/SCOORD3D/utils/processTID1410Measurement.js
  yarn.lock
Due: core

Fix broken unit test / import
  platform/core/src/DICOMSR/SCOORD3D/utils/addMeasurement.js
Due: core

feat(OHIFv3):Add static e2e data
  extensions/default/src/DicomWebDataSource/utils/StaticWadoClient.js
  package.json
  platform/docs/docs/development/testing.md
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/public/config/e2e.js
  yarn.lock
Due: viewer

Updating the name on the static wado service
  platform/viewer/public/config/local_static.js
Due: viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
