Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

fix: issue with multiframe sorting
  platform/core/src/utils/sortInstances.ts
Due: core

fix: download form
  extensions/cornerstone/src/utils/CornerstoneViewportDownloadForm.tsx
Due: none

fix: loading indicator to have correct values
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  platform/ui/src/components/LoadingIndicatorProgress/LoadingIndicatorProgress.css
  platform/ui/src/components/LoadingIndicatorProgress/LoadingIndicatorProgress.tsx
Due: none

feat: add animation for the highlight
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/utils/dicomLoaderService.js
Due: none

fix: segmentation toolgroup clena up
  extensions/cornerstone-dicom-seg/src/panels/PanelSegmentation.tsx
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/utils/removeToolGroupSegmentationRepresentations.ts
  extensions/default/src/ViewerLayout/index.tsx
Due: none

fix: highlight interval should not trigger again
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
Due: none

fix: image jump between MPR and default
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
Due: none

fix: buttons for tmtv and layout shift
  extensions/cornerstone-dicom-seg/src/panels/PanelSegmentation.tsx
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/default/src/Panels/PanelMeasurementTable.tsx
  extensions/tmtv/src/Panels/PanelPetSUV.tsx
  extensions/tmtv/src/Panels/PanelROIThresholdSegmentation/PanelROIThresholdSegmentation.tsx
Due: none

feat: orientation markers for volume viewport
  extensions/cornerstone/src/Viewport/Overlays/CornerstoneOverlays.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportOrientationMarkers.tsx
Due: none

fix: capture for volume viewports
  extensions/cornerstone/package.json
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/CornerstoneViewportDownloadForm.tsx
  platform/ui/src/components/ViewportDownloadForm/ViewportDownloadForm.tsx
  yarn.lock
Due: none

fix: reset camera should reset viewport camera
  extensions/cornerstone/src/commandsModule.ts
Due: none

fix: middle slice calculation different from cs middle reset camera
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
Due: none

fix: loading segments in MPR mode
  extensions/cornerstone-dicom-seg/src/getSopClassHandlerModule.js
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
Due: none

fix: layout shift
  platform/ui/src/components/SidePanel/SidePanel.tsx
Due: none

fix: crosshairs re init on reset camera
  extensions/cornerstone/src/init.js
Due: none

fix: tmtv hp back to before
  extensions/tmtv/src/getHangingProtocolModule.js
  modes/tmtv/src/index.js
Due: none

fix: various bugs wrt crosshairs
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/utils/transitions.ts
  modes/longitudinal/src/toolbarButtons.js
  modes/tmtv/src/toolbarButtons.js
  platform/core/src/services/ToolBarService/ToolBarService.js
Due: core

rename: change onSeriesChange to onArrowsClick
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
  platform/docs/versioned_docs/version-3.0/platform/extensions/modules/viewport.md
  platform/ui/src/components/Viewport/Viewport.tsx
  platform/ui/src/components/Viewport/__stories__/Viewport.stories.mdx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.stories.tsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.tsx
Due: none

fix: side panel layout shift
  extensions/cornerstone-dicom-seg/src/panels/PanelSegmentation.tsx
  extensions/default/src/Panels/PanelMeasurementTable.tsx
  extensions/tmtv/src/Panels/PanelPetSUV.tsx
  extensions/tmtv/src/Panels/PanelROIThresholdSegmentation/PanelROIThresholdSegmentation.tsx
  platform/ui/src/assets/styles/styles.css
  platform/ui/src/components/SidePanel/SidePanel.tsx
Due: none

fix: hover state for segmentation item
  platform/ui/src/components/SegmentationGroupTable/SegmentationGroup.tsx
  platform/ui/src/components/SegmentationGroupTable/SegmentationGroupSegment.tsx
Due: none

fix: scroll not appearing for side panels
  platform/ui/src/components/SidePanel/SidePanel.tsx
Due: none

temp add panels
  modes/longitudinal/src/index.js
Due: none

feat: changed styles for scrollbar
  platform/ui/src/assets/styles/styles.css
  platform/ui/src/components/SidePanel/SidePanel.tsx
Due: none

fix: react select style in production
  platform/ui/src/tailwind.css
Due: none

fix: memory leak for back to worklist
  extensions/cornerstone/src/index.tsx
  extensions/cornerstone/src/initWADOImageLoader.js
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
  extensions/cornerstone/src/state.ts
Due: none

feat: add new segmentation config styles
  platform/ui/src/components/SegmentationGroupTable/SegmentationConfig.tsx
Due: none

try to fix scrollbar for thimbnail
  platform/ui/src/components/SidePanel/SidePanel.tsx
Due: none

fix: various ui styles
  platform/ui/src/components/SegmentationGroupTable/SegmentationGroup.tsx
  platform/ui/src/components/SidePanel/SidePanel.tsx
  platform/ui/src/components/ViewportPane/ViewportPane.tsx
  platform/ui/src/tailwind.css
  platform/viewer/src/routes/WorkList/WorkList.tsx
Due: viewer

fix: various styling for segmentation groups
  platform/ui/src/assets/styles/styles.css
  platform/ui/src/components/ButtonGroup/ButtonGroup.tsx
  platform/ui/src/components/InputNumber/InputNumber.css
  platform/ui/src/components/InputNumber/InputNumber.tsx
  platform/ui/src/components/InputRange/InputRange.css
  platform/ui/src/components/InputRange/InputRange.tsx
  platform/ui/src/components/LoadingIndicatorProgress/LoadingIndicatorProgress.css
  platform/ui/src/components/SegmentationGroupTable/SegmentationConfig.tsx
  platform/ui/src/components/SegmentationGroupTable/SegmentationGroup.tsx
  platform/ui/src/components/SegmentationGroupTable/SegmentationGroupTable.tsx
  platform/ui/src/components/StudyBrowser/StudyBrowser.tsx
Due: none

fix: loading bar bg color
  platform/ui/src/components/LoadingIndicatorProgress/LoadingIndicatorProgress.css
Due: none

fix: side panel for only one panel
  platform/ui/src/components/SidePanel/SidePanel.tsx
  platform/viewer/tailwind.config.js
Due: viewer

feat: add cpu fallback warning
  extensions/cornerstone/src/index.tsx
  extensions/cornerstone/src/init.tsx
  extensions/default/src/ViewerLayout/LoadingIndicator.css
  extensions/default/src/ViewerLayout/LoadingIndicator.tsx
Due: none

fix: capture screenshot for volume viewports
  extensions/cornerstone/src/Viewport/Overlays/ViewportOrientationMarkers.css
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/cornerstone/src/utils/CornerstoneViewportDownloadForm.tsx
  platform/ui/src/components/ViewportDownloadForm/ViewportDownloadForm.tsx
Due: none

apply review comments
  extensions/cornerstone-dicom-seg/README.md
  extensions/cornerstone-dicom-seg/package.json
  extensions/cornerstone-dicom-seg/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-seg/src/panels/PanelSegmentation.tsx
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/services/SegmentationService/SegmentationServiceTypes.ts
  platform/core/src/utils/index.js
  platform/core/src/utils/isDisplaySetReconstructable.js
  platform/core/src/utils/isEqualWithin.ts
  platform/core/src/utils/sortInstancesByPosition.test.js
  platform/core/src/utils/sortInstancesByPosition.ts
  platform/ui/src/components/ButtonGroup/ButtonGroup.tsx
  platform/ui/src/components/LoadingIndicator/LoadingIndicator.tsx
  platform/ui/src/components/Snackbar/Snackbar.css
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
  platform/viewer/src/components/ViewportGrid.tsx
  platform/viewer/src/routes/WorkList/WorkList.tsx
Due: core, viewer

feat: add is equal
  platform/core/src/utils/index.js
  platform/core/src/utils/isEqual.ts
Due: core

fix: hide segment visibility on mpr
  extensions/cornerstone-dicom-seg/src/panels/PanelSegmentation.tsx
Due: none

fix: remove unnecessary context menu and hp service reset
  extensions/cornerstone/src/commandsModule.ts
  extensions/default/package.json
  modes/longitudinal/src/index.js
  modes/tmtv/src/index.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/ui/src/components/ImageScrollbar/ImageScrollbar.tsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.tsx
  platform/viewer/public/config/default.js
  yarn.lock
Due: core, viewer

fix: segmentation service wrt brush settings
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  platform/viewer/public/config/default.js
Due: viewer

fix: orientation marker color and position
  extensions/cornerstone/src/Viewport/Overlays/CornerstoneOverlays.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportLoadingIndicator.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportOrientationMarkers.tsx
  extensions/cornerstone/src/services/ToolGroupService/ToolGroupService.ts
Due: none

fix: select styles
  extensions/tmtv/src/Panels/PanelROIThresholdSegmentation/ROIThresholdConfiguration.tsx
  platform/ui/src/components/Select/Select.css
  platform/ui/src/components/ViewportDownloadForm/ViewportDownloadForm.tsx
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
