Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Segmentation UI for VTKjs (#1685)
  extensions/dicom-segmentation/package.json
  extensions/dicom-segmentation/src/components/SegmentItem/SegmentItem.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/components/SegmentationSettings/SegmentationSettings.js
  extensions/dicom-segmentation/src/index.js
  extensions/dicom-segmentation/src/loadSegmentation.js
  extensions/vtk/package.json
  extensions/vtk/src/LoadingIndicator.js
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/commandsModule.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/extensions/ExtensionManager.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionVTK.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFExtensionVTK.spec.js
  platform/viewer/cypress/support/commands.js
  platform/viewer/src/App.js
  platform/viewer/src/OHIFStandaloneViewer.js
  platform/viewer/src/connectedComponents/ConnectedToolbarRow.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/context/AppContext.js
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

fix
  extensions/default/src/modules/webApi.js
Due: none

06052020 - Commit cambios en pipeline selector
  Packages/vtk/client/components/index.js
  Packages/vtk/client/components/pipelineInformation/index.js
  Packages/vtk/client/components/pipelineInformation/pipelineInformationForm/pipelineInformationForm.html
  Packages/vtk/client/components/pipelineInformation/pipelineInformationForm/pipelineInformationForm.js
  Packages/vtk/client/components/pipelineInformation/pipelineInformationList/pipelineInformationList.html
  Packages/vtk/client/components/pipelineInformation/pipelineInformationList/pipelineInformationList.js
  Packages/vtk/client/components/pipelineInformation/pipelineInformationModal/pipelineInformationModal.html
  Packages/vtk/client/components/pipelineInformation/pipelineInformationModal/pipelineInformationModal.js
  Packages/vtk/client/components/pipelineInformation/pipelineInformationModal/pipelineInformationModal.styl
  Packages/vtk/client/components/pipelineSelector/selector.html
  Packages/vtk/client/components/pipelineSelector/selector.js
  Packages/vtk/client/components/pipelineSelector/selector.styl
  Packages/vtk/server/index.js
  Packages/vtk/server/publications.js
Due: none

Co-authored-by: Danny Brown <danny.ri.brown@gmail.com>
  extensions/default/package.json
  extensions/default/src/getDataSourcesModule.js
  extensions/default/src/index.js
  extensions/default/src/modules/webApi.js
Due: none

feat: OHIF-117 ohif extension default (#1712)
  extensions/default/.webpack/webpack.dev.js
  extensions/default/.webpack/webpack.prod.js
  extensions/default/package.json
  extensions/default/src/getDataSourcesModule.js
  extensions/default/src/index.js
Due: none

create dicom web api
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/qido.js
  extensions/default/src/getDataSourcesModule.js
  platform/core/src/DataSources/IWebApiDataSource.js
Due: core

export web api interface
  platform/core/src/index.js
Due: core

update default appconfig
  platform/viewer/public/config/default.js
Due: viewer

app configuration and App entrypoint update
  platform/core/src/DataSources/IDataSource.js
  platform/viewer/src/App.js
  platform/viewer/src/contexts/AppContextProvider.jsx
  platform/viewer/src/index-lesion-tracker.js
  platform/viewer/src/index.js
Due: core, viewer

add modes
  babel.config.js
  jest.config.js
  lerna.json
Due: none

enable modes to the workspace
  package.json
Due: none

add blank config for modes in appConfig
  platform/viewer/public/config/default.js
Due: viewer

create AppConfig context
  platform/viewer/src/contexts/AppContextProvider.jsx
Due: viewer

initializing appConfig
  platform/viewer/src/App.js
Due: viewer

create module types
  platform/core/src/extensions/MODULE_TYPES.js
Due: core

initialize methods for app configs
  platform/viewer/src/appInit.js
Due: viewer

routes config for Modes
  platform/viewer/src/routes/ModeRoute.js
  platform/viewer/src/routes/SOPClassHandlerManager.js
  platform/viewer/src/routes/buildModeRoutes.js
Due: viewer

update extension
  platform/core/src/extensions/ExtensionManager.js
Due: core

Stub get context module
  extensions/default/src/getContextModule.js
Due: none

init modes folder
  modes/example/.webpack/webpack.dev.js
  modes/example/.webpack/webpack.prod.js
  modes/example/LICENSE
  modes/example/babel.config.js
  modes/example/package.json
  modes/example/src/index.js
Due: none

layout template and side panel defaults
  extensions/default/src/getLayoutTemplatesModule.js
  extensions/default/src/getSidePanelModule.js
  extensions/default/src/index.js
Due: none

remove viewports from modes config as a slot
  modes/example/src/index.js
Due: none

Sad dicomMetadata store reminder for james
  platform/core/src/dicomMetadataStore.js
Due: core

export named modules from DICOMWeb utility object
  platform/core/src/DICOMWeb/index.js
Due: core

Begin playing with how/where modes should be wrapped and have data provided
  platform/viewer/src/routes/Compose.js
  platform/viewer/src/routes/ModeRoute.js
  platform/viewer/src/routes/buildModeRoutes.js
  platform/viewer/src/routes/index.js
Due: viewer

hook to grab query parameters from react router
  platform/viewer/src/hooks/index.js
  platform/viewer/src/hooks/useQuery.js
Due: viewer

Beginnings of a DICOMWeb API implementation that adheres to IWebApi interface
  platform/core/src/DataSources/DicomWebApi.js
  platform/core/src/DataSources/DicomWebApi/qido.js
  platform/core/src/DataSources/IWebApi.js
Due: core

Expand extensionManager to index module definitions by namespace
  platform/core/src/extensions/ExtensionManager.js
Due: core

Add support for route definition generation in appInit from modes config
  platform/viewer/src/App.js
  platform/viewer/src/appInit.js
Due: viewer

Expose dicomMetadataStore in @ohif/core
  platform/core/src/index.js
Due: core

Playing with how routes access ViewModel context and SopClassHandlers that map meta to ViewModel (displaySets)
  platform/viewer/src/routes/SOPClassHandlerManager.js
  platform/viewer/src/routes/ViewModelContext.js
Due: viewer

Remove quido portion of studies services, moved to IWebAPI implementation for dicomweb
  platform/core/src/studies/services/qido/studies.js
Due: core

Rename setFilterValues prop to onChange
  platform/ui/src/components/StudyListFilter/StudyListFilter.jsx
  platform/ui/src/components/StudyListFilter/StudyListFilter.mdx
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/StudyList.mdx
Due: none

Add MDX syntax highlighting extension to list of recommended
  .vscode/extensions.json
Due: none

WIP useQuery implementation
  platform/viewer/src/hooks/useQuery.js
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
Due: viewer

add a debounce hook
  platform/viewer/src/hooks/useDebounce.js
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
Due: viewer

simplify useQuery
  platform/viewer/src/hooks/useQuery.js
Due: viewer

add query-string as a dependency
  platform/viewer/package.json
  yarn.lock
Due: viewer

expose useDebounce hook
  platform/viewer/src/hooks/index.js
Due: viewer
