Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

CR Update: Refactor state
  extensions/dicom-pdf/src/DicomPDFViewport.js
Due: none

CR Update: use refs
  extensions/dicom-pdf/src/DicomPDFViewport.js
Due: none

CR Update: use refs
  extensions/dicom-pdf/src/DicomPDFViewport.css
  extensions/dicom-pdf/src/DicomPDFViewport.js
Due: none

docs: fix scope of diagram path
  docs/latest/faq/scope-of-project.md
Due: none

fix: 🐛 #1242
  platform/ui/src/contextProviders/DialogProvider.js
Due: none

docs: hide empty pages
  docs/latest/SUMMARY.md
Due: none

docs: stub viewer configuration
  docs/latest/viewer/configuration.md
Due: none

refactor: Remove LabelingFlow/ContextMenu services and reimplement on top of the Dialog service #1264 (#1292)
  platform/core/src/index.js
  platform/core/src/index.test.js
  platform/core/src/services/UIContextMenuService/index.js
  platform/core/src/services/UILabellingFlowService/index.js
  platform/core/src/services/index.js
  platform/ui/src/components/contextMenu/ContextMenu.css
  platform/ui/src/components/contextMenu/ContextMenu.js
  platform/ui/src/components/contextMenu/index.js
  platform/ui/src/components/index.js
  platform/ui/src/contextProviders/ContextMenuProvider.js
  platform/ui/src/contextProviders/LabellingFlowProvider.js
  platform/ui/src/contextProviders/index.js
  platform/ui/src/index.js
  platform/viewer/src/App.js
  platform/viewer/src/appCustomProviders/ContextMenuProvider/ContextMenuProvider.js
  platform/viewer/src/appCustomProviders/LabellingFlowProvider/LabellingFlowProvider.js
  platform/viewer/src/appCustomProviders/index.js
  platform/viewer/src/appExtensions/MeasurementsPanel/index.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
  platform/viewer/src/connectedComponents/ToolContextMenu.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

refactor: 💡 Use env variables to set locize (#1299)
  .webpack/webpack.base.js
  platform/i18n/src/index.js
Due: none

docs: stub environment variables docs
  docs/latest/viewer/environment-variables.md
Due: none

chore(release): publish [skip ci]
  platform/i18n/CHANGELOG.md
  platform/i18n/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

fix: 🐛 add WwwcRegionTool to cornerstone tools initialization
  extensions/cornerstone/src/init.js
Due: none

fix: 🐛 Update ohif pdf extension to optionally use pdfjs (#1162)
  extensions/dicom-pdf/package.json
  extensions/dicom-pdf/src/ConnectedOHIFDicomPDFViewer.js
  extensions/dicom-pdf/src/DicomPDFViewport.css
  extensions/dicom-pdf/src/DicomPDFViewport.js
  extensions/dicom-pdf/src/OHIFDicomPDFViewport.js
  extensions/dicom-pdf/src/asyncComponent.js
  extensions/dicom-pdf/src/index.js
  yarn.lock
Due: none

chore(release): publish [skip ci]
  extensions/dicom-pdf/CHANGELOG.md
  extensions/dicom-pdf/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

fix: 🐛 add WwwcRegionTool to cornerstone tools initialization (#1302)
  extensions/cornerstone/src/init.js
Due: none

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

CR Update: Dismiss dialogs in videwer
  platform/ui/src/contextProviders/DialogProvider.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

CR Update: Pass extension and service config through extension manager preinit/getmodule
  docs/latest/extensions/index.md
  extensions/_example/src/index.js
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/extensions/ExtensionManager.test.js
  platform/core/src/services/ServicesManager.js
  platform/core/src/services/ServicesManager.test.js
  platform/viewer/src/App.js
Due: core, viewer

fix: 🐛 Dismiss all dialogs if leaving viewer route #1242 (#1301)
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

CR Update: Remove appConfig from servicesManager
  platform/core/src/services/ServicesManager.js
  platform/core/src/services/ServicesManager.test.js
  platform/viewer/src/App.js
Due: core, viewer

CR Update: Remove appconfig variable
  platform/viewer/src/App.js
Due: viewer

feat: 🎸 Expose extension config to modules (#1279)
  docs/latest/extensions/index.md
  extensions/_example/src/index.js
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/extensions/ExtensionManager.test.js
  platform/core/src/services/ServicesManager.js
  platform/core/src/services/ServicesManager.test.js
  platform/viewer/src/App.js
Due: core, viewer

Moving test file to PWA only. Script-tag doesn't have the required Study
  platform/viewer/cypress/integration/pwa/OHIFSaveMeasurements.spec.js
Due: viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

feat: 🎸 Configuration so viewer tools can nix handles
  extensions/cornerstone/package.json
  extensions/cornerstone/src/init.js
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Update extension docs
  extensions/cornerstone/README.md
Due: none

Update doc
  extensions/cornerstone/README.md
Due: none

Move DICOMSR to @ohif/core
  platform/core/package.json
  platform/core/src/DICOMSR/dataExchange.js
  platform/core/src/DICOMSR/handleStructuredReport.js
  platform/core/src/DICOMSR/index.js
  platform/core/src/DICOMSR/parseDicomStructuredReport.js
  platform/core/src/DICOMSR/parseMeasurementsData.js
  platform/core/src/DICOMSR/utils/findInstanceMetadataBySopInstanceUid.js
  platform/core/src/DICOMSR/utils/findMostRecentStructuredReport.js
  platform/core/src/DICOMSR/utils/getAllDisplaySets.js
  platform/core/src/DICOMSR/utils/isToolSupported.js
  platform/core/src/index.js
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
  platform/viewer/src/connectedComponents/Viewer.js
  yarn.lock
Due: core, viewer

refactor: 💡 Move DICOMSR code to @ohif/core project
  yarn.lock
Due: none

Update imports
  platform/core/src/DICOMSR/dataExchange.js
  platform/core/src/DICOMSR/handleStructuredReport.js
  platform/core/src/DICOMSR/parseMeasurementsData.js
  platform/core/src/index.test.js
Due: core

fix: 🐛 Checking if the imageIdIndex has changed
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
Due: none

Make sopInstanceUid matching with what we have into the viewport/viewer
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  platform/core/src/redux/reducers/viewports.js
Due: core

Remove changes on OHIF after updates on react-cornerstone-viewport
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  platform/core/src/redux/reducers/viewports.js
Due: core

Updating redux state after viewport image changes
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
Due: none

Updating package.json
  extensions/cornerstone/package.json
  yarn.lock
Due: none

feat: 🎸 MeasurementService
  extensions/cornerstone/src/init.js
  platform/core/src/index.js
  platform/core/src/index.test.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/MeasurementService/MeasurementServiceAPI.js
  platform/core/src/services/MeasurementService/index.js
  platform/core/src/services/index.js
  platform/viewer/src/App.js
Due: core, viewer

Remove cornerstone tools import
  extensions/cornerstone/src/init.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/MeasurementService/MeasurementServiceAPI.js
Due: core

Second iteration
  extensions/cornerstone/src/init.js
  platform/core/src/index.js
  platform/core/src/index.test.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/MeasurementService/MeasurementServiceAPI.js
  platform/core/src/services/MeasurementService/index.js
  platform/core/src/services/index.js
  platform/viewer/src/App.js
Due: core, viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
