Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

chore: clean up worklist sort logic
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

Reload data from SEG and populate timecourse with mock data.
  extensions/kinderspital-mr-urography/src/components/MRUrographyPanel.js
  extensions/kinderspital-mr-urography/src/components/MRUrographyTabelItem.js
  extensions/kinderspital-mr-urography/src/tools/KinderspitalFreehandRoiTool.js
  extensions/kinderspital-mr-urography/src/utils/loadSegmentation.js
Due: none

Mock correct shape of timecourse/volume data and load on segmentation load.
  extensions/kinderspital-mr-urography/src/components/MRUrographyPanel.js
  extensions/kinderspital-mr-urography/src/tools/KinderspitalFreehandRoiTool.js
  extensions/kinderspital-mr-urography/src/utils/loadSegmentation.js
Due: none

Update all state to reflect workflow, highlight last 2 panels when AUC calculated for all.
  extensions/kinderspital-mr-urography/src/components/MRUrographyPanel.js
Due: none

Add TODO for Danny.
  extensions/kinderspital-mr-urography/src/components/MRUrographyPanel.js
Due: none

Fix local file viewing.
  platform/core/src/classes/OHIFStudyMetadataSource.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/viewer/src/connectedComponents/ViewerLocalFileData.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
  platform/viewer/src/routes/StandaloneRouting.js
Due: core, viewer

[IDC-1994] Sort series list by SeriesNumber, and sort by same SeriesNumber by date/time. (#2010)
  extensions/dicom-html/src/OHIFDicomHtmlSopClassHandler.js
  extensions/dicom-microscopy/src/DicomMicroscopySopClassHandler.js
  extensions/dicom-pdf/src/OHIFDicomPDFSopClassHandler.js
  extensions/dicom-rt/src/OHIFDicomRTStructSopClassHandler.js
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  platform/core/src/classes/OHIFStudyMetadataSource.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/isLowPriorityModality.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerLocalFileData.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
  platform/viewer/src/routes/StandaloneRouting.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-microscopy/CHANGELOG.md
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/CHANGELOG.md
  extensions/dicom-pdf/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Fix formatting and make fullscreen.
  extensions/dicom-tag-browser/src/components/DicomTagBrowser.css
  extensions/dicom-tag-browser/src/components/DicomTagBrowser.js
  extensions/dicom-tag-browser/src/getCommandsModule.js
  platform/core/src/services/UIModalService/index.js
  platform/ui/src/components/ohifModal/OHIFModal.js
  platform/ui/src/components/ohifModal/OHIFModal.styl
  platform/ui/src/contextProviders/ModalProvider.js
Due: core

Remove debuggers.
  platform/ui/src/components/ohifModal/OHIFModal.js
Due: none

Finish formatting.
  extensions/dicom-tag-browser/src/components/DicomTagBrowser.css
  extensions/dicom-tag-browser/src/components/DicomTagBrowser.js
Due: none

Fix error with double SeriesNumber deconstruction.
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
Due: none

Rename the p10 downloader extension to debugger extension, add button to toolbar. Deactivate it by default.
  extensions/debugging/.webpack/webpack.dev.js
  extensions/debugging/.webpack/webpack.prod.js
  extensions/debugging/CHANGELOG.md
  extensions/debugging/LICENSE
  extensions/debugging/README.md
  extensions/debugging/package.json
  extensions/debugging/src/DebugReportModal.css
  extensions/debugging/src/DebugReportModal.js
  extensions/debugging/src/commandsModule.js
  extensions/debugging/src/downloadAndZip.js
  extensions/debugging/src/index.js
  extensions/debugging/src/toolbarModule.js
  extensions/debugging/src/utils.js
  platform/viewer/.recipes/Nginx-Dcm4che/docker-compose-dcm4che.yml
  platform/viewer/package.json
  platform/viewer/public/config/idc.js
  platform/viewer/src/index.js
Due: viewer

WIP
  extensions/dicom-segmentation/src/getSourceDisplaySet.js
Due: none

fix: 🐛 Upgrade dcmjs version to support more SEGs
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Remove debugger + console
  extensions/dicom-segmentation/src/getSourceDisplaySet.js
  platform/viewer/src/connectedComponents/ViewerLocalFileData.js
Due: viewer

[IDC-2017] Harden segmentation import to support more SEGs (#2024)
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-segmentation/src/getSourceDisplaySet.js
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  platform/viewer/src/connectedComponents/ViewerLocalFileData.js
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Multiple series search for google cloud adapter.
  platform/core/src/studies/retrieveStudiesMetadata.js
  platform/core/src/studies/retrieveStudyMetadata.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/idc.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: core, viewer

Revert IDC config.
  platform/viewer/public/config/idc.js
Due: viewer

fix: 🐛 Series filtering on multiple series for google
  platform/viewer/public/config/idc.js
Due: viewer

Revert changes to default config.
  platform/viewer/public/config/default.js
Due: viewer

Fix unit tests
  platform/core/src/extensions/ExtensionManager.test.js
Due: core

[IDC-1939] Debug Dialog part 1 (#2011)
  extensions/cornerstone/src/index.js
  extensions/debugging/.webpack/webpack.dev.js
  extensions/debugging/.webpack/webpack.prod.js
  extensions/debugging/CHANGELOG.md
  extensions/debugging/LICENSE
  extensions/debugging/README.md
  extensions/debugging/package.json
  extensions/debugging/src/DebugReportModal.css
  extensions/debugging/src/DebugReportModal.js
  extensions/debugging/src/commandsModule.js
  extensions/debugging/src/downloadAndZip.js
  extensions/debugging/src/index.js
  extensions/debugging/src/toolbarModule.js
  extensions/debugging/src/utils.js
  extensions/dicom-html/src/index.js
  extensions/dicom-microscopy/src/index.js
  extensions/dicom-pdf/src/index.js
  extensions/dicom-rt/src/index.js
  extensions/dicom-segmentation/src/index.js
  extensions/lesion-tracker/src/index.js
  extensions/vtk/src/index.js
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/extensions/ExtensionManager.test.js
  platform/viewer/.recipes/Nginx-Dcm4che/docker-compose-dcm4che.yml
  platform/viewer/package.json
  platform/viewer/src/appExtensions/GenericViewerCommands/index.js
  platform/viewer/src/appExtensions/MeasurementsPanel/index.js
  platform/viewer/src/index.js
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/debugging/CHANGELOG.md
  extensions/debugging/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-microscopy/CHANGELOG.md
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/CHANGELOG.md
  extensions/dicom-pdf/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/lesion-tracker/CHANGELOG.md
  extensions/lesion-tracker/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

WIP
  extensions/debugging/src/DebugReportModal.js
  extensions/debugging/src/commandsModule.js
  extensions/debugging/src/index.js
  extensions/debugging/src/state.js
  platform/viewer/src/index.js
Due: viewer

Address reviewers comments.
  platform/core/src/studies/retrieveStudiesMetadata.js
  platform/core/src/studies/retrieveStudyMetadata.js
  platform/viewer/public/config/idc.js
Due: core, viewer

Fixed spelling mistakes
  platform/core/src/studies/retrieveStudyMetadata.js
Due: core

WIP
  extensions/debugging/src/DebugReportModal.js
Due: none

IDC-1532 multiple series search google (#2026)
  platform/core/src/studies/retrieveStudiesMetadata.js
  platform/core/src/studies/retrieveStudyMetadata.js
  platform/viewer/public/config/idc.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: core, viewer

Finish mailTo
  extensions/debugging/src/DebugReportModal.css
  extensions/debugging/src/DebugReportModal.js
  platform/ui/src/elements/Icon/getIcon.js
  platform/ui/src/elements/Icon/icons/envelope-square.svg
  platform/viewer/src/index.js
Due: viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

stubbed api client for urography backend
  extensions/kinderspital-mr-urography/package.json
  yarn.lock
Due: none

the actual stub
  extensions/kinderspital-mr-urography/src/api/index.js
Due: none

feat: stub API calls in code
  extensions/kinderspital-mr-urography/src/api/index.js
Due: none

add missing api calls from panel
  extensions/kinderspital-mr-urography/src/components/MRUrographyPanel.js
Due: none

pipe data all the way through
  extensions/kinderspital-mr-urography/src/api/index.js
  extensions/kinderspital-mr-urography/src/components/MRUrographyPanel.js
Due: none

Highlight for RTSTRUCT.
  extensions/debugging/src/DebugReportModal.js
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/tools/RTStructDisplayTool.js
  extensions/dicom-rt/src/tools/modules/rtStructModule.js
Due: none

use server returned DICOM Seg buffer
  extensions/kinderspital-mr-urography/src/api/index.js
  extensions/kinderspital-mr-urography/src/components/MRUrographyPanel.js
Due: none

SEG temp crosshairs.
  extensions/dicom-rt/src/tools/RTStructDisplayTool.js
  extensions/dicom-rt/src/utils/drawCanvasCrosshairs.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/init.js
  extensions/dicom-segmentation/src/tools/DICOMSegTempCrosshairsTool.js
  extensions/dicom-segmentation/src/tools/TOOL_NAMES.js
  extensions/dicom-segmentation/src/utils/drawCanvasCrosshairs.js
Due: none
