Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

refactor how we slowly build our studies array
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  extensions/default/src/Panels/WrappedPanelStudyBrowser.jsx
  extensions/default/src/Panels/getImageSrcFromImageId.js
  extensions/default/src/Panels/index.js
  extensions/default/src/getPanelModule.js
Due: none

Make thumbnails display
  extensions/cornerstone/babel.config.js
  extensions/cornerstone/src/utils/setCornerstoneLayout.js
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  extensions/default/src/Panels/WrappedPanelStudyBrowser.jsx
  extensions/default/src/getPanelModule.js
  extensions/lesion-tracker/src/components/MeasurementComparisonTable.js
  extensions/lesion-tracker/src/index.js
  modes/example/babel.config.js
  platform/core/src/classes/CommandsManager.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
Due: core

Temporarily remove drag from thumbnails
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
Due: none

wip: need to fix StackManager
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  platform/core/src/utils/StackManager.js
  platform/ui/src/components/ViewportPane/ViewportPane.jsx
  platform/viewer/src/components/ViewportGrid.jsx
Due: core, viewer

Fix viewports
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  platform/core/src/utils/StackManager.js
Due: core

remove debuggers
  platform/viewer/src/components/ViewportGrid.jsx
Due: viewer

Update DisplaySetService
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/ToolBarService/ToolBarService.js
  platform/core/src/services/pubSubServiceInterface/index.js
Due: core

Still broken, but app runs
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/ui/src/components/MeasurementTable/MeasurementTable.jsx
  platform/viewer/src/components/ViewportGrid.jsx
Due: core, viewer

ToolBarService
  extensions/default/src/ViewerLayout/index.jsx
  modes/example/src/index.js
  platform/core/src/ToolBarManager.js
  platform/core/src/index.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/core/src/services/ToolBarService/ToolBarService.js
  platform/core/src/services/ToolBarService/index.js
  platform/core/src/services/index.js
  platform/viewer/src/appInit.js
  platform/viewer/src/routes/Mode/DisplaySetCreator.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

WIP reorganization for study browser (again)
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
  platform/viewer/src/components/ViewportGrid.jsx
Due: core, viewer

WIP, wrap command manager controls so we can pass these to the UI component.
  extensions/default/src/ViewerLayout/index.jsx
  extensions/default/src/getLayoutTemplateModule.js
  platform/core/src/ToolbarLayoutContext.js
  platform/core/src/index.js
Due: core

Rebuild study browser reactivity.
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  extensions/default/src/Panels/WrappedPanelStudyBrowser.jsx
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

WIP bring back thumbnails.
  extensions/default/src/Panels/PanelStudyBrowser.jsx
Due: none

Working, needs optimisation.
  extensions/default/src/Panels/PanelStudyBrowser.jsx
Due: none

Display regular thumbnail; not tracked variant
  extensions/default/src/Panels/PanelStudyBrowser.jsx
Due: none

Re-enable draggable thumbs
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
Due: none

Drag and drop w/ dragSource + dragTarget w/o errors
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
  platform/ui/src/components/ViewportPane/ViewportPane.jsx
  platform/viewer/src/components/ViewportGrid.jsx
Due: viewer

dropped item logs displaySetInstanceUID
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
  platform/viewer/src/components/ViewportGrid.jsx
Due: viewer

upgrade react-router and react-router-dom to gain access to new hooks
  platform/viewer/package.json
  yarn.lock
Due: viewer

expose new webpack aliases for hooks and root
  .webpack/webpack.base.js
Due: none

Assume pattern for specifying one or more studyInstanceUids
  platform/viewer/src/routes/Mode/Mode.jsx
Due: viewer

basic drop to set displaySet
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/viewer/src/components/ViewportGrid.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

Add in checks.
  extensions/default/src/Panels/PanelStudyBrowser.jsx
Due: none

Update netlify config to new format
  platform/viewer/public/config/netlify.js
Due: viewer

fix config; update yarn.lock
  platform/viewer/public/config/netlify.js
  yarn.lock
Due: viewer

add alias for state
  .webpack/webpack.base.js
  platform/viewer/src/App.jsx
Due: viewer

capture changes
  .vscode/extensions.json
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  extensions/default/src/Panels/WrappedPanelStudyBrowser.jsx
  extensions/default/src/Panels/getStudiesForPatientByStudyInstanceUID.js
  extensions/default/src/Panels/requestDisplaySetCreationForStudy.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/ui/index.js
  platform/ui/src/contextProviders/ImageViewerProvider.jsx
  platform/ui/src/contextProviders/index.js
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

Bump rcv version
  extensions/cornerstone/package.json
  yarn.lock
Due: none

Move files around to confuse James and Erik
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/wado/retrieveMetadataLoaderAsync.js
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  extensions/default/src/Panels/getStudiesForPatientByStudyInstanceUID.js
  extensions/default/src/ViewerLayout/index.jsx
  platform/core/src/DataSources/IWebApiDataSource.js
  platform/core/src/classes/MetadataProvider.js
  platform/core/src/index.js
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/DicomMetadataStore/EVENTS.js
  platform/core/src/services/DicomMetadataStore/SeriesMetadata.js
  platform/core/src/services/DicomMetadataStore/StudyMetadata.js
  platform/core/src/services/DicomMetadataStore/index.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/core/src/services/DisplaySetService/EVENTS.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/ToolBarService/ToolBarService.js
  platform/core/src/services/_shared/index.js
  platform/core/src/services/_shared/pubSubServiceInterface.js
  platform/core/src/services/index.js
  platform/viewer/src/routes/DataSourceWrapper.jsx
Due: core, viewer

Add error boundaries
  extensions/cornerstone/src/index.js
  extensions/dicom-html/src/DicomHtmlViewport.js
  extensions/dicom-html/src/index.js
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.js
  extensions/dicom-microscopy/src/index.js
  extensions/dicom-pdf/src/index.js
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/index.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/index.js
  extensions/vtk/src/index.js
  platform/ui/package.json
  platform/ui/src/components/errorBoundary/ErrorBoundary.js
  platform/ui/src/components/errorBoundary/ErrorFallback.css
  platform/ui/src/components/errorBoundary/index.js
  platform/ui/src/components/index.js
  platform/ui/src/index.js
  platform/viewer/src/App.js
  platform/viewer/src/OHIFStandaloneViewer.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
  platform/viewer/src/components/ViewportGrid/ViewportPane.js
  platform/viewer/src/connectedComponents/Viewer.js
  yarn.lock
Due: viewer

fix incorrect argument to retrieve studies
  extensions/default/src/DicomWebDataSource/index.js
Due: none

basic pub/sub refresh for tabs from displaysets from dicommetadata
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/DicomMetadataStore/EVENTS.js
  platform/core/src/services/DicomMetadataStore/SeriesMetadata.js
  platform/core/src/services/DicomMetadataStore/StudyMetadata.js
  platform/core/src/services/DicomMetadataStore/createSeriesMetadata.js
  platform/core/src/services/DicomMetadataStore/createStudyMetadata.js
  platform/viewer/src/routes/DataSourceWrapper.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

map is not reactive
  extensions/default/src/Panels/PanelStudyBrowser.jsx
Due: none

fix thumbnail persistence
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  extensions/default/src/Panels/requestDisplaySetCreationForStudy.js
  platform/viewer/src/routes/Mode/Mode.jsx
Due: viewer

user-select, none for study items
  platform/ui/src/components/StudyItem/StudyItem.jsx
Due: none

hoist activeTab state
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
Due: none

hoist state for expanded studies; allow multiple open
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
Due: none

remove dead code
  extensions/default/src/getPanelModule.js
Due: none

remove uneccessary tabData check
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
Due: none

empty viewport, prevent duplicate series meta from add, protect broadcast events when no data has changed
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/DicomMetadataStore/createStudyMetadata.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/core/src/services/_shared/pubSubServiceInterface.js
  platform/ui/index.js
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
  platform/ui/src/contextProviders/index.js
  platform/viewer/src/App.jsx
  platform/viewer/src/components/EmptyViewport.jsx
  platform/viewer/src/components/ViewportGrid.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
  platform/viewer/src/state/ViewportGridProvider.js
Due: core, viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
