Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

remove logic from ui component
  platform/ui/src/components/StudyListTable/StudyListTableRow.js
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

No more setting on debounce, jumpToMeasurement service set up.
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/measurementServiceMappings/ArrowAnnotate.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Bidirectional.js
  extensions/cornerstone/src/utils/measurementServiceMappings/EllipticalRoi.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.js
  extensions/dicom-sr/src/utils/getToolStateToCornerstoneMeasurementSchema.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
  platform/viewer/src/components/ViewportGrid.jsx
Due: core, viewer

Also set active on left/right actionbar buttons.
  extensions/measurement-tracking/src/_shared/setCornerstoneMeasurementActive.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

Fix bug causing a race condition sometimes if you click super fast.
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

set clipbboard message
  platform/ui/src/components/TooltipClipboard/TooltipClipboard.jsx
Due: none

Optimise rendering of Tracking viewport slightly.
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/viewer/src/components/ViewportGrid.jsx
Due: viewer

Disable canvas if not active
  platform/ui/src/components/ViewportPane/ViewportPane.jsx
  platform/viewer/src/components/ViewportGrid.jsx
Due: viewer

OHIF-330: Update Modal Styles
  platform/ui/src/components/Modal/Modal.jsx
Due: none

fix: Use same config for branch deploys as for deploy previews
  netlify.toml
Due: none

chore: remove unnecessary duplicate build-deploy-preview.sh file
  build-deploy-preview.sh
Due: none

fix: Attempt to workaround Netlify cache issues for Lerna repos
  .netlify/build-deploy-preview.sh
  netlify-lerna-cache.sh
  netlify-lerna-restore.sh
  netlify.toml
  package.json
  platform/ui/gatsby-node.js
Due: none

chore: Remove useless debug file
  lerna-debug.log
Due: none

fix: try to make Gatsby less slow
  .netlify/build-deploy-preview.sh
  platform/ui/gatsby-node.js
Due: none

WIP
  extensions/cornerstone/src/utils/measurementServiceMappings/ArrowAnnotate.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Bidirectional.js
  extensions/cornerstone/src/utils/measurementServiceMappings/EllipticalRoi.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.js
  extensions/cornerstone/src/utils/measurementServiceMappings/utils/getSOPInstanceAttributes.js
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/utils/getWADORSImageId.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/core/src/classes/MetadataProvider.js
  platform/viewer/public/config/docker_nginx-orthanc.js
Due: core, viewer

element => targetElement
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

feat/ohif-332: finish raw ui
  extensions/default/src/ViewerLayout/Header.jsx
  extensions/default/src/ViewerLayout/index.jsx
  modes/longitudinal/src/index.js
  platform/ui/index.js
  platform/ui/src/components/Button/Button.jsx
  platform/ui/src/components/HotkeyField/HotkeyField.jsx
  platform/ui/src/components/HotkeyField/index.js
  platform/ui/src/components/HotkeysPreferences/HotkeysPreferences.jsx
  platform/ui/src/components/HotkeysPreferences/hotkeysConfig.js
  platform/ui/src/components/HotkeysPreferences/hotkeysValidators.js
  platform/ui/src/components/HotkeysPreferences/index.js
  platform/ui/src/components/Input/Input.jsx
  platform/ui/src/components/UserPreferences/UserPreferences.jsx
  platform/ui/src/components/UserPreferences/index.js
  platform/ui/src/components/index.js
  platform/ui/src/contextProviders/ModeProvider.jsx
  platform/ui/src/contextProviders/index.js
  platform/viewer/src/routes/Mode/Mode.jsx
Due: viewer

fix: OHIF-219 - Viewport Labels should be sequential (#1881)
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.jsx
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
Due: none

Add missing props (#1879)
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
Due: none

fix/ohif-remove-measurements-label-notification (#1884)
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

Remove complete TODO
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

Remove debuggers
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/dicom-sr/src/utils/getToolStateToCornerstoneMeasurementSchema.js
Due: none

Respond to reviewer comments.
  extensions/cornerstone/src/utils/measurementServiceMappings/ArrowAnnotate.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Bidirectional.js
  extensions/cornerstone/src/utils/measurementServiceMappings/EllipticalRoi.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.js
  extensions/dicom-sr/src/utils/getToolStateToCornerstoneMeasurementSchema.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
Due: core

OHIF-330: Update Modal Styles (#1891)
  platform/ui/src/components/Modal/Modal.jsx
Due: none

OHIF-8: Pass fuzzymatching option from config (#1837)
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/qido.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/netlify.js
Due: viewer

Respond to reviewer comments.
  extensions/dicom-sr/src/utils/getLabelFromDCMJSImportedToolData.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

update dcmjs version
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

feat: OHIF-331 - About Modal
  platform/ui/src/assets/icons/external-link.svg
  platform/ui/src/components/Icon/getIcon.jsx
  platform/viewer/src/components/PreferencesDropdown/AboutModal.jsx
  platform/viewer/src/components/PreferencesDropdown/PreferencesDropdown.jsx
Due: viewer

add dynamic values for about modal
  platform/viewer/package.json
  platform/viewer/src/components/PreferencesDropdown/AboutModal.jsx
Due: viewer

fix icon
  platform/ui/src/components/Icon/getIcon.jsx
Due: none

fix: OHIF-255 Fixes Thumbnail height for active item (#1876)
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
Due: none

split handler methods
  platform/ui/src/utils/blurHandlerListener.js
  platform/ui/src/utils/clickOutsideHandler.js
Due: none

wrap tooltip to avoid prop drill
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/Tooltip/Tooltip.jsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

[OHIF-295] - Esc button should stop the creation of a measurement or annotation (#1883)
  extensions/cornerstone/package.json
  extensions/cornerstone/src/commandsModule.js
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/core/src/defaults/hotkeyBindings.js
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

fix ref prop
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

use blur Handler
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
Due: none

revert tooltip
  platform/ui/src/components/Tooltip/Tooltip.jsx
Due: none

[OHIF-288] Rehydrating SRs is missing Labels (#1885)
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-sr/package.json
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/dicom-sr/src/tools/DICOMSRDisplayTool.js
  extensions/dicom-sr/src/utils/getLabelFromDCMJSImportedToolData.js
  extensions/dicom-sr/src/utils/getToolStateToCornerstoneMeasurementSchema.js
  extensions/measurement-tracking/package.json
  extensions/measurement-tracking/src/_shared/createReportAsync.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/vtk/package.json
  platform/core/package.json
  platform/core/src/DICOMSR/dataExchange.js
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

[OHIF-278] Jumping to a measurement should set it to "active" in cornerstone-tools, highlighting it as green (#1888)
  extensions/measurement-tracking/src/_shared/setCornerstoneMeasurementActive.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

feat: OHIF-331 - About Modal (#1894)
  platform/ui/src/assets/icons/external-link.svg
  platform/ui/src/components/Icon/getIcon.jsx
  platform/viewer/package.json
  platform/viewer/src/components/PreferencesDropdown/AboutModal.jsx
  platform/viewer/src/components/PreferencesDropdown/PreferencesDropdown.jsx
Due: viewer

Disable canvas if not active (#1890)
  platform/ui/src/components/ViewportPane/ViewportPane.jsx
  platform/viewer/src/components/ViewportGrid.jsx
Due: viewer
