Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

fix default config
  platform/viewer/public/config/default.js
Due: viewer

chore(cicd): updates Dockerfile-Local-Build
  Dockerfile-Local-Build
Due: none

fix: various bugs with sr viewport and tracking
  extensions/cornerstone-3d/.webpack/webpack.prod.js
  extensions/cornerstone-3d/src/Viewport/CornerstoneOverlay.tsx
  extensions/cornerstone-3d/src/Viewport/OHIFCornerstone3DViewport.tsx
  extensions/cornerstone-3d/src/commandsModule.js
  extensions/cornerstone-3d/src/index.tsx
  extensions/cornerstone-3d/src/services/ViewportService/Cornerstone3DViewportService.ts
  extensions/cornerstone-dicom-sr/.webpack/webpack.prod.js
  extensions/cornerstone-dicom-sr/src/init.js
  extensions/cornerstone-dicom-sr/src/tools/DICOMSRDisplayTool.ts
  extensions/cornerstone-dicom-sr/src/tools/annotationTools/ArrowTool.ts
  extensions/cornerstone-dicom-sr/src/tools/annotationTools/SRLengthTool.ts
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/cornerstone/.webpack/webpack.prod.js
  extensions/default/.webpack/webpack.prod.js
  extensions/dicom-video/.webpack/webpack.prod.js
  extensions/measurement-tracking/.webpack/webpack.prod.js
  extensions/measurement-tracking/src/_shared/getTools.js
  extensions/measurement-tracking/src/_shared/setActiveAndPassiveToolsForElement.js
  extensions/measurement-tracking/src/_shared/setCornerstoneMeasurementActive.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
  extensions/measurement-tracking/src/viewports/ViewportOverlay.js
  modes/basic-viewer-cs3d/.webpack/webpack.prod.js
  modes/basic-viewer/.webpack/webpack.prod.js
  modes/longitudinal/.webpack/webpack.prod.js
  modes/longitudinal/src/toolbarButtons.js
  platform/cli/templates/extension/.webpack/webpack.prod.js
  platform/cli/templates/mode/.webpack/webpack.prod.js
  platform/core/.webpack/webpack.prod.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/i18n/.webpack/webpack.prod.js
  platform/ui/.webpack/webpack.prod.js
Due: core

fix promptying to continue tracking for when SR is created
  extensions/cornerstone-3d/src/initMeasurementService.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.tsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
Due: none

New example config
  .circleci/config.yml
Due: none

feat: delegating dicom web proxy datasource
  extensions/default/src/DicomWebProxyDataSource/index.js
  extensions/default/src/getDataSourcesModule.js
  platform/viewer/public/config/default.js
Due: viewer

fix: configurably allow WADO image loader to issue preflight OPTIONS request
  extensions/cornerstone/src/index.js
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/initWADOImageLoader.js
  platform/viewer/public/config/default.js
Due: viewer

feat: add keep trackign of unique identifiers
  extensions/cornerstone-3d/src/initMeasurementService.js
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-sr/src/tools/DICOMSRDisplayTool.ts
  extensions/cornerstone-dicom-sr/src/tools/modules/dicomSRModule.js
  extensions/cornerstone-dicom-sr/src/utils/addMeasurement.ts
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
Due: none

fix hydration for same imageIds
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/_hydrateStructuredReport.js
Due: none

feat: Add SR toolGroup creation on modeEnter
  extensions/cornerstone-3d/src/commandsModule.js
  extensions/cornerstone-dicom-sr/src/commandsModule.js
  extensions/cornerstone-dicom-sr/src/index.tsx
  extensions/cornerstone-dicom-sr/src/tools/toolNames.ts
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  modes/longitudinal/src/index.js
  modes/longitudinal/src/initToolGroups.js
Due: none

feat: remove the need for separate mapper for SR hydration
  extensions/cornerstone-3d/src/initMeasurementService.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/_hydrateStructuredReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/getCornerstoneToolStateToMeasurementSchema.js
Due: none

Added documentation and fixed up some error handling from PR review
  extensions/default/src/DicomWebProxyDataSource/index.js
  platform/docs/docs/configuration/dataSources/dicom-web-proxy.md
Due: none

add SR display for ellipse
  extensions/cornerstone-dicom-sr/src/tools/DICOMSRDisplayTool.ts
  extensions/cornerstone-dicom-sr/src/utils/addMeasurement.ts
Due: none

handle hydration of elliptical ROI tool
  extensions/cornerstone-3d/src/initMeasurementService.js
  extensions/cornerstone-3d/src/utils/measurementServiceMappings/EllipticalROI.js
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/_hydrateStructuredReport.js
Due: none

add arrow mapping
  extensions/cornerstone-3d/src/initCornerstoneTools.js
  extensions/cornerstone-3d/src/initMeasurementService.js
  extensions/cornerstone-3d/src/utils/measurementServiceMappings/ArrowAnnotate.js
  extensions/cornerstone-3d/src/utils/measurementServiceMappings/RectangleROI.js
  extensions/cornerstone-3d/src/utils/measurementServiceMappings/constants/supportedTools.js
  extensions/cornerstone-3d/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.tsx
  modes/basic-viewer-cs3d/src/toolbarButtons.js
  modes/longitudinal/src/initToolGroups.js
  modes/longitudinal/src/toolbarButtons.js
Due: none

feat: Add ArrowAnnotate SR display and hydration
  extensions/cornerstone-3d/src/initCornerstoneTools.js
  extensions/cornerstone-3d/src/initMeasurementService.js
  extensions/cornerstone-3d/src/utils/measurementServiceMappings/constants/supportedTools.js
  extensions/cornerstone-3d/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.js
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-sr/src/tools/DICOMSRDisplayTool.ts
  extensions/cornerstone-dicom-sr/src/utils/getFilteredCornerstoneToolState.ts
  modes/longitudinal/src/initToolGroups.js
  modes/longitudinal/src/toolbarButtons.js
Due: none

apply review comments
  extensions/cornerstone-3d/src/Viewport/OHIFCornerstone3DViewport.tsx
  extensions/cornerstone-3d/src/commandsModule.js
  extensions/cornerstone-3d/src/initMeasurementService.js
  extensions/cornerstone-3d/src/services/ToolGroupService/ToolGroupService.ts
  extensions/cornerstone-3d/src/utils/measurementServiceMappings/ArrowAnnotate.js
  extensions/cornerstone-3d/src/utils/measurementServiceMappings/Bidirectional.js
  extensions/cornerstone-3d/src/utils/measurementServiceMappings/EllipticalROI.js
  extensions/cornerstone-3d/src/utils/measurementServiceMappings/Length.js
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-sr/src/tools/DICOMSRDisplayTool.ts
  extensions/cornerstone-dicom-sr/src/utils/addMeasurement.ts
  extensions/cornerstone-dicom-sr/src/utils/getFilteredCornerstoneToolState.ts
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/_hydrateStructuredReport.js
  modes/basic-viewer-cs3d/src/index.js
  modes/longitudinal/src/index.js
  platform/core/src/index.js
  platform/core/src/services/SegmentationService/SegmentationService.js
  platform/core/src/services/SegmentationService/index.js
  platform/core/src/services/index.js
  platform/viewer/src/appInit.js
Due: core, viewer

fix(OHIF3d):Fix two crash/hang issues and a minor log issue
  extensions/cornerstone-3d/src/initWADOImageLoader.js
  platform/ui/src/components/StudyBrowser/StudyBrowser.tsx
  platform/ui/src/components/Thumbnail/Thumbnail.tsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.tsx
  platform/viewer/src/components/ViewportGrid.tsx
Due: viewer

Made deployment resource class "large"
  .circleci/config.yml
Due: none

fix: fixed variant PropTypes is undefined and SeriesNumber type is Number bug
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/ui/src/components/Button/Button.jsx
  platform/viewer/public/config/default.js
Due: viewer

Revert "added build scripts files for kardelensw"
  dockerbuild.ps1
  dockerpush.ps1
  dockerrun.ps1
  platform/viewer/public/config/default.js
  publish.ps1
Due: viewer

apply review comments
  extensions/cornerstone-3d/src/initCornerstoneTools.js
  extensions/cornerstone-3d/src/services/ViewportService/Cornerstone3DViewportService.ts
  extensions/cornerstone-3d/src/services/ViewportService/Viewport.ts
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-sr/src/init.js
  extensions/cornerstone-dicom-sr/src/tools/DICOMSRDisplayTool.ts
  extensions/cornerstone-dicom-sr/src/tools/annotationTools/ArrowTool.ts
  extensions/cornerstone-dicom-sr/src/tools/annotationTools/SRLengthTool.ts
  extensions/cornerstone-dicom-sr/src/tools/toolNames.ts
  extensions/cornerstone-dicom-sr/src/utils/addMeasurement.ts
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
  modes/longitudinal/src/initToolGroups.js
  modes/longitudinal/src/toolbarButtons.js
Due: none

move viewport labels to the viewportData
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.tsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
  platform/ui/src/utils/viewportLabels.ts
  platform/viewer/src/components/ViewportGrid.tsx
Due: viewer

fix: Pass basename to BrowserRouter - Fixes #2769 (#2778)
  platform/viewer/src/App.jsx
Due: viewer

Use mrn instead of patient_id in query params
  extensions/default/src/DicomWebDataSource/index.js
Due: none

apply review comments
  extensions/cornerstone-dicom-sr/src/commandsModule.js
  extensions/cornerstone-dicom-sr/src/constants/toolNames.js
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-sr/src/init.js
  extensions/cornerstone-dicom-sr/src/tools/DICOMSRDisplayTool.ts
  extensions/cornerstone-dicom-sr/src/tools/toolNames.ts
  extensions/cornerstone-dicom-sr/src/tools/tools/SRArrowAnnotate.ts
  extensions/cornerstone-dicom-sr/src/tools/tools/SRBidirectional.ts
  extensions/cornerstone-dicom-sr/src/tools/tools/SREllipticalROI.ts
  extensions/cornerstone-dicom-sr/src/tools/tools/SRLength.ts
  extensions/cornerstone-dicom-sr/src/utils/addMeasurement.ts
  extensions/measurement-tracking/src/_shared/createReportAsync.tsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
  modes/longitudinal/src/initToolGroups.js
  modes/longitudinal/src/toolbarButtons.js
Due: none

fix(OHIF3d):Fix some view issues - PR updates
  extensions/cornerstone-3d/src/initWADOImageLoader.js
  platform/ui/src/components/StudyBrowser/StudyBrowser.tsx
  platform/viewer/src/components/ViewportGrid.tsx
Due: viewer

fix: integration cypress tests with cornerstone3D
  extensions/cornerstone-3d/src/commandsModule.js
  platform/viewer/cypress/integration/measurement-tracking/OHIFCornerstoneHotkeys.spec.js
  platform/viewer/cypress/integration/measurement-tracking/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/measurement-tracking/OHIFDownloadSnapshotFile.spec.js
  platform/viewer/cypress/integration/measurement-tracking/OHIFStudyViewer.spec.js
  platform/viewer/cypress/support/aliases.js
  platform/viewer/cypress/support/commands.js
Due: viewer

revert to addOrUpdate as it makes more sense
  extensions/cornerstone-3d/src/initMeasurementService.js
  extensions/cornerstone-3d/src/utils/measurementServiceMappings/ArrowAnnotate.js
  extensions/cornerstone-3d/src/utils/measurementServiceMappings/Bidirectional.js
  extensions/cornerstone-3d/src/utils/measurementServiceMappings/EllipticalROI.js
  extensions/cornerstone-3d/src/utils/measurementServiceMappings/Length.js
  platform/core/src/services/MeasurementService/MeasurementService.js
Due: core

fix local drag and drop
  extensions/default/src/getHangingProtocolModule.js
  platform/core/src/classes/MetadataProvider.js
  platform/viewer/src/components/ViewportGrid.tsx
Due: core, viewer

fix tests
  .vscode/launch.json
  jest.config.base.js
  package.json
  platform/core/src/classes/HotkeysManager.test.js
  platform/core/src/extensions/ExtensionManager.test.js
  platform/core/src/services/MeasurementService/MeasurementService.test.js
  yarn.lock
Due: core

wip
  Dockerfile
  extensions/cornerstone-3d/package.json
  extensions/cornerstone-3d/src/initCornerstoneTools.js
  extensions/cornerstone-dicom-sr/package.json
  extensions/measurement-tracking/package.json
  package.json
  platform/core/package.json
  platform/docs/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

move dicomLoaderService to cornerstone extension
  extensions/cornerstone-3d/src/index.tsx
  extensions/cornerstone-3d/src/utils/dicomLoaderService.js
  platform/core/package.json
  platform/core/src/utils/index.js
  platform/core/src/utils/index.test.js
  platform/viewer/package.json
Due: core, viewer

fix: Docker builds were not working
  Dockerfile
  platform/docs/package.json
  platform/viewer/package.json
  yarn.lock
Due: viewer

fix various import bugs
  extensions/cornerstone-3d/src/commandsModule.js
  extensions/cornerstone-3d/src/utils/measurementServiceMappings/Length.js
  platform/core/src/classes/MetadataProvider.js
  platform/core/src/utils/downloadCSVReport.js
  platform/viewer/src/components/ViewportGrid.tsx
Due: core, viewer

fix bug for local PT series
  extensions/cornerstone-3d/src/Viewport/CornerstoneOverlay.tsx
  extensions/cornerstone-3d/src/init.js
  extensions/default/src/DicomLocalDataSource/index.js
  extensions/default/src/DicomWebDataSource/utils/sortStudy.js
Due: none

fix various unit tests
  platform/core/src/index.test.js
  platform/core/src/utils/index.test.js
Due: core

bump cs3d versions
  extensions/cornerstone-3d/package.json
  extensions/cornerstone-3d/src/init.js
  extensions/cornerstone-dicom-sr/package.json
  extensions/default/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-video/package.json
  extensions/measurement-tracking/package.json
  package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
