Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Use more consistent type/structure for services
  extensions/cornerstone/src/index.tsx
  extensions/cornerstone/src/services/CornerstoneCacheService/CornerstoneCacheService.ts
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/services/SegmentationService/index.js
  extensions/cornerstone/src/services/SyncGroupService/SyncGroupService.ts
  extensions/cornerstone/src/services/SyncGroupService/index.js
  extensions/cornerstone/src/services/ToolGroupService/ToolGroupService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  platform/core/src/extensions/ExtensionManager.ts
  platform/core/src/services/UIModalService/index.js
  platform/core/src/services/UIModalService/index.ts
  platform/core/src/services/UINotificationService/index.js
  platform/core/src/services/UINotificationService/index.ts
  platform/core/src/types/Services.ts
Due: core

One more typed service
  platform/core/src/types/Services.ts
Due: core

Added types for the Cornerstone library
  extensions/cornerstone-dicom-seg/src/index.tsx
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/index.tsx
  extensions/cornerstone/src/types/CornerstoneServices.ts
  extensions/cornerstone/src/types/index.ts
Due: none

Couple more type fixes
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/cornerstone/package.json
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/default/src/CustomizeableContextMenu/index.ts
  platform/core/package.json
  platform/ui/src/types/index.ts
Due: core

feat: Dynamic plugin imports
  platform/viewer/.webpack/writePluginImportsFile.js
  platform/viewer/pluginConfig.json
  platform/viewer/src/appInit.js
  platform/viewer/src/index.js
  platform/viewer/src/routes/Mode/Mode.tsx
  platform/viewer/src/routes/buildModeRoutes.tsx
  platform/viewer/src/routes/checkExtensionDependencies.js
Due: viewer

Remove unused file
  platform/viewer/src/routes/checkExtensionDependencies.js
Due: viewer

Fix basic dev mode
  modes/basic-dev-mode/src/index.js
  platform/viewer/public/config/multiple.js
Due: viewer

fix: Service consistency typing (#3309)
  extensions/cornerstone-dicom-seg/src/index.tsx
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/cornerstone/package.json
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/index.tsx
  extensions/cornerstone/src/services/CornerstoneCacheService/CornerstoneCacheService.ts
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/services/SegmentationService/index.js
  extensions/cornerstone/src/services/SyncGroupService/SyncGroupService.ts
  extensions/cornerstone/src/services/SyncGroupService/index.js
  extensions/cornerstone/src/services/ToolGroupService/ToolGroupService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/cornerstone/src/types/CornerstoneServices.ts
  extensions/cornerstone/src/types/index.ts
  extensions/default/src/CustomizeableContextMenu/index.ts
  platform/core/package.json
  platform/core/src/extensions/ExtensionManager.ts
  platform/core/src/services/UIModalService/index.js
  platform/core/src/services/UIModalService/index.ts
  platform/core/src/services/UINotificationService/index.js
  platform/core/src/services/UINotificationService/index.ts
  platform/core/src/types/Services.ts
  platform/ui/src/types/index.ts
Due: core

PR comment
  platform/core/src/services/HangingProtocolService/custom-attribute/isDisplaySetFromUrl.ts
Due: core

feat: Add a new hanging protocol @ohif/mn
  extensions/cornerstone/src/getHangingProtocolModule.ts
  extensions/default/src/getHangingProtocolModule.js
  extensions/default/src/hpMN.ts
Due: none

Add @ohif/seg example
  extensions/cornerstone-dicom-seg/src/getHangingProtocolModule.ts
  extensions/cornerstone-dicom-seg/src/index.tsx
Due: none

Added an example to cause the PR checks to rerun
  extensions/default/src/hpMNGrid.ts
Due: none

PR comments and a couple more fixes to make things cleaner
  extensions/default/src/commandsModule.ts
  extensions/default/src/getHangingProtocolModule.js
  extensions/default/src/hpMNGrid.ts
  extensions/test-extension/src/custom-context-menu/findingsContextMenu.ts
  extensions/test-extension/src/hp/hpMN.ts
  extensions/test-extension/src/hp/index.ts
  extensions/test-extension/src/index.tsx
  modes/basic-test-mode/src/toolbarButtons.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/core/src/services/HangingProtocolService/custom-attribute/isDisplaySetFromUrl.ts
  platform/core/src/services/HangingProtocolService/custom-attribute/numberOfDisplaySetsWithImages.ts
  platform/core/src/services/HangingProtocolService/custom-attribute/seriesDescriptionsFromDisplaySets.ts
  platform/viewer/cypress/integration/customization/HangingProtocol.spec.js
  platform/viewer/cypress/integration/customization/OHIFDoubleClick.spec.js
  platform/viewer/public/config/e2e.js
Due: core, viewer

Updated input fields to match new color scheme
  platform/ui/src/components/Input/Input.tsx
  platform/ui/src/components/Input/__stories__/input.stories.mdx
  platform/ui/src/components/InputNumber/InputNumber.css
  platform/ui/src/components/InputNumber/InputNumber.tsx
  platform/ui/tailwind.config.js
Due: none

feat: Add a new hanging protocol @ohif/mn (#3305)
  extensions/cornerstone-dicom-seg/src/getHangingProtocolModule.ts
  extensions/cornerstone-dicom-seg/src/index.tsx
  extensions/cornerstone/src/getHangingProtocolModule.ts
  extensions/default/src/commandsModule.ts
  extensions/default/src/getHangingProtocolModule.js
  extensions/default/src/hpMNGrid.ts
  extensions/test-extension/src/custom-context-menu/findingsContextMenu.ts
  extensions/test-extension/src/hp/index.ts
  extensions/test-extension/src/index.tsx
  modes/basic-test-mode/src/toolbarButtons.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/core/src/services/HangingProtocolService/custom-attribute/isDisplaySetFromUrl.ts
  platform/core/src/services/HangingProtocolService/custom-attribute/numberOfDisplaySetsWithImages.ts
  platform/core/src/services/HangingProtocolService/custom-attribute/seriesDescriptionsFromDisplaySets.ts
  platform/viewer/cypress/integration/customization/HangingProtocol.spec.js
  platform/viewer/cypress/integration/customization/OHIFDoubleClick.spec.js
  platform/viewer/public/config/e2e.js
Due: core, viewer

Fix merge issues
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  platform/viewer/package.json
  yarn.lock
Due: viewer

PR fixes plus merge update fixes
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone-dicom-sr/src/utils/createReferencedImageDisplaySet.ts
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  yarn.lock
Due: none

Fix the modes issue that Joe requested
  modes/basic-dev-mode/src/index.js
  platform/viewer/src/appInit.js
  platform/viewer/src/routes/WorkList/WorkList.tsx
Due: viewer

PR comments
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/commandsModule.ts
  platform/core/src/services/MeasurementService/MeasurementService.ts
Due: core

[fix] remove unused icons
  modes/microscopy/public/assets/icons/tool-circle.svg
  modes/microscopy/public/assets/icons/tool-freehand-polygon.svg
  modes/microscopy/public/assets/icons/tool-freehand.svg
  modes/microscopy/public/assets/icons/tool-polygon.svg
Due: none

remove commented out lines from webpack configuration
  .webpack/webpack.base.js
Due: none

platform/viewer/public/config/default.js - revert accidental changes
  platform/viewer/public/config/default.js
Due: viewer

[refactor] redirecting to microscopy mode on Local mode
  platform/viewer/src/routes/Local/Local.tsx
Due: viewer

PR fixes and integration test fix
  platform/core/src/services/DisplaySetService/DisplaySetService.ts
  platform/viewer/cypress/integration/measurement-tracking/OHIFMeasurementPanel.spec.js
Due: core, viewer

attribution to DMV and SLIM viewer
  extensions/dicom-microscopy/README.md
  modes/microscopy/README.md
Due: none

[fix] code review feedbacks
  extensions/dicom-microscopy/src/DicomMicroscopySRSopClassHandler.js
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.tsx
  extensions/dicom-microscopy/src/components/MicroscopyDeleteDialog/MicroscopyDeleteDialog.js
  extensions/dicom-microscopy/src/components/MicroscopyDeleteDialog/MicroscopyDeleteDialog.styl
  extensions/dicom-microscopy/src/components/MicroscopyLabelDialog/MicroscopyLabelDialog.js
  extensions/dicom-microscopy/src/components/MicroscopyLabelDialog/MicroscopyLabelDialog.styl
  extensions/dicom-microscopy/src/components/MicroscopyPanel/MicroscopyPanel.tsx
  extensions/dicom-microscopy/src/getCommandsModule.ts
  extensions/dicom-microscopy/src/getPanelModule.tsx
  extensions/dicom-microscopy/src/index.tsx
  extensions/dicom-microscopy/src/services/MicroscopyService.js
  extensions/dicom-microscopy/src/tools/viewerManager.js
  extensions/dicom-microscopy/src/utils/Publisher.js
  extensions/dicom-microscopy/src/utils/RoiAnnotation.js
  extensions/dicom-microscopy/src/utils/loadSR.js
Due: none

fix thumbnails
  extensions/default/src/Panels/PanelStudyBrowser.tsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.tsx
  platform/core/src/utils/isLowPriorityModality.ts
Due: core

[fix] microscopy - fix old publisher.publish() to PubSubService._broadcastEvent()
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.tsx
  extensions/dicom-microscopy/src/getCommandsModule.ts
  extensions/dicom-microscopy/src/services/MicroscopyService.js
  extensions/dicom-microscopy/src/tools/viewerManager.js
  extensions/dicom-microscopy/src/utils/RoiAnnotation.js
Due: none

Passing an XMLHttpRequest to the dataSource.store.dicom method instead of callbacks and AbortSignal. Cleanup of various UI pieces to minimize code and increase readability.
  extensions/default/src/DicomWebDataSource/index.js
  platform/viewer/src/components/DicomUpload/DicomUpload.tsx
  platform/viewer/src/components/DicomUpload/DicomUploadProgress.tsx
  platform/viewer/src/components/DicomUpload/DicomUploadProgressItem.tsx
  platform/viewer/src/routes/DataSourceWrapper.tsx
  platform/viewer/src/routes/WorkList/WorkList.tsx
  platform/viewer/src/utils/DicomFileUploader.ts
Due: viewer

[fix] interactions, webpack config, roi selection
  extensions/dicom-microscopy/.webpack/webpack.dev.js
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.tsx
  extensions/dicom-microscopy/src/getCommandsModule.ts
  extensions/dicom-microscopy/src/services/MicroscopyService.js
  extensions/dicom-microscopy/src/tools/viewerManager.js
  modes/microscopy/.webpack/webpack.dev.js
  modes/microscopy/src/index.tsx
  modes/microscopy/src/toolbarButtons.js
  platform/viewer/.webpack/webpack.pwa.js
Due: viewer

[feat] microscopy - remove select tool from UI
  modes/microscopy/src/index.tsx
  modes/microscopy/src/toolbarButtons.js
Due: none

microscopy author
  extensions/dicom-microscopy/package.json
  modes/microscopy/package.json
Due: none

[feat] image overlay tool - use toolgroup.setToolEnabled and setToolDisabled to toggle
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/tools/ImageOverlayViewerTool.tsx
Due: none

[fix] saving and loading SR
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.tsx
  extensions/dicom-microscopy/src/components/MicroscopyPanel/MicroscopyPanel.tsx
  extensions/dicom-microscopy/src/services/MicroscopyService.js
  extensions/dicom-microscopy/src/tools/viewerManager.js
  extensions/dicom-microscopy/src/utils/getSourceDisplaySet.js
  extensions/dicom-microscopy/src/utils/loadSR.js
  platform/viewer/.webpack/webpack.pwa.js
Due: viewer

[bugfix] - missing publish() function in MicroscopyService, replace with _broadcastEvent
  extensions/dicom-microscopy/src/services/MicroscopyService.js
Due: none

updated Orthanc from 1.5.7 to 1.11.0
  .docker/Nginx-Orthanc/docker-compose.yml
Due: none

chore(version): updated Orthanc from 1.5.7 to 1.11.0 (#3330)
  .docker/Nginx-Orthanc/docker-compose.yml
Due: none

Made the DicomUpload component a customization module exported by the cornerstone extension.
  extensions/cornerstone/src/components/DicomUpload/DicomUpload.tsx
  extensions/cornerstone/src/components/DicomUpload/DicomUploadProgress.tsx
  extensions/cornerstone/src/components/DicomUpload/DicomUploadProgressItem.tsx
  extensions/cornerstone/src/getCustomizationModule.ts
  extensions/cornerstone/src/index.tsx
  extensions/cornerstone/src/utils/DicomFileUploader.ts
  platform/viewer/public/config/local_dcm4chee.js
  platform/viewer/public/config/local_orthanc.js
  platform/viewer/src/routes/WorkList/WorkList.tsx
  platform/viewer/src/routes/index.tsx
Due: viewer

Exposed a copy of the data source configuration via the IWebApiDataSource interface. Added dicomUploadEnabled to a data source's configuration.
  extensions/default/src/DicomWebDataSource/index.js
  platform/core/src/DataSources/IWebApiDataSource.js
  platform/viewer/public/config/local_dcm4chee.js
  platform/viewer/public/config/local_orthanc.js
  platform/viewer/src/routes/WorkList/WorkList.tsx
Due: core, viewer
