Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

fix: definitions can skip empty storeContexts key
  platform/core/src/classes/CommandsManager.js
Due: core

hoc to set/pass in commandsManager
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/VTKViewport.js
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/index.js
  extensions/vtk/src/withCommandsManager.js
Due: none

test: 💍 Updating tests after bug fix
  platform/viewer/cypress/integration/pwa/OHIFExtensionVTK.spec.js
Due: viewer

test: 💍 Updating tests after bug fix (#1324)
  platform/viewer/cypress/integration/pwa/OHIFExtensionVTK.spec.js
Due: viewer

change expected result count from 18 to 17
  platform/viewer/cypress/integration/common/OHIFStudyList.spec.js
Due: viewer

autoformat
  platform/viewer/cypress/integration/common/OHIFStudyList.spec.js
Due: viewer

Remove duplicate test, that was testing the wrong things; fix label; update configs
  platform/ui/src/components/userPreferencesForm/__docs__/hotkeyDefaults.js
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/netlify.js
Due: viewer

Revert "Remove duplicate test, that was testing the wrong things; fix label; update configs"
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
Due: viewer

Fix the record plugin's registration
  platform/core/src/classes/hotkeys/index.js
Due: core

fix exposed record method usage
  platform/core/src/classes/HotkeysManager.js
Due: core

adding logging for info level items
  platform/core/src/classes/HotkeysManager.js
Due: core

Hotkey definitions don't need to be globally reactive; use localstorage/appconfig as sources of truth; not redux
  platform/core/src/redux/reducers/preferences.js
  platform/viewer/src/App.js
  platform/viewer/src/connectedComponents/ConnectedUserPreferencesForm.js
Due: core, viewer

Tidy up test
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
Due: viewer

Remove unused code from UserPreferencesForm
  platform/ui/src/components/userPreferencesForm/UserPreferencesForm.js
Due: none

Log info when we run a command
  platform/core/src/classes/CommandsManager.js
Due: core

fix hotkey preference restore
  platform/ui/src/components/userPreferencesForm/UserPreferencesForm.js
  platform/viewer/src/App.js
  platform/viewer/src/connectedComponents/ConnectedUserPreferencesForm.js
Due: viewer

use application configured hotkeys if there are no user preferred
  platform/viewer/src/App.js
Due: viewer

Avoid logging circular ref
  platform/core/src/classes/CommandsManager.js
Due: core

E2E test: Percy visua regression improvements
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFExtensionMicroscopy.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFExtensionPDF.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFExtensionVTK.spec.js
Due: viewer

Added more tests and updated CI config.yml
  .circleci/config.yml
  platform/viewer/cypress/integration/common/OHIFCornerstoneHotkeys.spec.js
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/common/OHIFDownloadSnapshotFile.spec.js
  platform/viewer/cypress/integration/common/OHIFStandaloneViewer.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyList.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFCornerstoneHotkeys.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFDownloadSnapshotFile.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFRoutes.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFStudyViewer.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFUserPreferences.spec.js
Due: viewer

Refactyor makeCancelable function to be able to use then and catch on it.
  platform/core/src/utils/makeCancelable.js
Due: core

Updating makeCancelable functions into viewer retrieve data
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: viewer

Refactor on makeCancelable
  platform/core/src/utils/makeCancelable.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: core, viewer

fix for correct read of LazyMode loader setting
  platform/core/src/studies/services/wado/retrieveMetadata.js
Due: core

done pop-up when measurement is completed
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
Due: viewer

Updating viewport and removing tash data
  platform/core/src/redux/reducers/viewports.js
Due: core

Setting default actived buttons
  extensions/cornerstone/src/toolbarModule.js
  extensions/vtk/src/toolbarModule.js
Due: none

Fix default active buttons
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

Small fix on after refactor
  platform/core/src/redux/reducers/viewports.js
Due: core

Refactor on viewport reducer
  platform/core/src/redux/reducers/viewports.js
Due: core

Small fix if viewportSpecificData is undefined
  platform/core/src/redux/reducers/viewports.js
Due: core

Small refactor to add then into the makeCancelable return instead of internally
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: viewer

Small refactor
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: viewer

done dialog for Annotations (+locale_ES support)
  platform/i18n/src/locales/es/AnnotationDialog.json
  platform/i18n/src/locales/es/index.js
  platform/ui/src/components/simpleDialog/SimpleDialog.js
  platform/ui/src/components/simpleDialog/SimpleDialog.styl
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
Due: viewer

fixed a bug that caused the annotations dialog to be displayed with any tool
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
Due: viewer

Refactor on makeCancelable
  platform/core/src/utils/makeCancelable.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: core, viewer

done translations for the annotation dialog
  platform/i18n/src/locales/en-US/AnnotationDialog.json
  platform/i18n/src/locales/en-US/index.js
  platform/i18n/src/locales/es/AnnotationDialog.json
  platform/ui/src/components/simpleDialog/SimpleDialog.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
Due: viewer

done handle EVENTS.MEASUREMENT_COMPLETED
  platform/core/src/measurements/measurementHandlers/handleChildMeasurementCompleted.js
  platform/core/src/measurements/measurementHandlers/handleSingleMeasurementCompleted.js
  platform/core/src/measurements/measurementHandlers/index.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
Due: core, viewer

chore: throw our error if we encounter one (no swallow)
  platform/core/src/studies/services/wado/retrieveMetadataLoader.js
Due: core

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
