Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

chore(github): add new forms for issues and prs styling (#3399)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/pull_request_template.md
  .github/pull_request_template.yml
Due: none

chore(github): styling for issues forms
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: none

chore(github): styling for issues forms (#3401)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: none

chore(github): styling for issues forms
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/---bug-report.md
  .github/ISSUE_TEMPLATE/---feature-request.md
  .github/ISSUE_TEMPLATE/---support-question.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/pull_request_template.md
  .github/stale.yml
Due: none

try to fix netlify
  platform/docs/netlify.toml
  platform/viewer/netlify.toml
Due: viewer

apply review comments
  .github/pull_request_template.md
Due: none

fix(Video): Added fallback checks for DICOM video Added some docs for video, pdf and upload.
  extensions/dicom-video/src/getSopClassHandlerModule.js
  platform/docs/docs/assets/img/uploader.gif
  platform/docs/docs/configuration/dataSources/dicom-web.md
Due: none

apply review comments
  .github/pull_request_template.md
  platform/viewer/netlify.toml
Due: viewer

try to fix netlify
  platform/viewer/netlify.toml
Due: viewer

try to fix netlify
  modes/longitudinal/src/index.js
  platform/viewer/netlify.toml
Due: viewer

rever back netlifyu
  platform/viewer/netlify.toml
Due: viewer

fix(local): should use dicomlocal for localbasic (#3397)
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/---bug-report.md
  .github/ISSUE_TEMPLATE/---feature-request.md
  .github/ISSUE_TEMPLATE/---support-question.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/pull_request_template.md
  .github/stale.yml
  modes/longitudinal/src/index.js
  platform/docs/netlify.toml
  platform/viewer/src/routes/index.tsx
Due: viewer

Added separate headings for DICOM PDF, DICOM Video and DICOM Upload in the docs.
  platform/docs/docs/configuration/dataSources/dicom-web.md
Due: none

fix(thumbnail): it was commented out by mistake
  modes/longitudinal/src/index.js
  platform/core/src/utils/metadataProvider/fetchPaletteColorLookupTableData.js
  platform/docs/docs/configuration/url.md
Due: core

fix(thumbnail): it was commented out by mistake (#3403)
  modes/longitudinal/src/index.js
  platform/core/src/utils/metadataProvider/fetchPaletteColorLookupTableData.js
  platform/docs/docs/configuration/url.md
Due: core

Updated docs for singlepart data source configuration.
  platform/docs/docs/configuration/dataSources/dicom-web.md
Due: none

fix(Video): Added fallback checks for DICOM video (#3402)
  extensions/dicom-video/src/getSopClassHandlerModule.js
  platform/docs/docs/assets/img/uploader.gif
  platform/docs/docs/configuration/dataSources/dicom-web.md
Due: none

fix: Add all extra headers to WADO image loader
  extensions/cornerstone/src/initWADOImageLoader.js
Due: none

fix(headers): Add all extra headers to WADO image loader (#3405)
  extensions/cornerstone/src/initWADOImageLoader.js
Due: none

init commit making TS customizable in OHIF settings
  extensions/cornerstone/src/initWADOImageLoader.js
  platform/viewer/public/config/default.js
Due: viewer

config documentation
  platform/docs/docs/configuration/configurationFiles.md
Due: none

add source of type correspondancies
  extensions/cornerstone/src/initWADOImageLoader.js
Due: none

restaure config
  platform/viewer/public/config/default.js
Due: viewer

fix(Measurement): fixed line dashing of measurements in various scenarios
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
  package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Changes for PR comments.
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
Due: none

fix(Measurement): fixed line dashing of measurements in various scenarios (#3407)
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/measurement-tracking/package.json
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
  package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

fix(command): Added command and hotkey binding for navigate to next and previous display set.
  extensions/default/src/commandsModule.ts
  platform/core/src/defaults/hotkeyBindings.js
Due: core

chore(bump): use cornerstone 3d 1.x
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  package.json
  yarn.lock
Due: none

yarn lock
  yarn.lock
Due: none

chore(bump): use cornerstone 3d 1.x (#3414)
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  package.json
  yarn.lock
Due: none

Centralized the sorting (function) of display sets since at least three areas sort display sets: hanging protocols, study/thumbnail browser and updateViewportDisplaySet command.
  extensions/default/src/commandsModule.ts
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.tsx
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
Due: core

Renamed some methods for clarity.
  extensions/default/src/commandsModule.ts
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
Due: core

Added a progress indicator when switching to a list of more than 1000 rows.
  extensions/default/src/DicomTagBrowser/DicomTagBrowser.tsx
Due: none

Scrolling active thumbnail into view for an updateViewportDisplaySet
  extensions/default/src/commandsModule.ts
Due: none

Added a null check.
  extensions/default/src/commandsModule.ts
Due: none

Added check to minimize thumbnail scrolling.
  extensions/default/src/commandsModule.ts
  platform/ui/src/components/ThumbnailList/ThumbnailList.tsx
Due: none

feat(command): Added command and hotkey binding for navigate to next and previous display set. (#3409)
  extensions/default/src/commandsModule.ts
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.tsx
  platform/core/src/defaults/hotkeyBindings.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/ui/src/components/ThumbnailList/ThumbnailList.tsx
Due: core

fix microscopy viewport's overview panel - zoom marker
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.css
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.tsx
Due: none
