Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

fix: #2964 Update message for segmentation error loading due to orientation tolerance
  extensions/dicom-segmentation/src/index.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: core, viewer

fix: #2964 Update message for segmentation error loading due to orientation tolerance (#2982)
  extensions/dicom-segmentation/src/index.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

remove-unsed-code-from-SR-parsing
  platform/core/src/DICOMSR/SCOORD3D/parseSCOORD3D.js
  platform/core/src/DICOMSR/SCOORD3D/utils/getReferencedImagesList.js
Due: core

docker compose and build update for orthanc-keycloak-recipe
  platform/viewer/.recipes/OpenResty-Orthanc-Keycloak/docker-compose.yml
  platform/viewer/.recipes/OpenResty-Orthanc-Keycloak/dockerfile
Due: viewer

Changed the static wado filter to allow filtering for series before start make requests of the entire metadata
  extensions/default/src/DicomWebDataSource/utils/StaticWadoClient.js
Due: none

fixed first filter to use studyFilterKeys
  extensions/default/src/DicomWebDataSource/utils/StaticWadoClient.js
Due: none

fix: Display series specified by URL query parameters in viewer (#3000)
  extensions/default/src/DicomWebDataSource/utils/StaticWadoClient.js
Due: none

Initial version of typescript support
  .webpack/rules/transpileJavaScript.js
  .webpack/webpack.lantern.base.js
  babel.config.js
  package.json
  yarn.lock
Due: none

Webpack and babel configuration update for typescript
  .webpack/webpack.lantern.base.js
  babel.config.js
  package.json
  yarn.lock
Due: none

update postcss-preset-env
  package.json
  platform/docs/package.json
  yarn.lock
Due: none

remove-unsed-code-from-SR-parsing (#2997)
  platform/core/src/DICOMSR/SCOORD3D/parseSCOORD3D.js
  platform/core/src/DICOMSR/SCOORD3D/utils/getReferencedImagesList.js
Due: core

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Strange bug fix, reorder functions
  platform/ui/src/contextProviders/DialogProvider.jsx
  platform/ui/src/contextProviders/SnackbarProvider.jsx
Due: none

refactor: update lint staged, add stylelint base config.
  package.json
  stylelintrc.json
  yarn.lock
Due: none

fixed import error syntax
  platform/core/src/types/IPubSub.ts
Due: core

fix: wado-rs retrieve metadata doesn't work with .NET servers #2969 (#2970)
  extensions/cornerstone/src/initWADOImageLoader.js
Due: none

fix(viewer): View two or more specified studies (#2815)
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/Panels/PanelStudyBrowser.tsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.tsx
Due: none

fix: revert the quotation inclusion for accept header to be off by default
  extensions/cornerstone/src/initWADOImageLoader.js
Due: none

changed all configs
  extensions/cornerstone/src/initWADOImageLoader.js
  platform/viewer/public/config/aws.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/dicomweb-server.js
  platform/viewer/public/config/dicomweb_relative.js
  platform/viewer/public/config/docker_nginx-orthanc.js
  platform/viewer/public/config/docker_openresty-orthanc-keycloak.js
  platform/viewer/public/config/docker_openresty-orthanc.js
  platform/viewer/public/config/e2e.js
  platform/viewer/public/config/google.js
  platform/viewer/public/config/idc.js
  platform/viewer/public/config/local_dcm4chee.js
  platform/viewer/public/config/local_static.js
  platform/viewer/public/config/netlify.js
  platform/viewer/public/config/public_dicomweb.js
Due: viewer

fix: add the quotation exclusion for accept header for our configs (#3006)
  extensions/cornerstone/src/initWADOImageLoader.js
  platform/viewer/public/config/aws.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/dicomweb-server.js
  platform/viewer/public/config/dicomweb_relative.js
  platform/viewer/public/config/docker_nginx-orthanc.js
  platform/viewer/public/config/docker_openresty-orthanc-keycloak.js
  platform/viewer/public/config/docker_openresty-orthanc.js
  platform/viewer/public/config/e2e.js
  platform/viewer/public/config/google.js
  platform/viewer/public/config/idc.js
  platform/viewer/public/config/local_dcm4chee.js
  platform/viewer/public/config/local_static.js
  platform/viewer/public/config/netlify.js
  platform/viewer/public/config/public_dicomweb.js
Due: viewer

rename logo and button for segmentation
  extensions/tmtv/src/commandsModule.js
  modes/tmtv/src/index.js
  platform/ui/src/assets/svgs/logo-ohif.svg
Due: none

feat: added useCursors, useCPURendering, and maxCacheSize config params
  extensions/cornerstone/src/init.js
Due: none

feat: added useCursors, useCPURendering, and maxCacheSize config params (#2988)
  extensions/cornerstone/src/init.js
Due: none

Module resolve on csv
  babel.config.js
  package.json
  yarn.lock
Due: none

fix: import error syntax (#3002)
  platform/core/src/types/IPubSub.ts
Due: core

feat: add initial sop class handler for SEG
  extensions/cornerstone-dicom-seg/.webpack/webpack.prod.js
  extensions/cornerstone-dicom-seg/LICENSE
  extensions/cornerstone-dicom-seg/README.md
  extensions/cornerstone-dicom-seg/babel.config.js
  extensions/cornerstone-dicom-seg/package.json
  extensions/cornerstone-dicom-seg/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-seg/src/id.js
  extensions/cornerstone-dicom-seg/src/index.tsx
  modes/longitudinal/src/index.js
  platform/viewer/package.json
  platform/viewer/pluginConfig.json
  yarn.lock
Due: viewer

update segmentation service methods
  extensions/cornerstone/src/initSegmentationService.js
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/utils/segmentationServiceMappings/Labelmap.js
  extensions/cornerstone/src/utils/segmentationServiceMappings/segmentationServiceMappingsFactory.js
  extensions/tmtv/src/Panels/PanelROIThresholdSegmentation/PanelROIThresholdSegmentation.tsx
  extensions/tmtv/src/commandsModule.js
Due: none

feat: move segmentation service
  extensions/cornerstone-dicom-seg/.webpack/webpack.dev.js
  extensions/cornerstone-dicom-seg/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.js
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/index.tsx
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/services/SegmentationService/index.js
  extensions/default/src/Panels/PanelStudyBrowser.tsx
  extensions/default/src/getSopClassHandlerModule.js
  extensions/dicom-pdf/src/getSopClassHandlerModule.js
  extensions/tmtv/src/Panels/PanelROIThresholdSegmentation/PanelROIThresholdSegmentation.tsx
  extensions/tmtv/src/Panels/PanelROIThresholdSegmentation/segmentationEditHandler.tsx
  extensions/tmtv/src/commandsModule.js
  modes/longitudinal/src/index.js
  modes/tmtv/src/index.js
  platform/core/src/index.ts
  platform/core/src/services/SegmentationService/SegmentationService.js
  platform/core/src/services/SegmentationService/index.js
  platform/core/src/services/index.js
  platform/viewer/src/appInit.js
  platform/viewer/src/components/ViewportGrid.tsx
Due: core, viewer

fix: various bugs regarding drag and dropping different viewports
  extensions/cornerstone-dicom-seg/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportOverlay.tsx
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/services/ViewportService/CornerstoneCacheService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
Due: none

initial work for SEG hydration
  extensions/cornerstone-dicom-seg/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-seg/src/utils/_hydrateSEG.ts
  extensions/cornerstone-dicom-seg/src/utils/promptHydrateSEG.ts
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/tmtv/src/getHangingProtocolModule.js
Due: none

fix: bugs for thumbnail and hydration
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.tsx
Due: none

fix: viewport data structure
  extensions/cornerstone-dicom-seg/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-seg/src/index.tsx
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportImageScrollbar.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportOrientationMarkers.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportOverlay.tsx
  extensions/cornerstone/src/services/ViewportService/CornerstoneCacheService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/default/src/DicomWebDataSource/index.js
  modes/longitudinal/src/index.js
  platform/viewer/public/config/local_dcm4chee.js
Due: viewer

feat: refactore viewport action bar
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
  platform/ui/src/components/PatientInfo/PatientInfo.tsx
  platform/ui/src/components/PatientInfo/index.js
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.tsx
Due: none

feat: initial design for the segmentation group table
  platform/ui/src/components/SegmentationGroupTable/SegmentItem.tsx
  platform/ui/src/components/SegmentationGroupTable/SegmentationConfig.tsx
  platform/ui/src/components/SegmentationGroupTable/SegmentationGroup.tsx
  platform/ui/src/components/SegmentationGroupTable/SegmentationGroupTable.tsx
  platform/ui/src/components/SegmentationGroupTable/__stories__/segmentationGroupTable.stories.mdx
  platform/ui/src/components/SegmentationGroupTable/index.js
Due: none

feat: Add initial render for the DICOM SEG for each displaySet
  extensions/cornerstone-dicom-seg/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/services/ToolGroupService/ToolGroupService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneCacheService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/default/src/DicomWebDataSource/index.js
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.tsx
Due: none

fix: rendering issues for multiple seg displaysets
  extensions/cornerstone-dicom-seg/src/utils/initSEGToolGroup.ts
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/services/ToolGroupService/ToolGroupService.ts
Due: none

feat: initial separate SEG display in each viewport
  extensions/cornerstone-dicom-seg/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-seg/src/utils/initSEGToolGroup.ts
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
Due: none

update after rebase
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/viewer/src/components/ViewportGrid.tsx
Due: core, viewer

fix: various wrong architectural dependencies between services
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/Viewport/Overlays/CornerstoneOverlays.tsx
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/services/ToolGroupService/ToolGroupService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneCacheService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/cornerstone/src/services/ViewportService/IViewportService.ts
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
