Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.10%
      core:
        flags: core
      viewer:
        flags: viewer
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

fix: 🐛 Code review. Use relative path to require DICOMWeb
  platform/core/src/utils/dicomLoaderService.js
Due: core

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

fix: 🐛 Code review. Fix unit test. Added DicomLoaderService mod
  platform/core/src/utils/index.test.js
Due: core

This should keep things simple.
  extensions/ohif-cornerstone-extension/src/toolbarModule.js
Due: none

Removed extra More button which only had 1 option, thus making 2D MPR more accessible.
  src/connectedComponents/PluginSwitch.js
Due: none

fix: 🐛 Code review. Add 'Seg' on left thumb
  platform/viewer/src/lib/localFileLoaders/dicomFileLoader.js
Due: viewer

feat: hacking away
  extensions/cornerstone/src/ConnectedCornerstoneViewport.js
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/StackManager.js
  platform/ui/src/LayoutChooser/LayoutManager.js
  platform/ui/src/components/studyBrowser/StudyBrowser.js
Due: core

feat: 🎸 VTKjs custom tb component for mip
  extensions/vtk/src/SlabThicknessToolbarComponent.js
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/slab-thickness-toolbar-button.styl
  extensions/vtk/src/toolbarModule.js
  platform/ui/src/elements/form/Range.js
  platform/ui/src/index.js
  platform/ui/src/viewer/ExpandableToolMenu.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

initial attempt to simplify code and ui
  platform/viewer/src/connectedComponents/ConnectedPluginSwitch.js
  platform/viewer/src/connectedComponents/PluginSwitch.js
Due: viewer

UI fix: Collapsed 2dMPR button to main toolbar
  platform/viewer/src/connectedComponents/ConnectedPluginSwitch.js
  platform/viewer/src/connectedComponents/PluginSwitch.js
Due: viewer

Layout manager to viewer
  platform/viewer/src/components/LayoutManager.css
  platform/viewer/src/components/LayoutManager.js
  platform/viewer/src/components/LayoutPanelDropTarget.css
  platform/viewer/src/components/LayoutPanelDropTarget.js
Due: viewer

Use CornerstoneViewport directly (more or less)
  extensions/cornerstone/src/index.js
Due: none

leverage preRegistration hook in cornerstone-viewport
  extensions/cornerstone/src/index.js
  extensions/cornerstone/src/init.js
Due: none

More layout manager clean-up
  platform/core/src/utils/StackManager.js
  platform/ui/src/index.js
  platform/viewer/src/connectedComponents/ConnectedLayoutManager.js
Due: core, viewer

nuke ohifcornerstoneviewport
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
Due: none

move tools init to cornerstone extension
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/initCornerstoneTools.js
  platform/viewer/src/App.js
  platform/viewer/src/connectedComponents/ConnectedToolContextMenu.js
  platform/viewer/src/setupTools.js
Due: viewer

move setupTools to cornerstone extension
  extensions/cornerstone/src/setupTools.js
Due: none

Add missing StackScroll tool
  extensions/cornerstone/src/init.js
  platform/ui/src/index.js
Due: none

fix: 🐛 Set series into active viewport by clicking on thumbnail
  platform/ui/src/components/studyBrowser/ThumbnailEntry.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
Due: viewer

fix: 🐛 Set series into active viewport by clicking on thumbnail
  platform/ui/src/components/studyBrowser/ThumbnailEntry.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

fix: 🐛 Refactor thumbnail click code changes
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

fix: 🐛 We must clear the sopInstanceUid if we don't update it together with the viewportSpecificData, preventing console warning.
  platform/core/src/redux/reducers/viewports.js
Due: core

fix: 🐛 Cleaning up a few more code changes
  platform/core/src/redux/reducers/viewports.js
  platform/ui/src/components/studyBrowser/ThumbnailEntry.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
Due: core, viewer

feat: 🎸 Code review. Missing changes from last commit
  extensions/vtk/src/SlabThicknessToolbarComponent.js
Due: none

feat: 🎸 Code review. Updating some props
  extensions/vtk/src/SlabThicknessToolbarComponent.js
Due: none

push in progress work
  platform/core/src/classes/README.md
  platform/core/src/redux/reducers/viewports.js
  platform/viewer/src/components/ViewportLayout/DefaultViewport.js
  platform/viewer/src/components/ViewportLayout/EmptyViewport.js
  platform/viewer/src/components/ViewportLayout/LayoutPanelDropTarget.css
  platform/viewer/src/components/ViewportLayout/LayoutPanelDropTarget.js
  platform/viewer/src/components/ViewportLayout/ViewportLayout.css
  platform/viewer/src/components/ViewportLayout/ViewportLayout.js
  platform/viewer/src/components/ViewportLayout/index.js
  platform/viewer/src/connectedComponents/ConnectedLayoutButton.js
  platform/viewer/src/connectedComponents/ConnectedViewer.js
  platform/viewer/src/connectedComponents/ConnectedViewportLayout.js
  platform/viewer/src/connectedComponents/Viewer.css
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerMain.css
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: core, viewer

Add modified dockerfile from previous version
  .docker/Viewer-v2.x/default.conf
  .docker/Viewer-v2.x/entrypoint.sh
  .dockerignore
  Dockerfile
Due: none

enable ci
  .circleci/config.yml
  platform/viewer/package.json
Due: viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

OHIF-836 [WIP] Adding support for lazy initialization of study object
  platform/core/src/lib/pubSub.js
  platform/core/src/studies/services/wado/retrieveMetadata.js
  platform/core/src/studies/services/wado/seriesLoadQueue.js
Due: core

[WIP] Adding support for QIDO+WADO study load
  platform/core/src/studies/services/wado/retrieveMetadata.js
Due: core

OHIF-836 [WIP] Fixing issue with display set thumbnails and re-enabling display set sorting
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/ui/src/components/studyBrowser/StudyBrowser.js
Due: core

OHIF-836 [WIP] Adapting view to support lazy loading of series...
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/studies/services/wado/retrieveMetadata.js
  platform/core/src/studies/services/wado/seriesLoadQueue.js
  platform/core/src/utils/updateMetaDataManager.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: core, viewer

OHIF-836 [WIP] Disabling sorting...
  platform/core/src/classes/metadata/StudyMetadata.js
Due: core

OHIF-836 Adding unit tests for pubSub and seriesLoadQueue modules + Fixing pubSub nitification routine to also include topic name
  platform/core/src/__mocks__/dicomweb-client.js
  platform/core/src/lib/pubSub.js
  platform/core/src/lib/pubSub.test.js
  platform/core/src/studies/services/wado/seriesLoadQueue.js
  platform/core/src/studies/services/wado/seriesLoadQueue.test.js
Due: core

OHIF-836 Adding sorting by series number before initializing series load queue
  platform/core/src/studies/services/wado/retrieveMetadata.js
  platform/viewer/public/config/default.js
Due: core, viewer

feat: 🎸 DICOM SR STOW on MeasurementAPI
  platform/viewer/src/lib/DICOMSR/dataExchange.js
  platform/viewer/src/lib/DICOMSR/handleSR.js
  platform/viewer/src/lib/DICOMSR/index.js
  platform/viewer/src/lib/DICOMSR/retrieveDataFromMeasurements.js
  platform/viewer/src/lib/DICOMSR/retrieveDataFromSR.js
  platform/viewer/src/lib/DICOMSR/srUtils.js
Due: viewer

feat: 🎸 Adding the dataExchance from DICOM SR
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

feat: 🎸 Fix some issues and get the retrieve measurements working
  platform/viewer/src/lib/DICOMSR/handleSR.js
  platform/viewer/src/lib/DICOMSR/retrieveDataFromMeasurements.js
  platform/viewer/src/lib/DICOMSR/retrieveDataFromSR.js
  platform/viewer/src/lib/DICOMSR/srUtils.js
Due: viewer

feat: 🎸 Preventing measurement tool helpers to broke because the data is not Number (it comes as string from dcmjs)
  platform/core/src/measurements/tools/angle.js
  platform/core/src/measurements/tools/circleRoi.js
  platform/core/src/measurements/tools/ellipticalRoi.js
  platform/core/src/measurements/tools/freehandMouse.js
  platform/core/src/measurements/tools/length.js
  platform/core/src/measurements/tools/rectangleRoi.js
Due: core
