Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

Adding error if server is not DICOMWeb on retrieve
  platform/core/src/measurements/classes/MeasurementApi.js
  platform/viewer/src/lib/DICOMSR/dataExchange.js
Due: core, viewer

docs: swap out "always red" badge for viewer-dev.ohif.org badge
  README.md
Due: none

chore: don't mark CI/Tooling tasks as stale
  .github/stale.yml
Due: none

refactor: 💡 ServicesManager factory functions vs instances
  docs/latest/services/ui/index.md
  platform/core/src/index.js
  platform/core/src/index.test.js
  platform/core/src/services/ServicesManager.js
  platform/core/src/services/ServicesManager.test.js
  platform/core/src/services/UIContextMenuService/index.js
  platform/core/src/services/UIDialogService/index.js
  platform/core/src/services/UILabellingFlowService/index.js
  platform/core/src/services/UIModalService/index.js
  platform/core/src/services/UINotificationService/index.js
  platform/core/src/services/index.js
  platform/viewer/src/App.js
  yarn.lock
Due: core, viewer

Move snackbar outside of UI component and use UINotificationService
  platform/ui/src/components/measurementTable/MeasurementTable.js
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
  platform/viewer/src/appExtensions/MeasurementsPanel/index.js
Due: viewer

Refactor and JSDocs
  platform/viewer/src/lib/DICOMSR/dataExchange.js
  platform/viewer/src/lib/DICOMSR/handleStructuredReport.js
  platform/viewer/src/lib/DICOMSR/utils/findMostRecentStructuredReport.js
  platform/viewer/src/lib/DICOMSR/utils/getAllDisplaySets.js
Due: viewer

Small fixes on JSDocs (style)
  platform/viewer/src/lib/DICOMSR/dataExchange.js
  platform/viewer/src/lib/DICOMSR/handleStructuredReport.js
  platform/viewer/src/lib/DICOMSR/parseDicomStructuredReport.js
  platform/viewer/src/lib/DICOMSR/parseMeasurementsData.js
  platform/viewer/src/lib/DICOMSR/utils/findInstanceMetadataBySopInstanceUid.js
  platform/viewer/src/lib/DICOMSR/utils/findMostRecentStructuredReport.js
  platform/viewer/src/lib/DICOMSR/utils/getAllDisplaySets.js
  platform/viewer/src/lib/DICOMSR/utils/isToolSupported.js
Due: viewer

fix: 🐛 Checking if the imageIdIndex has changed
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
Due: none

Cleanup LabellingFlow and LabellingManager components
  platform/viewer/src/components/Labelling/LabellingFlow.js
  platform/viewer/src/components/Labelling/LabellingManager.js
Due: viewer

Remove unused import
  platform/ui/src/components/measurementTable/MeasurementTable.js
Due: none

Remove LabellingManager component
  platform/viewer/src/App.js
  platform/viewer/src/components/Labelling/LabellingFlow.css
  platform/viewer/src/components/Labelling/LabellingFlow.js
  platform/viewer/src/components/Labelling/LabellingManager.js
Due: viewer

Refactoring labellingflow to function component
  platform/viewer/src/components/Labelling/LabellingFlow.js
Due: viewer

Cleanup labelling flow
  platform/viewer/src/components/Labelling/LabellingFlow.js
Due: viewer

refactor: 💡 Remove LabellingManager and Clean LabellingFlow
  platform/viewer/src/components/Labelling/LabellingFlow.js
Due: viewer

Remove testing code
  platform/viewer/src/App.js
Due: viewer

Improve JSDocs on MeasurementApi
  platform/core/src/measurements/classes/MeasurementApi.js
Due: core

Remove refactor leftover
  platform/core/src/measurements/classes/MeasurementApi.js
Due: core

Fixes based on PR comments
  extensions/cornerstone/src/CornerstoneViewportDownloadForm.js
  platform/viewer/cypress/integration/common/OHIFDownloadSnapshotFile.spec.js
Due: viewer

Improve JSDocs and propTypes
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

ci: optional visual test step
  .circleci/config.yml
Due: none

refactor: 💡 ServicesManager factory functions vs instances (#1272)
  docs/latest/services/ui/index.md
  platform/core/src/index.js
  platform/core/src/index.test.js
  platform/core/src/services/ServicesManager.js
  platform/core/src/services/ServicesManager.test.js
  platform/core/src/services/UIContextMenuService/index.js
  platform/core/src/services/UIDialogService/index.js
  platform/core/src/services/UILabellingFlowService/index.js
  platform/core/src/services/UIModalService/index.js
  platform/core/src/services/UINotificationService/index.js
  platform/core/src/services/index.js
  platform/viewer/src/App.js
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

cI: Better job name for percy
  .circleci/config.yml
Due: none

ci: make sure we're updating the base branch for comparisons (percy)
  .circleci/config.yml
Due: none

Fix config check in extension init
  extensions/cornerstone/src/init.js
  platform/viewer/public/config/default.js
Due: viewer

feat: 🎸 Expose extension config to modules
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/extensions/ExtensionManager.test.js
  platform/core/src/services/ServicesManager.js
  platform/core/src/services/ServicesManager.test.js
  platform/viewer/src/App.js
Due: core, viewer

JSDocs and small refactors
  platform/ui/src/components/measurementTable/MeasurementTable.js
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
Due: viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

test: remove assignment to window
  extensions/cornerstone/src/CornerstoneViewportDownloadForm.js
Due: none

feat: 🎸 DICOM SR STOW on MeasurementAPI (#954)
  extensions/cornerstone/package.json
  extensions/cornerstone/src/init.js
  extensions/dicom-html/package.json
  extensions/vtk/package.json
  platform/core/src/measurements/classes/MeasurementApi.js
  platform/ui/src/components/measurementTable/MeasurementTable.js
  platform/ui/src/components/measurementTable/MeasurementTable.styl
  platform/ui/src/elements/Icon/getIcon.js
  platform/ui/src/elements/Icon/icons/save-regular.svg
  platform/viewer/package.json
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
  platform/viewer/src/appExtensions/MeasurementsPanel/index.js
  platform/viewer/src/connectedComponents/ConnectedViewer.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
  platform/viewer/src/lib/DICOMSR/dataExchange.js
  platform/viewer/src/lib/DICOMSR/handleStructuredReport.js
  platform/viewer/src/lib/DICOMSR/index.js
  platform/viewer/src/lib/DICOMSR/parseDicomStructuredReport.js
  platform/viewer/src/lib/DICOMSR/parseMeasurementsData.js
  platform/viewer/src/lib/DICOMSR/utils/findInstanceMetadataBySopInstanceUid.js
  platform/viewer/src/lib/DICOMSR/utils/findMostRecentStructuredReport.js
  platform/viewer/src/lib/DICOMSR/utils/getAllDisplaySets.js
  platform/viewer/src/lib/DICOMSR/utils/isToolSupported.js
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

tests: Download Image File Modal (#1219)
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
  platform/ui/src/components/ohifModal/OHIFModal.js
  platform/viewer/cypress/integration/common/OHIFCornerstoneHotkeys.spec.js
  platform/viewer/cypress/integration/common/OHIFDownloadSnapshotFile.spec.js
  platform/viewer/cypress/support/aliases.js
  platform/viewer/cypress/support/commands.js
Due: viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

feat: listen for vtkscrollevent in wrapper component
  extensions/vtk/src/VTKViewport.js
  extensions/vtk/src/commandsModule.js
Due: none

chore: revert to remote JSON file
  platform/viewer/cypress/integration/common/OHIFRoutes.spec.js
Due: viewer

chore: delete PTCTStudy.json file
  platform/viewer/cypress/fixtures/PTCTStudy.json
Due: viewer

fix: translations (#1234)
  platform/i18n/src/locales/en-US/Buttons.json
  platform/i18n/src/locales/es/Buttons.json
  platform/i18n/src/locales/es/Common.json
  platform/i18n/src/locales/pt-BR/Buttons.json
  platform/i18n/src/locales/pt-BR/Common.json
  platform/i18n/src/locales/pt-BR/UserPreferencesModal.json
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/i18n/CHANGELOG.md
  platform/i18n/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

test: PT/CT json, studies, series, frames, metadatas (#1145)
  platform/viewer/cypress/integration/common/OHIFRoutes.spec.js
  platform/viewer/cypress/integration/common/ViewerRouting.spec.js
Due: viewer

Update branch and fix scrolling
  extensions/dicom-pdf/src/DicomPDFViewport.css
  extensions/dicom-pdf/src/DicomPDFViewport.js
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
