Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Automatic consumption of SEG functional.
  extensions/dicom-seg/package.json
  extensions/dicom-seg/src/OHIFDicomSegSopClassHandler.js
  extensions/dicom-seg/src/loadSegmentation.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: core, viewer

Use new modal provider
  platform/ui/src/components/index.js
  platform/ui/src/components/userPreferencesForm/GeneralPreferences.js
  platform/ui/src/components/userPreferencesForm/HotKeysPreferences.js
  platform/ui/src/components/userPreferencesForm/HotKeysPreferences.styl
  platform/ui/src/components/userPreferencesForm/UserPreferences.js
  platform/ui/src/components/userPreferencesForm/UserPreferences.styl
  platform/ui/src/components/userPreferencesForm/UserPreferencesForm.js
  platform/ui/src/components/userPreferencesForm/UserPreferencesForm.styl
  platform/ui/src/components/userPreferencesForm/WindowLevelPreferences.js
  platform/ui/src/components/userPreferencesForm/WindowLevelPreferences.styl
  platform/ui/src/components/userPreferencesForm/__docs__/about.mdx
  platform/ui/src/components/userPreferencesForm/__docs__/generalDefaults.js
  platform/ui/src/components/userPreferencesForm/__docs__/hotkeyDefaults.js
  platform/ui/src/components/userPreferencesForm/__docs__/userPreferences.mdx
  platform/ui/src/components/userPreferencesForm/__docs__/windowLevelDefaults.js
  platform/ui/src/components/userPreferencesForm/hotKeysConfig.js
  platform/ui/src/components/userPreferencesForm/index.js
  platform/ui/src/index.js
  platform/viewer/src/components/Header/Header.js
  platform/viewer/src/connectedComponents/ConnectedHeader.js
  platform/viewer/src/connectedComponents/ConnectedUserPreferencesForm.js
Due: viewer

Fix issues after pulling in master.
  extensions/dicom-seg/src/OHIFDicomSegSopClassHandler.js
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
Due: core

remove unused values
  platform/ui/src/components/studyList/StudyList.js
  platform/viewer/src/studylist/StudyListRoute.js
Due: viewer

fix: search results w/ valid date returning empty
  platform/ui/src/components/studyList/TableSearchFilter.js
Due: none

Fix PR callouts
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: viewer

Rename hotkeyDefinitions in hotkeyspreferences and use array as representation
  platform/core/src/classes/HotkeysManager.js
  platform/core/src/redux/reducers/preferences.js
  platform/ui/src/components/userPreferencesForm/HotKeysPreferences.js
  platform/ui/src/components/userPreferencesForm/UserPreferences.js
  platform/ui/src/components/userPreferencesForm/UserPreferencesForm.js
  platform/ui/src/components/userPreferencesForm/__docs__/userPreferences.mdx
  platform/viewer/src/connectedComponents/ConnectedHeader.js
  platform/viewer/src/connectedComponents/ConnectedUserPreferencesForm.js
Due: core, viewer

Clean up old segmentation handlers.
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/handleSegmentationStorage.js
  extensions/dicom-seg/src/OHIFDicomSegSopClassHandler.js
  extensions/dicom-seg/src/index.js
  extensions/dicom-seg/src/loadSegmentation.js
  extensions/vtk/package.json
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/handleSegmentationStorage.js
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  yarn.lock
Due: core

Merge process from master Part 1/2 Missing files from previous commit
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  yarn.lock
Due: none

feat: 🎸 Code review. Change variable name
  platform/ui/src/components/studyBrowser/ImageThumbnail.js
Due: none

WIP
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/commandsModule.js
  platform/core/package.json
  platform/core/src/classes/ImageSet.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
  platform/core/src/utils/StackManager.js
  platform/core/src/utils/isDisplaySetReconstructable.js
  platform/core/src/utils/reconstructableModalities.js
  yarn.lock
Due: core

WIP
  extensions/vtk/src/OHIFVTKViewport.js
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
Due: core

translations from locize
  platform/i18n/src/locales/en-US/Common.json
  platform/i18n/src/locales/en-US/DatePicker.json
  platform/i18n/src/locales/en-US/index.js
  platform/i18n/src/locales/pt-BR/Common.json
  platform/i18n/src/locales/pt-BR/DatePicker.json
  platform/i18n/src/locales/pt-BR/index.js
  platform/ui/src/components/studyList/CustomDateRangePicker.js
Due: none

chore: fix proptypes declaration
  extensions/vtk/src/OHIFVTKViewport.js
Due: none

fix: seperate helper method to calculate our initial range
  extensions/vtk/src/OHIFVTKViewport.js
Due: none

chore: remove unused import
  extensions/vtk/src/commandsModule.js
Due: none

chore: update studies propType from object to array
  extensions/vtk/src/OHIFVTKViewport.js
Due: none

Poppulate viewport with metadata.
  extensions/vtk/src/OHIFVTKViewport.js
  yarn.lock
Due: none

fix: Add a fallback metadata provider which pulls metadata from WADO-RS cache when WADO-URI is used.
  extensions/cornerstone/package.json
  extensions/cornerstone/src/init.js
  platform/core/src/utils/updateMetaDataManager.js
  platform/viewer/public/config/default.js
  yarn.lock
Due: core, viewer

cleanup
  extensions/cornerstone/src/init.js
  platform/viewer/public/config/default.js
Due: viewer

fix: Fix display issues with incorrect thumbnails. Change ImageThumb to functional component. (#1148)
  platform/ui/src/components/studyBrowser/ImageThumbnail.js
  platform/ui/src/components/studyBrowser/StudyBrowser.js
Due: none

Fix for modalities search result
  platform/viewer/cypress/integration/common/OHIFStudyList.spec.js
Due: viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

fix: Add a fallback metadata provider which pulls metadata from WADO-… (#1158)
  extensions/cornerstone/package.json
  extensions/cornerstone/src/init.js
  platform/core/src/utils/updateMetaDataManager.js
  yarn.lock
Due: core

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

feat: 🎸 Add cancelable promises to cut async methods
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: viewer

Update StudyListRoute.js
  platform/viewer/src/studylist/StudyListRoute.js
Due: viewer

Show hide/segmentation in react-vtkjs-viewport.
  extensions/dicom-seg/src/index.js
  extensions/vtk/package.json
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/commandsModule.js
  platform/core/src/classes/ImageSet.js
  yarn.lock
Due: core

fix: mpr2d vtkjs viewport does not render if range is set to `NaN` values (#1157)
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/commandsModule.js
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Add license scan report and status
  README.md
Due: none

feat: 🎸 Missing changes from previous merge process
  platform/viewer/package.json
Due: viewer

feat: 🎸 Missing changes from previous merge process
  platform/ui/src/components/studyBrowser/ImageThumbnail.js
Due: none

feat: 🎸 useMedia hook to not use one more prop for upd state vl
  platform/ui/src/components/studyList/StudyList.js
  platform/ui/src/components/studyList/TableSearchFilter.js
  platform/ui/src/hooks/useMedia.js
Due: none

fix: 🐛 Update ohif pdf extension to optionally use pdfjs
  extensions/dicom-pdf/package.json
  extensions/dicom-pdf/src/ConnectedOHIFDicomPDFViewer.js
  extensions/dicom-pdf/src/DicomPDFViewport.css
  extensions/dicom-pdf/src/DicomPDFViewport.js
  extensions/dicom-pdf/src/OHIFDicomPDFViewport.js
  extensions/dicom-pdf/src/index.js
  yarn.lock
Due: none

Update study test and remove unused styles
  platform/ui/src/components/userPreferencesForm/UserPreferencesForm.styl
  platform/ui/src/elements/form/DropdownMenu.css
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/src/components/Header/Header.css
  platform/viewer/src/components/Header/Header.js
Due: viewer

feat: 🎸 Update hotkeys and user preferences modal (#1135)
  platform/core/src/classes/HotkeysManager.js
  platform/core/src/redux/reducers/preferences.js
  platform/ui/src/components/index.js
  platform/ui/src/components/userPreferencesForm/GeneralPreferences.js
  platform/ui/src/components/userPreferencesForm/HotKeysPreferences.js
  platform/ui/src/components/userPreferencesForm/HotKeysPreferences.styl
  platform/ui/src/components/userPreferencesForm/UserPreferences.js
  platform/ui/src/components/userPreferencesForm/UserPreferences.styl
  platform/ui/src/components/userPreferencesForm/UserPreferencesForm.js
  platform/ui/src/components/userPreferencesForm/UserPreferencesForm.styl
  platform/ui/src/components/userPreferencesForm/WindowLevelPreferences.js
  platform/ui/src/components/userPreferencesForm/WindowLevelPreferences.styl
  platform/ui/src/components/userPreferencesForm/__docs__/about.mdx
  platform/ui/src/components/userPreferencesForm/__docs__/generalDefaults.js
  platform/ui/src/components/userPreferencesForm/__docs__/hotkeyDefaults.js
  platform/ui/src/components/userPreferencesForm/__docs__/userPreferences.mdx
  platform/ui/src/components/userPreferencesForm/__docs__/windowLevelDefaults.js
  platform/ui/src/components/userPreferencesForm/hotKeysConfig.js
  platform/ui/src/components/userPreferencesForm/index.js
  platform/ui/src/components/userPreferencesModal/UserPreferencesModal.js
  platform/ui/src/index.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/src/components/Header/Header.css
  platform/viewer/src/components/Header/Header.js
  platform/viewer/src/connectedComponents/ConnectedHeader.js
  platform/viewer/src/connectedComponents/ConnectedUserPreferencesForm.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

docs: Add license scan report and status (#1161)
  README.md
Due: none
