Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

chore: Remove react-scripts from package.json
  package.json
  yarn.lock
Due: none

fix: Update vtk and viewport dependencies
  extensions/vtk/package.json
Due: none

ci: Run e2e and script-tag e2e tests on PR and merge
  .circleci/config.yml
  package.json
  platform/viewer/.webpack/commonjs.prod.js
  platform/viewer/cypress/support/script-tag/index.html
  platform/viewer/package.json
  yarn.lock
Due: viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

feat: 🎸 Changes rendering image/thumbnail to use wadors
  platform/core/src/utils/getImageId.js
Due: core

fix: 🐛 Fixes documentation links and references
  docs/latest/advanced/_maintained-extensions-table.md
  docs/latest/advanced/extensions.md
  docs/latest/deployment/index.md
  docs/latest/deployment/recipes/build-for-production.md
  docs/latest/deployment/recipes/nginx--image-archive.md
  docs/latest/deployment/recipes/user-account-control.md
  docs/latest/essentials/configuration.md
  docs/latest/essentials/data-source.md
  docs/latest/frequently-asked-questions.md
Due: none

replaced REACT_APP_CONFIG with APP_CONFIG
  .netlify/build-deploy-preview.sh
  docs/latest/connecting-to-image-archives/google-cloud-healthcare.md
  docs/latest/deployment/recipes/build-for-production.md
  docs/latest/deployment/recipes/nginx--image-archive.md
  docs/latest/deployment/recipes/user-account-control.md
  docs/latest/essentials/configuration.md
  docs/latest/essentials/data-source.md
  platform/viewer/.recipes/Nginx-Dcm4che/docker-compose-dcm4che.yml
  platform/viewer/.recipes/OpenResty-Orthanc-Keycloak/dockerfile
  platform/viewer/.recipes/OpenResty-Orthanc/dockerfile
Due: viewer

docs: duplicate PR-784
  docs/latest/advanced/_maintained-extensions-table.md
  docs/latest/advanced/extensions.md
  docs/latest/deployment/recipes/build-for-production.md
  docs/latest/deployment/recipes/nginx--image-archive.md
  docs/latest/deployment/recipes/user-account-control.md
  docs/latest/essentials/configuration.md
  docs/latest/essentials/data-source.md
  docs/latest/frequently-asked-questions.md
Due: none

added server prop to DicomStorePickerModal
  platform/viewer/src/googleCloud/DicomStorePickerModal.js
  platform/viewer/src/studylist/StudyListWithData.js
Due: viewer

Promise rejection - added `return`
  platform/viewer/src/routes/StandaloneRouting.js
Due: viewer

fix(StandaloneRouting): Promise rejection - added `return` (#791)
  platform/viewer/src/routes/StandaloneRouting.js
Due: viewer

docs: in-progress
  docs/latest/contributing/testing.md
Due: none

Small updates
  docs/latest/contributing/testing.md
Due: none

e2e test guidance
  docs/latest/contributing/testing.md
Due: none

Kent quote
  docs/latest/contributing/testing.md
Due: none

docs: expanding on testing
  docs/latest/contributing/testing.md
Due: none

docs: better pre-amble for testing doc
  docs/latest/contributing/testing.md
Due: none

Testing dorito
  docs/latest/contributing/testing.md
Due: none

Shift to bottom
  docs/latest/contributing/testing.md
Due: none

fix: 🐛 Update for changes in ExpandableToolMenu props
  platform/viewer/src/connectedComponents/PluginSwitch.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Remove some unnecessary script commands
  .circleci/config.yml
  package.json
  platform/viewer/package.json
Due: viewer

Switch to HtmlWebpackPlugin
  .circleci/config.yml
  platform/viewer/.webpack/commonjs.prod.js
  platform/viewer/cypress/support/script-tag/index.html
  platform/viewer/package.json
  yarn.lock
Due: viewer

feat(Download ScreenShot Dialog)
  extensions/cornerstone/src/toolbarModule.js
  platform/ui/src/components/downloadScreenShot/DownloadScreenShot.js
  platform/ui/src/components/downloadScreenShot/DownloadScreenShot.styl
  platform/ui/src/components/downloadScreenShot/__docs__/downloadScreenShot.mdx
  platform/ui/src/components/downloadScreenShot/index.js
  platform/ui/src/components/index.js
  platform/ui/src/index.js
  platform/viewer/src/connectedComponents/ConnectedDownloadScreenShot.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
  yarn.lock
Due: viewer

removed commented server prop example
  platform/viewer/src/studylist/StudyListWithData.js
Due: viewer

removed if block
  platform/viewer/src/googleCloud/DicomStorePickerModal.js
Due: viewer

removed if block only
  platform/viewer/src/googleCloud/DicomStorePickerModal.js
Due: viewer

added mounted hook for server props
  platform/viewer/src/googleCloud/DicomStorePickerModal.js
Due: viewer

removed unnecessary ternary operator
  platform/viewer/src/googleCloud/DicomStorePickerModal.js
Due: viewer

avoided creating new var
  platform/core/src/studies/services/qido/studies.js
Due: core

fix(Studies): Qidosupportsincludefield should be true by default (#801)
  .scripts/dev.sh
  platform/core/src/studies/services/qido/studies.js
Due: core

chore: Add Stale Bot config
  .github/stale.yml
Due: none

chore: Add Stale Bot config (#802)
  .github/stale.yml
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
