Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

fix: for incorrect toolbar state between routes (#2082)
  extensions/cornerstone/src/commandsModule.js
  modes/longitudinal/src/index.js
  platform/viewer/src/routes/Mode/Mode.jsx
Due: viewer

fix: autofocus reject SR dialog input focus to "Yes" button (#2083)
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  platform/ui/src/components/Dialog/Dialog.jsx
  platform/ui/src/components/Dialog/Footer.js
Due: none

fix: temporarily hide/disable capture until it can be repaired (#2084)
  modes/longitudinal/src/index.js
  modes/longitudinal/src/toolbarButtons.js
Due: none

fix: ellipse should use exponent (#2086)
  extensions/cornerstone/src/CornerstoneViewportDownloadForm.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  platform/ui/src/components/MeasurementTable/MeasurementItem.js
  platform/ui/src/components/ViewportDownloadForm/ViewportDownloadForm.jsx
Due: none

fix: bump cornerstone-tools version to update rectangleROI behavior
  platform/viewer/package.json
  yarn.lock
Due: viewer

fix: bump cornerstone-tools version to update rectangleROI behavior (#2090)
  platform/viewer/package.json
  yarn.lock
Due: viewer

fix: support for delete SR aliased measurements
  extensions/cornerstone/src/init.js
Due: none

fix: support for delete SR aliased measurements (#2092)
  extensions/cornerstone/src/init.js
Due: none

IDC-2064 & IDC-2059 add more options to debug extension (#2069)
  extensions/debugging/src/DebugReportModal.css
  extensions/debugging/src/DebugReportModal.js
  extensions/debugging/src/commandsModule.js
  extensions/debugging/src/index.js
  extensions/debugging/src/state.js
  extensions/dicom-rt/src/loadRTStruct.js
  platform/ui/src/elements/Icon/getIcon.js
  platform/ui/src/elements/Icon/icons/clipboard.svg
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/src/index.js
  yarn.lock
Due: viewer

chore(release): publish [skip ci]
  extensions/debugging/CHANGELOG.md
  extensions/debugging/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Update dcmjs version
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Update dcmjs version (#2094)
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Bring in rotatable crosshairs.
  extensions/vtk/package.json
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/toolbarModule.js
  yarn.lock
Due: none

WIP
  extensions/dicom-rt/src/loadRTStruct.js
Due: none

Fix RTSTRUCT import with missing ContourImageSequence
  extensions/dicom-rt/package.json
  extensions/dicom-rt/src/loadRTStruct.js
Due: none

Prediction section add
  extensions/_example/src/index.js
  extensions/dicom-model-prediction/.webpack/webpack.dev.js
  extensions/dicom-model-prediction/.webpack/webpack.prod.js
  extensions/dicom-model-prediction/CHANGELOG.md
  extensions/dicom-model-prediction/LICENSE
  extensions/dicom-model-prediction/README.md
  extensions/dicom-model-prediction/package.json
  extensions/dicom-model-prediction/src/components/AIPredictionTable.js
  extensions/dicom-model-prediction/src/components/AIPredictionTableTable.css
  extensions/dicom-model-prediction/src/components/AISection.js
  extensions/dicom-model-prediction/src/components/Tab.js
  extensions/dicom-model-prediction/src/components/Tabs.js
  extensions/dicom-model-prediction/src/components/state.js
  extensions/dicom-model-prediction/src/index.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/docker_nginx-orthanc.js
  platform/viewer/public/config/local_orthanc.js
  platform/viewer/src/index.js
  yarn.lock
Due: viewer

[IDC-2063] Harden RTSTRUCT import (#2102)
  extensions/dicom-rt/package.json
  extensions/dicom-rt/src/loadRTStruct.js
Due: none

chore(release): publish [skip ci]
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Issues fix with the prediction section
  extensions/dicom-model-prediction/src/components/AIPredictionTable.js
  extensions/dicom-model-prediction/src/components/AIPredictionTableTable.css
  extensions/dicom-model-prediction/src/components/AISection.js
  extensions/dicom-model-prediction/src/components/ResultsSection.js
  extensions/dicom-model-prediction/src/components/state.js
  extensions/dicom-model-prediction/src/index.js
  platform/viewer/src/index.js
Due: viewer

Pull in react-vtkjs-viewport 0.13.1 fix.
  extensions/vtk/package.json
  yarn.lock
Due: none

Show results add
  extensions/dicom-model-prediction/src/components/AISection.js
  extensions/dicom-model-prediction/src/components/ResultsSection.js
  extensions/dicom-model-prediction/src/components/state.js
  platform/viewer/src/index.js
Due: viewer

fix: update DICOMSR and Measurement Panel copy to use L/W
  extensions/dicom-sr/src/tools/DICOMSRDisplayTool.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

fix: update DICOMSR and Measurement Panel copy to use L/W (#2104)
  extensions/dicom-sr/src/tools/DICOMSRDisplayTool.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

Bring in rotatable crosshairs. (#2101)
  extensions/vtk/package.json
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/toolbarModule.js
  yarn.lock
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Throw error if data too large in WebGL 1 enabled browser
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/index.js
Due: none

Result section view changes add
  extensions/dicom-model-prediction/src/components/AIPredictionTableTable.css
  extensions/dicom-model-prediction/src/components/AISection.js
  extensions/dicom-model-prediction/src/components/ResultsSection.js
  extensions/dicom-model-prediction/src/components/state.js
  platform/viewer/src/index.js
Due: viewer

Update RVTKJSV
  extensions/vtk/package.json
  yarn.lock
Due: none

Throw error if data too large in WebGL 1 enabled browser (#2106)
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/index.js
Due: none

fix): Reordered to prevent unitialized var access
  platform/ui/src/contextProviders/DialogProvider.js
  platform/ui/src/contextProviders/ModalProvider.js
  platform/ui/src/contextProviders/SnackbarProvider.js
Due: none

drop down connected with backend and added all models to one api
  extensions/dicom-model-prediction/src/components/AISection.js
  predictionBackend/Prediction.py
Due: none

Result section view changes add
  extensions/dicom-model-prediction/src/components/AISection.js
  extensions/dicom-model-prediction/src/components/Tab.js
Due: none

Code issues fix add
  extensions/dicom-model-prediction/src/components/AISection.js
Due: none

Report modal add
  extensions/dicom-model-prediction/package.json
  extensions/dicom-model-prediction/src/components/AIPredictionTable.js
  extensions/dicom-model-prediction/src/components/AIPredictionTableTable.css
  extensions/dicom-model-prediction/src/components/AISection.js
  extensions/dicom-model-prediction/src/components/DiagnosisReportModal.js
  extensions/dicom-model-prediction/src/components/ResultsSection.js
  extensions/dicom-model-prediction/src/index.js
  extensions/dicom-model-prediction/src/state.js
  platform/viewer/src/index.js
Due: viewer
