Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

Merge fixes
  platform/viewer/pluginConfig.json
  platform/viewer/src/index.js
Due: viewer

Add the ability to publish directory contents
  platform/public/demo.html
  platform/viewer/.webpack/writePluginImportsFile.js
  platform/viewer/pluginConfig.json
Due: viewer

fix: conflicts
  extensions/default/src/commandsModule.ts
  extensions/default/src/getSopClassHandlerModule.js
  platform/ui/src/components/InputRange/__stories__/inputRange.stories.mdx
  platform/viewer/src/routes/Mode/Mode.tsx
  yarn.lock
Due: viewer

add review comments
  extensions/cornerstone/src/services/ToolGroupService/ToolGroupService.ts
  modes/basic-dev-mode/src/index.js
Due: none

PR review changes
  platform/public/demo.html
  platform/viewer/pluginConfig.json
Due: viewer

Include the toggled state in the toggleHangingProtocol
  extensions/default/src/commandsModule.ts
Due: none

feat(custom displayOptions): add custom options to every level of hanging protocols
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/cornerstone/src/utils/colormap/transferFunctionHelpers.js
  extensions/default/src/Panels/getImageSrcFromImageId.js
  extensions/measurement-tracking/package.json
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/getImageSrcFromImageId.js
  extensions/tmtv/src/utils/hpViewports.ts
  modes/tmtv/src/index.js
  platform/core/package.json
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/docs/docs/platform/services/data/HangingProtocolService.md
  platform/viewer/package.json
  platform/viewer/src/components/ViewportGrid.tsx
  yarn.lock
Due: core, viewer

fix tmtv based on new api
  extensions/tmtv/src/utils/hpViewports.ts
Due: none

works
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/index.tsx
  extensions/tmtv/src/init.js
Due: none

move set preset down to cornerstone3d
  extensions/cornerstone/src/getHangingProtocolModule.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
  extensions/cornerstone/src/utils/colormap/applyPreset.js
  extensions/cornerstone/src/utils/colormap/colors.js
  extensions/cornerstone/src/utils/colormap/presets.js
Due: none

fix unit test
  .webpack/webpack.base.js
  modes/tmtv/src/index.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
Due: core

close
  extensions/cornerstone/src/components/DicomUpload/DicomUploadProgress.tsx
Due: none

review1
  .webpack/webpack.base.js
  extensions/cornerstone/src/commandsModule.ts
Due: none

apply review comments
  extensions/default/src/Panels/getImageSrcFromImageId.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/getImageSrcFromImageId.js
  modes/longitudinal/src/index.js
  platform/cli/src/commands/unlinkPackage.js
  platform/cli/templates/mode/src/index.tsx
  platform/cli/templates/mode/src/initToolGroups.js
  platform/cli/templates/mode/src/toolbarButtons.js
Due: none

try to fix test
  extensions/default/src/Panels/getImageSrcFromImageId.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/getImageSrcFromImageId.js
Due: none

deps: bump deps to fix vulnerabilities
  babel.config.js
  extensions/cornerstone-dicom-seg/package.json
  extensions/default/package.json
  jest.config.base.js
  package.json
  platform/cli/templates/extension/dependencies.json
  platform/docs/package.json
  platform/i18n/package.json
  platform/ui/package.json
  platform/viewer/package.json
  yarn.lock
Due: viewer

fix thumbnail in tests
  extensions/default/src/Panels/getImageSrcFromImageId.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/getImageSrcFromImageId.js
Due: none

chore(packages): bump deps to fix vulnerabilities (#3366)
  babel.config.js
  extensions/cornerstone-dicom-seg/package.json
  extensions/default/package.json
  jest.config.base.js
  package.json
  platform/cli/templates/extension/dependencies.json
  platform/docs/package.json
  platform/i18n/package.json
  platform/ui/package.json
  platform/viewer/package.json
  yarn.lock
Due: viewer

fix(cli): better support for external modules and toolGroups in templates (#3364)
  extensions/cornerstone/src/services/ToolGroupService/ToolGroupService.ts
  modes/basic-dev-mode/src/index.js
  modes/longitudinal/src/index.js
  platform/cli/src/commands/linkPackage.js
  platform/cli/src/commands/unlinkPackage.js
  platform/cli/src/commands/utils/private/writePluginConfigFile.js
  platform/cli/src/questions.js
  platform/cli/templates/mode/src/index.tsx
  platform/docs/docs/development/ohif-cli.md
  platform/docs/versioned_docs/version-3.0/platform/themeing.md
  platform/ui/src/components/Thumbnail/Thumbnail.tsx
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/public/config/aws.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/dicomweb-server.js
  platform/viewer/public/config/dicomweb_relative.js
  platform/viewer/public/config/docker_nginx-orthanc.js
  platform/viewer/public/config/docker_openresty-orthanc.js
  platform/viewer/public/config/e2e.js
  platform/viewer/public/config/google.js
  platform/viewer/public/config/local_dcm4chee.js
  platform/viewer/public/config/local_orthanc.js
  platform/viewer/public/config/local_static.js
  platform/viewer/public/config/multiple.js
  platform/viewer/public/config/netlify.js
Due: viewer

feat(App): Loads mode extensions on demand (#3312)
  modes/basic-dev-mode/src/index.js
  platform/public/demo.html
  platform/viewer/.webpack/writePluginImportsFile.js
  platform/viewer/pluginConfig.json
  platform/viewer/public/config/multiple.js
  platform/viewer/src/appInit.js
  platform/viewer/src/index.js
  platform/viewer/src/routes/Mode/Mode.tsx
  platform/viewer/src/routes/WorkList/WorkList.tsx
  platform/viewer/src/routes/buildModeRoutes.tsx
  platform/viewer/src/routes/checkExtensionDependencies.js
Due: viewer

fixes some bugs
  platform/viewer/src/routes/Mode/Mode.tsx
Due: viewer

fix: Lazy load of extensions fix
  platform/viewer/src/routes/Mode/Mode.tsx
Due: viewer

upgrade packages
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  extensions/tmtv/src/utils/hpViewports.ts
  yarn.lock
Due: none

feat(core): updates default config
  extensions/cornerstone/src/utils/dicomLoaderService.js
  extensions/dicom-microscopy/src/utils/dicomWebClient.ts
  platform/viewer/public/config/default.js
  yarn.lock
Due: viewer

fix(Measurements): edit measurement while SEG loaded
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
Due: none

fix: Load of service modules after init
  platform/core/src/extensions/ExtensionManager.ts
  platform/core/src/extensions/MODULE_TYPES.js
  platform/core/src/services/CustomizationService/CustomizationService.ts
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/core/src/services/ServicesManager.ts
  platform/docs/docs/platform/managers/extension.md
  platform/docs/docs/platform/managers/service.md
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/.webpack/writePluginImportsFile.js
Due: core, viewer

make cornerstone default for now
  platform/viewer/pluginConfig.json
Due: viewer

fix(Measurements): edit measurement while SEG loaded (#3375)
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
Due: none

fix(dynamic load): make sure required extensions are loaded (#3377)
  platform/viewer/pluginConfig.json
  platform/viewer/src/routes/Mode/Mode.tsx
Due: viewer

fix: multiframe
  extensions/cornerstone/src/index.tsx
  extensions/default/src/DicomLocalDataSource/index.js
  extensions/default/src/Panels/getImageSrcFromImageId.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/getImageSrcFromImageId.js
  platform/core/src/classes/MetadataProvider.js
Due: core

fix the unnecessary use of prior since some servers dont like it
  extensions/default/src/Panels/PanelStudyBrowser.tsx
  extensions/default/src/Panels/WrappedPanelStudyBrowser.tsx
  extensions/default/src/Panels/getStudiesForPatientByMRN.js
  extensions/default/src/Panels/getStudiesForPatientByStudyInstanceUID.js
  extensions/default/src/index.ts
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.tsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/index.tsx
  extensions/tmtv/src/utils/getStudiesForPatientByStudyInstanceUID.js
Due: none

feat(core): updates default config
  extensions/cornerstone/src/utils/dicomLoaderService.js
  extensions/dicom-microscopy/src/utils/dicomWebClient.ts
  platform/viewer/public/config/default.js
  platform/viewer/public/config/google.js
  platform/viewer/public/init-service-worker.js
  platform/viewer/public/workbox-window.prod.mjs
  platform/viewer/src/service-worker.js
Due: viewer

feat(core): updates default config
  extensions/default/src/DicomWebDataSource/index.js
  platform/viewer/public/init-service-worker.js
Due: viewer

Added DOC (PDF) and OT (for video in particular) to list of non-image thumbnail modalities.
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.tsx
Due: none

update packages
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

apply review comments
  modes/tmtv/src/index.js
  platform/docs/docs/platform/extensions/modules/hpModule.md
Due: none

fix(service-worker): fixes service worker issue in init-service-worker.js
  platform/viewer/public/init-service-worker.js
Due: viewer

feat(core): updates default config
  extensions/default/src/DicomWebDataSource/index.js
  platform/viewer/src/utils/OpenIdConnectRoutes.tsx
Due: viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
