Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

Use ohif log instead of console
  extensions/dicom-seg/src/components/SegmentationPanel/SegmentationPanel.js
Due: none

Remove specific style from side panel
  extensions/dicom-seg/src/components/SegmentationSettings/SegmentationSettings.css
  extensions/dicom-seg/src/components/SegmentationSettings/SegmentationSettings.js
  platform/viewer/src/components/SidePanel.css
Due: viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

fix: 💡 Update log to warn (#1454)
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/MeasurementService/MeasurementService.test.js
Due: core

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Fix default props for brush radius
  extensions/dicom-seg/src/components/BrushRadius/BrushRadius.js
Due: none

Update jump to image command name
  extensions/cornerstone/src/commandsModule.js
  extensions/lesion-tracker/src/index.js
Due: none

Wip cr updates
  extensions/cornerstone/src/init.js
  platform/core/src/services/MeasurementService/MeasurementService.js
Due: core

Descructure configuration props from settings component to avoid invalid props
  extensions/dicom-seg/src/components/SegmentationSettings/SegmentationSettings.js
Due: none

Update proptypes to be required (settings)
  extensions/dicom-seg/src/components/SegmentationSettings/SegmentationSettings.js
Due: none

Update readme
  extensions/dicom-seg/README.md
Due: none

Remove commandsmodule
  extensions/dicom-seg/src/commandsModule.js
  extensions/dicom-seg/src/index.js
Due: none

Including UIModalService on dicomStorePicker
  platform/viewer/src/googleCloud/DicomStorePickerModal.js
Due: viewer

Get configuration module inside the component
  extensions/dicom-seg/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-seg/src/components/SegmentationSettings/SegmentationSettings.js
Due: none

Cleanup
  platform/viewer/src/googleCloud/DicomStorePickerModal.js
Due: viewer

Set selected segment
  extensions/dicom-seg/src/components/SegmentationPanel/SegmentationPanel.js
Due: none

Remove unecessary divs
  platform/viewer/src/googleCloud/DatasetSelector.js
Due: viewer

Remove props not used
  platform/viewer/src/googleCloud/DatasetSelector.js
Due: viewer

Fixing callouts
  extensions/lesion-tracker/src/LTStudyBrowser/LTStudyBrowser.js
  extensions/lesion-tracker/src/LTStudyBrowser/utils.js
Due: none

Fixed click on active tab
  extensions/lesion-tracker/src/LTStudyBrowser/LTStudyBrowser.js
Due: none

Change naming for routeTemplatesModule
  platform/core/src/extensions/ExtensionManager.test.js
  platform/core/src/extensions/MODULE_TYPES.js
  platform/viewer/src/App.js
  platform/viewer/src/appExtensions/GenericRouteTemplatesModule/index.js
  platform/viewer/src/appExtensions/GenericRouteTemplatesModule/routeTemplatesModule.js
  platform/viewer/src/appExtensions/GenericRoutesTemplateModule/index.js
  platform/viewer/src/appExtensions/index.js
  platform/viewer/src/routes/routesUtil.js
Due: core, viewer

Change object properties key: template=>name, component=>template
  platform/core/src/utils/routeValidation/pathValidation.js
  platform/core/src/utils/routeValidation/pathValidation.test.js
  platform/core/src/utils/routeValidation/routeValidation.js
  platform/viewer/public/config/default.js
  platform/viewer/src/appExtensions/GenericRouteTemplatesModule/routeTemplatesModule.js
  platform/viewer/src/routes/routesUtil.js
Due: core, viewer

Rename extension and use modality to filter
  extensions/dicom-seg/src/id.js
  extensions/dicom-segmentation/.webpack/webpack.dev.js
  extensions/dicom-segmentation/.webpack/webpack.prod.js
  extensions/dicom-segmentation/LICENSE
  extensions/dicom-segmentation/README.md
  extensions/dicom-segmentation/package.json
  extensions/dicom-segmentation/src/OHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/components/BrushColorSelector/BrushColorSelector.css
  extensions/dicom-segmentation/src/components/BrushColorSelector/BrushColorSelector.js
  extensions/dicom-segmentation/src/components/BrushRadius/BrushRadius.css
  extensions/dicom-segmentation/src/components/BrushRadius/BrushRadius.js
  extensions/dicom-segmentation/src/components/SegmentItem/SegmentItem.css
  extensions/dicom-segmentation/src/components/SegmentItem/SegmentItem.js
  extensions/dicom-segmentation/src/components/SegmentationItem/SegmentationItem.css
  extensions/dicom-segmentation/src/components/SegmentationItem/SegmentationItem.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.css
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/components/SegmentationSelect.js
  extensions/dicom-segmentation/src/components/SegmentationSettings/SegmentationSettings.css
  extensions/dicom-segmentation/src/components/SegmentationSettings/SegmentationSettings.js
  extensions/dicom-segmentation/src/components/index.js
  extensions/dicom-segmentation/src/index.js
  extensions/dicom-segmentation/src/init.js
  extensions/dicom-segmentation/src/loadSegmentation.js
  extensions/dicom-segmentation/src/panelModule.js
  extensions/dicom-segmentation/src/toolbarModule.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/viewer/package.json
  platform/viewer/src/index.js
  yarn.lock
Due: core, viewer

Code review set methods to private at routesUtil file scope
  platform/viewer/src/routes/routesUtil.js
Due: viewer

fix: Remove Eraser and ROI Window
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/toolbarModule.js
  platform/ui/src/elements/Icon/getIcon.js
Due: none

Remove E2E test for Eraser tool
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
Due: viewer

Header to set study list to /. This will be based to router basename
  platform/viewer/src/components/Header/Header.js
  platform/viewer/src/connectedComponents/ConnectedHeader.js
  platform/viewer/src/routes/routesUtil.js
Due: viewer

chore: updated autofix settings
  .vscode/settings.json
Due: none

chore: remove dead code
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

chore: further identify study schema/props
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

chore: sketch out beginnings of isDisabled method for sidePanel menuOptions
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

Add source blacklist option to subscribers
  extensions/cornerstone/src/init.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/MeasurementService/MeasurementService.test.js
Due: core

chore: set API as studies object
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

docs: update docs to include isDisabled computed
  docs/latest/extensions/modules/panel.md
  extensions/_example/src/index.js
Due: none

chore: note regarding reactivity
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

chore: handle function not set (preserve non-breaking)
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

chore: clarify how props are added
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

chore: specify left side for built-in series button (thumbnails)
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

chore: remove 'from', and push to correct key
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

Code review. Moved some methods to utils core and added some unit tests
  platform/core/src/utils/index.js
  platform/core/src/utils/index.test.js
  platform/core/src/utils/route/getRoutes.js
  platform/core/src/utils/route/getRoutes.test.js
  platform/core/src/utils/route/getRoutesDefinitions.js
  platform/core/src/utils/route/getRoutesDefinitions.test.js
  platform/core/src/utils/route/index.js
  platform/core/src/utils/route/isTemplateNameEqual.js
  platform/core/src/utils/route/pathValidation.js
  platform/core/src/utils/route/pathValidation.test.js
  platform/core/src/utils/route/routeValidation.js
  platform/core/src/utils/route/routeValidation.test.js
  platform/core/src/utils/route/testData.js
  platform/core/src/utils/routeValidation/index.js
  platform/viewer/src/routes/routesUtil.js
Due: core, viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
