Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

basic style
  platform/docs/gatsby-config.js
  platform/docs/src/components/default-page-layout.js
  platform/docs/src/components/default-page-layout.scss
  platform/docs/src/components/global.scss
  platform/docs/src/components/header.js
  platform/docs/src/components/header.scss
Due: none

footer style
  platform/docs/src/components/default-page-layout.js
  platform/docs/src/components/footer.js
  platform/docs/src/components/footer.scss
  platform/docs/src/components/header.js
  platform/docs/src/pages/index.js
  platform/docs/src/pages/index.mdx
Due: none

Addressed review comments
  platform/viewer/public/config/default.js
Due: viewer

feat: Support for local DICOM drag and drop (#2445)
  extensions/default/src/DicomJSONDataSource/index.js
  extensions/default/src/DicomLocalDataSource/index.js
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/getDataSourcesModule.js
  platform/core/src/DataSources/IWebApiDataSource.js
  platform/core/src/classes/MetadataProvider.js
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/DicomMetadataStore/createStudyMetadata.js
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
  platform/viewer/package.json
  platform/viewer/public/config/default.js
  platform/viewer/public/html-templates/index.html
  platform/viewer/src/components/ViewportGrid.jsx
  platform/viewer/src/routes/Local/Local.jsx
  platform/viewer/src/routes/Local/dicomFileLoader.js
  platform/viewer/src/routes/Local/fileLoader.js
  platform/viewer/src/routes/Local/fileLoaderService.js
  platform/viewer/src/routes/Local/filesToStudies.js
  platform/viewer/src/routes/Local/index.js
  platform/viewer/src/routes/Local/pdfFileLoader.js
  platform/viewer/src/routes/Mode/Mode.jsx
  platform/viewer/src/routes/index.js
  yarn.lock
Due: core, viewer

Added translation for various react components
  platform/i18n/src/locales/index.js
  platform/i18n/src/locales/test-LNG/AboutModal.json
  platform/i18n/src/locales/test-LNG/Buttons.json
  platform/i18n/src/locales/test-LNG/CineDialog.json
  platform/i18n/src/locales/test-LNG/Common.json
  platform/i18n/src/locales/test-LNG/DatePicker.json
  platform/i18n/src/locales/test-LNG/Header.json
  platform/i18n/src/locales/test-LNG/MeasurementTable.json
  platform/i18n/src/locales/test-LNG/Modes.json
  platform/i18n/src/locales/test-LNG/PatientInfo.json
  platform/i18n/src/locales/test-LNG/SidePanel.json
  platform/i18n/src/locales/test-LNG/StudyBrowser.json
  platform/i18n/src/locales/test-LNG/StudyList.json
  platform/i18n/src/locales/test-LNG/ToolTip.json
  platform/i18n/src/locales/test-LNG/UserPreferencesModal.json
  platform/i18n/src/locales/test-LNG/ViewportDownloadForm.json
  platform/i18n/src/locales/test-LNG/index.js
  platform/i18n/src/utils.js
  platform/ui/src/components/Header/Header.jsx
  platform/ui/src/components/HotkeysPreferences/HotkeysPreferences.jsx
  platform/ui/src/components/InputLabelWrapper/InputLabelWrapper.jsx
  platform/ui/src/components/MeasurementTable/MeasurementTable.jsx
  platform/ui/src/components/SidePanel/SidePanel.jsx
  platform/ui/src/components/SplitButton/SplitButton.jsx
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
  platform/ui/src/components/StudyListExpandedRow/StudyListExpandedRow.js
  platform/ui/src/components/StudyListFilter/StudyListFilter.jsx
  platform/ui/src/components/StudyListPagination/StudyListPagination.js
  platform/ui/src/components/Tooltip/Tooltip.jsx
  platform/ui/src/components/UserPreferences/UserPreferences.jsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

feat: Added translation to capture modal elements
  platform/i18n/src/locales/test-LNG/Modals.json
  platform/i18n/src/locales/test-LNG/index.js
  platform/ui/src/components/ViewportDownloadForm/ViewportDownloadForm.jsx
  platform/ui/src/contextProviders/ModalProvider.jsx
Due: none

wip on i18n for v3
  extensions/default/src/ViewerLayout/index.jsx
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/ActionButtons.jsx
  platform/i18n/src/locales/es/MeasurementTable.json
  platform/i18n/src/locales/pt-BR/MeasurementTable.json
  platform/i18n/src/locales/pt-BR/index.js
  platform/ui/src/components/UserPreferences/UserPreferences.jsx
Due: none

Removed broken test
  platform/core/src/utils/Queue.test.js
Due: core

Added copy for test language to not get overwritten
  platform/i18n/pullTranslations.sh
Due: none

Increased timeout for Queue tests
  platform/core/src/utils/Queue.test.js
Due: core

Added documentations to various extension modules
  docs/latest/SUMMARY.md
  docs/latest/assets/img/panel-module-left-right.png
  docs/latest/assets/img/panel-module-v3.png
  docs/latest/assets/img/panelmodule-icon.png
  docs/latest/assets/img/toolbarModule-layout.png
  docs/latest/assets/img/toolbarModule-nested-buttons.png
  docs/latest/assets/img/toolbarModule-zoom.png
  docs/latest/assets/img/toolbarModule.png
  docs/latest/extensions/_maintained-extensions-table.md
  docs/latest/extensions/_modules.md
  docs/latest/extensions/index.md
  docs/latest/extensions/lifecycle/on-mode-enter.md
  docs/latest/extensions/lifecycle/on-mode-exit.md
  docs/latest/extensions/lifecycle/pre-registration.md
  docs/latest/extensions/modules/commands.md
  docs/latest/extensions/modules/context.md
  docs/latest/extensions/modules/data-source.md
  docs/latest/extensions/modules/layout-template.md
  docs/latest/extensions/modules/panel.md
  docs/latest/extensions/modules/sop-class-handler.md
  docs/latest/extensions/modules/toolbar.md
  docs/latest/extensions/modules/viewport.md
Due: none

Added more documentation to modes
  docs/latest/SUMMARY.md
  docs/latest/assets/img/architecture-diagram.png
  docs/latest/assets/img/dialog-example.gif
  docs/latest/assets/img/extensions-diagram.png
  docs/latest/assets/img/extensions-panel.gif
  docs/latest/assets/img/extensions-toolbar-nested.gif
  docs/latest/assets/img/extensions-toolbar.gif
  docs/latest/assets/img/extensions-viewport.png
  docs/latest/assets/img/homePage.png
  docs/latest/assets/img/lesionTracker.png
  docs/latest/assets/img/modal-example.gif
  docs/latest/assets/img/notification-example.gif
  docs/latest/assets/img/viewer.png
  docs/latest/assets/img/viewportModule-layout.png
  docs/latest/assets/img/viewportModule.png
  docs/latest/assets/img/worklist.png
  docs/latest/extensions/_modules.md
  docs/latest/extensions/index.md
  docs/latest/extensions/lifecycle/on-mode-enter.md
  docs/latest/extensions/modules/commands.md
  docs/latest/extensions/modules/context.md
  docs/latest/extensions/modules/contextModule.md
  docs/latest/extensions/modules/data-source.md
  docs/latest/extensions/modules/hpModule.md
  docs/latest/extensions/modules/layout-template.md
  docs/latest/extensions/modules/viewport.md
  docs/latest/modes/_anatomy.md
  docs/latest/modes/index.md
  docs/latest/modes/lifeCycle.md
  docs/latest/modes/routes.md
  docs/latest/modes/validity.md
Due: none

Added docs to managers
  docs/latest/SUMMARY.md
  docs/latest/assets/img/services-data.png
  docs/latest/assets/img/services-measurements.png
  docs/latest/assets/img/services-ui.png
  docs/latest/assets/img/ui-modal.gif
  docs/latest/extensions/index.md
  docs/latest/extensions/modules/commands.md
  docs/latest/managers/_managers.md
  docs/latest/managers/commands.md
  docs/latest/managers/extension.md
  docs/latest/managers/hotkeys.md
  docs/latest/managers/index.md
  docs/latest/managers/service.md
  docs/latest/modes/routes.md
  docs/latest/services/_services.md
  docs/latest/services/data/DicomMetadataStore.md
  docs/latest/services/data/DisplaySetService.md
  docs/latest/services/data/HangingProtocolService.md
  docs/latest/services/data/MeasurementService.md
  docs/latest/services/data/ToolbarService.md
  docs/latest/services/data/default.md
  docs/latest/services/data/index.md
  docs/latest/services/default/measurements.md
  docs/latest/services/index.md
  docs/latest/services/pubsub.md
  docs/latest/services/ui/ViewportGridService.md
  docs/latest/services/ui/cine.md
  docs/latest/services/ui/index.md
  docs/latest/services/ui/ui-modal-service.md
  docs/latest/services/ui/ui-viewport-dialog-service.md
Due: none

Added white labelling documentation
  docs/latest/assets/img/custom-logo.png
  docs/latest/viewer/configuration.md
  docs/latest/viewer/themeing.md
Due: none

Fixed deployment docs
  docs/latest/SUMMARY.md
  docs/latest/assets/img/netlify-drop.gif
  docs/latest/connecting-to-image-archives/google-cloud-healthcare.md
  docs/latest/deployment/index.md
  docs/latest/deployment/recipes/build-for-production.md
  docs/latest/deployment/recipes/nginx--image-archive.md
  docs/latest/deployment/recipes/static-assets.md
  docs/latest/deployment/recipes/user-account-control.md
  docs/latest/faq/pwa-vs-packaged.md
  docs/latest/viewer/configuration.md
  docs/latest/viewer/index.md
  docs/latest/viewer/internationalization.md
  docs/latest/viewer/themeing.md
Due: none

wip
  docs/latest/SUMMARY.md
  docs/latest/architecture/index.md
  docs/latest/deployment/index.md
  docs/latest/deployment/recipes/build-for-production.md
  docs/latest/deployment/recipes/embedded-viewer.md
  docs/latest/deployment/recipes/nginx--image-archive.md
  docs/latest/services/pubsub.md
Due: none

feat: Added i18n docs and measurement export
  docs/latest/SUMMARY.md
  docs/latest/configuring/data-source.md
  docs/latest/userManuals/viewer/Language/Language.md
  docs/latest/userManuals/viewer/measurementPanel/measurement-panel.md
  docs/latest/viewer/internationalization.md
Due: none

Initial docusaurus commit
  platform/docs/.gitignore
  platform/docs/README.md
  platform/docs/babel.config.js
  platform/docs/blog/2019-05-28-hola.md
  platform/docs/blog/2019-05-29-hello-world.md
  platform/docs/blog/2019-05-30-welcome.md
  platform/docs/docs/intro.md
  platform/docs/docs/tutorial-basics/_category_.json
  platform/docs/docs/tutorial-basics/congratulations.md
  platform/docs/docs/tutorial-basics/create-a-blog-post.md
  platform/docs/docs/tutorial-basics/create-a-document.md
  platform/docs/docs/tutorial-basics/create-a-page.md
  platform/docs/docs/tutorial-basics/deploy-your-site.md
  platform/docs/docs/tutorial-basics/markdown-features.mdx
  platform/docs/docs/tutorial-extras/_category_.json
  platform/docs/docs/tutorial-extras/manage-docs-versions.md
  platform/docs/docs/tutorial-extras/translate-your-site.md
  platform/docs/docusaurus.config.js
  platform/docs/package.json
  platform/docs/sidebars.js
  platform/docs/src/components/HomepageFeatures.js
  platform/docs/src/components/HomepageFeatures.module.css
  platform/docs/src/css/custom.css
  platform/docs/src/pages/index.js
  platform/docs/src/pages/index.module.css
  platform/docs/src/pages/markdown-page.md
  platform/docs/static/.nojekyll
  platform/docs/static/img/docusaurus.png
  platform/docs/static/img/favicon.ico
  platform/docs/static/img/logo.svg
  platform/docs/static/img/tutorial/docsVersionDropdown.png
  platform/docs/static/img/tutorial/localeDropdown.png
  platform/docs/static/img/undraw_docusaurus_mountain.svg
  platform/docs/static/img/undraw_docusaurus_react.svg
  platform/docs/static/img/undraw_docusaurus_tree.svg
Due: none

fix: deployment previews for UI docs and Core docs
  .netlify/build-deploy-preview.sh
  .netlify/www/_redirects
  .netlify/www/index.html
  package.json
  platform/docs/docusaurus.config.js
  platform/ui/package.json
  platform/ui/src/components/SplitButton/SplitButton.mdx
  platform/ui/tailwind.config.js
  yarn.lock
Due: none

fix: broken link in README
  platform/docs/docs/README.md
Due: none

fix: add logo and google tracking code
  platform/docs/docusaurus.config.js
  platform/docs/static/img/logo-ohif.svg
Due: none

chore: Switch to monorepo setup for Netlify deploys
  platform/docs/docs/README.md
  platform/docs/docusaurus.config.js
  platform/docs/netlify.toml
  platform/ui/doczrc.js
  platform/ui/netlify.toml
  platform/ui/package.json
  platform/ui/src/gatsby-theme-docz/tailwind.css
  platform/ui/tailwind.config.js
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/netlify.toml
  platform/viewer/package.json
  platform/viewer/public/config/netlify.js
Due: viewer

fix: Switch Google Cloud API URL to v1
  .docker/Viewer-v2.x/entrypoint.sh
Due: none

feat: Add OpenID Connect support, speed up docker rebuilds
  .webpack/webpack.base.js
  Dockerfile
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/initWADOImageLoader.js
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/Panels/getStudiesForPatientByStudyInstanceUID.js
  extensions/default/src/getContextModule.js
  extensions/default/src/index.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/getStudiesForPatientByStudyInstanceUID.js
  netlify.toml
  platform/core/src/DICOMWeb/getAuthorizationHeader.js
  platform/core/src/classes/MetadataProvider.js
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/index.js
  platform/core/src/services/UserAuthenticationService/UserAuthenticationService.js
  platform/core/src/services/UserAuthenticationService/index.js
  platform/core/src/services/index.js
  platform/ui/index.js
  platform/ui/package.json
  platform/ui/src/contextProviders/UserAuthenticationProvider.js
  platform/ui/src/contextProviders/index.js
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/package.json
  platform/viewer/src/App.jsx
  platform/viewer/src/appInit.js
  platform/viewer/src/config.js
  platform/viewer/src/context/UserManagerContext.js
  platform/viewer/src/routes/CallbackPage.js
  platform/viewer/src/routes/DataSourceWrapper.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
  platform/viewer/src/utils/Authenticator.jsx
  platform/viewer/src/utils/ReduxOIDCClientToUserAuthenticationService.jsx
  platform/viewer/src/utils/getUserManagerForOpenIdConnectClient.js
  platform/viewer/src/utils/getUserManagerForOpenIdConnectClient.test.js
  platform/viewer/src/utils/initWebWorkers.js
  yarn.lock
Due: core, viewer

wip
  .vscode/settings.json
  docs/v2/deployment/recipes/user-account-control.md
  extensions/_example/src/index.js
  extensions/cornerstone/README.md
  extensions/cornerstone/src/initWADOImageLoader.js
  extensions/cornerstone/src/utils/setCornerstoneLayout.js
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/services/UserAuthenticationService/UserAuthenticationService.js
  platform/ui/src/components/Header/Header.jsx
  platform/ui/src/contextProviders/UserAuthenticationProvider.js
  platform/viewer/package.json
  platform/viewer/src/App.jsx
  platform/viewer/src/context/UserManagerContext.js
  platform/viewer/src/routes/CallbackPage.js
  platform/viewer/src/routes/DataSourceWrapper.jsx
  platform/viewer/src/routes/Mode/Compose.js
  platform/viewer/src/routes/buildModeRoutes.js
  platform/viewer/src/routes/index.js
  platform/viewer/src/utils/Authenticator.jsx
  platform/viewer/src/utils/ReduxOIDCClientToUserAuthenticationService.jsx
  platform/viewer/src/utils/getUserManagerForOpenIdConnectClient.js
  platform/viewer/src/utils/getUserManagerForOpenIdConnectClient.test.js
  platform/viewer/src/utils/initWebWorkers.js
  yarn.lock
Due: core, viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
