Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

fix panel width
  platform/ui/src/components/SidePanel/SidePanel.jsx
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
  platform/ui/src/components/StudyItem/StudyItem.jsx
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
  platform/ui/src/components/ThumbnailSR/ThumbnailSR.jsx
  platform/ui/src/views/Viewer/Viewer.mdx
  platform/ui/tailwind.config.js
Due: none

update documentation page
  platform/ui/src/components/MeasurementsPanel/MeasurementsPanel.mdx
Due: none

fix: Update MeasurementTable doc page
  platform/ui/src/components/MeasurementTable/MeasurementTable.mdx
Due: none

feat: MeasurementsPanel API definition + content
  platform/ui/index.js
  platform/ui/src/components/MeasurementTable/MeasurementTable.jsx
  platform/ui/src/components/MeasurementsPanel/MeasurementsPanel.jsx
  platform/ui/src/components/MeasurementsPanel/MeasurementsPanel.mdx
  platform/ui/src/components/MeasurementsPanel/index.js
  platform/ui/src/components/index.js
  platform/ui/src/views/Viewer/Viewer.mdx
  platform/ui/tailwind.config.js
Due: none

Rename thumbnailSR
  platform/ui/index.js
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.mdx
  platform/ui/src/components/ThumbnailNoImage/index.js
  platform/ui/src/components/ThumbnailSR/index.js
  platform/ui/src/components/index.js
Due: none

Include theme min height
  platform/ui/tailwind.config.js
Due: none

Refactor Thumbnail component
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/Thumbnail/Thumbnail.mdx
Due: none

Updating mockData
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
  platform/ui/src/components/StudyBrowser/mockData.js
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/Thumbnail/Thumbnail.mdx
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.jsx
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.mdx
  platform/ui/src/views/Viewer/Viewer.mdx
  platform/ui/src/views/Viewer/studyBrowserMockData.js
Due: none

ThumbnailTracked component
  platform/ui/index.js
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.jsx
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.mdx
  platform/ui/src/components/ThumbnailTracked/index.js
  platform/ui/src/components/index.js
Due: none

Fix propTypes and update tracked series tag
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
  platform/ui/src/components/StudyItem/StudyItem.jsx
Due: none

Update sidePanel to support multiple components
  platform/ui/src/components/SidePanel/SidePanel.jsx
  platform/ui/src/components/SidePanel/SidePanel.mdx
  platform/ui/src/views/Viewer/Viewer.mdx
Due: none

feat: Viewport component and API definition
  platform/ui/index.js
  platform/ui/src/components/Viewport/Viewport.jsx
  platform/ui/src/components/Viewport/Viewport.mdx
  platform/ui/src/components/Viewport/index.js
  platform/ui/src/components/index.js
  platform/ui/src/views/Viewer/Viewer.mdx
Due: none

feat: Viewport API + Documentation Page
  platform/ui/src/components/Viewport/Viewport.jsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.mdx
  platform/ui/src/components/ViewportGrid/ViewportGrid.jsx
  platform/ui/src/views/Viewer/Viewer.mdx
  platform/ui/src/views/Viewer/components/ViewportToolBar.js
Due: none

clean up draft
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

Implement tooltip on remaining paces
  platform/ui/src/components/MeasurementTable/MeasurementTable.jsx
  platform/ui/src/components/SegmentationTable/SegmentationTable.jsx
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.jsx
  platform/ui/src/components/Tooltip/Tooltip.jsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/ui/src/components/ViewportGrid/ViewportGrid.jsx
Due: none

update viewport documentation
  platform/ui/src/components/Viewport/Viewport.mdx
Due: none

fix small defects
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/ui/src/components/ViewportGrid/ViewportGrid.jsx
  platform/ui/tailwind.config.js
Due: none

feat: OHIF-120 - Study List Route Template (#1693)
  platform/ui/index.js
  platform/ui/src/components/StudyListFilter/StudyListFilter.jsx
  platform/ui/src/components/StudyListFilter/StudyListFilter.mdx
  platform/ui/src/components/StudyListFilter/index.js
  platform/ui/src/components/StudyListPagination/StudyListPagination.js
  platform/ui/src/components/index.js
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/StudyList.mdx
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
  platform/viewer/src/routes/index.js
Due: viewer

feat: Notification provider and service (#1703)
  platform/core/src/index.js
  platform/core/src/services/UIViewportDialogService/index.js
  platform/core/src/services/index.js
  platform/ui/index.js
  platform/ui/src/components/Dialog/Dialog.jsx
  platform/ui/src/components/Dialog/index.js
  platform/ui/src/components/index.js
  platform/ui/src/contextProviders/ViewportDialogProvider.jsx
  platform/ui/src/contextProviders/ViewportDialogProvider.mdx
  platform/ui/src/contextProviders/index.js
  platform/ui/src/gatsby-theme-docz/components/Sidebar/index.js
Due: core

feat: OHIF-117 ohif extension default (#1712)
  extensions/default/.webpack/webpack.dev.js
  extensions/default/.webpack/webpack.prod.js
  extensions/default/package.json
  extensions/default/src/getDataSourcesModule.js
  extensions/default/src/index.js
Due: none

export web api interface
  platform/core/src/index.js
Due: core

create dicom web api
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/qido.js
  extensions/default/src/getDataSourcesModule.js
  platform/core/src/DataSources/IWebApiDataSource.js
Due: core

update default appconfig
  platform/viewer/public/config/default.js
Due: viewer

initializing appConfig
  platform/viewer/src/App.js
Due: viewer

create AppConfig context
  platform/viewer/src/contexts/AppContextProvider.jsx
Due: viewer

add blank config for modes in appConfig
  platform/viewer/public/config/default.js
Due: viewer

create module types
  platform/core/src/extensions/MODULE_TYPES.js
Due: core

enable modes to the workspace
  package.json
Due: none

app configuration and App entrypoint update
  platform/core/src/DataSources/IDataSource.js
  platform/viewer/src/App.js
  platform/viewer/src/contexts/AppContextProvider.jsx
  platform/viewer/src/index-lesion-tracker.js
  platform/viewer/src/index.js
Due: core, viewer

add modes
  babel.config.js
  jest.config.js
  lerna.json
Due: none

layout template and side panel defaults
  extensions/default/src/getLayoutTemplatesModule.js
  extensions/default/src/getSidePanelModule.js
  extensions/default/src/index.js
Due: none

init modes folder
  modes/example/.webpack/webpack.dev.js
  modes/example/.webpack/webpack.prod.js
  modes/example/LICENSE
  modes/example/babel.config.js
  modes/example/package.json
  modes/example/src/index.js
Due: none

Stub get context module
  extensions/default/src/getContextModule.js
Due: none

update extension
  platform/core/src/extensions/ExtensionManager.js
Due: core

initialize methods for app configs
  platform/viewer/src/appInit.js
Due: viewer

routes config for Modes
  platform/viewer/src/routes/ModeRoute.js
  platform/viewer/src/routes/SOPClassHandlerManager.js
  platform/viewer/src/routes/buildModeRoutes.js
Due: viewer

export named modules from DICOMWeb utility object
  platform/core/src/DICOMWeb/index.js
Due: core

hook to grab query parameters from react router
  platform/viewer/src/hooks/index.js
  platform/viewer/src/hooks/useQuery.js
Due: viewer
