Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

chore(github): Create config.yml for issues
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Delete ---support-question.md
  .github/ISSUE_TEMPLATE/---support-question.md
Due: none

fix regression not showing warnings list on thumbnail for segmentations
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

chore(github): Create config.yml for issues (#2561)
  .github/ISSUE_TEMPLATE/---support-question.md
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Add FUNDING.yml
  .github/FUNDING.yml
Due: none

Added the static wado client access to OHIF v2
  platform/core/src/studies/services/qido/StaticWadoClient.js
  platform/core/src/studies/services/qido/studies.js
  platform/core/src/studies/services/wado/retrieveMetadataLoaderAsync.js
  platform/viewer/public/config/local_static.js
Due: core, viewer

update dcmjs version
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  platform/viewer/src/connectedComponents/Viewer.js
  yarn.lock
Due: core, viewer

fix: MetadataProvider number from string (#2530)
  platform/core/src/classes/MetadataProvider.js
Due: core

fix regression not showing warnings list on thumbnail for segmentations (#2563)
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  platform/viewer/src/connectedComponents/Viewer.js
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

toolbar button ready
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/components/AITrigger.js
  extensions/cornerstone/src/toolbarModule.js
  platform/viewer/.env
Due: viewer

move config to nl-ohif, get DICOM data from GCP
  platform/viewer/public/config/newlantern.js
  platform/viewer/src/App.jsx
  platform/viewer/src/index_module.js
  platform/viewer/src/routes/Mode/Mode.jsx
  platform/viewer/src/state/accessToken.js
  platform/viewer/src/state/index.js
Due: viewer

NP-26, NP-27
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  extensions/default/src/Toolbar/ToolbarLayoutSelector.jsx
Due: none

fix: Address weird prefetching issues
  extensions/cornerstone/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

bump cornerstoneTools version
  extensions/cornerstone/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

remove debugger
  platform/core/src/classes/MetadataProvider.js
Due: core

try to debug frozen drag drop
  extensions/cornerstone/src/initCornerstoneTools.js
Due: none

wip fixing study prefetcher onNewImage stuff
  extensions/cornerstone/package.json
  extensions/cornerstone/src/ConnectedCornerstoneViewport.js
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/index.js
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/core/src/classes/StudyLoadingListener.js
  platform/core/src/classes/StudyPrefetcher.js
  platform/ui/src/components/studyBrowser/Thumbnail.js
  platform/viewer/package.json
  platform/viewer/src/components/StudyPrefetcher.js
  platform/viewer/src/connectedComponents/ConnectedStudyPrefetcher.js
  platform/viewer/src/connectedComponents/Viewer.js
  yarn.lock
Due: core, viewer

wip
  extensions/cornerstone/src/index.js
  platform/core/src/classes/StudyPrefetcher.js
  platform/viewer/src/components/StudyPrefetcher.js
Due: core, viewer

switch mapstatetoprops
  platform/viewer/src/connectedComponents/ConnectedStudyPrefetcher.js
Due: viewer

wip
  platform/core/src/classes/StudyLoadingListener.js
Due: core

bump cornerstoneTools version
  platform/core/package.json
  yarn.lock
Due: core

update yarn.lock after rebase
  yarn.lock
Due: none

Update badge number based on active ds
  extensions/dicom-rt/src/index.js
  extensions/dicom-segmentation/src/index.js
Due: none

Concurrent Running version1
  .gitignore
  .vscode/settings.json
  .webpack/rules/cssToJavaScript.lantern.js
  .webpack/webpack.lantern.base.js
  lerna.json
  package.json
  yarn.lock
Due: none

Concurrent Running version
  .webpack/rules/cssToJavaScript.lantern.js
  package.json
  platform/viewer/package.json
  yarn.lock
Due: viewer

fix: Address weird prefetching issues (#2574)
  extensions/cornerstone/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  package.json
  platform/core/package.json
  platform/core/src/classes/MetadataProvider.js
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

feat: Added support for WADO servers built with static hosting (e.g. S3) (#2566)
  platform/core/src/studies/services/qido/StaticWadoClient.js
  platform/core/src/studies/services/qido/studies.js
  platform/core/src/studies/services/wado/retrieveMetadataLoaderAsync.js
  platform/viewer/public/config/local_static.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

disable mode routing, update settings button, remove back button
  extensions/default/src/ViewerLayout/index.jsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  platform/ui/src/components/Header/Header.jsx
  platform/viewer/src/App.jsx
  platform/viewer/src/index_module.js
  platform/viewer/src/routes/Mode/Mode.jsx
  platform/viewer/src/routes/index.js
  platform/viewer/src/state/index.js
  platform/viewer/src/state/studyInstanceUIDs.js
Due: viewer

chore(release): publish [skip ci]
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

NL-42
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptBeginTracking.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptTrackNewStudy.js
Due: none

update layout selector, use default OHIF config
  extensions/default/src/Toolbar/ToolbarLayoutSelector.jsx
  platform/viewer/public/config/default.js
  platform/viewer/public/config/newlantern.js
  platform/viewer/src/index_module.js
Due: viewer

feat(OHIFv2): Added an extension to enable the cobb-angle tool
  extensions/cobb-angle-tool/.webpack/webpack.dev.js
  extensions/cobb-angle-tool/.webpack/webpack.prod.js
  extensions/cobb-angle-tool/CHANGELOG.md
  extensions/cobb-angle-tool/LICENSE
  extensions/cobb-angle-tool/babel.config.js
  extensions/cobb-angle-tool/package.json
  extensions/cobb-angle-tool/src/index.js
  extensions/cobb-angle-tool/src/init.js
  extensions/cobb-angle-tool/src/toolbarModule.js
  platform/viewer/package.json
  platform/viewer/src/index.js
Due: viewer

trigger job parameters complete
  extensions/cornerstone/src/components/AITrigger.js
  extensions/cornerstone/src/toolbarModule.js
  platform/core/src/measurements/measurementHandlers/handleChildMeasurementModified.js
  platform/viewer/src/appExtensions/MeasurementsPanel/index.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/AITriggerComponent.css
  platform/viewer/src/appExtensions/ThetaDetailsPanel/AITriggerComponent.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/JobParameters/JobDetails.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/LayerControls/LayerControls.js
Due: core, viewer

boldened named texts
  platform/viewer/src/appExtensions/ThetaDetailsPanel/JobParameters/JobDetails.js
Due: viewer

remove dummy codes
  extensions/default/src/ViewerLayout/index.jsx
  platform/viewer/src/App.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
  platform/viewer/src/routes/index.js
Due: viewer

v4.1.1
  platform/viewer/package.json
Due: viewer

Update package.json and webpack configuration after merge
  .webpack/webpack.lantern.base.js
  package.json
  platform/viewer/package.json
  yarn.lock
Due: viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
