Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

chore(version): version.json [skip ci]
  commit.txt
  extensions/cornerstone-dicom-rt/package.json
  extensions/cornerstone-dicom-seg/package.json
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-video/package.json
  extensions/measurement-tracking/package.json
  extensions/test-extension/package.json
  extensions/tmtv/package.json
  modes/basic-dev-mode/package.json
  modes/basic-test-mode/package.json
  modes/longitudinal/package.json
  modes/microscopy/package.json
  modes/segmentation/package.json
  modes/tmtv/package.json
  platform/core/package.json
  version.json
  version.txt
Due: core

Add addAccessors utility function to utils and use it in DicomJSONDataSource
  .scripts/dicom-json-generator.js
  extensions/default/src/DicomJSONDataSource/index.js
  platform/core/src/utils/addAccessors.js
  platform/core/src/utils/index.js
  platform/core/src/utils/index.test.js
Due: core

Add new metadata fields to DICOM JSON generator script
  .scripts/dicom-json-generator.js
  platform/docs/docs/configuration/dataSources/dicom-json.md
Due: none

fix(arrow): ArrowAnnotate text key cause validation error (#3771)
  extensions/cornerstone/src/utils/measurementServiceMappings/ArrowAnnotate.ts
Due: none

Remove event listeners on element disabled
  extensions/cornerstone/src/init.tsx
Due: none

fix: security issues
  package.json
  yarn.lock
Due: none

Move event target handlers
  extensions/cornerstone/src/init.tsx
Due: none

Extract functions
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/utils/mergeUtils.js
Due: none

Add documentation
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/utils/mergeResults.ts
  extensions/default/src/DicomWebDataSource/utils/mergeUtils.js
Due: none

fix: high and critical security issues
  platform/docs/package.json
  yarn.lock
Due: none

Update documentation
  extensions/default/src/DicomWebDataSource/utils/clientManager.ts
Due: none

fix(path): upgrade docusaurus for security (#3780)
  platform/docs/package.json
  yarn.lock
Due: none

Rename manager
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/utils/DicomWebClientManager.ts
Due: none

PR feedback
  platform/ui/src/components/AllInOneMenu/BackItem.tsx
  platform/ui/src/components/AllInOneMenu/HeaderItem.tsx
  platform/ui/src/components/AllInOneMenu/Item.tsx
  platform/ui/src/components/AllInOneMenu/ItemPanel.tsx
  platform/ui/src/components/AllInOneMenu/Menu.tsx
  platform/ui/src/components/AllInOneMenu/SubMenu.tsx
  platform/ui/src/components/AllInOneMenu/__stories__/allInOneMenu.stories.mdx
Due: none

PR feedback
  platform/ui/src/components/AllInOneMenu/Menu.tsx
Due: none

Fix DICOM JSON generator and add accessors
  .scripts/dicom-json-generator.js
  platform/core/src/utils/addAccessors.js
  platform/docs/docs/configuration/url.md
Due: core

fix: Overlays aren't shown on undefined origin
  extensions/cornerstone/src/tools/ImageOverlayViewerTool.tsx
  modes/basic-test-mode/src/initToolGroups.ts
  platform/app/public/config/e2e.js
Due: none

feat(dicomJSON): Add Loading Other Display Sets and JSON Metadata Generation script (#3777)
  .scripts/dicom-json-generator.js
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.ts
  extensions/cornerstone/src/utils/dicomLoaderService.js
  extensions/default/src/DicomJSONDataSource/index.js
  platform/core/src/utils/addAccessors.js
  platform/core/src/utils/index.js
  platform/core/src/utils/index.test.js
  platform/docs/docs/configuration/dataSources/dicom-json.md
  platform/docs/docs/configuration/url.md
Due: core

feat(UI): Added new AllInOneMenu and SwitchButton components. (#3774)
  platform/i18n/src/locales/en-US/Common.json
  platform/ui/src/assets/icons/content-next.svg
  platform/ui/src/assets/icons/content-prev.svg
  platform/ui/src/components/AllInOneMenu/BackItem.tsx
  platform/ui/src/components/AllInOneMenu/DividerItem.tsx
  platform/ui/src/components/AllInOneMenu/HeaderItem.tsx
  platform/ui/src/components/AllInOneMenu/Item.tsx
  platform/ui/src/components/AllInOneMenu/ItemPanel.tsx
  platform/ui/src/components/AllInOneMenu/Menu.tsx
  platform/ui/src/components/AllInOneMenu/PanelSelector.tsx
  platform/ui/src/components/AllInOneMenu/SubMenu.tsx
  platform/ui/src/components/AllInOneMenu/__stories__/allInOneMenu.stories.mdx
  platform/ui/src/components/AllInOneMenu/allInOneMenu.css
  platform/ui/src/components/AllInOneMenu/index.js
  platform/ui/src/components/ButtonGroup/ButtonGroup.tsx
  platform/ui/src/components/Icon/getIcon.js
  platform/ui/src/components/SwitchButton/SwitchButton.tsx
  platform/ui/src/components/SwitchButton/__stories__/switchButton.stories.mdx
  platform/ui/src/components/SwitchButton/index.js
  platform/ui/src/components/SwitchButton/switchButton.css
  platform/ui/src/components/index.js
  platform/ui/src/index.js
Due: none

fix(overlay): Overlays aren't shown on undefined origin (#3781)
  extensions/cornerstone/src/tools/ImageOverlayViewerTool.tsx
  modes/basic-test-mode/src/initToolGroups.ts
  platform/app/public/config/e2e.js
Due: none

fix: Metadata provider incompatibility
  platform/core/src/classes/MetadataProvider.ts
Due: core

Update authorization header call
  extensions/default/src/DicomWebDataSource/utils/DicomWebClientManager.ts
Due: none

Updated config
  .webpack/webpack.base.js
  extensions/default/src/getHangingProtocolModule.js
  platform/app/.env
  platform/app/.webpack/webpack.pwa.js
  platform/app/public/config/rofim_public_orthanc.js
  platform/app/public/html-templates/index.html
  platform/i18n/src/locales/fr/Header.json
Due: none

fix: 🐛 Run error handler for failed image requests (#3773)
  extensions/cornerstone/src/init.tsx
Due: none

Disable local route
  platform/viewer/src/routes/routesUtil.js
Due: viewer

add pipeline staff
  .github/workflows/start_pipeline.yaml
  buildspec.yml
Due: none

add .env.rofim.example
  platform/app/.env.rofim.example
Due: none

sed orthanc_domain_name
  buildspec.yml
Due: none
