Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.10%
      core:
        flags: core
      viewer:
        flags: viewer
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

fix: fix rotation with updated version of react-vtkjs-viewport lib
  extensions/vtk/package.json
  extensions/vtk/src/commandsModule.js
  yarn.lock
Due: none

wip
  platform/viewer/src/index.js
Due: viewer

fix(rotate): Use new MPR rotate in react-vtkjs-viewport 0.1.2 (#964)
  extensions/vtk/package.json
  extensions/vtk/src/commandsModule.js
  yarn.lock
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

fix: Temporarily sort SEG files to the end of the display set list as a workaround for several metadata issues
  platform/core/src/classes/metadata/StudyMetadata.js
Due: core

fix: Temporarily sort SEG files to the end of the display set list as a workaround for several metadata issues (#987)
  platform/core/src/classes/metadata/StudyMetadata.js
Due: core

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

OHIF-836 Change approach for loading study metadata from WADO to QIDO+WADO
  platform/core/src/__mocks__/dicomweb-client.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/lib/pubSub.js
  platform/core/src/lib/pubSub.test.js
  platform/core/src/studies/services/wado/retrieveMetadata.js
  platform/core/src/studies/services/wado/seriesLoadQueue.js
  platform/core/src/studies/services/wado/seriesLoadQueue.test.js
  platform/core/src/utils/isLowPriorityModality.js
  platform/core/src/utils/updateMetaDataManager.js
  platform/ui/src/components/studyBrowser/StudyBrowser.js
  platform/viewer/public/config/default.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: core, viewer

OHIF-836 Addressing blockers from review feedback
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/lib/pubSub.js
  platform/core/src/lib/pubSub.test.js
  platform/core/src/studies/services/wado/retrieveMetadata.js
  platform/core/src/studies/services/wado/seriesLoadQueue.js
  platform/core/src/studies/services/wado/seriesLoadQueue.test.js
  platform/core/src/utils/updateMetaDataManager.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: core, viewer

OHIF-836 Enabling Study Lazy Load for Deploy Preview and Demo confi files
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/netlify.js
Due: viewer

feat: 🎸 Add gcloud route to application
  platform/viewer/src/OHIFStandaloneViewer.js
  platform/viewer/src/customHooks/useServer.js
  platform/viewer/src/googleCloud/DicomStorePickerModal.js
  platform/viewer/src/googleCloud/api/GoogleCloudApi.js
  platform/viewer/src/googleCloud/utils/getServers.js
  platform/viewer/src/routes/ViewerRouting.js
Due: viewer

OHIF-836 Making sure the first image loaded is not a segmentation or a presentation state or a KO
  platform/core/src/studies/services/wado/retrieveMetadata.js
  platform/core/src/utils/isLowPriorityModality.js
Due: core

fix ThumbnailEntry alignment
  platform/ui/src/components/studyBrowser/ThumbnailEntry.js
Due: none

move series information to separate row
  platform/ui/src/components/studyBrowser/ThumbnailEntry.js
  platform/ui/src/components/studyBrowser/ThumbnailEntry.styl
Due: none

feat: 🎸 Viewer to consume url query param
  platform/core/src/utils/index.js
  platform/core/src/utils/urlUtil.js
  platform/viewer/src/routes/ViewerRouting.js
Due: core, viewer

Split into a few different vendor files
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/package.json
  platform/viewer/src/App.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: viewer

Test cases implemented: Scroll series, Levels, Pan, Reset, Zoom
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/support/commands.js
Due: viewer

OHIF-836 Adding image thumbnail loading indicator
  platform/ui/src/components/studyBrowser/ImageThumbnail.js
  platform/ui/src/components/studyBrowser/ImageThumbnail.styl
Due: none

feat: Use QIDO + WADO to load series metadata individually rather than the entire study metadata at once (#953)
  platform/core/src/__mocks__/dicomweb-client.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/studies/services/wado/retrieveMetadata.js
  platform/core/src/utils/isLowPriorityModality.js
  platform/core/src/utils/updateMetaDataManager.js
  platform/ui/src/components/studyBrowser/ImageThumbnail.js
  platform/ui/src/components/studyBrowser/ImageThumbnail.styl
  platform/ui/src/components/studyBrowser/StudyBrowser.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/netlify.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: core, viewer

wip
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/package.json
  platform/viewer/src/OHIFStandaloneViewer.js
  yarn.lock
Due: viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

feat: 🎸 Synced Window Leveling
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/utils/vtkViewportSubscriptionManager.js
  yarn.lock
Due: none

Added test cases for tools: Cine, More, Layout, Invert, Rotate, FlipH, FlipV
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/support/commands.js
Due: viewer

Add externals config to webpack bundling configuration of core project
  platform/core/.webpack/webpack.prod.js
Due: core

WIP. Working for images without missing frames.
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/isDisplaySetReconstructable.js
  platform/viewer/src/connectedComponents/ConnectedPluginSwitch.js
  platform/viewer/src/connectedComponents/PluginSwitch.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

fix: Move Series Information to Separate Row (#990)
  platform/ui/src/components/studyBrowser/ThumbnailEntry.js
  platform/ui/src/components/studyBrowser/ThumbnailEntry.styl
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

WIP - Notification Service
  extensions/dicom-html/src/DicomHtmlViewport.js
  platform/viewer/src/App.js
  platform/viewer/src/context/Snackbar.js
  yarn.lock
Due: viewer

fix: CineDialog buttons label
  platform/i18n/src/locales/en-US/CineDialog.json
  platform/i18n/src/locales/es/CineDialog.json
  platform/i18n/src/locales/ja-JP/CineDialog.json
  platform/i18n/src/locales/vi/CineDialog.json
Due: none

Revert "fix: CineDialog buttons label"
  platform/i18n/src/locales/en-US/CineDialog.json
  platform/i18n/src/locales/es/CineDialog.json
  platform/i18n/src/locales/ja-JP/CineDialog.json
  platform/i18n/src/locales/vi/CineDialog.json
Due: none

fix: CineDialog buttons label (#998)
  platform/i18n/src/locales/en-US/CineDialog.json
  platform/i18n/src/locales/es/CineDialog.json
  platform/i18n/src/locales/ja-JP/CineDialog.json
  platform/i18n/src/locales/vi/CineDialog.json
Due: none

chore(release): publish [skip ci]
  platform/i18n/CHANGELOG.md
  platform/i18n/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Fixes made according to comments on PR review
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/support/commands.js
Due: viewer

Fixes for failing scenarios: Layout and Cine
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
Due: viewer

test: Fix for test scripts that were failing in CI (#968)
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/support/commands.js
Due: viewer

feat: Allow a server requestOptions.auth to be a function that returns the Authorization header. (#928)
  platform/core/src/DICOMWeb/getAuthorizationHeader.js
  platform/core/src/DICOMWeb/getAuthorizationHeader.test.js
Due: core
