Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Disable servers cache for all config files
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/dicomweb-server.js
  platform/viewer/public/config/docker_nginx-orthanc.js
  platform/viewer/public/config/docker_openresty-orthanc-keycloak.js
  platform/viewer/public/config/docker_openresty-orthanc.js
  platform/viewer/public/config/google.js
  platform/viewer/public/config/idc.js
  platform/viewer/public/config/local_dcm4chee.js
  platform/viewer/public/config/netlify.js
  platform/viewer/public/config/public_dicomweb.js
Due: viewer

Re #2259: add the warning icon also on the active viewport as an overlay
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/utils/WarningsViewportOverlay.css
  extensions/cornerstone/src/utils/WarningsViewportOverlay.js
  platform/viewer/cypress/integration/common/OHIFCornerstoneHotkeys.spec.js
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
  platform/viewer/cypress/support/aliases.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

chore(release): publish [skip ci]
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Re #2259: highlight series thumbnails border for active series (series in the active viewport)
  extensions/dicom-rt/src/OHIFDicomRTStructSopClassHandler.js
  extensions/dicom-rt/src/getSourceDisplaySet.js
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/ui/src/components/studyBrowser/ImageThumbnail.js
  platform/ui/src/components/studyBrowser/ImageThumbnail.styl
  platform/ui/src/components/studyBrowser/StudyBrowser.js
  platform/ui/src/components/studyBrowser/Thumbnail.js
  platform/ui/src/components/studyBrowser/Thumbnail.styl
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

apply Igor Review
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/components/OHIFCornerstoneViewportOverlay.css
  extensions/cornerstone/src/components/OHIFCornerstoneViewportOverlay.js
  extensions/cornerstone/src/utils/formatStudy.js
  extensions/dicom-rt/src/getSourceDisplaySet.js
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/getSourceDisplaySet.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/isDisplaySetReconstructable.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/ui/src/components/studyBrowser/Thumbnail.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

fix ci tests
  platform/viewer/cypress/integration/common/OHIFCornerstoneHotkeys.spec.js
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
  platform/viewer/cypress/support/aliases.js
Due: viewer

Use object access syntax
  platform/core/src/classes/metadata/StudyMetadata.js
Due: core

Apply Igor review
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
Due: core

Re #2259: UI refinements for warnings (#2397)
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/components/OHIFCornerstoneViewportOverlay.css
  extensions/cornerstone/src/components/OHIFCornerstoneViewportOverlay.js
  extensions/cornerstone/src/utils/formatStudy.js
  extensions/dicom-rt/src/OHIFDicomRTStructSopClassHandler.js
  extensions/dicom-rt/src/getSourceDisplaySet.js
  extensions/dicom-segmentation/src/getSourceDisplaySet.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/isDisplaySetReconstructable.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/ui/src/components/studyBrowser/ImageThumbnail.js
  platform/ui/src/components/studyBrowser/ImageThumbnail.styl
  platform/ui/src/components/studyBrowser/StudyBrowser.js
  platform/ui/src/components/studyBrowser/Thumbnail.js
  platform/ui/src/components/studyBrowser/Thumbnail.styl
  platform/viewer/CHANGELOG.md
  platform/viewer/cypress/integration/common/OHIFCornerstoneHotkeys.spec.js
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
  platform/viewer/cypress/support/aliases.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

fix: 4D sorting style/formatting
  platform/core/src/classes/metadata/StudyMetadata.js
Due: core

fix: set tags on correct object
  platform/core/src/classes/metadata/StudyMetadata.js
Due: core

tst
  .firebaserc
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  firebase.json
Due: none

test
  .circleci/config.yml
Due: none

Update firebase
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

test
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

Update dependency: dcmjs@0.18.8
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  platform/viewer/public/config/default.js
  yarn.lock
Due: core, viewer

Add dicom meta info section to dicom sr html
  extensions/dicom-html/src/DicomHtmlViewport.js
Due: none

Bump dcmjs and fix metadata provider after dcmjs server update
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  platform/core/package.json
  platform/core/src/classes/MetadataProvider.js
  platform/core/src/utils/index.js
  platform/core/src/utils/validNumber.js
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Resolve format issues with slice thickness
  extensions/dicom-sr/src/viewports/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/core/src/classes/MetadataProvider.js
Due: core

Resolve promise logic of dcm4chee reject of srs causing dialog to get stuck when deleting sr
  extensions/default/src/DicomWebDataSource/dcm4cheeReject.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  platform/ui/src/components/Dialog/Dialog.jsx
Due: none

Added drag and drop from local and local data source
  extensions/default/src/DicomJSONDataSource/index.js
  extensions/default/src/DicomLocalDataSource/index.js
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/getDataSourcesModule.js
  platform/core/src/DataSources/IWebApiDataSource.js
  platform/core/src/classes/MetadataProvider.js
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/DicomMetadataStore/createStudyMetadata.js
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
  platform/viewer/package.json
  platform/viewer/public/config/default.js
  platform/viewer/public/html-templates/index.html
  platform/viewer/src/components/ViewportGrid.jsx
  platform/viewer/src/routes/Local/Local.jsx
  platform/viewer/src/routes/Local/dicomFileLoader.js
  platform/viewer/src/routes/Local/fileLoader.js
  platform/viewer/src/routes/Local/fileLoaderService.js
  platform/viewer/src/routes/Local/filesToStudies.js
  platform/viewer/src/routes/Local/index.js
  platform/viewer/src/routes/Local/pdfFileLoader.js
  platform/viewer/src/routes/Mode/Mode.jsx
  platform/viewer/src/routes/index.js
  yarn.lock
Due: core, viewer

fix(dicom-html): Add parsed dicom meta info section (#2419)
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-html/src/DicomHtmlViewport.js
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  platform/viewer/public/config/default.js
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

update dicomweb-client to version 0.8.0
  extensions/debugging/package.json
  extensions/dicom-tag-browser/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

clean back default config
  platform/viewer/public/config/default.js
Due: viewer

clean back default config (#2438)
  platform/viewer/public/config/default.js
Due: viewer

Add check for metadata
  platform/core/src/utils/xhrRetryRequestHook.js
Due: core

Remove metadata check
  platform/core/src/utils/xhrRetryRequestHook.js
Due: core

update dicomweb-client to version 0.8.1
  extensions/debugging/package.json
  extensions/dicom-tag-browser/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Resolve opening connection before previsouly setting headers
  platform/core/src/utils/xhrRetryRequestHook.js
Due: core

Expose retryable option
  platform/core/src/utils/xhrRetryRequestHook.js
Due: core

chore(release): publish [skip ci]
  extensions/debugging/CHANGELOG.md
  extensions/debugging/package.json
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

fix: dicom SR drag and drop from local
  extensions/default/src/DicomLocalDataSource/index.js
Due: none
