Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

fix daterange presets
  platform/ui/src/components/DateRange/DateRange.jsx
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
Due: viewer

Sort for everything except studydate/time
  extensions/default/src/DicomWebDataSource/qido.js
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
Due: viewer

fix duplicate name/key render warning
  platform/ui/src/components/StudyListTable/StudyListTableRow.js
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
Due: viewer

Round trip mrn filtering
  extensions/default/src/DicomWebDataSource/qido.js
  platform/viewer/src/routes/DataSourceWrapper.jsx
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
Due: viewer

persist and set paging clientside
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
Due: viewer

basic sorting
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
Due: viewer

fix studyDate sort and display
  extensions/default/src/DicomWebDataSource/qido.js
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
Due: viewer

Wire up beginnings of series search
  extensions/default/src/DicomWebDataSource/index.js
Due: none

seriesInStudy method
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/qido.js
Due: none

Use dataSource to query for, and wire up, series data
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
Due: viewer

Shift exampleInstances to a separate file
  extensions/default/src/DicomWebDataSource/exampleInstances.js
  extensions/default/src/DicomWebDataSource/index.js
Due: none

export studyListTableRow from @ohif/ui
  platform/ui/index.js
  platform/ui/src/components/StudyListTable/StudyListTable.js
  platform/ui/src/components/StudyListTable/index.js
  platform/ui/src/components/index.js
Due: none

Default to truncating overflow text in series table
  platform/ui/src/components/StudyListExpandedRow/StudyListExpandedRow.js
Due: none

Pass DataSource as prop to LayoutTemplate
  platform/viewer/src/routes/DataSourceWrapper.jsx
Due: viewer

filtersMeta to its own file
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
  platform/viewer/src/routes/StudyListContainer/filtersMeta.js
Due: viewer

Push sortedStudies up higher so we can find the right index
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
Due: viewer

Remove unused filtersMeta
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
Due: viewer

Bind series data
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
Due: viewer

Pass through for setting filter values so we can reset appropriate related fields when it changes
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
Due: viewer

Hook to query for series data
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
Due: viewer

Build WADO logic to fetch + build displaysets + generate imageIds based on prefs.
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/utils/getImageId.js
  extensions/default/src/DicomWebDataSource/utils/getWADORSImageId.js
  platform/core/src/DataSources/IWebApiDataSource.js
  platform/core/src/displaySetManager.js
  platform/viewer/src/routes/ModeRoute.js
Due: core, viewer

WIP
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/retrieveStudyMetadata.js
  extensions/default/src/DicomWebDataSource/wado/retrieveMetadata.js
  extensions/default/src/DicomWebDataSource/wado/retrieveMetadataLoader.js
  extensions/default/src/DicomWebDataSource/wado/retrieveMetadataLoaderAsync.js
  extensions/default/src/DicomWebDataSource/wado/retrieveMetadataLoaderSync.js
  extensions/default/src/DicomWebDataSource/wado/utils/getSeriesInfo.js
  platform/core/src/displaySetManager.js
Due: core

WIP
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/init.js
  modes/example/src/index.js
  platform/core/src/extensions/ExtensionManager.js
  platform/viewer/public/config/default.js
  platform/viewer/src/appInit.js
  platform/viewer/src/index.js
Due: core, viewer

Update extension manager to ingest each module type. Add toolbar Manager.
  extensions/cornerstone/src/index.js
  extensions/cornerstone/src/init.js
  extensions/default/src/DicomWebDataSource/index.js
  modes/example/src/index.js
  platform/core/src/ToolBarManager.js
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/index.js
  platform/viewer/src/appInit.js
  platform/viewer/src/routes/ModeRoute.js
Due: core, viewer

Add layout tools based on mode.
  extensions/cornerstone/src/toolbarModule.js
  extensions/default/src/getLayoutTemplateModule.js
  modes/example/src/index.js
  platform/core/src/ToolBarManager.js
Due: core

Add toolbar layout to context.
  extensions/default/src/getLayoutTemplateModule.js
  modes/example/src/index.js
  platform/core/src/ToolBarManager.js
  platform/viewer/src/routes/ModeRoute.js
  platform/viewer/src/routes/ViewModelContext.js
Due: core, viewer

Added other required definitions.
  extensions/cornerstone/src/toolbarModule.js
  extensions/default/src/getLayoutTemplateModule.js
  extensions/default/src/getToolbarModule.js
  extensions/default/src/index.js
  modes/example/src/index.js
Due: none

Rebase WADO + toolbar + displayset stuff on master
  extensions/default/src/DicomWebDataSource/index.js
Due: none

Remove all the debugging.
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/getLayoutTemplateModule.js
  modes/example/src/index.js
  platform/core/src/ToolBarManager.js
  platform/core/src/extensions/ExtensionManager.js
  platform/viewer/src/routes/ModeRoute.js
Due: core, viewer

something WIP
  extensions/default/src/DicomWebDataSource/wado/studyInstanceHelpers.js
  extensions/default/src/getContextModule.js
  extensions/default/src/getLayoutTemplateModule.js
  extensions/default/src/getPanelModule.js
  modes/example/src/index.js
  platform/core/src/ToolBarManager.js
  platform/core/src/ViewModelContext.js
  platform/core/src/index.js
  platform/viewer/src/routes/ModeRoute.js
  platform/viewer/src/routes/buildModeRoutes.js
Due: core, viewer

Start adding StudyBrowser
  extensions/default/src/getPanelModule.js
  extensions/default/src/getSopClassHandlerModule.js
  platform/core/src/displaySetManager.js
Due: core

Fixes for display sets, prep for tracking / grid stuff
  extensions/default/src/getPanelModule.js
  extensions/default/src/getSopClassHandlerModule.js
Due: none

add react-dnd
  platform/ui/package.json
  yarn.lock
Due: none

Push grid, pane, and provider
  platform/core/src/services/ViewportGridService/index.js
  platform/viewer/src/components/ViewportGrid.jsx
  platform/viewer/src/components/ViewportPane.jsx
  platform/viewer/src/contexts/ViewportGridProvider.js
Due: core, viewer

Create and use ViewportGrid component
  platform/viewer/src/components/ViewportGrid.jsx
  platform/viewer/src/components/ViewportPane.jsx
  platform/viewer/src/components/getViewportsModule.js
  platform/viewer/src/routes/ModeRoute.js
Due: viewer

Split ViewportLayout into parts and clean-up
  extensions/default/src/ViewerLayout/Header.jsx
  extensions/default/src/ViewerLayout/SecondaryToolbar.jsx
  extensions/default/src/ViewerLayout/index.jsx
  extensions/default/src/getLayoutTemplateModule.js
Due: none

Cleanup @ohif/ui ViewportGrid API
  platform/ui/src/components/ViewportGrid/ViewportGrid.jsx
  platform/ui/src/components/ViewportGrid/ViewportGrid.mdx
Due: none

Pull @ohif/ui ViewportPane into separate component and expose
  platform/ui/src/components/ViewportPane/ViewportPane.jsx
  platform/ui/src/components/ViewportPane/ViewportPane.mdx
  platform/ui/src/components/ViewportPane/index.js
  platform/ui/src/components/index.js
Due: none

expose className on ViewportPane
  platform/ui/src/components/ViewportPane/ViewportPane.jsx
Due: none

update docz examples to match new component api
  platform/ui/src/components/ViewportPane/ViewportPane.mdx
  platform/ui/src/views/StudyList/StudyList.mdx
Due: none
