Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

fix: 🐛 Fix ghost shadow on thumb
  platform/ui/package.json
  platform/ui/src/components/index.js
  platform/ui/src/components/quickSwitch/QuickSwitch.styl
  platform/ui/src/components/quickSwitch/SeriesList.js
  platform/ui/src/components/studyBrowser/DragPreview.js
  platform/ui/src/components/studyBrowser/DragPreview.styl
  platform/ui/src/components/studyBrowser/StudyBrowser.js
  platform/ui/src/components/studyBrowser/StudyBrowser.styl
  platform/ui/src/components/studyBrowser/Thumbnail.js
  platform/ui/src/components/studyBrowser/Thumbnail.styl
  platform/ui/src/components/studyBrowser/ThumbnailEntry.js
  platform/ui/src/components/studyBrowser/ThumbnailEntryDragSource.js
  platform/ui/src/components/studyBrowser/index.js
  platform/ui/src/index.js
  platform/viewer/cypress/integration/common/ViewerRouting.spec.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
Due: viewer

feat: responsive study list (#1068)
  platform/ui/package.json
  platform/ui/src/components/index.js
  platform/ui/src/components/studyList/CustomDateRangePicker.css
  platform/ui/src/components/studyList/CustomDateRangePicker.js
  platform/ui/src/components/studyList/CustomDateRangePicker.styl
  platform/ui/src/components/studyList/PageToolbar.js
  platform/ui/src/components/studyList/PaginationArea.styl
  platform/ui/src/components/studyList/StudyList.js
  platform/ui/src/components/studyList/StudyList.styl
  platform/ui/src/components/studyList/StudyListLoadingText.js
  platform/ui/src/components/studyList/StudyListToolbar.styl
  platform/ui/src/components/studyList/TablePagination.js
  platform/ui/src/components/studyList/TableSearchFilter.js
  platform/ui/src/components/studyList/index.js
  platform/ui/src/components/studyList/internal/bkdr-hash.js
  platform/ui/src/components/studyList/internal/color-hash.js
  platform/ui/src/components/userPreferencesModal/AboutModal.js
  platform/ui/src/design/styles/common/global.styl
  platform/ui/src/hooks/index.js
  platform/ui/src/hooks/useDebounce.js
  platform/ui/src/hooks/useMedia.js
  platform/ui/src/index.js
  platform/viewer/cypress/integration/common/OHIFStandaloneViewer.spec.js
  platform/viewer/cypress/integration/common/ViewerRouting.spec.js
  platform/viewer/cypress/support/commands.js
  platform/viewer/src/App.js
  platform/viewer/src/components/Header/Header.css
  platform/viewer/src/components/Header/Header.js
  platform/viewer/src/components/OHIFLogo/OHIFLogo.css
  platform/viewer/src/components/OHIFLogo/OHIFLogo.js
  platform/viewer/src/components/SidePanel.css
  platform/viewer/src/studylist/ConnectedStudyList.js
  platform/viewer/src/studylist/StudyListRoute.js
  platform/viewer/src/studylist/StudyListWithData.js
  yarn.lock
Due: viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

feat: 🎸 Update AboutModal to use new modal provider
  platform/ui/package.json
  platform/ui/src/components/userPreferencesModal/AboutModal.js
  platform/ui/src/utils/ModalProvider.js
  platform/viewer/src/components/Header/Header.js
  yarn.lock
Due: viewer

feat: 🎸 Filter by url query param for seriesInstnaceUID
  platform/core/src/studies/retrieveStudiesMetadata.js
  platform/core/src/studies/retrieveStudyMetadata.js
  platform/core/src/studies/services/wado/retrieveMetadata.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
  platform/viewer/src/routes/ViewerRouting.js
Due: core, viewer

feat(ModalProvider): Add title prop to provider
  platform/ui/src/components/userPreferencesModal/AboutModal.js
  platform/ui/src/utils/ModalProvider.js
  platform/viewer/src/components/Header/Header.js
Due: viewer

fix: Set SR viewport as active by interaction
  extensions/dicom-html/src/ConnectedDicomHtmlViewport.js
  extensions/dicom-html/src/DicomHtmlViewport.js
  extensions/dicom-html/src/OHIFDicomHtmlViewport.js
Due: none

quick fix
  extensions/dicom-html/src/OHIFDicomHtmlViewport.js
Due: none

(eslint) add "before" as global variables
  .eslintrc.json
Due: none

add data-cy
  extensions/dicom-html/src/DicomHtmlViewport.js
Due: none

create E2E test
  platform/viewer/cypress/integration/pwa/OHIFExtensionHTML.spec.js
Due: viewer

(E2E) create custom command to set layout size
  platform/viewer/cypress/support/commands.js
Due: viewer

feat(DownloadModal): Refactor to use new modal provider
  platform/ui/src/components/downloadDialog/DownloadDialog.js
  platform/ui/src/utils/ModalProvider.js
  platform/viewer/src/connectedComponents/ConnectedDownloadDialog.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

fix(ModalContext): Add defaults on hide
  platform/ui/src/utils/ModalProvider.js
Due: none

refactor(ModalContext): Keep current modal lib
  platform/ui/package.json
  platform/ui/src/utils/ModalProvider.js
  yarn.lock
Due: none

Study list tests: Patient Name, MRN, Modality, Description
  platform/viewer/cypress/integration/common/OHIFStudyList.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/support/aliases.js
  platform/viewer/cypress/support/commands.js
Due: viewer

Fixed field selector
  platform/viewer/cypress/integration/common/OHIFStudyList.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/support/aliases.js
Due: viewer

ci: trial run of using custom test data source
  .circleci/config.yml
  .circleci/start-test-server.sh
  platform/viewer/cypress.json
  platform/viewer/package.json
  platform/viewer/public/config/dicomweb-server.js
Due: viewer

path hunting
  .circleci/config.yml
Due: none

more hunting
  .circleci/config.yml
Due: none

wait for checkout to have happened
  .circleci/config.yml
Due: none

Try to kickstart test server
  .circleci/config.yml
Due: none

Try install docker-compose
  .circleci/config.yml
Due: none

No sudo on this image
  .circleci/config.yml
Due: none

setup_remote_docker engin in presteps
  .circleci/config.yml
Due: none

monitor network
  .circleci/start-test-server.sh
Due: none

fix: camel case colSpan
  platform/ui/src/components/studyList/StudyList.js
Due: none

fix(StudyList): camel case colSpan (#1123)
  platform/ui/src/components/studyList/StudyList.js
Due: none

remove .only e2e
  platform/viewer/cypress/integration/pwa/OHIFExtensionHTML.spec.js
Due: viewer

remove throttle for onScroll
  extensions/dicom-html/src/DicomHtmlViewport.js
Due: none

CR Updates: Clamp values using math.min, remove unnecessary onBlur event and small adjustments
  platform/ui/src/components/downloadDialog/DownloadDialog.js
  platform/viewer/src/connectedComponents/ConnectedDownloadDialog.js
Due: viewer

feat: 🎸 Code review
  platform/ui/src/components/studyBrowser/StudyBrowser.js
  platform/ui/src/components/studyBrowser/Thumbnail.js
  platform/ui/src/components/studyBrowser/Thumbnail.styl
Due: none

feat: 🎸 Code review. Revised style when no description
  platform/ui/src/components/studyBrowser/Thumbnail.styl
Due: none

Simplify service-worker to skip waiting and install when a new worker is detected
  package.json
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/public/init-service-worker.js
  platform/viewer/src/service-worker.js
  yarn.lock
Due: viewer

fix: Set SR viewport as active by interaction (#1118)
  .eslintrc.json
  extensions/dicom-html/src/ConnectedDicomHtmlViewport.js
  extensions/dicom-html/src/DicomHtmlViewport.js
  extensions/dicom-html/src/OHIFDicomHtmlViewport.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionHTML.spec.js
  platform/viewer/cypress/support/commands.js
Due: viewer

chore(release): publish [skip ci]
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

feat: 🎸Small fixes into the code
  platform/viewer/src/lib/DICOMSR/dataExchange.js
  platform/viewer/src/lib/DICOMSR/handleSR.js
  platform/viewer/src/lib/DICOMSR/retrieveDataFromMeasurements.js
  platform/viewer/src/lib/DICOMSR/retrieveDataFromSR.js
  platform/viewer/src/lib/DICOMSR/srUtils.js
Due: viewer
