Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Added the Korean (kr) language support
  platform/i18n/src/locales/index.js
  platform/i18n/src/locales/kr/AboutModal.json
  platform/i18n/src/locales/kr/Buttons.json
  platform/i18n/src/locales/kr/CineDialog.json
  platform/i18n/src/locales/kr/Common.json
  platform/i18n/src/locales/kr/DatePicker.json
  platform/i18n/src/locales/kr/Header.json
  platform/i18n/src/locales/kr/MeasurementTable.json
  platform/i18n/src/locales/kr/StudyList.json
  platform/i18n/src/locales/kr/UserPreferencesModal.json
  platform/i18n/src/locales/kr/ViewportDownloadForm.json
  platform/i18n/src/locales/kr/index.js
Due: none

Updated the extensibility change to only include the one modification
  .gitignore
  package.json
  platform/core/src/index.js
  platform/core/src/services/ExtensibilityService/ExtensibilityService.js
  platform/core/src/services/ExtensibilityService/ExtensibilityService.test.js
  platform/core/src/services/ExtensibilityService/index.js
  platform/core/src/services/index.js
  platform/ui/src/components/StudyListPagination/StudyListPagination.js
  platform/viewer/package.json
Due: core, viewer

Renamed the ExtensibilityService to ConfigPointService Added a single declarative configuration method to make multiple configuration changes, and added an example.
  platform/core/src/index.js
  platform/core/src/services/ConfigPointService/ConfigPointService.js
  platform/core/src/services/ConfigPointService/ConfigPointService.test.js
  platform/core/src/services/ConfigPointService/index.js
  platform/core/src/services/ExtensibilityService/index.js
  platform/core/src/services/index.js
  platform/ui/src/components/StudyListPagination/StudyListPagination.js
Due: core

Changed to use a passed in parameter to make this more reacty
  platform/ui/src/components/StudyListPagination/StudyListPagination.js
Due: none

Started splitting study list config off from WorkList
  platform/core/src/services/ConfigPointService/ConfigPointService.js
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: core, viewer

Added the StudyListConfig
  platform/viewer/src/routes/WorkList/StudyListConfig.jsx
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

Added ability to extend the study list with new columns, and/or re-order them.
  platform/core/src/services/ConfigPointService/ConfigPointService.js
  platform/core/src/services/ConfigPointService/ConfigPointService.test.js
  platform/viewer/src/routes/WorkList/StudyListConfig.jsx
Due: core, viewer

Added the rest of the columns to the ConfigPoint for the study worklist.
  platform/ui/src/assets/icons/tool-presentation.svg
  platform/viewer/src/routes/WorkList/StudyListConfig.jsx
Due: viewer

Added documentation for the ConfigPoint service.
  docs/latest/services/_services.md
  docs/latest/services/data/ConfigPointService.md
  docs/latest/services/data/ConfigPointStudyList.png
  docs/latest/services/data/ConfigPointStudyList.websequence
  docs/latest/services/data/ConfigPointStudyListExtension.png
  docs/latest/services/data/ConfigPointStudyListExtension.websequence
  docs/latest/services/data/ConfigPointStudyListUsage.png
  docs/latest/services/data/ConfigPointStudyListUsage.websequence
  docs/latest/services/data/index.md
  platform/core/src/services/ConfigPointService/ConfigPointService.js
  platform/viewer/src/routes/WorkList/StudyListConfig.jsx
Due: core, viewer

Updated to separate out the config version
  docs/latest/services/data/ConfigPointService.md
  docs/latest/services/data/ConfigPointStudyList.png
  docs/latest/services/data/ConfigPointStudyList.websequence
  docs/latest/services/data/ConfigPointStudyListExtension.png
  docs/latest/services/data/ConfigPointStudyListExtension.websequence
  docs/latest/services/data/ConfigPointStudyListUsage.png
  docs/latest/services/data/ConfigPointStudyListUsage.websequence
  extensions/dicom-pr/.webpack/webpack.dev.js
  extensions/dicom-pr/.webpack/webpack.prod.js
  extensions/dicom-pr/babel.config.js
  extensions/dicom-pr/package.json
  extensions/dicom-pr/src/index.js
  platform/core/src/index.js
  platform/core/src/services/ConfigPointService/ConfigPointService.js
  platform/core/src/services/ConfigPointService/ConfigPointService.test.js
  platform/core/src/services/ConfigPointService/index.js
  platform/core/src/services/index.js
  platform/ui/src/components/StudyListPagination/StudyListPagination.js
  platform/viewer/src/routes/WorkList/StudyListConfig.jsx
Due: core, viewer

Use an external library for the ConfigPoint service instead of an embedded library.
  extensions/dicom-pr/src/index.js
  platform/ui/src/components/StudyListPagination/StudyListPagination.js
  platform/viewer/package.json
  platform/viewer/src/routes/WorkList/WorkList.jsx
  yarn.lock
Due: viewer

bump mousetrap version
  platform/core/package.json
  yarn.lock
Due: core

try to ignore some modules during SSR in docz
  platform/ui/gatsby-node.js
Due: none

try some more things to fix docz
  platform/ui/doczrc.js
  platform/ui/gatsby-node.js
Due: none

fix: google cloud config and tooltips
  extensions/default/src/DicomWebDataSource/index.js
  modes/longitudinal/src/toolbarButtons.js
  package.json
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.jsx
  platform/viewer/package.json
  platform/viewer/public/config/google.js
Due: viewer

fixes for jsx live blocks
  platform/docs/docs/component-library/components/Button.mdx
  platform/docs/docs/component-library/components/ButtonGroup.mdx
  platform/docs/docs/component-library/components/DateRange.mdx
  platform/docs/docs/component-library/components/ErrorBoundary.mdx
  platform/docs/docs/component-library/components/MeasurementTable.mdx
  platform/docs/docs/component-library/components/Select.mdx
  platform/docs/docs/component-library/components/SidePanel.mdx
  platform/docs/docs/component-library/components/ToolbarButton.mdx
  platform/docs/docs/component-library/components/Typography.mdx
  platform/docs/docs/component-library/components/ViewportActionBar.mdx
  platform/docs/docs/component-library/context-providers/ViewportDialogProvider.mdx
  platform/docs/docs/component-library/pages/Colors.mdx
Due: none

cleanup in component mdx for docusaurus
  platform/docs/docs/component-library/components/ButtonGroup.mdx
  platform/docs/docs/component-library/components/CinePlayer.mdx
  platform/docs/docs/component-library/components/ContextMenu.mdx
  platform/docs/docs/component-library/components/Dropdown.mdx
  platform/docs/docs/component-library/components/ExpandableToolbarButton.mdx
  platform/docs/docs/component-library/components/Input.mdx
  platform/docs/docs/component-library/components/InputDateRange.mdx
  platform/docs/docs/component-library/components/InputGroup.mdx
  platform/docs/docs/component-library/components/InputMultiSelect.mdx
  platform/docs/docs/component-library/components/InputText.mdx
  platform/docs/docs/component-library/components/Label.mdx
  platform/docs/docs/component-library/components/ListMenu.mdx
  platform/docs/docs/component-library/components/Notification.mdx
  platform/docs/docs/component-library/components/SegmentationTable.mdx
  platform/docs/docs/component-library/components/SplitButton.mdx
  platform/docs/docs/component-library/components/StudyBrowser.mdx
  platform/docs/docs/component-library/components/StudyItem.mdx
  platform/docs/docs/component-library/components/StudyListFilter.mdx
  platform/docs/docs/component-library/components/StudyListPagination.mdx
  platform/docs/docs/component-library/components/StudyListTable.mdx
  platform/docs/docs/component-library/components/WindowLevelMenuItem.mdx
  platform/docs/docs/component-library/context-providers/ViewportDialogProvider.mdx
Due: none

reorganization to support SSR for component library in docusaurus
  extensions/default/src/ViewerLayout/index.jsx
  modes/longitudinal/src/index.js
  platform/core/.webpack/webpack.prod.js
  platform/core/package.json
  platform/core/src/classes/HotkeysManager.js
  platform/core/src/utils/hotkeys/index.js
  platform/docs/blog/2019-05-28-hola.md
  platform/docs/blog/2019-05-29-hello-world.md
  platform/docs/blog/2019-05-30-welcome.md
  platform/docs/docs/component-library/components/ErrorBoundary.mdx
  platform/docs/docs/component-library/components/TooltipClipboard.mdx
  platform/docs/docs/component-library/pages/Colors.mdx
  platform/docs/docs/modes/index.md
  platform/docs/docs/viewer/internationalization.md
  platform/docs/package.json
  platform/docs/pluginOHIFWebpackConfig.js
  platform/docs/tailwind.config.js
  platform/ui/package.json
  platform/ui/src/components/HotkeyField/HotkeyField.jsx
  platform/ui/src/components/Icon/getIcon.jsx
  platform/ui/src/components/LayoutSelector/LayoutSelector.jsx
  platform/ui/src/components/ThemeWrapper/ThemeWrapper.js
  platform/ui/src/components/ViewportDownloadForm/ViewportDownloadForm.jsx
  platform/ui/src/components/ViewportGrid/ViewportGrid.jsx
  platform/ui/src/components/ViewportPane/ViewportPane.jsx
  platform/ui/src/components/index.js
  platform/ui/src/contextProviders/ModalComponent.jsx
  platform/ui/src/index.js
  platform/ui/src/pages/Colors/BackgroundColor.jsx
  platform/ui/src/utils/hotkeys/index.js
  platform/ui/src/utils/hotkeys/pausePlugin.js
  platform/ui/src/utils/hotkeys/recordPlugin.js
  platform/ui/src/utils/index.js
  yarn.lock
Due: core

fix: version number
  platform/viewer/package.json
Due: viewer

fix: cine player commandOptions
  modes/longitudinal/src/toolbarButtons.js
Due: none

#1 Update google.js config to include client ID
  platform/viewer/public/config/google.js
Due: viewer

#1 Added biolerplate amplify config.
  amplify.yml
Due: none

exisiting displaysets in a study are used to initialize _displaySets in the constructor
  platform/core/src/classes/metadata/StudyMetadata.js
Due: core

Fix: Google cloud config and tooltips (#2471)
  extensions/default/src/DicomWebDataSource/index.js
  modes/longitudinal/src/toolbarButtons.js
  package.json
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.jsx
  platform/viewer/package.json
  platform/viewer/public/config/google.js
Due: viewer

fix: layout should not reset when opening a new study in studyBrowser
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  extensions/default/src/Panels/requestDisplaySetCreationForStudy.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/requestDisplaySetCreationForStudy.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.js
  platform/ui/src/assets/svgs/logo-ohif.svg
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

fix: added state to handle ignored SR series for hydration
  extensions/dicom-sr/src/viewports/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.jsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptHydrateStructuredReport.js
Due: none

set SeriesDate and SeriesTime for all series, instead of only for the first series
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
Due: core

set SeriesDate and SeriesTime only when they are undefined
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
Due: core

fix: Address various layout and prompt bugs (#2472)
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  extensions/default/src/Panels/requestDisplaySetCreationForStudy.js
  extensions/dicom-sr/src/viewports/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.jsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptHydrateStructuredReport.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/requestDisplaySetCreationForStudy.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.js
  platform/ui/src/assets/svgs/logo-ohif.svg
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

Closes #1. Google callback url is now studylist
  platform/viewer/public/config/google.js
Due: viewer

#1 Added callback to the routesUtil.js
  platform/viewer/src/routes/routesUtil.js
Due: viewer

#1 Reverted the google redirect_uri to callback
  platform/viewer/public/config/google.js
Due: viewer

#1 typo
  platform/viewer/src/routes/routesUtil.js
Due: viewer

fixes for hotkeys usage in docusaurus
  README.md
  extensions/default/src/ViewerLayout/index.jsx
  modes/longitudinal/src/index.js
  platform/core/package.json
  platform/core/src/classes/HotkeysManager.js
  platform/core/src/utils/index.js
  platform/docs/docs/deployment/build-for-production.md
  platform/docs/docs/development/our-process.md
  platform/docs/docs/platform/extensions/modules/data-source.md
  platform/docs/docs/platform/modes/routes.md
  platform/ui/src/components/AboutModal/AboutModal.jsx
  platform/ui/src/components/HotkeyField/HotkeyField.jsx
  platform/ui/src/components/HotkeysPreferences/HotkeysPreferences.jsx
  platform/ui/src/components/HotkeysPreferences/utils.js
  platform/ui/src/components/UserPreferences/UserPreferences.jsx
  platform/ui/src/index.js
  platform/ui/src/utils/getMockedStudies.js
  platform/ui/src/utils/hotkeys/index.js
  platform/ui/src/utils/hotkeys/pausePlugin.js
  platform/ui/src/utils/hotkeys/recordPlugin.js
  platform/ui/src/utils/index.js
  platform/ui/src/views/StudyList/StudyList.js
  platform/viewer/src/routes/WorkList/WorkList.jsx
  yarn.lock
Due: core, viewer

Try to get views to work for component library
  platform/core/src/utils/hotkeys/index.js
  platform/core/src/utils/hotkeys/pausePlugin.js
  platform/core/src/utils/hotkeys/recordPlugin.js
  platform/docs/docs/configuration/index.md
  platform/docs/docs/deployment/build-for-production.md
  platform/docs/docs/platform/component-library/example-views/StudyList.mdx
  platform/docs/docs/platform/component-library/example-views/Viewer.mdx.todo
  platform/docs/docs/platform/component-library/example-views/_category_.json
  platform/docs/docs/platform/component-library/views/StudyList.mdx.todo
  platform/docs/docs/platform/themeing.md
  platform/docs/package.json
  platform/docs/src/mocks/studyList.json
  platform/docs/src/theme/ReactLiveScope/index.js
  platform/docs/src/utils/getMockedStudies.js
  platform/docs/src/utils/index.js
  platform/ui/src/components/HotkeyField/HotkeyField.jsx
  platform/ui/src/components/HotkeysPreferences/HotkeysPreferences.jsx
  platform/ui/src/components/UserPreferences/UserPreferences.jsx
  yarn.lock
Due: core

fix unit tests
  platform/core/src/classes/HotkeysManager.test.js
  platform/core/src/utils/hotkeys/index.js
Due: core

wip trying to fix tailwind purge approach
  .webpack/rules/cssToJavaScript.js
  .webpack/webpack.base.js
  platform/docs/pluginOHIFWebpackConfig.js
  platform/docs/src/components/ComponentPropsTable.jsx
  platform/docs/tailwind.config.js
  platform/ui/.webpack/webpack.prod.js
  platform/ui/package.json
  platform/ui/postcss.config.js
  platform/ui/src/components/DateRange/DateRange.css
  platform/ui/src/components/InputGroup/InputGroup.jsx
  platform/ui/src/components/SidePanel/SidePanel.jsx
  platform/ui/src/components/StudyListTable/StudyListTableRow.js
  platform/ui/src/utils/getGridWidthClass.js
  platform/ui/tailwind.config.js
  yarn.lock
Due: none
