Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

Basic implementation for the header
  platform/ui/src/views/StudyList/components/Header.js
  platform/viewer/src/components/StudyList/components/OHIFLogo.js
Due: viewer

Updating icons
  platform/ui/src/views/StudyList/components/Header.js
Due: none

Fix conflicts after latest changes on base branch
  platform/ui/src/views/StudyList/components/OHIFLogo.js
Due: none

Smnall refactor on header
  platform/ui/src/views/StudyList/components/Header.js
Due: none

Small text-size change
  platform/ui/src/views/StudyList/components/Header.js
Due: none

Remove comment
  platform/ui/src/views/StudyList/components/Header.js
Due: none

remove unused file
  platform/viewer/src/App_bk.js
Due: viewer

add new color
  platform/ui/tailwind.config.js
Due: none

pagination handler
  platform/ui/src/views/StudyList/components/StudyListPagination.js
Due: none

Remove link from OHIF logo
  platform/ui/src/views/StudyList/components/OHIFLogo.js
Due: none

feat: Study List Pagination (#1502)
  platform/ui/src/views/StudyList/components/StudyListPagination.js
  platform/ui/tailwind.config.js
  platform/viewer/src/App_bk.js
Due: viewer

Fix cog/settings icon
  platform/ui/src/assets/icons/settings.svg
Due: none

feat: Study List Header (#1498)
  platform/ui/src/assets/icons/settings.svg
  platform/ui/src/views/StudyList/components/Header.js
  platform/ui/src/views/StudyList/components/OHIFLogo.js
Due: none

Added verification on Before hook to avoid navigating again to viewer page
  platform/viewer/cypress/integration/common/OHIFCornerstoneHotkeys.spec.js
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/common/OHIFDownloadSnapshotFile.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/integration/pwa/OHIFSaveMeasurements.spec.js
  platform/viewer/package.json
Due: viewer

Adding new icons
  platform/ui/src/assets/icons/logo-ohif-small.svg
  platform/ui/src/assets/icons/notificationwarning-diamond.svg
  platform/ui/src/components/Icon/getIcon.jsx
Due: none

Introducing Svg component
  platform/ui/index.js
  platform/ui/src/assets/svgs/logo-ohif.svg
  platform/ui/src/components/Icon/Icon.jsx
  platform/ui/src/components/Svg/Svg.jsx
  platform/ui/src/components/Svg/getSvg.jsx
  platform/ui/src/components/Svg/index.js
  platform/ui/src/components/index.js
Due: none

Adding ohif logo into header
  platform/ui/src/views/StudyList/components/Header.js
  platform/ui/src/views/StudyList/components/OHIFLogo.js
Due: none

Feat/ui v2 ohif logo svg (#1506)
  platform/ui/index.js
  platform/ui/src/assets/icons/logo-ohif-small.svg
  platform/ui/src/assets/icons/notificationwarning-diamond.svg
  platform/ui/src/assets/svgs/logo-ohif.svg
  platform/ui/src/components/Icon/Icon.jsx
  platform/ui/src/components/Icon/getIcon.jsx
  platform/ui/src/components/Svg/Svg.jsx
  platform/ui/src/components/Svg/getSvg.jsx
  platform/ui/src/components/Svg/index.js
  platform/ui/src/components/index.js
  platform/ui/src/views/StudyList/components/Header.js
  platform/ui/src/views/StudyList/components/OHIFLogo.js
Due: none

Fix for failing tests (#1423)
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/integration/pwa/OHIFSaveMeasurements.spec.js
Due: viewer

Inital changes for study list filters
  platform/ui/index.js
  platform/ui/src/components/Input/Input.jsx
  platform/ui/src/components/index.js
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Style updates on filter
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Small style changes on filter
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Style changes updates on Input and Label and finish fitler
  platform/ui/src/components/Button/Button.jsx
  platform/ui/src/components/Input/Input.jsx
  platform/ui/src/components/Label/Label.jsx
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Fix drone
  .drone.yml
Due: none

feat: Add new eslint rule -- props-no-spreading
  .eslintrc.json
  package.json
  yarn.lock
Due: none

chore: Add new eslint rule -- props-no-spreading (#1509)
  .eslintrc.json
  package.json
  yarn.lock
Due: none

hello world
  platform/core/src/utils/isDisplaySetReconstructable.js
Due: core

Refactor on study list filter
  platform/ui/src/components/Input/Input.jsx
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Remove not used callbackFunction
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Small style change
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

feat: Customized Docz Layout
  platform/ui/doczrc.js
  platform/ui/package.json
  platform/ui/src/gatsby-theme-docz/components/Header/index.js
  platform/ui/src/gatsby-theme-docz/components/Layout/index.js
  platform/ui/src/gatsby-theme-docz/components/Sidebar/index.js
  platform/ui/src/gatsby-theme-docz/theme.css
  platform/ui/src/views/StudyList/StudyList.mdx
  platform/ui/tailwind.config.js
Due: none

manually apply padding into playground
  platform/ui/src/components/Button/Button.mdx
  platform/ui/src/components/ButtonGroup/ButtonGroup.mdx
  platform/ui/src/components/Icon/icon.mdx
  platform/ui/src/components/Input/Input.mdx
  platform/ui/src/components/Label/Label.mdx
  platform/ui/src/components/Typography/Typography.mdx
Due: none

fix playground bug -- sticky items
  platform/ui/src/gatsby-theme-docz/components/Layout/index.js
Due: none

Adding underline on Learn more link
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Make sure does not show sortable if have no results
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Some style polish
  platform/ui/src/views/StudyList/components/Header.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Finish rebase for Igor.
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/dicom-segmentation/src/OHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/loadSegmentation.js
  extensions/vtk/src/OHIFVTKViewport.js
  platform/core/src/classes/ImageSet.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  yarn.lock
Due: core

Re-fix cornerstoneTools version that got messed up in merge.
  extensions/dicom-segmentation/package.json
  extensions/dicom-segmentation/src/panelModule.js
  extensions/vtk/package.json
Due: none

Fix reactivity of isDisabled, write implementation for the SEG panel.
  extensions/dicom-segmentation/src/panelModule.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

fix window
  platform/ui/src/gatsby-theme-docz/components/Layout/index.js
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
