Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

feat: Add i18n docs and light and dark theme styles
  docs/.gitignore
  docs/CNAME
  docs/README.md
  docs/_redirects
  docs/latest/.gitignore
  docs/latest/.nojekyll
  docs/v2/.nojekyll
  docs/win-server-workaround.bat
  platform/docs/docs/viewer/internationalization.md
  platform/docs/docusaurus.config.js
  platform/docs/src/css/custom.css
Due: none

feat: Add custom css for styling
  platform/docs/docusaurus.config.js
  platform/docs/src/css/custom.css
  platform/docs/static/img/favicon.ico
  platform/docs/static/img/logo-ohif.svg
  platform/docs/static/img/logo.svg
  platform/docs/static/img/ohif-logo-light.svg
  platform/docs/static/img/ohif-logo.svg
Due: none

feat: Add footer styles
  platform/docs/docusaurus.config.js
  platform/docs/src/css/custom.css
  platform/docs/static/img/mgh-logo.png
Due: none

feat: Add nav links
  platform/docs/docusaurus.config.js
  platform/docs/src/theme/DocVersionSuggestions/index.js
Due: none

fix: removed context search until public deploy
  platform/docs/docusaurus.config.js
  platform/docs/src/css/custom.css
Due: none

chore: Remove redux-oidc and use our own components instead
  .vscode/settings.json
  docs/v2/deployment/recipes/user-account-control.md
  extensions/_example/src/index.js
  extensions/cornerstone/README.md
  extensions/cornerstone/src/initWADOImageLoader.js
  extensions/cornerstone/src/utils/setCornerstoneLayout.js
  extensions/default/src/DicomWebDataSource/index.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/getStudiesForPatientByStudyInstanceUID.js
  platform/core/package.json
  platform/core/src/DICOMWeb/getAuthorizationHeader.test.js
  platform/core/src/extensions/ExtensionManager.test.js
  platform/core/src/index.test.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.js
  platform/core/src/services/UserAuthenticationService/UserAuthenticationService.js
  platform/ui/src/components/Header/Header.jsx
  platform/ui/src/contextProviders/UserAuthenticationProvider.js
  platform/viewer/package.json
  platform/viewer/src/App.jsx
  platform/viewer/src/config.js
  platform/viewer/src/context/UserManagerContext.js
  platform/viewer/src/history.js
  platform/viewer/src/routes/CallbackPage.js
  platform/viewer/src/routes/DataSourceWrapper.jsx
  platform/viewer/src/routes/Mode/Compose.js
  platform/viewer/src/routes/Mode/Mode.jsx
  platform/viewer/src/routes/PrivateRoute.jsx
  platform/viewer/src/routes/SignoutCallbackComponent.js
  platform/viewer/src/routes/WorkList/WorkList.jsx
  platform/viewer/src/routes/buildModeRoutes.js
  platform/viewer/src/routes/index.js
  platform/viewer/src/utils/Authenticator.jsx
  platform/viewer/src/utils/OpenIdConnectRoutes.jsx
  platform/viewer/src/utils/ReduxOIDCClientToUserAuthenticationService.jsx
  platform/viewer/src/utils/getUserManagerForOpenIdConnectClient.js
  platform/viewer/src/utils/getUserManagerForOpenIdConnectClient.test.js
  platform/viewer/src/utils/initWebWorkers.js
  yarn.lock
Due: core, viewer

Enable study prefetcher and expose configs
  extensions/cornerstone/src/ConnectedCornerstoneViewport.js
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/index.js
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/initCornerstoneTools.js
  platform/core/src/classes/StudyPrefetcher.js
  platform/viewer/public/config/default.js
  platform/viewer/src/components/StudyPrefetcher.css
  platform/viewer/src/components/StudyPrefetcher.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

feat: Add error handler to CWIL
  extensions/cornerstone/src/initWADOImageLoader.js
  extensions/default/src/DicomWebDataSource/index.js
  platform/viewer/public/config/default.js
  platform/viewer/src/appInit.js
Due: viewer

feat: Change navbar links to open internally
  platform/docs/docusaurus.config.js
  yarn.lock
Due: none

feat: Revised user guides based on feedbacks
  platform/docs/docs/assets/img/user-study-panel.png
  platform/docs/docs/userManuals/_category_.json
  platform/docs/docs/userManuals/index.md
  platform/docs/docs/userManuals/viewer/measurement-panel.md
  platform/docs/docs/userManuals/viewer/study-panel.md
  platform/docs/docs/userManuals/viewer/toolbar.md
  platform/docs/docs/userManuals/viewer/viewport.md
Due: none

fix: cine dialogue appearance
  platform/core/src/services/ToolBarService/ToolBarService.js
Due: core

Add research notice
  README.md
Due: none

feat: New favicon and logo
  platform/ui/src/assets/svgs/logo-ohif.svg
  platform/viewer/public/assets/favicon-16x16.png
  platform/viewer/public/assets/favicon-32x32.png
  platform/viewer/public/assets/favicon.ico
Due: viewer

Fix progress for all images
  platform/core/src/classes/StudyPrefetcher.js
  platform/viewer/public/config/default.js
  platform/viewer/src/components/StudyPrefetcher.js
Due: core, viewer

Enable study loading listener
  platform/core/src/classes/StudyLoadingListener.js
  platform/viewer/public/config/default.js
  platform/viewer/src/components/StudyLoadingMonitor.js
  platform/viewer/src/components/StudyPrefetcher.js
  platform/viewer/src/connectedComponents/ConnectedStudyLoadingMonitor.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

Add new default for displaying progress bar for series
  platform/viewer/public/config/default.js
Due: viewer

Use events instead of redux to improve performance
  platform/core/src/classes/StudyLoadingListener.js
  platform/core/src/redux/actions.js
  platform/core/src/redux/actions.test.js
  platform/core/src/redux/reducers/index.js
  platform/core/src/redux/reducers/loading.js
  platform/ui/src/components/studyBrowser/StudyBrowser.js
  platform/ui/src/components/studyBrowser/Thumbnail.js
  platform/viewer/src/components/StudyLoadingMonitor.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/ConnectedStudyLoadingMonitor.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

Remove debugger
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
Due: none

fix: removed re-direct to ohif upon error
  platform/viewer/public/config/default.js
Due: viewer

feat: Add click to zoom for images
  platform/docs/docs/userManuals/index.md
  platform/docs/docusaurus.config.js
  platform/docs/package.json
  platform/docs/src/css/custom.css
  yarn.lock
Due: none

fix: broken links to navigate between pages
  platform/docs/docs/README.md
  platform/docs/docs/architecture.md
  platform/docs/docs/assets/img/SR-exported.png
  platform/docs/docs/assets/img/locked-sr.png
  platform/docs/docs/assets/img/restore-exported-sr.png
  platform/docs/docs/assets/img/tracked-not-tracked.png
  platform/docs/docs/assets/img/tracking-workflow1.png
  platform/docs/docs/assets/img/tracking-workflow2.png
  platform/docs/docs/assets/img/tracking-workflow3.png
  platform/docs/docs/deployment/index.md
  platform/docs/docs/development/contributing.md
  platform/docs/docs/services/ui/index.md
  platform/docs/docs/userManuals/viewer/Language.md
  platform/docs/docs/userManuals/viewer/_category_.json
  platform/docs/docs/userManuals/viewer/hotkeys.md
  platform/docs/docs/userManuals/viewer/measurement-tracking.md
  platform/docs/docs/userManuals/viewer/toolbar.md
  platform/docs/docs/userManuals/viewer/viewport.md
  platform/docs/docusaurus.config.js
  platform/docs/versioned_docs/version-1.0/connecting-to-image-archives/google-cloud-healthcare.md
  platform/docs/versioned_docs/version-2.0/Architecture.md
  platform/docs/versioned_docs/version-2.0/development/contributing.md
  platform/docs/versioned_docs/version-2.0/services/index.md
  yarn.lock
Due: none

feat: Add measurement tracking user guide
  platform/docs/docs/userManuals/viewer/measurement-tracking.md
  platform/docs/package.json
  platform/docs/src/theme/DocVersionBanner/index.js
  yarn.lock
Due: none

feat: Add measurement tracking videos
  platform/docs/docs/userManuals/viewer/measurement-tracking.md
Due: none

:camera: New image assets for docs
  platform/docs/docs/assets/img/user-open-viewer.png
  platform/docs/docs/assets/img/user-study-filter.png
  platform/docs/docs/assets/img/user-study-list.png
  platform/docs/docs/assets/img/user-study-next.png
  platform/docs/docs/assets/img/user-study-panel.png
  platform/docs/docs/assets/img/user-study-summary.png
  platform/docs/docs/assets/img/user-studyist-modespecific.png
  platform/docs/docs/assets/img/user-studylist-all.png
  platform/docs/docs/assets/img/user-toolbar-download-icon.png
  platform/docs/docs/assets/img/user-toolbar-preset.png
  platform/docs/docs/assets/img/user-viewer-layout.png
  platform/docs/docs/assets/img/user-viewer-main.png
  platform/docs/docs/assets/img/user-viewer-toolbar-measurements.png
  platform/docs/docs/assets/img/user-viewer-toolbar.png
  platform/docs/docs/userManuals/viewer/study-panel.md
  yarn.lock
Due: none

:art: Type headers reduced and other small style fixes
  platform/docs/src/css/custom.css
Due: none

New image assets for v3 docs (#2463)
  platform/docs/docs/assets/img/user-open-viewer.png
  platform/docs/docs/assets/img/user-study-filter.png
  platform/docs/docs/assets/img/user-study-list.png
  platform/docs/docs/assets/img/user-study-next.png
  platform/docs/docs/assets/img/user-study-panel.png
  platform/docs/docs/assets/img/user-study-summary.png
  platform/docs/docs/assets/img/user-studyist-modespecific.png
  platform/docs/docs/assets/img/user-studylist-all.png
  platform/docs/docs/assets/img/user-toolbar-download-icon.png
  platform/docs/docs/assets/img/user-toolbar-preset.png
  platform/docs/docs/assets/img/user-viewer-layout.png
  platform/docs/docs/assets/img/user-viewer-main.png
  platform/docs/docs/assets/img/user-viewer-toolbar-measurements.png
  platform/docs/docs/assets/img/user-viewer-toolbar.png
  platform/docs/docs/userManuals/viewer/study-panel.md
  platform/docs/src/css/custom.css
  yarn.lock
Due: none

fix: external link and redirecting url for Google healthcare
  platform/docs/docusaurus.config.js
Due: none

fix: hotkeys editing in user preferences
  extensions/default/src/ViewerLayout/index.jsx
  platform/core/src/utils/hotkeys/recordPlugin.js
  platform/ui/src/components/HotkeyField/HotkeyField.jsx
  platform/ui/src/components/HotkeysPreferences/HotkeysPreferences.jsx
Due: core

added summary after download, and added confirmation button to error message
  extensions/download/src/DownloadModal.js
  extensions/download/src/downloadAndZip.js
Due: none

fix: mobile screen nav color and logo
  platform/docs/docusaurus.config.js
  platform/docs/src/css/custom.css
Due: none

fix: OpenID Connect and Local route rendering
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/services/UserAuthenticationService/UserAuthenticationService.js
  platform/ui/src/contextProviders/UserAuthenticationProvider.js
  platform/viewer/src/App.jsx
  platform/viewer/src/routes/Local/Local.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
  platform/viewer/src/routes/WorkList/WorkList.jsx
  platform/viewer/src/routes/buildModeRoutes.js
  platform/viewer/src/utils/OpenIdConnectRoutes.jsx
Due: core, viewer

Add mappings for rectangle and freehand
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/measurementServiceMappings/FreehandRoi.js
  extensions/cornerstone/src/utils/measurementServiceMappings/RectangleRoi.js
  extensions/cornerstone/src/utils/measurementServiceMappings/constants/supportedTools.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.js
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/dicom-sr/src/index.js
  extensions/dicom-sr/src/init.js
  extensions/dicom-sr/src/tools/DICOMSRDisplayTool.js
  extensions/dicom-sr/src/tools/utils/getToolAlias.js
  extensions/dicom-sr/src/utils/addMeasurement.js
  extensions/dicom-sr/src/viewports/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/_hydrateStructuredReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/getCornerstoneToolStateToMeasurementSchema.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptHydrateStructuredReport.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  modes/longitudinal/src/toolbarButtons.js
  platform/core/src/services/MeasurementService/MeasurementService.js
Due: core

chore: Upgrade to webpack 5, fix conflicting issues with react-router under docusaurus with yarn workspaces
  .webpack/webpack.base.js
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/default/src/ViewerLayout/index.jsx
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  modes/longitudinal/package.json
  package.json
  platform/core/src/services/UserAuthenticationService/UserAuthenticationService.js
  platform/docs/package.json
  platform/i18n/package.json
  platform/ui/package.json
  platform/ui/src/components/Header/Header.jsx
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
  platform/ui/src/contextProviders/DragAndDropProvider.jsx
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/package.json
  platform/viewer/src/history.js
  yarn.lock
Due: core, viewer

chore: fix sourceMap boolean in terser plugin
  .webpack/webpack.base.js
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
