Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Update casing of import.
  platform/core/src/DICOMSR/parseDicomStructuredReport.js
Due: core

Fix jump for SR.
  extensions/cornerstone/package.json
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.test.js
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.js
  extensions/vtk/package.json
  extensions/vtk/src/handleSegmentationStorage.js
  platform/core/package.json
  platform/core/src/DICOMSR/parseDicomStructuredReport.js
  platform/core/src/classes/metadata/InstanceMetadata.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/viewer/package.json
  platform/viewer/src/appExtensions/MeasurementsPanel/jumpToRowItem.js
  yarn.lock
Due: core, viewer

Fix unit tests for measurements service
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.test.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/MeasurementService/MeasurementService.test.js
Due: core

Fix json CI test.
  platform/viewer/cypress/integration/common/OHIFRoutes.spec.js
Due: viewer

fix: update yarn lock
  yarn.lock
Due: none

Fix local non-encapsulated pdf view
  platform/viewer/src/lib/localFileLoaders/pdfFileLoader.js
Due: viewer

CI updated to new sucess message.
  platform/viewer/cypress/integration/pwa/OHIFSaveMeasurements.spec.js
Due: viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-microscopy/CHANGELOG.md
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/CHANGELOG.md
  extensions/dicom-pdf/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/i18n/CHANGELOG.md
  platform/i18n/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Feat/1441 [WIP] Adding support for viewport groups (mapping loaded studies to viewport groups)
  extensions/cornerstone/src/ConnectedCornerstoneViewport.js
  platform/core/src/redux/actions.js
  platform/core/src/redux/constants/ActionTypes.js
  platform/core/src/redux/reducers/viewports.js
  platform/core/src/utils/index.js
  platform/core/src/utils/index.test.js
  platform/core/src/utils/viewportLayoutUtils.js
  platform/core/src/utils/viewportLayoutUtils.test.js
  platform/core/src/utils/viewportState.js
  platform/viewer/src/OHIFStandaloneViewer.js
  platform/viewer/src/connectedComponents/ConnectedViewer.js
  platform/viewer/src/connectedComponents/ConnectedViewerMain.js
  platform/viewer/src/connectedComponents/ConnectedViewerRetrieveStudyData.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerMain.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
  platform/viewer/src/customHooks/useServer.js
  platform/viewer/src/routes/ViewerRouting.js
  platform/viewer/src/routes/routesUtil.js
Due: core, viewer

fix bottom spacing
  platform/viewer/src/components/StudyList/components/StudyListTable.js
Due: viewer

New icons and old strucure of OHIF ui v1
  platform/ui/src/components/Icon/Icon.js
  platform/ui/src/components/Icon/getIcon.js
  platform/ui/src/components/Icon/icon.mdx
  platform/ui/src/components/Icon/icons/active.svg
  platform/ui/src/components/Icon/icons/cancel.svg
  platform/ui/src/components/Icon/icons/chevron-down.svg
  platform/ui/src/components/Icon/icons/chevron-right.svg
  platform/ui/src/components/Icon/icons/inactive.svg
  platform/ui/src/components/Icon/icons/info-link.svg
  platform/ui/src/components/Icon/icons/launch-arrow.svg
  platform/ui/src/components/Icon/icons/launch-info.svg
  platform/ui/src/components/Icon/icons/settings.svg
  platform/ui/src/components/Icon/icons/sorting-active-down.svg
  platform/ui/src/components/Icon/icons/sorting-active-up.svg
  platform/ui/src/components/Icon/icons/sorting.svg
  platform/ui/src/components/Icon/index.js
Due: none

Export icon
  platform/ui/index.js
  platform/ui/src/components/Icon/index.js
Due: none

add gatsby plugin for svg import
  platform/ui/gatsby-config.js
  platform/ui/package.json
  yarn.lock
Due: none

move mock file to ui
  platform/ui/src/mocks/studyList.json
Due: none

replace component to import from ui
  platform/viewer/src/connectedComponents/ConnectedStudyList.js
Due: viewer

move StudyList to platform/ui
  platform/ui/index.js
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/StudyList.mdx
  platform/ui/src/views/StudyList/components/Header.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
  platform/ui/src/views/StudyList/components/StudyListPagination.js
  platform/ui/src/views/StudyList/components/StudyListTable.js
  platform/ui/src/views/StudyList/index.js
  platform/viewer/src/components/StudyList/index.js
  platform/viewer/src/components/StudyList/studyListMock.json
Due: viewer

fix inner table bg color
  platform/ui/src/views/StudyList/components/StudyListTable.js
Due: none

Removing wrong import and fixing some exports
  platform/ui/index.js
  platform/ui/src/components/Icon/getIcon.js
  platform/ui/src/components/Icon/icon.mdx
  platform/ui/src/components/index.js
Due: none

fix inner table border
  platform/ui/src/views/StudyList/components/StudyListTable.js
Due: none

Fixing svg loader and svg images to fullCurrent
  platform/ui/gatsby-config.js
  platform/ui/package.json
  platform/ui/src/components/Icon/icon.mdx
  platform/ui/src/components/Icon/icons/active.svg
  platform/ui/src/components/Icon/icons/cancel.svg
  platform/ui/src/components/Icon/icons/chevron-down.svg
  platform/ui/src/components/Icon/icons/chevron-right.svg
  platform/ui/src/components/Icon/icons/inactive.svg
  platform/ui/src/components/Icon/icons/info-link.svg
  platform/ui/src/components/Icon/icons/launch-arrow.svg
  platform/ui/src/components/Icon/icons/launch-info.svg
  platform/ui/src/components/Icon/icons/settings.svg
  platform/ui/src/components/Icon/icons/sorting-active-down.svg
  platform/ui/src/components/Icon/icons/sorting-active-up.svg
  platform/ui/src/components/Icon/icons/sorting.svg
  yarn.lock
Due: none

Small fixes on docz
  platform/ui/src/components/Icon/icon.mdx
  platform/ui/src/components/Icon/icons/chevron-down.svg
  platform/ui/src/components/Icon/icons/sorting-active-up.svg
Due: none

Remove repeated icon
  platform/ui/src/components/Icon/icons/inactive.svg
Due: none

add custom flex values
  platform/ui/tailwind.config.js
Due: none

create custom class for custom scrollbar
  platform/ui/src/gatsby-theme-docz/tailwind.css
Due: none

fix inner table
  platform/ui/src/views/StudyList/components/StudyListTable.js
Due: none

Update other components to use Icon
  platform/ui/src/components/Button/Button.mdx
  platform/ui/src/components/ButtonGroup/ButtonGroup.mdx
  platform/ui/src/components/Icon/getIcon.js
Due: none

update comment
  platform/ui/src/views/StudyList/components/StudyListTable.js
Due: none

Update platform/ui/src/components/Icon/icon.mdx
  platform/ui/src/components/Icon/icon.mdx
Due: none

refactor for reusable classes
  platform/ui/src/views/StudyList/components/StudyListTable.js
Due: none

update scrollbar name
  platform/ui/src/gatsby-theme-docz/tailwind.css
Due: none

Fixing callouts
  platform/ui/src/components/Icon/Icon.js
  platform/ui/src/components/Icon/Icon.jsx
  platform/ui/src/components/Icon/getIcon.jsx
  platform/ui/src/components/Icon/icon.mdx
  platform/ui/src/components/Icon/index.js
Due: none

Move icons to assets and fixing layout on iconButtons
  platform/ui/src/assets/icons/active.svg
  platform/ui/src/assets/icons/cancel.svg
  platform/ui/src/assets/icons/chevron-down.svg
  platform/ui/src/assets/icons/chevron-right.svg
  platform/ui/src/assets/icons/info-link.svg
  platform/ui/src/assets/icons/launch-arrow.svg
  platform/ui/src/assets/icons/launch-info.svg
  platform/ui/src/assets/icons/settings.svg
  platform/ui/src/assets/icons/sorting-active-down.svg
  platform/ui/src/assets/icons/sorting-active-up.svg
  platform/ui/src/assets/icons/sorting.svg
  platform/ui/src/components/Button/Button.mdx
  platform/ui/src/components/Icon/getIcon.jsx
Due: none

Fix path of icons
  platform/ui/src/components/Icon/getIcon.jsx
Due: none

feat: Icon component (#1499)
  platform/ui/gatsby-config.js
  platform/ui/index.js
  platform/ui/package.json
  platform/ui/src/assets/icons/active.svg
  platform/ui/src/assets/icons/cancel.svg
  platform/ui/src/assets/icons/chevron-down.svg
  platform/ui/src/assets/icons/chevron-right.svg
  platform/ui/src/assets/icons/info-link.svg
  platform/ui/src/assets/icons/launch-arrow.svg
  platform/ui/src/assets/icons/launch-info.svg
  platform/ui/src/assets/icons/settings.svg
  platform/ui/src/assets/icons/sorting-active-down.svg
  platform/ui/src/assets/icons/sorting-active-up.svg
  platform/ui/src/assets/icons/sorting.svg
  platform/ui/src/components/Button/Button.mdx
  platform/ui/src/components/ButtonGroup/ButtonGroup.mdx
  platform/ui/src/components/Icon/Icon.jsx
  platform/ui/src/components/Icon/getIcon.jsx
  platform/ui/src/components/Icon/icon.mdx
  platform/ui/src/components/Icon/index.js
  platform/ui/src/components/index.js
  yarn.lock
Due: none

fix studyList export
  platform/ui/index.js
  platform/ui/src/views/index.js
Due: none

update scrollbar class
  platform/ui/src/views/StudyList/components/StudyListTable.js
Due: none

feat: Study List Table - v2 (#1497)
  platform/ui/index.js
  platform/ui/src/assets/icons/instances-active.svg
  platform/ui/src/assets/icons/instances-inactive.svg
  platform/ui/src/components/Button/Button.jsx
  platform/ui/src/gatsby-theme-docz/tailwind.css
  platform/ui/src/mocks/studyList.json
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/StudyList.mdx
  platform/ui/src/views/StudyList/components/Header.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
  platform/ui/src/views/StudyList/components/StudyListPagination.js
  platform/ui/src/views/StudyList/components/StudyListTable.js
  platform/ui/src/views/StudyList/index.js
  platform/ui/src/views/index.js
  platform/ui/tailwind.config.js
  platform/viewer/src/components/StudyList/components/StudyListTable.js
  platform/viewer/src/components/StudyList/index.js
  platform/viewer/src/connectedComponents/ConnectedStudyList.js
Due: viewer

Initial code for header
  platform/ui/src/views/StudyList/components/Header.js
  platform/viewer/src/components/StudyList/components/OHIFLogo.js
Due: viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
