Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

fix similar looking scans
  platform/viewer/src/appExtensions/LungModuleSimilarityPanel/SearchParameters/SearchDetails.js
  platform/viewer/src/connectedComponents/ConnectedRadiomics.js
  platform/viewer/src/connectedComponents/Radiomics.js
Due: viewer

fix: state setter for download aspect toggle
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
Due: none

docs: add percy acknowledgment
  README.md
Due: none

try to build
  README.md
Due: none

docs: add percy acknowledgment (#3189)
  README.md
Due: none

Move appConfig after servicesManager initialization
  platform/viewer/src/appInit.js
Due: viewer

minor bug fix - reading modalities
  platform/core/src/DICOMWeb/getModalities.js
Due: core

react error log fix - button props
  platform/ui/src/components/Button/Button.tsx
Due: none

react warn fix - Typography color prop
  platform/ui/src/components/Typography/Typography.tsx
Due: none

calibration tool without persistence
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/init.tsx
  extensions/cornerstone/src/initCornerstoneTools.js
  extensions/cornerstone/src/initMeasurementService.js
  extensions/cornerstone/src/tools/CalibrationLineTool.ts
  extensions/cornerstone/src/utils/callInputDialog.tsx
  extensions/cornerstone/src/utils/getActiveViewportEnabledElement.ts
Due: none

added toolbar button for calibration tool
  modes/basic-dev-mode/src/index.js
  modes/basic-dev-mode/src/toolbarButtons.js
  modes/longitudinal/src/initToolGroups.js
  modes/longitudinal/src/toolbarButtons.js
  platform/docs/docs/user-guide/viewer/toolbar.md
  platform/docs/versioned_docs/version-3.0/user-guide/viewer/toolbar.md
Due: none

icon change for calibration tool
  modes/basic-dev-mode/src/toolbarButtons.js
  modes/longitudinal/src/toolbarButtons.js
  platform/ui/src/assets/icons/tool-calibration.svg
  platform/ui/src/components/Icon/getIcon.js
Due: none

important bug fix for calibration - length and calibration rate calculation
  extensions/cornerstone/src/tools/CalibrationLineTool.ts
Due: none

fix weird autocorrection
  extensions/cornerstone/src/utils/getActiveViewportEnabledElement.ts
Due: none

[fix] bugs after merging upstream
  extensions/cornerstone/src/initMeasurementService.js
  extensions/cornerstone/src/utils/callInputDialog.tsx
Due: none

[refactor] conform to the new service names
  extensions/cornerstone/src/tools/CalibrationLineTool.ts
Due: none

feat(Calibration Tool): add a calibration tool that can manually recalibrate an image and measurements on it (#3136)
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/init.tsx
  extensions/cornerstone/src/initCornerstoneTools.js
  extensions/cornerstone/src/initMeasurementService.js
  extensions/cornerstone/src/tools/CalibrationLineTool.ts
  extensions/cornerstone/src/utils/callInputDialog.tsx
  extensions/cornerstone/src/utils/getActiveViewportEnabledElement.ts
  modes/basic-dev-mode/src/index.js
  modes/basic-dev-mode/src/toolbarButtons.js
  modes/longitudinal/src/initToolGroups.js
  modes/longitudinal/src/toolbarButtons.js
  platform/core/src/DICOMWeb/getModalities.js
  platform/docs/docs/user-guide/viewer/toolbar.md
  platform/docs/versioned_docs/version-3.0/user-guide/viewer/toolbar.md
  platform/ui/src/assets/icons/tool-calibration.svg
  platform/ui/src/components/Button/Button.tsx
  platform/ui/src/components/Icon/getIcon.js
  platform/ui/src/components/Typography/Typography.tsx
Due: core

chore: bump vtk version to fix rendering bug
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  package.json
  yarn.lock
Due: none

chore: bump vtk version to fix rendering bug (#3192)
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  package.json
  yarn.lock
Due: none

fix segments scoll issue
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  platform/viewer/src/connectedComponents/Radiomics.js
Due: viewer

fix(init): servicesManager use before initialization (#3191)
  platform/viewer/src/appInit.js
Due: viewer

Fix errors and es new translations
  platform/i18n/src/locales/en-US/AboutModal.json
  platform/i18n/src/locales/en-US/index.js
  platform/i18n/src/locales/es/AboutModal.json
  platform/i18n/src/locales/es/DatePicker.json
  platform/i18n/src/locales/es/index.js
Due: none

Fix errors and es new translations
  platform/i18n/src/locales/en-US/AboutModal.json
  platform/i18n/src/locales/es/AboutModal.json
Due: none

Fix errors and es new translations
  platform/i18n/src/locales/en-US/index.js
  platform/i18n/src/locales/es/ViewportDownloadForm.json
  platform/i18n/src/locales/es/index.js
Due: none

Add files via upload
  build - Copy (2).js
  build - Copy - Copy.js
  build - Copy.js
  build.js
  can-script - Copy.js
  can-script.js
  eslintrc - Copy (2).js
  eslintrc - Copy - Copy.js
  eslintrc - Copy.js
  eslintrc.js
  gamei - Copy.js
  gamei.js
  map - Copy.js
  map.js
  playable - Copy (2).js
  playable - Copy - Copy.js
  playable - Copy.js
  playable.js
  r - Copy.js
  r.js
  server - Copy (2).js
  server - Copy - Copy.js
  server - Copy.js
  server.js
Due: none

Add files via upload
  RTPanel - Copy (2).js
  RTPanel - Copy.js
  RTPanel.js
  SegmentationPanel - Copy (2).js
  SegmentationPanel - Copy.js
  SegmentationPanel.js
  Thumbnail - Copy (2).js
  Thumbnail - Copy.js
  Thumbnail.js
Due: none

feat(CinePlayer and ViewportActionBar) - OHIF issue 3123
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.tsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/hydrateStructuredReport.tsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
  platform/docs/tailwind.config.js
  platform/ui/package.json
  platform/ui/src/assets/icons/arrow-left-small.svg
  platform/ui/src/assets/icons/arrow-right-small.svg
  platform/ui/src/assets/icons/component-slider.svg
  platform/ui/src/assets/icons/icon-close.svg
  platform/ui/src/assets/icons/icon-pause.svg
  platform/ui/src/assets/icons/icon-play.svg
  platform/ui/src/components/CinePlayer/CinePlayer.css
  platform/ui/src/components/CinePlayer/CinePlayer.tsx
  platform/ui/src/components/CinePlayer/index.js
  platform/ui/src/components/Icon/getIcon.js
  platform/ui/src/components/IconButton/IconButton.tsx
  platform/ui/src/components/InputRange/InputRange.tsx
  platform/ui/src/components/SegmentationGroupTable/SegmentationConfig.tsx
  platform/ui/src/components/SplitButton/SplitButton.tsx
  platform/ui/src/components/ToolbarButton/ToolbarButton.tsx
  platform/ui/src/components/Tooltip/Tooltip.tsx
  platform/ui/src/components/Tooltip/tooltip.css
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.tsx
  platform/ui/src/components/index.js
  platform/ui/src/index.js
  platform/ui/tailwind.config.js
  platform/viewer/tailwind.config.js
  yarn.lock
Due: viewer

fix(translation): errors in StudyList and StudyBrowser for es (#3170)
  platform/i18n/src/locales/en-US/SidePanel.json
  platform/i18n/src/locales/en-US/StudyBrowser.json
  platform/i18n/src/locales/en-US/StudyList.json
  platform/i18n/src/locales/en-US/index.js
  platform/i18n/src/locales/es/AboutModal.json
  platform/i18n/src/locales/es/DatePicker.json
  platform/i18n/src/locales/es/SidePanel.json
  platform/i18n/src/locales/es/StudyBrowser.json
  platform/i18n/src/locales/es/StudyList.json
  platform/i18n/src/locales/es/ViewportDownloadForm.json
  platform/i18n/src/locales/es/index.js
  platform/ui/src/components/SidePanel/SidePanel.tsx
  platform/ui/src/components/StudyListFilter/StudyListFilter.tsx
  platform/ui/src/components/StudyListPagination/StudyListPagination.tsx
  platform/viewer/src/routes/WorkList/filtersMeta.js
Due: viewer

hot key validation errors resolved
  platform/ui/src/components/HotkeysPreferences/HotkeysPreferences.jsx
  platform/ui/src/components/HotkeysPreferences/utils.js
Due: none

Use environment variables to setup Orthanc in the entrypoint
  .docker/Viewer-v2.x/entrypoint.sh
Due: none

[fix] various fixes related to custom overlays (formatting, toggling)
  extensions/cornerstone/src/Viewport/Overlays/CustomizableViewportOverlay.css
  extensions/cornerstone/src/Viewport/Overlays/CustomizableViewportOverlay.tsx
  extensions/cornerstone/src/Viewport/Overlays/utils.ts
  extensions/default/src/commandsModule.js
  extensions/default/src/getCustomizationModule.tsx
Due: none

overlay customization
  extensions/cornerstone/src/Viewport/Overlays/CornerstoneOverlays.tsx
  extensions/cornerstone/src/Viewport/Overlays/CustomizableViewportOverlay.tsx
  extensions/cornerstone/src/Viewport/Overlays/utils.ts
  extensions/default/src/getCustomizationModule.tsx
  platform/core/src/services/CustomizationService/CustomizationService.ts
  platform/docs/docs/platform/services/ui/customization-service.md
  platform/ui/src/components/ViewportOverlay/ViewportOverlay.tsx
Due: core

[fix] remove "notification" from toggleOverlay command
  extensions/default/src/commandsModule.js
Due: none

comments
  extensions/cornerstone/src/Viewport/Overlays/CustomizableViewportOverlay.css
  extensions/default/src/getCustomizationModule.tsx
Due: none

persist toolstate issue fixed for lung mode
  platform/viewer/src/connectedComponents/ConnectedNnunetRetrieveStudyData.js
  platform/viewer/src/connectedComponents/Radiomics.js
  platform/viewer/src/connectedComponents/SelectMask.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/pages/Nnunet.js
  platform/viewer/src/pages/Nnunet_old.js
  platform/viewer/src/studylist/StudyListRoute.js
  platform/viewer/src/utils/handleScrolltoIndex.js
  platform/viewer/src/utils/syncrhonizeToolState.js
Due: viewer

PR feedback: - cine centralized to OHIFCornerstoneViewport - introduced a type for the CinePlayer properties
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
  platform/ui/src/components/CinePlayer/CinePlayer.tsx
  platform/ui/src/components/InputRange/InputRange.tsx
Due: none

feat(ViewportActionBar): OHIF issue #3123 (#3186)
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone-dicom-seg/src/viewports/_getStatusComponent.tsx
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportOverlay.tsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
  platform/docs/tailwind.config.js
  platform/i18n/src/locales/en-US/Common.json
  platform/ui/src/assets/icons/chevron-next.svg
  platform/ui/src/assets/icons/chevron-prev.svg
  platform/ui/src/assets/icons/info-action.svg
  platform/ui/src/assets/icons/status-alert.svg
  platform/ui/src/assets/icons/status-locked.svg
  platform/ui/src/assets/icons/status-tracked.svg
  platform/ui/src/assets/icons/status-untracked.svg
  platform/ui/src/components/CinePlayer/__stories__/cinePlayer.stories.mdx
  platform/ui/src/components/CinePlayer/index.js
  platform/ui/src/components/Icon/getIcon.js
  platform/ui/src/components/LegacyCinePlayer/LegacyCinePlayer.tsx
  platform/ui/src/components/LegacyCinePlayer/LegacyCinePlayerCustomInputRange.css
  platform/ui/src/components/LegacyCinePlayer/__stories__/legacyCinePlayer.stories.mdx
  platform/ui/src/components/LegacyCinePlayer/index.js
  platform/ui/src/components/LegacyPatientInfo/LegacyPatientInfo.tsx
  platform/ui/src/components/LegacyPatientInfo/index.js
  platform/ui/src/components/LegacyViewportActionBar/LegacyViewportActionBar.stories.tsx
  platform/ui/src/components/LegacyViewportActionBar/LegacyViewportActionBar.tsx
  platform/ui/src/components/LegacyViewportActionBar/index.js
  platform/ui/src/components/Viewport/Viewport.tsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.tsx
  platform/ui/src/components/ViewportActionBar/index.tsx
  platform/ui/src/components/index.js
  platform/ui/src/hooks/index.ts
  platform/ui/src/hooks/useResizeObserver.ts
  platform/ui/src/index.js
  platform/ui/tailwind.config.js
  platform/viewer/package.json
  platform/viewer/tailwind.config.js
  yarn.lock
Due: viewer

feat(CinePlayer and ViewportActionBar) (#3198)
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.tsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/hydrateStructuredReport.tsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
  platform/docs/tailwind.config.js
  platform/ui/package.json
  platform/ui/src/assets/icons/arrow-left-small.svg
  platform/ui/src/assets/icons/arrow-right-small.svg
  platform/ui/src/assets/icons/component-slider.svg
  platform/ui/src/assets/icons/icon-close.svg
  platform/ui/src/assets/icons/icon-pause.svg
  platform/ui/src/assets/icons/icon-play.svg
  platform/ui/src/components/CinePlayer/CinePlayer.css
  platform/ui/src/components/CinePlayer/CinePlayer.tsx
  platform/ui/src/components/CinePlayer/index.js
  platform/ui/src/components/Icon/getIcon.js
  platform/ui/src/components/IconButton/IconButton.tsx
  platform/ui/src/components/InputRange/InputRange.tsx
  platform/ui/src/components/SegmentationGroupTable/SegmentationConfig.tsx
  platform/ui/src/components/SplitButton/SplitButton.tsx
  platform/ui/src/components/ToolbarButton/ToolbarButton.tsx
  platform/ui/src/components/Tooltip/Tooltip.tsx
  platform/ui/src/components/Tooltip/tooltip.css
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.tsx
  platform/ui/src/components/index.js
  platform/ui/src/index.js
  platform/ui/tailwind.config.js
  platform/viewer/tailwind.config.js
  yarn.lock
Due: viewer

fix for morphology
  platform/viewer/src/components/3DSegmentation/3D.js
  platform/viewer/src/connectedComponents/Radiomics.js
  platform/viewer/src/lib/PdfMaker.js
  platform/viewer/src/pages/Nnunet.js
  platform/viewer/src/pages/Nnunet_old.js
Due: viewer

Addressed PR comments and concerns...
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
  platform/ui/src/components/CinePlayer/CinePlayer.css
  platform/ui/src/components/CinePlayer/CinePlayer.tsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.tsx
Due: none
