Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

Renaming inputGroup props naming to be more generic.
  platform/ui/index.js
  platform/ui/src/components/InputGroup/InputGroup.jsx
  platform/ui/src/components/InputGroup/InputGroup.mdx
  platform/ui/src/components/index.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

refactor: Reduce bundle size (#1575)
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/VTKViewport.js
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/utils/getReactVtkjsViewport.js
  platform/core/src/classes/StudyLoadingListener.js
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
  platform/core/src/utils/cornerstoneWADOImageLoader.js
  platform/core/src/utils/dicomLoaderService.js
  platform/viewer/src/App.js
  platform/viewer/src/config.js
  platform/viewer/src/lib/filesToStudies.js
  platform/viewer/src/lib/localFileLoaders/dicomFileLoader.js
  platform/viewer/src/lib/localFileLoaders/fileLoaderService.js
  platform/viewer/src/lib/localFileLoaders/pdfFileLoader.js
  platform/viewer/src/routes/routesUtil.js
  platform/viewer/src/utils/cornerstoneWADOImageLoader.js
  platform/viewer/src/utils/index.js
  platform/viewer/src/utils/index.test.js
  platform/viewer/src/utils/initWebWorkers.js
  platform/viewer/src/utils/initWebWorkers.test.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

fix: 🐛 Fix multiframe images (#1595)
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/StackManager.js
Due: core

feat: ui-v2 Color System Naming
  platform/ui/src/components/Button/Button.jsx
  platform/ui/src/components/ButtonGroup/ButtonGroup.jsx
  platform/ui/src/components/DateRange/DateRange.css
  platform/ui/src/components/DateRange/DateRange.jsx
  platform/ui/src/components/EmptyStudies/EmptyStudies.js
  platform/ui/src/components/Icon/icon.mdx
  platform/ui/src/components/IconButton/IconButton.jsx
  platform/ui/src/components/InputLabelWrapper/InputLabelWrapper.jsx
  platform/ui/src/components/InputText/InputText.jsx
  platform/ui/src/components/NavBar/NavBar.jsx
  platform/ui/src/components/Select/Select.css
  platform/ui/src/components/TableCell/TableCell.jsx
  platform/ui/src/components/TableHead/TableHead.jsx
  platform/ui/src/components/Typography/Typography.jsx
  platform/ui/src/gatsby-theme-docz/tailwind.css
  platform/ui/src/gatsby-theme-docz/theme.css
  platform/ui/src/views/Colors/BackgroundColor.jsx
  platform/ui/src/views/Colors/Colors.mdx
  platform/ui/src/views/StudyList/components/Header.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
  platform/ui/src/views/StudyList/components/StudyListPagination.js
  platform/ui/src/views/StudyList/components/StudyListTable.js
  platform/ui/tailwind.config.js
Due: none

remove old colors
  platform/ui/tailwind.config.js
Due: none

refactor: StudyListFilter refactor (#1580)
  platform/ui/index.js
  platform/ui/src/components/DateRange/DateRange.jsx
  platform/ui/src/components/InputGroup/InputGroup.jsx
  platform/ui/src/components/InputGroup/InputGroup.mdx
  platform/ui/src/components/InputGroup/index.js
  platform/ui/src/components/InputLabelWrapper/InputLabelWrapper.jsx
  platform/ui/src/components/InputMultiSelect/InputMultiSelect.jsx
  platform/ui/src/components/index.js
  platform/ui/src/contextProviders/ModalProvider.js
  platform/ui/src/gatsby-theme-docz/components/Sidebar/index.js
  platform/ui/src/utils/index.js
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

PR fixes
  platform/ui/src/components/StudyListPagination/StudyListPagination.js
  platform/ui/src/components/StudyListPagination/StudyListPagination.mdx
  platform/ui/src/components/StudyListTable/StudyListTableRow.js
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/StudyList.mdx
Due: none

Remove console.dir
  platform/ui/src/views/StudyList/StudyList.mdx
Due: none

feat: StudyListTable, ExpandedRow, API definitions (#1579)
  platform/ui/index.js
  platform/ui/package.json
  platform/ui/src/components/StudyListExpandedRow/StudyListExpandedRow.js
  platform/ui/src/components/StudyListExpandedRow/index.js
  platform/ui/src/components/StudyListPagination/StudyListPagination.js
  platform/ui/src/components/StudyListPagination/StudyListPagination.mdx
  platform/ui/src/components/StudyListPagination/index.js
  platform/ui/src/components/StudyListTable/StudyListTable.js
  platform/ui/src/components/StudyListTable/StudyListTable.mdx
  platform/ui/src/components/StudyListTable/StudyListTableRow.js
  platform/ui/src/components/StudyListTable/index.js
  platform/ui/src/components/index.js
  platform/ui/src/mocks/studyList.json
  platform/ui/src/utils/capitalize.js
  platform/ui/src/utils/getInstances.js
  platform/ui/src/utils/getModalities.js
  platform/ui/src/utils/index.js
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/StudyList.mdx
  platform/ui/src/views/StudyList/components/StudyListTable.js
  platform/viewer/src/connectedComponents/ConnectedStudyList.js
Due: viewer

fix color conflicts
  platform/ui/src/components/StudyListTable/StudyListTableRow.js
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/StudyList.mdx
Due: none

feat: 🎸 Zoom and pan for timecourse modal
  extensions/kinderspital-mr-urography/src/components/timecourseModal/TimecourseContent.css
  extensions/kinderspital-mr-urography/src/components/timecourseModal/TimecourseContent.js
  extensions/kinderspital-mr-urography/src/components/timecourseModal/chart/index.js
  extensions/kinderspital-mr-urography/src/components/timecourseModal/chart/lineChart.js
  extensions/kinderspital-mr-urography/src/components/timecourseModal/chart/lineChart/chart.js
  extensions/kinderspital-mr-urography/src/components/timecourseModal/chart/lineChart/events.js
  extensions/kinderspital-mr-urography/src/components/timecourseModal/chart/lineChart/index.js
Due: none

Address comments from code review
  platform/core/package.json
  platform/core/src/DICOMSR/utils/findMostRecentStructuredReport.js
  platform/core/src/redux/reducers/viewports.js
  platform/core/src/studies/services/wado/retrieveMetadataLoaderAsync.js
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

feat: 🎸 Code review. Move timecourse mock data kinderspital ext
  extensions/kinderspital-mr-urography/src/components/MRUrographyPanel.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

Code review. Remove debugger
  extensions/kinderspital-mr-urography/src/components/MRUrographyPanel.js
Due: none

feat: Custom Menu Structure
  platform/ui/doczrc.js
  platform/ui/src/components/Button/Button.mdx
  platform/ui/src/components/ButtonGroup/ButtonGroup.mdx
  platform/ui/src/components/DateRange/DateRange.mdx
  platform/ui/src/components/EmptyStudies/EmptyStudies.mdx
  platform/ui/src/components/Icon/icon.mdx
  platform/ui/src/components/Input/Input.mdx
  platform/ui/src/components/InputDateRange/InputDateRange.mdx
  platform/ui/src/components/InputGroup/InputGroup.mdx
  platform/ui/src/components/InputMultiSelect/InputMultiSelect.mdx
  platform/ui/src/components/InputText/InputText.mdx
  platform/ui/src/components/Label/Label.mdx
  platform/ui/src/components/NavBar/NavBar.mdx
  platform/ui/src/components/Select/Select.mdx
  platform/ui/src/components/StudyListPagination/StudyListPagination.mdx
  platform/ui/src/components/StudyListTable/StudyListTable.mdx
  platform/ui/src/components/Table/Table.mdx
  platform/ui/src/components/Typography/Typography.mdx
  platform/ui/src/gatsby-theme-docz/components/Layout/index.js
  platform/ui/src/gatsby-theme-docz/components/NavGroup/index.js
  platform/ui/src/gatsby-theme-docz/components/Sidebar/index.js
  platform/ui/src/gatsby-theme-docz/theme.css
  platform/ui/src/index.mdx
  platform/ui/src/pages/getting-started.mdx
  platform/ui/src/views/Colors/Colors.mdx
Due: none

feat: Custom Menu Structure (#1605)
  platform/ui/doczrc.js
  platform/ui/src/components/Button/Button.mdx
  platform/ui/src/components/ButtonGroup/ButtonGroup.mdx
  platform/ui/src/components/DateRange/DateRange.mdx
  platform/ui/src/components/EmptyStudies/EmptyStudies.mdx
  platform/ui/src/components/Icon/icon.mdx
  platform/ui/src/components/Input/Input.mdx
  platform/ui/src/components/InputDateRange/InputDateRange.mdx
  platform/ui/src/components/InputGroup/InputGroup.mdx
  platform/ui/src/components/InputMultiSelect/InputMultiSelect.mdx
  platform/ui/src/components/InputText/InputText.mdx
  platform/ui/src/components/Label/Label.mdx
  platform/ui/src/components/NavBar/NavBar.mdx
  platform/ui/src/components/Select/Select.mdx
  platform/ui/src/components/StudyListPagination/StudyListPagination.mdx
  platform/ui/src/components/StudyListTable/StudyListTable.mdx
  platform/ui/src/components/Table/Table.mdx
  platform/ui/src/components/Typography/Typography.mdx
  platform/ui/src/gatsby-theme-docz/components/Layout/index.js
  platform/ui/src/gatsby-theme-docz/components/NavGroup/index.js
  platform/ui/src/gatsby-theme-docz/components/Sidebar/index.js
  platform/ui/src/gatsby-theme-docz/theme.css
  platform/ui/src/index.mdx
  platform/ui/src/pages/getting-started.mdx
  platform/ui/src/views/Colors/Colors.mdx
Due: none

Comment out misbehaving test
  platform/viewer/cypress/integration/pwa/OHIFSaveMeasurements.spec.js
Due: viewer

Add option for setting maximum concurrent metadata requests (@ckedar), show series in panel before their metadata is retrieved (#1576)
  platform/core/package.json
  platform/core/src/DICOMSR/utils/findMostRecentStructuredReport.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/studies/services/wado/retrieveMetadataLoaderAsync.js
  platform/ui/src/viewer/ViewportLoadingIndicator.js
  platform/viewer/cypress/integration/pwa/OHIFSaveMeasurements.spec.js
  platform/viewer/package.json
  platform/viewer/public/config/default.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Pg feature for adding new p point
  extensions/kinderspital-mr-urography/src/components/timecourseModal/TimecourseContent.css
  extensions/kinderspital-mr-urography/src/components/timecourseModal/chart/lineChart/chart.js
  extensions/kinderspital-mr-urography/src/components/timecourseModal/chart/lineChart/events.js
Due: none

WIP
  extensions/kinderspital-mr-urography/src/components/MRUrographyPanel.css
  extensions/kinderspital-mr-urography/src/components/MRUrographyPanel.js
  extensions/kinderspital-mr-urography/src/components/MeasurementTableItem.styl
  extensions/kinderspital-mr-urography/src/tools/KinderspitalFreehandRoiTool.js
Due: none

Add unit test, remove debugger comments, etc.
  extensions/kinderspital-mr-urography/babel.config.js
  extensions/kinderspital-mr-urography/jest.config.js
  extensions/kinderspital-mr-urography/package.json
  extensions/kinderspital-mr-urography/src/index.js
  extensions/kinderspital-mr-urography/src/utils/calculateAreaUnderCurve.js
  extensions/kinderspital-mr-urography/src/utils/calculateAreaUnderCurve.test.js
  yarn.lock
Due: none

feat: 🎸 Code review:jsdocs changes and add spacing on chart cut
  extensions/kinderspital-mr-urography/src/components/timecourseModal/TimecourseContent.css
  extensions/kinderspital-mr-urography/src/components/timecourseModal/chart/lineChart/chart.js
  extensions/kinderspital-mr-urography/src/components/timecourseModal/chart/lineChart/events.js
  extensions/kinderspital-mr-urography/src/components/timecourseModal/chart/lineChart/index.js
Due: none

WIP entries.
  extensions/kinderspital-mr-urography/src/components/MRUrographyPanel.js
  extensions/kinderspital-mr-urography/src/components/MRUrographyTabelItem.js
  extensions/kinderspital-mr-urography/src/components/MRUrographyTableItem.styl
  extensions/kinderspital-mr-urography/src/components/MeasurementTableItem.styl
  extensions/kinderspital-mr-urography/src/index.js
  extensions/kinderspital-mr-urography/src/tools/KinderspitalFreehandRoiTool.js
Due: none

Initial changes for SidePanel
  platform/ui/index.js
  platform/ui/src/components/SidePanel/SidePanel.jsx
  platform/ui/src/components/SidePanel/index.js
  platform/ui/src/components/index.js
  platform/ui/src/views/Viewer/Viewer.js
  platform/ui/src/views/Viewer/Viewer.mdx
  platform/ui/src/views/Viewer/index.js
  platform/ui/src/views/index.js
  platform/viewer/src/App.js
Due: viewer

Docz for context provider
  platform/ui/src/contextProviders/ModalComponent.jsx
  platform/ui/src/contextProviders/ModalProvider.js
  platform/ui/src/contextProviders/ModalProvider.mdx
Due: none

Update docz after callouts
  platform/ui/src/contextProviders/ModalProvider.mdx
  platform/ui/src/gatsby-theme-docz/components/Sidebar/index.js
Due: none

Fixing eslint issues
  platform/ui/src/components/StudyListPagination/StudyListPagination.js
  platform/ui/src/gatsby-theme-docz/components/NavGroup/index.js
Due: none

Small style update
  platform/ui/src/components/SidePanel/SidePanel.jsx
  platform/ui/src/views/Viewer/Viewer.js
Due: none

E2E tests: Segmentations, Removed Script-tag PR-Check, added Parallel execution on CI
  .circleci/config.yml
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  platform/viewer/cypress/integration/common/OHIFSegmentation.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFSegmentation.spec.js
  platform/viewer/package.json
Due: viewer

feat: 🎸 Glomerular point drag feature
  extensions/kinderspital-mr-urography/src/components/timecourseModal/TimecourseContent.css
  extensions/kinderspital-mr-urography/src/components/timecourseModal/TimecourseContent.js
  extensions/kinderspital-mr-urography/src/components/timecourseModal/chart/lineChart/chart.js
  extensions/kinderspital-mr-urography/src/components/timecourseModal/chart/lineChart/events.js
  extensions/kinderspital-mr-urography/src/components/timecourseModal/chart/lineChart/index.js
Due: none

feat: 🎸 Label p/g to be always on viewport
  extensions/kinderspital-mr-urography/src/components/timecourseModal/chart/lineChart/chart.js
Due: none

Fixing parallel execution in CI
  .circleci/config.yml
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
