Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.10%
      core:
        flags: core
      viewer:
        flags: viewer
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

fix top/center bug when mousedown
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
Due: viewer

create route aliases
  platform/viewer/cypress/support/aliases.js
  platform/viewer/cypress/support/commands.js
Due: viewer

add initRouteAliases
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
Due: viewer

ci: Disable docker layer caching because CircleCI doesn't let open source plans use it
  .circleci/config.yml
Due: none

Revert "ci: Disable docker layer caching because CircleCI doesn't let open source plans use it"
  .circleci/config.yml
Due: none

feat: 🎸 Improve usability of Google Cloud adapter, including direct routes to studies (#989)
  platform/core/src/redux/index.js
  platform/core/src/redux/index.test.js
  platform/core/src/redux/sessionStorage.js
  platform/core/src/utils/index.js
  platform/core/src/utils/index.test.js
  platform/core/src/utils/urlUtil.js
  platform/viewer/src/OHIFStandaloneViewer.js
  platform/viewer/src/customHooks/useServer.js
  platform/viewer/src/googleCloud/DicomStorePickerModal.js
  platform/viewer/src/googleCloud/api/GoogleCloudApi.js
  platform/viewer/src/googleCloud/utils/getServers.js
  platform/viewer/src/routes/IHEInvokeImageDisplay.js
  platform/viewer/src/routes/ViewerRouting.js
  platform/viewer/src/routes/routesUtil.js
  platform/viewer/src/store/index.js
  platform/viewer/src/studylist/StudyListRouting.js
  platform/viewer/src/studylist/StudyListWithData.js
Due: core, viewer

ci: Disable docker layer caching because CircleCI doesn't let open source plans use it (#1028)
  .circleci/config.yml
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

fix: Switch token storage back to localStorage because in-memory was annoying for end users
  platform/viewer/src/utils/getUserManagerForOpenIdConnectClient.js
Due: viewer

ci: Set cache key to only use yarn.lock checksum
  .circleci/config.yml
Due: none

Use increasingly general pattern for restoring the cache
  .circleci/config.yml
Due: none

fix: Switch token storage back to localStorage because in-memory was annoying for end users (#1030)
  platform/viewer/src/utils/getUserManagerForOpenIdConnectClient.js
Due: viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Avoid running script tag e2e tests twice
  .circleci/config.yml
  package.json
Due: none

Performance improvements for CI
  .circleci/config.yml
Due: none

Valid YAML
  .circleci/config.yml
Due: none

Valid YAML?
  .circleci/config.yml
Due: none

Valid YAML!!!!
  .circleci/config.yml
Due: none

Update Node image, update yarn version
  .circleci/config.yml
Due: none

circle
  .circleci/config.yml
Due: none

serve
  .circleci/config.yml
Due: none

fix vtk mpr2d CC: @jamesapetts
  extensions/vtk/src/utils/setMPRLayout.js
Due: none

remove setSingleLayoutData
  extensions/vtk/src/utils/setMPRLayout.js
  extensions/vtk/src/utils/setSingleLayoutData.js
  extensions/vtk/src/utils/setViewportToVTK.js
Due: none

remove vtk qualifier
  extensions/vtk/src/utils/setMPRLayout.js
Due: none

ci: Set cache key to only use yarn.lock checksum (#1031)
  .circleci/config.yml
  package.json
Due: none

fix MeasurementsPanel animation timing
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
Due: viewer

refactor: layout manager to viewer (#1026)
  docs/latest/advanced/extensions.md
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/utils/setMPRLayout.js
  extensions/vtk/src/utils/setSingleLayoutData.js
  extensions/vtk/src/utils/setViewportToVTK.js
  platform/core/src/classes/README.md
  platform/core/src/hanging-protocols/ProtocolEngine.js
  platform/core/src/redux/actions.js
  platform/core/src/redux/actions.test.js
  platform/core/src/redux/reducers/viewports.js
  platform/core/src/redux/reducers/viewports.test.js
  platform/ui/src/LayoutChooser/LayoutManager.js
  platform/ui/src/LayoutChooser/LayoutPanelDropTarget.css
  platform/ui/src/LayoutChooser/LayoutPanelDropTarget.js
  platform/ui/src/components/index.js
  platform/ui/src/components/studyBrowser/__docs__/ExampleDropTarget.css
  platform/ui/src/components/studyBrowser/__docs__/ExampleDropTarget.js
  platform/ui/src/components/studyBrowser/__docs__/wrappedStudyBrowser.js
  platform/ui/src/components/studyBrowser/index.js
  platform/ui/src/index.js
  platform/viewer/src/components/ViewportGrid/ConnectedViewportGrid.js
  platform/viewer/src/components/ViewportGrid/DefaultViewport.js
  platform/viewer/src/components/ViewportGrid/EmptyViewport.css
  platform/viewer/src/components/ViewportGrid/EmptyViewport.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.css
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
  platform/viewer/src/components/ViewportGrid/ViewportPane.css
  platform/viewer/src/components/ViewportGrid/ViewportPane.js
  platform/viewer/src/components/ViewportGrid/index.js
  platform/viewer/src/connectedComponents/ConnectedLayoutButton.js
  platform/viewer/src/connectedComponents/ConnectedPluginSwitch.js
  platform/viewer/src/connectedComponents/PluginSwitch.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: core, viewer

show package bundle progress
  platform/viewer/package.json
Due: viewer

Ability to run "quick builds" for faster feedback on status checks (e2e)
  .webpack/webpack.base.js
  platform/viewer/.webpack/webpack.commonjs.js
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/package.json
Due: viewer

ci: speed up PR checks
  .circleci/config.yml
  package.json
  platform/viewer/package.json
Due: viewer

specify quick build value
  .circleci/config.yml
Due: none

ci: speed up script tag e2e tests (#1032)
  .circleci/config.yml
  .webpack/webpack.base.js
  package.json
  platform/viewer/.webpack/webpack.commonjs.js
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/package.json
Due: viewer

ci: build master e2e quickly for now
  .circleci/config.yml
Due: none

ci: fix broken build (#1033)
  .circleci/config.yml
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

minor fixes
  platform/ui/src/components/snackbar/Snackbar.css
  platform/ui/src/components/snackbar/SnackbarContainer.js
  platform/ui/src/components/snackbar/SnackbarItem.js
  platform/ui/src/components/snackbar/SnackbarTypes.js
  platform/viewer/src/context/SnackbarContext.js
  platform/viewer/src/variables.css
Due: viewer

fix long truncated messages
  platform/ui/src/components/snackbar/Snackbar.css
Due: none

feat: 🎸 Load spinner when selecting gcloud store. Add key on td
  platform/ui/src/components/studyList/StudyList.js
  platform/viewer/src/studylist/StudyListWithData.js
Due: viewer

Test cases for extensions: VTK, HTML and PDF
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/common/OHIFExtensionVTK.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionHTML.spec.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionPDF.spec.js
  platform/viewer/cypress/support/aliases.js
  platform/viewer/cypress/support/commands.js
Due: viewer
