Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

Adjust css for suitable view in mobile.
  platform/ui/src/components/layoutButton/LayoutButton.css
  platform/ui/src/components/layoutButton/LayoutChooser.js
  platform/ui/src/components/layoutButton/LayoutChooser.styl
  platform/ui/src/components/studyBrowser/StudyBrowser.styl
  platform/viewer/src/components/Header/Header.css
  platform/viewer/src/components/OHIFLogo/OHIFLogo.css
  platform/viewer/src/connectedComponents/ToolbarRow.css
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

http 413 response fix
  platform/viewer/.recipes/OpenResty-Orthanc/config/nginx.conf
Due: viewer

deprecated luacrypto package replaced
  platform/viewer/.recipes/OpenResty-Orthanc/dockerfile
Due: viewer

sample config added
  platform/viewer/.recipes/OpenResty-Orthanc/config/docker_openresty-orthanc.js
Due: viewer

feat(OHIFv32):Extend and explain the config-point configuration.
  extensions/cornerstone/src/ViewportOverlay.js
  extensions/dicom-video/.webpack/webpack.dev.js
  extensions/dicom-video/.webpack/webpack.prod.js
  extensions/dicom-video/tailwind.config.js
  platform/docs/docs/configuration/configuration.md
  platform/docs/docs/platform/services/config-point-service.md
  platform/ui/src/components/ViewportOverlay/viewportOverlayConfig.js
  platform/viewer/package.json
  yarn.lock
Due: viewer

Updating the config-point version
  package.json
  yarn.lock
Due: none

feat(OHIFv32):Add the configurable site settings menu back in
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  package.json
  platform/ui/src/components/ContextMenuMeasurements/ContextMenuMeasurements.jsx
  platform/ui/src/components/ContextMenuMeasurements/siteSelectionMenu.js
  platform/ui/src/components/MeasurementTable/MeasurementItem.js
  platform/ui/src/components/MeasurementTable/MeasurementTable.jsx
  platform/viewer/package.json
  platform/viewer/public/theme/siteMenu.json5
  platform/viewer/public/theme/theme.json5
  yarn.lock
Due: viewer

chore(core): updates dev GCP dataset and data stores path
  platform/viewer/public/config/default.js
  platform/viewer/public/config/google.js
Due: viewer

Fixed issue with build on docker
  Dockerfile
  platform/docs/versioned_docs/version-2.0/deployment/recipes/embedded-viewer.md
Due: none

Remove the load of config-point, moved to v32-stable
  platform/viewer/package.json
  platform/viewer/src/index.js
  yarn.lock
Due: viewer

feat(PDF):Add PDF viewer (#2730)
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/utils/StaticWadoClient.js
  extensions/dicom-pdf/LICENSE
  extensions/dicom-pdf/README.md
  extensions/dicom-pdf/package.json
  extensions/dicom-pdf/src/getSopClassHandlerModule.js
  extensions/dicom-pdf/src/id.js
  extensions/dicom-pdf/src/index.js
  extensions/dicom-pdf/src/viewports/OHIFCornerstonePdfViewport.js
  extensions/dicom-video/src/getSopClassHandlerModule.js
  extensions/dicom-video/src/viewports/OHIFCornerstoneVideoViewport.js
  modes/longitudinal/src/index.js
  package.json
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/cypress/integration/OHIFPdfDisplay.spec.js
  platform/viewer/package.json
  platform/viewer/public/config/e2e.js
  platform/viewer/public/config/local_static.js
  platform/viewer/src/appInit.js
  platform/viewer/src/index.js
  yarn.lock
Due: viewer

feat: Add initial cli tool structure
  .vscode/launch.json
  platform/cli/bin/ohif-cli
  platform/cli/package.json
  platform/cli/src/cli.js
  platform/cli/src/commands/createExtension.js
  platform/cli/src/commands/index.js
  platform/cli/src/questions.js
  platform/cli/templates/extension/README.md
  platform/cli/templates/extension/package.json
  platform/cli/templates/extension/src/Panels/PanelClock.jsx
  platform/cli/templates/extension/src/Panels/index.js
  platform/cli/templates/extension/src/commandsModule.js
  platform/cli/templates/extension/src/getPanelModule.js
  platform/cli/templates/extension/src/index.js
Due: none

feat: add copying template files
  .vscode/launch.json
  platform/cli/src/cli.js
  platform/cli/src/commands/createExtension.js
  platform/cli/src/lib.js
Due: none

feat: Add readme template generation
  platform/cli/package.json
  platform/cli/src/commands/createExtension.js
  platform/cli/src/commands/createMode.js
  platform/cli/src/lib.js
Due: none

feat: Add mode template and command
  .vscode/launch.json
  platform/cli/package.json
  platform/cli/src/cli.js
  platform/cli/src/commands/createMode.js
  platform/cli/src/commands/index.js
  platform/cli/src/lib.js
  platform/cli/src/questions.js
  platform/cli/templates/extension/.webpack/webpack.dev.js
  platform/cli/templates/extension/.webpack/webpack.prod.js
  platform/cli/templates/extension/README.md
  platform/cli/templates/extension/babel.config.js
  platform/cli/templates/extension/jest.config.js
  platform/cli/templates/mode/.webpack/webpack.dev.js
  platform/cli/templates/mode/.webpack/webpack.prod.js
  platform/cli/templates/mode/babel.config.js
  platform/cli/templates/mode/package.json
  platform/cli/templates/mode/src/index.js
  platform/cli/templates/mode/src/toolbarButtons.js
Due: none

feat: Add documentation to extension template
  platform/cli/templates/extension/src/Panels/PanelClock.jsx
  platform/cli/templates/extension/src/Panels/index.js
  platform/cli/templates/extension/src/commandsModule.js
  platform/cli/templates/extension/src/getPanelModule.js
  platform/cli/templates/extension/src/index.js
Due: none

feat: Enhance documentation of the template mode
  platform/cli/templates/mode/src/index.js
  platform/cli/templates/mode/src/toolbarButtons.js
Due: none

fix: cli module type
  platform/cli/bin/ohif-cli
  platform/cli/package.json
  platform/cli/src/cli.js
  platform/cli/src/commands/createExtension.js
  platform/cli/src/commands/createMode.js
  platform/cli/src/commands/index.js
  platform/cli/src/index.js
  platform/cli/src/lib.js
Due: none

feat: Add config-based mode and extension registration (#2660)
  .gitignore
  extensions/cornerstone/src/index.js
  modes/longitudinal/src/index.js
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/.webpack/writePluginImportsFile.js
  platform/viewer/package.json
  platform/viewer/pluginConfig.json
  platform/viewer/src/App.jsx
  platform/viewer/src/appInit.js
  platform/viewer/src/index.js
  yarn.lock
Due: viewer

feat: Add ohif cli add/remove extension/mode (#2661)
  platform/cli/package.json
  platform/cli/src/commands/addExtension.js
  platform/cli/src/commands/addMode.js
  platform/cli/src/commands/index.js
  platform/cli/src/commands/removeExtension.js
  platform/cli/src/commands/removeMode.js
  platform/cli/src/commands/utils/getPackageVersion.js
  platform/cli/src/commands/utils/installNPMPackage.js
  platform/cli/src/commands/utils/manipulatePluginConfigFile.js
  platform/cli/src/commands/utils/readPluginConfigFile.js
  platform/cli/src/commands/utils/uninstallNPMPackage.js
  platform/cli/src/commands/utils/writePluginConfig.js
  platform/cli/src/index.js
  platform/viewer/package.json
  platform/viewer/pluginConfig.json
  yarn.lock
Due: viewer

feat: Add git initialization for the mode or extension template (#2662)
  platform/cli/src/commands/createExtension.js
  platform/cli/src/commands/createMode.js
  platform/cli/src/commands/utils/createDirectoryContents.js
  platform/cli/src/commands/utils/createLicense.js
  platform/cli/src/commands/utils/createReadme.js
  platform/cli/src/commands/utils/editPackageJson.js
  platform/cli/src/commands/utils/initGit.js
  platform/cli/src/index.js
  platform/cli/src/lib.js
  platform/cli/src/questions.js
  platform/cli/templates/extension/dependencies.json
  platform/cli/templates/mode/dependencies.json
  platform/cli/templates/mode/src/index.js
Due: none

feat: Add the list command to print extensions and modes (#2664)
  platform/cli/src/commands/index.js
  platform/cli/src/commands/listPlugins.js
  platform/cli/src/index.js
Due: none

Feat/ohif cli validation + auto install (#2671)
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  modes/longitudinal/package.json
  modes/longitudinal/src/index.js
  platform/cli/package.json
  platform/cli/src/commands/addExtension.js
  platform/cli/src/commands/addExtensions.js
  platform/cli/src/commands/addMode.js
  platform/cli/src/commands/constants/notFound.js
  platform/cli/src/commands/createExtension.js
  platform/cli/src/commands/createMode.js
  platform/cli/src/commands/enums/keywords.js
  platform/cli/src/commands/removeExtension.js
  platform/cli/src/commands/removeExtensions.js
  platform/cli/src/commands/removeMode.js
  platform/cli/src/commands/utils/addToConfig.js
  platform/cli/src/commands/utils/findOhifExtensionsToRemoveAfterRemovingMode.js
  platform/cli/src/commands/utils/findRequiredOhifExtensionsForMode.js
  platform/cli/src/commands/utils/getPackageVersion.js
  platform/cli/src/commands/utils/getVersionedPackageName.js
  platform/cli/src/commands/utils/getYarnInfo.js
  platform/cli/src/commands/utils/index.js
  platform/cli/src/commands/utils/private/getPackageNameAndScope.js
  platform/cli/src/commands/utils/private/index.js
  platform/cli/src/commands/utils/private/manipulatePluginConfigFile.js
  platform/cli/src/commands/utils/private/readPluginConfigFile.js
  platform/cli/src/commands/utils/private/writePluginConfigFile.js
  platform/cli/src/commands/utils/removeFromConfig.js
  platform/cli/src/commands/utils/throwIfExtensionUsedByInstalledMode.js
  platform/cli/src/commands/utils/validate.js
  platform/viewer/src/routes/WorkList/WorkList.jsx
  yarn.lock
Due: viewer

Feat/cli search (#2677)
  platform/cli/src/commands/createExtension.js
  platform/cli/src/commands/createMode.js
  platform/cli/src/commands/enums/colors.js
  platform/cli/src/commands/enums/endPoints.js
  platform/cli/src/commands/enums/index.js
  platform/cli/src/commands/index.js
  platform/cli/src/commands/listPlugins.js
  platform/cli/src/commands/searchPlugins.js
  platform/cli/src/commands/utils/index.js
  platform/cli/src/commands/utils/prettyPrint.js
  platform/cli/src/index.js
Due: none

verify extensions when constructing modes. (#2681)
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-sr/package.json
  extensions/dicom-sr/src/viewports/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/package.json
  modes/longitudinal/package.json
  platform/cli/templates/extension/dependencies.json
  platform/cli/templates/mode/dependencies.json
  platform/cli/templates/mode/src/index.js
  platform/core/package.json
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/extensions/ExtensionManager.test.js
  platform/core/src/utils/index.js
  platform/core/src/utils/index.test.js
  platform/viewer/package.json
  platform/viewer/src/routes/buildModeRoutes.js
  platform/viewer/src/routes/checkExtensionDependencies.js
  platform/viewer/src/routes/index.js
Due: core, viewer

feat: ohif-cli link local modes/extensions for development (#2682)
  platform/cli/package.json
  platform/cli/src/commands/index.js
  platform/cli/src/commands/linkPackage.js
  platform/cli/src/commands/unlinkPackage.js
  platform/cli/src/commands/utils/addToConfig.js
  platform/cli/src/commands/utils/index.js
  platform/cli/src/commands/utils/installNPMPackage.js
  platform/cli/src/commands/utils/uninstallNPMPackage.js
  platform/cli/src/commands/utils/validateYarn.js
  platform/cli/src/index.js
Due: none

feat: add comment on ohif-cli linking for development (#2686)
  platform/cli/src/commands/createExtension.js
  platform/cli/src/commands/createMode.js
Due: none

Docs/ohif cli (#2687)
  platform/cli/src/commands/createExtension.js
  platform/cli/src/commands/createMode.js
  platform/docs/docs/assets/img/add-extension.png
  platform/docs/docs/assets/img/add-mode.gif
  platform/docs/docs/assets/img/cli-search-no-verbose.png
  platform/docs/docs/assets/img/cli-search-with-verbose.png
  platform/docs/docs/assets/img/create-extension.png
  platform/docs/docs/assets/img/create-mode.png
  platform/docs/docs/assets/img/extension-template.png
  platform/docs/docs/assets/img/mode-clock.png
  platform/docs/docs/assets/img/mode-template.png
  platform/docs/docs/assets/img/ohif-cli-list.png
  platform/docs/docs/assets/img/remove-mode.gif
  platform/docs/docs/development/continous-integration.md
  platform/docs/docs/development/contributing.md
  platform/docs/docs/development/ohif-cli.md
  platform/docs/docs/development/our-process.md
  platform/docs/docs/development/testing.md
Due: none

Fix/core publish (#2685)
  .circleci/config.yml
  .webpack/webpack.base.js
  extensions/cornerstone/.webpack/webpack.prod.js
  extensions/cornerstone/package.json
  extensions/default/.webpack/webpack.prod.js
  extensions/default/package.json
  extensions/default/src/ViewerLayout/index.jsx
  extensions/dicom-sr/.webpack/webpack.prod.js
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/.webpack/webpack.prod.js
  extensions/measurement-tracking/package.json
  modes/longitudinal/.webpack/webpack.prod.js
  modes/longitudinal/package.json
  package.json
  platform/cli/templates/extension/dependencies.json
  platform/cli/templates/mode/dependencies.json
  platform/core/.webpack/webpack.prod.js
  platform/core/package.json
  platform/i18n/.webpack/webpack.prod.js
  platform/ui/.webpack/webpack.prod.js
  platform/viewer/package.json
  platform/viewer/src/routes/Mode/Mode.jsx
  yarn.lock
Due: core, viewer

fix(cli): fix issues when trying to link an extension or a mode (#2725)
  platform/cli/src/commands/utils/addToConfig.js
  platform/cli/src/commands/utils/private/readPluginConfigFile.js
  platform/cli/src/index.js
  platform/cli/templates/extension/dependencies.json
  platform/cli/templates/mode/dependencies.json
Due: none

make dicom pdf and video work after cli merge
  extensions/dicom-pdf/src/getSopClassHandlerModule.js
  extensions/dicom-pdf/src/id.js
  extensions/dicom-pdf/src/index.js
  extensions/dicom-video/src/getSopClassHandlerModule.js
  extensions/dicom-video/src/id.js
  extensions/dicom-video/src/index.js
  modes/longitudinal/package.json
  modes/longitudinal/src/index.js
  package.json
  platform/docs/package.json
  platform/viewer/.webpack/writePluginImportsFile.js
  platform/viewer/pluginConfig.json
  yarn.lock
Due: viewer

add axios dependency
  platform/cli/package.json
  yarn.lock
Due: none

comment out the chdir for now
  platform/cli/package.json
  platform/cli/src/index.js
Due: none

create id and version based on user inputs
  extensions/cornerstone/src/id.js
  extensions/cornerstone/src/index.js
  extensions/default/src/index.js
  extensions/dicom-pdf/src/id.js
  extensions/dicom-pdf/src/index.js
  extensions/dicom-sr/src/id.js
  extensions/dicom-sr/src/index.js
  extensions/dicom-video/src/id.js
  extensions/dicom-video/src/index.js
  extensions/measurement-tracking/src/id.js
  extensions/measurement-tracking/src/index.js
  platform/cli/src/commands/createExtension.js
  platform/cli/src/commands/createMode.js
  platform/cli/src/commands/utils/createIdAndVersion.js
  platform/cli/src/commands/utils/index.js
  platform/cli/src/index.js
  platform/cli/templates/extension/src/index.js
  platform/cli/templates/mode/src/index.js
Due: none

customizable path for extension and modes
  extensions/dicom-sr/src/index.js
  extensions/measurement-tracking/src/index.js
  package.json
  platform/cli/package.json
  platform/cli/src/commands/createExtension.js
  platform/cli/src/commands/createMode.js
  platform/cli/src/commands/utils/createIdAndVersion.js
  platform/cli/src/index.js
  platform/cli/src/questions.js
Due: none

fix template to make the template mode load
  extensions/default/src/getSopClassHandlerModule.js
  extensions/dicom-sr/src/init.js
  extensions/dicom-sr/src/tools/DICOMSRDisplayTool.js
  extensions/dicom-sr/src/viewports/OHIFCornerstoneSRViewport.js
  platform/cli/src/index.js
  platform/cli/templates/mode/src/index.js
  platform/viewer/pluginConfig.json
Due: viewer

Re IDC #2765: fix loading of segmentations at first startup
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/utils/setActiveLabelMap.js
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/viewer/package.json
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerMain.js
  platform/viewer/src/googleCloud/DicomStorePickerModal.js
  yarn.lock
Due: core, viewer

Re IDC #2765: fix loading of segmentations at first startup (#2768)
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/utils/setActiveLabelMap.js
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/viewer/package.json
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerMain.js
  platform/viewer/src/googleCloud/DicomStorePickerModal.js
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
