Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

remove empty line
  extensions/default/src/Panels/PanelStudyBrowser.jsx
Due: none

remove console log
  extensions/default/src/Panels/PanelStudyBrowser.jsx
Due: none

Jump to thumbnail when a new displaySet is added with the madeInClient property.
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  platform/core/src/DICOMSR/dataExchange.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.jsx
Due: core

Check if scrollIntoView exists.
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
Due: none

Give storeMeasurements an onSuccess handler instead of always creating dataSets.
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/core/src/DICOMSR/dataExchange.js
Due: core

OHIF-197 (#1833)
  extensions/default/src/DicomWebDataSource/index.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/core/src/DICOMSR/dataExchange.js
  platform/core/src/DataSources/IWebApiDataSource.js
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
Due: core

Remove debugger statements.
  extensions/cornerstone/src/init.js
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
Due: none

OHIF-198 - Jump to thumbnail when a new displaySet is added (#1834)
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.jsx
Due: core

Add messages to sr pacs
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/ui/src/assets/icons/close.svg
  platform/ui/src/components/IconButton/IconButton.jsx
  platform/ui/src/components/Snackbar/Snackbar.css
  platform/ui/src/components/Snackbar/SnackbarContainer.jsx
  platform/ui/src/components/Snackbar/SnackbarItem.jsx
  platform/ui/src/contextProviders/DialogProvider.css
  platform/ui/src/contextProviders/DialogProvider.jsx
Due: none

Merge in and fix after OHIF-197 and OHIF-198
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
Due: none

Remove console.log
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
Due: none

Fix typo
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.js
Due: none

fix length tracking bug
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.js
Due: none

WIP callout in SR viewport.
  extensions/dicom-sr/src/tools/DICOMSRDisplayTool.js
  extensions/dicom-sr/src/utils/addMeasurement.js
Due: none

Add error message of generate reportt
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/core/src/DICOMSR/dataExchange.js
  platform/ui/src/components/Snackbar/Snackbar.css
  platform/ui/src/components/Snackbar/SnackbarItem.jsx
Due: core

Update snackbar styles
  platform/ui/src/components/Snackbar/Snackbar.css
  platform/ui/tailwind.config.js
Due: none

double click thumbnail loads SR in viewport
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
Due: none

define currentDisplaySetData in viewport grid provider
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
Due: none

replace onClick for double click and styles fixes
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
Due: none

pass isActive prop
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
Due: none

pass currentDisplaySetUID
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
Due: none

update thumbnail props
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
Due: none

fix focus styles
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
  platform/ui/tailwind.config.js
Due: none

Add fuzzmatching property
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/qido.js
Due: none

Delete "basic" example mode, replace with segmentation mode
  modes/segmentation/.webpack/webpack.dev.js
  modes/segmentation/.webpack/webpack.prod.js
  modes/segmentation/LICENSE
  modes/segmentation/babel.config.js
  modes/segmentation/package.json
  modes/segmentation/src/index.js
  modes/segmentation/src/toolbarButtons.js
Due: none

Rename longitudinal mode to "Basic Viewer"; matching design
  modes/longitudinal/src/index.js
  platform/viewer/src/App.jsx
Due: viewer

Update param
  extensions/default/src/DicomWebDataSource/qido.js
Due: none

Prevent default measurementpanel crash
  extensions/default/src/ActionButtons.jsx
  extensions/default/src/PanelMeasurementTable.js
Due: none

Add segmentation mode at appInit
  platform/viewer/src/appInit.js
Due: viewer

Fixing lint errors in PanelMeasurementTableTracking
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

Make sure measurements table updates
  extensions/default/src/PanelMeasurementTable.js
  extensions/default/src/debounce.js
Due: none

Set measurement as active
  extensions/default/src/PanelMeasurementTable.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/ui/src/components/MeasurementTable/MeasurementTable.jsx
Due: none

fix: remove focus if clicked outside thumbnail
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
  platform/ui/src/utils/blurHandlerListener.js
Due: none

Add basic dialog component
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/ui/src/components/Dialog/Body.js
  platform/ui/src/components/Dialog/Dialog.jsx
  platform/ui/src/components/Dialog/Footer.js
  platform/ui/src/components/Dialog/Header.js
  platform/ui/src/components/MeasurementTable/MeasurementTable.jsx
Due: core

Update styles and prop types
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/ui/src/components/Dialog/Body.js
  platform/ui/src/components/Dialog/Dialog.jsx
  platform/ui/src/components/Dialog/Footer.js
Due: none

Tidying up naming
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.jsx
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
Due: none

Update dependency: cornerstone-tools@4.16.1
  extensions/cornerstone/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Use ImageViewer's `StudyInstanceUIDs` to set the initial/default list of expanded study ids
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
Due: none

Jump to image
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/ui/src/components/MeasurementTable/MeasurementTable.jsx
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
Due: none

Shift create report to a separate file
  extensions/measurement-tracking/src/_shared/createReportAsync.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
