Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.10%
      core:
        flags: core
      viewer:
        flags: viewer
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Try to resolve cypress issue
  .circleci/config.yml
  babel.config.js
  maintainer-notes.md
  package.json
  platform/viewer/package.json
  yarn.lock
Due: viewer

Try to fix cypress issue in CI
  .circleci/config.yml
  docs/latest/connecting-to-image-archives/google-cloud-healthcare.md
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/cypress.json
Due: viewer

Skip https
  platform/viewer/.webpack/webpack.pwa.js
Due: viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-microscopy/CHANGELOG.md
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/CHANGELOG.md
  extensions/dicom-pdf/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/i18n/CHANGELOG.md
  platform/i18n/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Set node_env before building with WebPack
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/i18n/package.json
  platform/ui/package.json
Due: core

Watch command output
  .circleci/config.yml
  yarn.lock
Due: none

ci: no output timeout increase
  .circleci/config.yml
Due: none

ci: timeout and publish issues (#861)
  .circleci/config.yml
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/i18n/package.json
  platform/ui/package.json
Due: core

ci: parallize terser
  platform/viewer/.webpack/webpack.pwa.js
Due: viewer

Missing NODE_ENV set
  extensions/cornerstone/package.json
Due: none

show progress for demo build
  platform/viewer/package.json
Due: viewer

ci: parallize terser (#864)
  extensions/cornerstone/package.json
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/package.json
Due: viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

docs: filling in missing readme sections
  README.md
Due: none

docs: filling in missing readme sections (#866)
  README.md
Due: none

feat(Download ScreenShot Dialog)
  platform/core/src/redux/actions.js
  platform/core/src/redux/constants/ActionTypes.js
  platform/core/src/redux/reducers/viewports.js
  platform/ui/src/components/downloadDialog/DownloadDialog.js
  platform/ui/src/components/downloadDialog/DownloadDialog.styl
  platform/ui/src/design/styles/common/global.styl
  platform/ui/src/elements/form/Select.css
  platform/ui/src/elements/form/Select.js
  platform/ui/src/elements/form/TextInput.css
  platform/ui/src/elements/form/TextInput.js
  platform/ui/src/elements/index.js
  platform/ui/src/index.js
  platform/viewer/src/connectedComponents/ConnectedCineDialog.js
  platform/viewer/src/connectedComponents/ConnectedDownloadDialog.js
  platform/viewer/src/lib/DownloadViewportEngine.js
  platform/viewer/src/lib/createImageFromEnabledElementAsync.js
  platform/viewer/src/theme-tide.css
Due: core, viewer

docs(readme): npm links and package descriptions
  README.md
Due: none

docs(readme): More approachable section title
  README.md
Due: none

docs(about): Deploy preview --> Live Demo
  docs/latest/README.md
Due: none

docs(getting-started): build commands, repo links, next steps
  docs/latest/essentials/getting-started.md
Due: none

docs(installation): build commands, no more roll-up, webpack and PWAs
  docs/latest/essentials/installation.md
Due: none

docs(data-source): new file locations, react-scripts to webpack, new env variables for proxy
  .docker/Nginx-Orthanc/config/nginx.conf
  .docker/Nginx-Orthanc/config/orthanc.json
  .docker/Nginx-Orthanc/docker-compose.yml
  .docker/Nginx-Orthanc/volumes/orthanc-db/.gitignore
  docs/latest/essentials/data-source.md
  package.json
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/package.json
Due: viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

fix: 🐛 Local file: failing when retrieving segmentation data
  extensions/cornerstone/src/handleSegmentationStorage.js
Due: none

fix: merge not imported
  .webpack/webpack.commonjs.js
Due: none

Switch SEG retrieval to WADO-RS
  extensions/cornerstone/src/handleSegmentationStorage.js
  platform/core/src/studies/services/wado/retrieveMetadata.js
  platform/core/src/utils/getWADORSImageId.js
  yarn.lock
Due: core

Forgot a debugger
  extensions/cornerstone/src/handleSegmentationStorage.js
Due: none

feat: 🎸 Load local file or folder using native dialog
  platform/viewer/src/connectedComponents/ViewerLocalFileData.css
  platform/viewer/src/connectedComponents/ViewerLocalFileData.js
Due: viewer

refactor: 💡 Code review
  platform/viewer/src/App.js
  platform/viewer/src/studylist/StudyListWithData.js
Due: viewer

docs(configuration): env variables, build commands, templates
  docs/latest/essentials/configuration.md
Due: none

refactor: 💡 Code refactor. Minor changes into methods
  extensions/cornerstone/src/handleSegmentationStorage.js
Due: none

docs(architecture): monorepo changes
  docs/latest/advanced/architecture.md
Due: none

docs: editorial
  docs/latest/frequently-asked-questions.md
  docs/latest/help.md
Due: none

docs(embedded-viewer): new tag, less dependencies,
  docs/latest/deployment/recipes/embedded-viewer.md
Due: none

docs(deployment): updated package name
  docs/latest/deployment/index.md
Due: none

chore: full --watch tag to reduce confusion
  platform/viewer/.webpack/webpack.commonjs.js
  platform/viewer/package.json
Due: viewer

Revert "chore: full --watch tag to reduce confusion"
  platform/viewer/.webpack/webpack.commonjs.js
  platform/viewer/package.json
Due: viewer

fix: @ohif/viewer package build
  platform/viewer/.webpack/webpack.commonjs.js
Due: viewer
