Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

chore(version): Update package versions [skip ci]
  extensions/cornerstone-dicom-rt/package.json
  extensions/cornerstone-dicom-seg/package.json
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-video/package.json
  extensions/measurement-tracking/package.json
  extensions/test-extension/package.json
  extensions/tmtv/package.json
  lerna.json
  modes/basic-dev-mode/package.json
  modes/basic-test-mode/package.json
  modes/longitudinal/package.json
  modes/microscopy/package.json
  modes/tmtv/package.json
  platform/app/package.json
  platform/cli/package.json
  platform/core/package.json
  platform/docs/package.json
  platform/i18n/package.json
  platform/ui/package.json
Due: core

fix(segmentation): Use the series description for the segmentation label. Do not allow the segmentation label to wrap in the SegmentationGroup header. Instead use an ellipsis.
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  platform/ui/src/components/SegmentationGroupTable/SegmentationGroup.tsx
Due: none

fix(segmentation): Use the series description for the segmentation label (#3517)
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  platform/ui/src/components/SegmentationGroupTable/SegmentationGroup.tsx
Due: none

chore(version): version.json [skip ci]
  commit.txt
  extensions/cornerstone-dicom-rt/package.json
  extensions/cornerstone-dicom-seg/package.json
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-video/package.json
  extensions/measurement-tracking/package.json
  extensions/test-extension/package.json
  extensions/tmtv/package.json
  modes/basic-dev-mode/package.json
  modes/basic-test-mode/package.json
  modes/longitudinal/package.json
  modes/microscopy/package.json
  modes/tmtv/package.json
  platform/core/package.json
  version.json
  version.txt
Due: core

Delete user-account-control.md
  platform/docs/docs/deployment/user-account-control.md
Due: none

Update nginx--image-archive.md
  platform/docs/docs/deployment/nginx--image-archive.md
Due: none

fix(tracked-measurement): SR viewports disable jump to measurement
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
Due: none

fix(oidc): WIP testing OIDC routes
  platform/app/src/utils/OpenIdConnectRoutes.tsx
Due: none

Added info admonition in docs regarding read permissions for the SSL certificate and private key. Use RUN instead of run in the Dockerfile.
  Dockerfile
  platform/docs/docs/deployment/docker.md
Due: none

fix(tracked-measurement): SR viewports disable jump to measurement (#3518)
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
Due: none

feat(Docker): Facilitate the ability to run the OHIF docker image over SSL (#3511)
  .docker/Viewer-v3.x/default.ssl.conf.template
  .docker/Viewer-v3.x/entrypoint.sh
  Dockerfile
  platform/docs/docs/assets/img/browser-console-non-secure-context.png
  platform/docs/docs/assets/img/cors-browser-console-errors.png
  platform/docs/docs/assets/img/cors-network-panel-errors.png
  platform/docs/docs/assets/img/ohif-non-secure-context.png
  platform/docs/docs/assets/img/self-signed-cert-advanced-warning.png
  platform/docs/docs/assets/img/self-signed-cert-warning.png
  platform/docs/docs/deployment/authorization.md
  platform/docs/docs/deployment/cors.md
  platform/docs/docs/deployment/docker.md
  platform/docs/docs/deployment/nginx--image-archive.md
Due: none

colormapping opacity
  extensions/cornerstone/src/commandsModule.ts
  extensions/extension-lytic-lesion/src/Panels/HounsfieldUnitRange.tsx
  extensions/extension-lytic-lesion/src/Panels/index.js
  extensions/extension-lytic-lesion/src/commandsModule.ts
  extensions/extension-lytic-lesion/src/getPanelModule.tsx
  extensions/extension-lytic-lesion/src/utils/colormaps/customColormap.js
  extensions/extension-lytic-lesion/src/utils/colormaps/index.js
  extensions/tmtv/src/utils/hpViewports.ts
  modes/lytic-lesions/src/index.js
  modes/lytic-lesions/src/toolbarButtons.js
  platform/core/src/defaults/windowLevelPresets.js
Due: core

refactored component return, created GenerateVolume component, fixed PR issues
  extensions/cornerstone-dynamic-volume/src/panels/PanelGenerateImage.tsx
  extensions/cornerstone/src/commandsModule.ts
  platform/ui/src/components/GenerateVolume/GenerateVolume.tsx
  platform/ui/src/components/InputDoubleRange/InputDoubleRange.css
  platform/ui/src/components/InputDoubleRange/InputDoubleRange.tsx
  platform/ui/src/components/index.js
  platform/ui/src/index.js
Due: none

fixing PR issues
  extensions/cornerstone-dynamic-volume/src/panels/GenerateVolume.tsx
  extensions/cornerstone-dynamic-volume/src/panels/PanelGenerateImage.tsx
  extensions/cornerstone/src/commandsModule.ts
  platform/ui/src/components/index.js
  platform/ui/src/index.js
Due: none

changing name of command
  extensions/cornerstone-dynamic-volume/src/panels/PanelGenerateImage.tsx
  extensions/cornerstone/src/commandsModule.ts
Due: none

removing unused file
  platform/viewer/src/pluginImports.js
Due: viewer

Frame Panel for 4D Volume viewer (#3479)
  extensions/cornerstone-dynamic-volume/src/panels/DynamicDataPanel.tsx
  extensions/cornerstone-dynamic-volume/src/panels/GenerateVolume.tsx
  extensions/cornerstone-dynamic-volume/src/panels/PanelGenerateImage.tsx
  extensions/cornerstone-dynamic-volume/src/panels/index.js
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/commandsModule.ts
  extensions/test-extension/src/hp/index.ts
  platform/ui/src/components/InputDoubleRange/InputDoubleRange.css
  platform/ui/src/components/InputDoubleRange/InputDoubleRange.tsx
  platform/ui/src/components/InputDoubleRange/__stories__/inputDoubleRange.stories.mdx
  platform/ui/src/components/InputDoubleRange/index.js
  platform/ui/src/components/index.js
  platform/ui/src/index.js
  yarn.lock
Due: none

update as required
  platform/ui/src/components/InputNumber/InputNumber.tsx
Due: none

update cs3d version
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  package.json
  platform/app/package.json
  platform/core/package.json
  yarn.lock
Due: core

fix(invert): allows volume viewport to invert and sync their invert status (#3514)
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/init.tsx
  extensions/cornerstone/src/services/SyncGroupService/SyncGroupService.ts
  extensions/cornerstone/src/types/CornerstoneServices.ts
  extensions/measurement-tracking/package.json
  package.json
  platform/app/package.json
  platform/core/package.json
  platform/core/src/types/Services.ts
  yarn.lock
Due: core

docs(ohif): broken link in the docs (#3509)
  platform/docs/docs/deployment/nginx--image-archive.md
Due: none

fix pdf
  platform/viewer/src/lib/PdfMaker.js
Due: viewer

build nl-pacs
  .gitmodules
  extensions/cornerstone/package.json
  lerna.json
  package.json
  platform/app/.webpack/writePluginImportsFile.js
  platform/app/package.json
  platform/ui/src/components/HotkeysPreferences/utils.js
  yarn.lock
Due: none

Add edit prevention in OHIF
  extensions/cornerstone-dicom-seg/src/panels/PanelSegmentation.tsx
  extensions/cornerstone-dicom-seg/src/panels/callInputDialog.tsx
  platform/app/public/config/default.js
  platform/app/src/routes/Mode/Mode.tsx
  platform/core/src/services/ToolBarService/ToolbarService.ts
Due: core

Refactor segmentation edition and read only SRs
  extensions/cornerstone-dicom-seg/src/index.tsx
  extensions/cornerstone-dicom-seg/src/panels/PanelSegmentation.tsx
  extensions/cornerstone-dicom-sr/src/index.tsx
  extensions/cornerstone-dicom-sr/src/utils/hydrateStructuredReport.js
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.tsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptHydrateStructuredReport.js
  extensions/measurement-tracking/src/getContextModule.tsx
  platform/app/src/routes/Mode/Mode.tsx
  platform/core/src/services/MeasurementService/MeasurementService.ts
  platform/core/src/services/ToolBarService/ToolbarService.ts
  platform/ui/src/components/SegmentationGroupTable/SegmentationGroup.tsx
  platform/ui/src/components/SegmentationGroupTable/SegmentationGroupSegment.tsx
  platform/ui/src/components/SegmentationGroupTable/SegmentationGroupTable.tsx
Due: core

ByPass prompt for RT
  extensions/cornerstone-dicom-rt/src/index.tsx
  extensions/cornerstone-dicom-rt/src/viewports/OHIFCornerstoneRTViewport.tsx
Due: none

By pass prompt for SEG
  extensions/cornerstone-dicom-seg/src/index.tsx
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
Due: none

BYpass prompt for SR
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptHydrateStructuredReport.js
Due: none

Add disableHydration in config
  platform/app/public/config/default.js
Due: none

fix jumpToClick Tool for TMTV mode
  modes/tmtv/src/initToolGroups.js
Due: none

rerun CII
  platform/ui/src/components/InputNumber/InputNumber.tsx
Due: none

add conditional statement for rendering <Label>
  platform/ui/src/components/InputNumber/InputNumber.tsx
Due: none
