Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

bump cornerstonejs versions
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  yarn.lock
Due: none

feat: query string dynamic app config
  extensions/default/src/ViewerLayout/index.tsx
  platform/docs/docs/configuration/configurationFiles.md
  platform/viewer/public/config/default.js
  platform/viewer/src/index.js
  platform/viewer/src/loadDynamicConfig.js
  platform/viewer/src/routes/DataSourceWrapper.tsx
  platform/viewer/src/routes/WorkList/WorkList.tsx
Due: viewer

fix(SR): KO series being displayed in browser list (#3382)
  extensions/cornerstone-dicom-rt/package.json
  extensions/cornerstone-dicom-rt/src/viewports/OHIFCornerstoneRTViewport.tsx
  extensions/cornerstone-dicom-seg/package.json
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.ts
  extensions/cornerstone-dicom-sr/src/utils/createReferencedImageDisplaySet.ts
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/default/src/Panels/PanelStudyBrowser.tsx
  extensions/dicom-microscopy/package.json
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.tsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.tsx
  modes/microscopy/package.json
  package.json
  platform/cli/package.json
  platform/cli/templates/extension/dependencies.json
  platform/cli/templates/mode/dependencies.json
  platform/core/src/services/DisplaySetService/DisplaySetService.ts
  platform/viewer/src/components/ViewportGrid.tsx
  yarn.lock
Due: core, viewer

Fix jest config for newer jest
  jest.config.base.js
Due: none

recursive call
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
Due: core

less copy
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
Due: core

apply review comments
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
Due: core

fix(Measurement): Use dashed lines for measurments of viewports where getCurrentImageId returns undefined
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
Due: none

fix: bug fix and couple of very small improvements
  extensions/default/src/ViewerLayout/index.tsx
  platform/viewer/public/config/default.js
  platform/viewer/src/loadDynamicConfig.js
  platform/viewer/src/routes/WorkList/WorkList.tsx
Due: viewer

feat: query string dynamic app config (#3391)
  extensions/default/src/ViewerLayout/index.tsx
  platform/docs/docs/configuration/configurationFiles.md
  platform/viewer/public/config/default.js
  platform/viewer/src/index.js
  platform/viewer/src/loadDynamicConfig.js
  platform/viewer/src/routes/DataSourceWrapper.tsx
  platform/viewer/src/routes/WorkList/WorkList.tsx
Due: viewer

Added query.series to DicomLocalDataSource.
  extensions/default/src/DicomLocalDataSource/index.js
Due: none

fix(dicomlocal): navigate /local to the work list and /localbasic to the (basic) viewer (#3389)
  extensions/default/src/DicomLocalDataSource/index.js
  platform/viewer/src/routes/Local/Local.tsx
  platform/viewer/src/routes/WorkList/WorkList.tsx
  platform/viewer/src/routes/index.tsx
Due: viewer

review
  platform/docs/docs/migration-guide.md
Due: none

fix e2e tests
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
Due: core

Updated cornerstone3d packages
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Fixed code comment.
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
Due: none

Removed unused imports.
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
Due: none

fix(Measurement): Use dashed lines for measurments of viewports where getCurrentImageId returns undefined (#3392)
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
  package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

apply review comments
  platform/docs/docs/assets/img/migration-modes.png
  platform/docs/docs/assets/img/migration-split-button.png
  platform/docs/docs/migration-guide.md
Due: none

apply review comments
  modes/tmtv/src/index.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
Due: core

revert
  modes/tmtv/src/index.js
Due: none

Update docs for sop class handler
  platform/docs/docs/migration-guide.md
  platform/docs/docs/platform/extensions/modules/sop-class-handler.md
Due: none

feat(custom displayOptions): add custom options to every level of hp (#3372)
  extensions/cornerstone/package.json
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/components/DicomUpload/DicomUploadProgress.tsx
  extensions/cornerstone/src/getHangingProtocolModule.ts
  extensions/cornerstone/src/index.tsx
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
  extensions/cornerstone/src/utils/colormap/applyPreset.js
  extensions/cornerstone/src/utils/colormap/colors.js
  extensions/cornerstone/src/utils/colormap/presets.js
  extensions/cornerstone/src/utils/colormap/transferFunctionHelpers.js
  extensions/tmtv/src/init.js
  extensions/tmtv/src/utils/hpViewports.ts
  modes/tmtv/src/index.js
  platform/core/package.json
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/docs/docs/platform/extensions/modules/hpModule.md
  platform/docs/docs/platform/services/data/HangingProtocolService.md
  platform/viewer/src/components/ViewportGrid.tsx
Due: core, viewer

Updated notes on display sets
  platform/docs/docs/platform/services/data/DisplaySetService.md
Due: none

Docs note
  platform/docs/docs/migration-guide.md
Due: none

Fix unit tests
  platform/core/src/extensions/ExtensionManager.test.js
  platform/viewer/src/routes/Mode/Mode.tsx
Due: core, viewer

PR requested changes
  platform/core/src/extensions/ExtensionManager.ts
  platform/core/src/services/CustomizationService/CustomizationService.ts
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
Due: core

Code cleanup
  extensions/cornerstone-dicom-seg/src/index.tsx
  platform/core/src/types/index.ts
Due: core

fix(Image Download): various bug fixes for image download (#3396)
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/utils/CornerstoneViewportDownloadForm.tsx
  platform/ui/src/components/ViewportDownloadForm/ViewportDownloadForm.tsx
Due: none

docs(migration): add migration guides for v2 to v3 (#3387)
  platform/docs/docs/assets/img/migration-modes.png
  platform/docs/docs/assets/img/migration-split-button.png
  platform/docs/docs/migration-guide.md
  platform/docs/docs/platform/extensions/modules/sop-class-handler.md
  platform/docs/docs/platform/services/data/DisplaySetService.md
Due: none

fix(local): should use dicomlocal for localbasic
  platform/viewer/src/routes/index.tsx
Due: viewer

chore(github): add new forms for issues and prs
  .github/ISSUE_TEMPLATE/---bug-report.md
  .github/ISSUE_TEMPLATE/---feature-request.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/pull_request_template.md
  .github/pull_request_template.yml
Due: none

chore(github): add new forms for issues and prs (#3398)
  .github/ISSUE_TEMPLATE/---bug-report.md
  .github/ISSUE_TEMPLATE/---feature-request.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/pull_request_template.md
  .github/pull_request_template.yml
Due: none

chore(github): add new forms for issues and prs styling
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/pull_request_template.yml
Due: none

revert back the pull request template
  .github/pull_request_template.md
  .github/pull_request_template.yml
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
