Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

Merge internal with external configs
  extensions/cornerstone/src/init.js
Due: none

Remove dialog from init in measurementstable
  extensions/cornerstone/src/init.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
Due: viewer

Testing injected configuration
  platform/viewer/public/config/default.js
  platform/viewer/src/App.js
  platform/viewer/src/index.js
Due: viewer

New way to set config
  platform/viewer/public/config/default.js
  platform/viewer/src/App.js
  platform/viewer/src/index.js
Due: viewer

Return a promise so we can make sure our labelmap is loaded before pulling metadata
  extensions/dicom-seg/src/OHIFDicomSegSopClassHandler.js
Due: none

Better UI to toggle labelmaps
  extensions/dicom-seg/src/ExampleSidePanel.css
  extensions/dicom-seg/src/ExampleSidePanel.js
Due: none

Fix accidental untoggle of active labelmap for ui
  extensions/dicom-seg/src/ExampleSidePanel.js
Due: none

Remove brush tool from cornerstone extension
  extensions/cornerstone/src/init.js
Due: none

Add cstools in preInit for seg extension
  extensions/dicom-seg/src/init.js
Due: none

Add buttons for seg magic
  extensions/dicom-seg/src/toolbarModule.js
Due: none

Hide the measurements panel for now
  platform/viewer/src/App.js
Due: viewer

Slightly better seg/scissor icons
  extensions/dicom-seg/src/ExampleSidePanel.js
  extensions/dicom-seg/src/toolbarModule.js
  platform/ui/src/elements/Icon/getIcon.js
  platform/ui/src/elements/Icon/icons/brush.svg
  platform/ui/src/elements/Icon/icons/scissors.svg
  platform/ui/src/elements/Icon/icons/sphere.svg
Due: none

Add eraser
  extensions/dicom-seg/src/init.js
  extensions/dicom-seg/src/toolbarModule.js
Due: none

fix of undefined name of project
  platform/viewer/src/googleCloud/ProjectsList.js
Due: viewer

ability to switch segments
  extensions/dicom-seg/src/ExampleSidePanel.js
Due: none

fix: of undefined name of project (#1231)
  platform/viewer/src/googleCloud/ProjectsList.js
Due: viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Add new prop to dialog provider to allow disabling last position
  platform/core/src/services/UIDialogService/index.js
  platform/ui/src/contextProviders/ContextMenuProvider.js
Due: core

Remove code from preinit in cornerstone
  extensions/cornerstone/src/init.js
Due: none

Add new prop to dialog provider to allow disabling last position
  platform/ui/src/contextProviders/DialogProvider.js
Due: none

Add centralize to dialogs
  platform/core/src/services/UIDialogService/index.js
  platform/ui/src/contextProviders/DialogProvider.js
Due: core

fix: User Preferences Issues (#1207)
  platform/core/src/classes/HotkeysManager.js
  platform/core/src/classes/HotkeysManager.test.js
  platform/core/src/redux/reducers/preferences.js
  platform/i18n/src/index.js
  platform/i18n/src/locales/ar/UserPreferencesModal.json
  platform/i18n/src/locales/ar/index.js
  platform/i18n/src/locales/en-US/UserPreferencesModal.json
  platform/i18n/src/locales/index.js
  platform/i18n/src/locales/pt-BR/UserPreferencesModal.json
  platform/ui/src/components/languageSwitcher/LanguageSwitcher.js
  platform/ui/src/components/studyList/CustomDateRangePicker.js
  platform/ui/src/components/studyList/StudyList.js
  platform/ui/src/components/studyList/TableSearchFilter.js
  platform/ui/src/components/userPreferencesForm/GeneralPreferences.js
  platform/ui/src/components/userPreferencesForm/HotKeysPreferences.js
  platform/ui/src/components/userPreferencesForm/UserPreferences.js
  platform/ui/src/components/userPreferencesForm/UserPreferencesForm.js
  platform/ui/src/components/userPreferencesForm/UserPreferencesTabs.js
  platform/ui/src/components/userPreferencesForm/UserPreferencesTabs.styl
  platform/ui/src/components/userPreferencesForm/WindowLevelPreferences.js
  platform/ui/src/components/userPreferencesForm/WindowLevelPreferences.styl
  platform/ui/src/components/userPreferencesForm/index.js
  platform/ui/src/elements/form/DropdownMenu.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
  platform/viewer/cypress/support/commands.js
  platform/viewer/src/App.js
  platform/viewer/src/components/Header/Header.js
  platform/viewer/src/connectedComponents/ConnectedHeader.js
  platform/viewer/src/connectedComponents/ConnectedUserPreferencesForm.js
  platform/viewer/src/variables.css
Due: core, viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/i18n/CHANGELOG.md
  platform/i18n/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Reorder dialogs when adding them
  platform/ui/src/contextProviders/DialogProvider.js
Due: none

Fix draggable styles (cursor)
  platform/ui/src/contextProviders/DialogProvider.js
  platform/ui/src/contextProviders/DialogProvider.styl
Due: none

Remove repositioning methods from labelling flow and remove overlay from labelling manager
  platform/viewer/src/components/Labelling/LabellingFlow.js
  platform/viewer/src/components/Labelling/LabellingManager.css
Due: viewer

Fix empty array being set in bringToFront
  platform/ui/src/contextProviders/DialogProvider.js
Due: none

fix: Combined Hotkeys for special characters
  platform/ui/src/components/userPreferencesForm/HotKeysPreferences.js
Due: none

fix: translations
  platform/i18n/src/locales/en-US/Buttons.json
  platform/i18n/src/locales/es/Buttons.json
  platform/i18n/src/locales/es/Common.json
  platform/i18n/src/locales/pt-BR/Buttons.json
  platform/i18n/src/locales/pt-BR/Common.json
  platform/i18n/src/locales/pt-BR/UserPreferencesModal.json
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
Due: none

seg color / switcher
  extensions/dicom-seg/src/ExampleSidePanel.js
Due: none

Add new command to update table and pass commands manager to modules/preinit hook
  extensions/cornerstone/src/commandsModule.js
  platform/core/src/classes/CommandsManager.js
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/extensions/ExtensionManager.test.js
Due: core

Ad UIContextMenu service / factory
  platform/core/src/index.js
  platform/core/src/index.test.js
  platform/core/src/services/index.js
  platform/ui/src/contextProviders/ContextMenuProvider.js
  platform/ui/src/contextProviders/index.js
  platform/ui/src/index.js
  platform/viewer/src/App.js
Due: core, viewer

Use new contextmenu service in measurementspanel extension
  platform/viewer/src/appExtensions/MeasurementsPanel/index.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
Due: viewer

Use dialogs for arrow annotate in default
  platform/viewer/public/config/default.js
Due: viewer

Remove positioning funcionality from tool context menu
  platform/viewer/src/connectedComponents/ToolContextMenu.css
  platform/viewer/src/connectedComponents/ToolContextMenu.js
Due: viewer

Add context menu service
  platform/core/src/services/UIContextMenuService/index.js
Due: core

Fix vtk labelmap cache.
  extensions/vtk/src/OHIFVTKViewport.js
Due: none

Fixes for PR comments
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
  platform/ui/src/components/ohifModal/OHIFModal.js
  platform/viewer/cypress/integration/common/OHIFDownloadSnapshotFile.spec.js
Due: viewer

Small change just to check CI behavior
  platform/viewer/cypress/integration/common/OHIFDownloadSnapshotFile.spec.js
Due: viewer

Fix for CI failure: comparing classes instead of image src
  platform/viewer/cypress/integration/common/OHIFDownloadSnapshotFile.spec.js
Due: viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
