Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

added PET_IMAGE_MODULE + getDynamicVolumeInfoDevMode
  extensions/cornerstone-dynamic-volume/src/getPanelModule.tsx
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/index.tsx
  extensions/default/src/Toolbar/Toolbar.tsx
  extensions/default/src/getSopClassHandlerModule.js
  modes/preclinical-4d/src/index.tsx
  platform/core/src/classes/MetadataProvider.js
  platform/ui/src/contextProviders/CineProvider.tsx
Due: core

feat(4d): synced cine from all 4D viewports
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/init.tsx
  extensions/cornerstone/src/initCineService.ts
  extensions/cornerstone/src/utils/cine/getSyncedCineState.ts
  modes/preclinical-4d/src/index.tsx
  platform/core/src/services/CineService/CineService.ts
  platform/ui/src/components/CinePlayer/CinePlayer.tsx
  platform/ui/src/contextProviders/CineProvider.tsx
Due: core

feat(4d): hanging protocols
  extensions/cornerstone-dynamic-volume/src/getHangingProtocolModule.ts
  extensions/cornerstone-dynamic-volume/src/index.ts
Due: none

updated HP and tools
  extensions/cornerstone-dynamic-volume/src/getHangingProtocolModule.ts
  extensions/cornerstone/src/utils/cine/getSyncedCineState.ts
  modes/preclinical-4d/src/index.tsx
  modes/preclinical-4d/src/initToolGroups.tsx
  modes/preclinical-4d/src/toolbarButtons.tsx
Due: none

fixed conflicts after rebasing with v3-stable
  extensions/cornerstone-dynamic-volume/src/getHangingProtocolModule.ts
Due: none

moved synced cine logic from viewport to provider
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/initCineService.ts
  extensions/cornerstone/src/utils/cine/getSyncedCineState.ts
  platform/core/src/services/CineService/CineService.ts
  platform/ui/src/contextProviders/CineProvider.tsx
Due: core

fix(cine): PT/CT viewport with a 4D volume loaded
  extensions/cornerstone-dynamic-volume/src/getHangingProtocolModule.ts
  extensions/cornerstone/src/initCineService.ts
  platform/ui/src/contextProviders/CineProvider.tsx
Due: none

feat(4D): workflow stages panel
  extensions/cornerstone-dynamic-volume/src/getHangingProtocolModule.ts
  extensions/cornerstone-dynamic-volume/src/panels/DynamicDataPanel.tsx
  extensions/cornerstone-dynamic-volume/src/panels/WorkflowPanel.tsx
  extensions/cornerstone/src/initCineService.ts
Due: none

update tools initialization
  extensions/cornerstone-dynamic-volume/src/getHangingProtocolModule.ts
  extensions/cornerstone-dynamic-volume/src/panels/WorkflowPanel.tsx
  modes/preclinical-4d/src/index.tsx
  modes/preclinical-4d/src/initToolGroups.tsx
  modes/preclinical-4d/src/toolbarButtons.tsx
Due: none

changed tools to make it similar to TMTV
  modes/preclinical-4d/src/index.tsx
  modes/preclinical-4d/src/initToolGroups.tsx
  modes/preclinical-4d/src/toolbarButtons.tsx
Due: none

added cine toolbar button
  modes/preclinical-4d/src/index.tsx
  modes/preclinical-4d/src/toolbarButtons.tsx
Due: none

fix: Preserve the viewportId values
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
  platform/viewer/src/components/ViewportGrid.tsx
Due: viewer

feat: initial RT support
  extensions/cornerstone-dicom-rt/.webpack/webpack.dev.js
  extensions/cornerstone-dicom-rt/.webpack/webpack.prod.js
  extensions/cornerstone-dicom-rt/LICENSE
  extensions/cornerstone-dicom-rt/README.md
  extensions/cornerstone-dicom-rt/babel.config.js
  extensions/cornerstone-dicom-rt/package.json
  extensions/cornerstone-dicom-rt/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-rt/src/id.js
  extensions/cornerstone-dicom-rt/src/index.tsx
  extensions/cornerstone-dicom-rt/src/loadRTStruct.js
  extensions/cornerstone-dicom-rt/src/utils/_hydrateRT.ts
  extensions/cornerstone-dicom-rt/src/utils/initRTToolGroup.ts
  extensions/cornerstone-dicom-rt/src/utils/promptHydrateRT.ts
  extensions/cornerstone-dicom-rt/src/viewports/OHIFCornerstoneRTViewport.tsx
  extensions/cornerstone-dicom-rt/src/viewports/_getStatusComponent.tsx
  modes/longitudinal/package.json
  modes/longitudinal/src/index.js
  platform/viewer/package.json
  platform/viewer/pluginConfig.json
Due: viewer

make the segmentation service work with representation data
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/services/SegmentationService/SegmentationServiceTypes.ts
Due: none

feat: make segmentation service work with representations
  extensions/cornerstone-dicom-rt/src/viewports/OHIFCornerstoneRTViewport.tsx
  extensions/cornerstone-dicom-rt/src/viewports/_getStatusComponent.tsx
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  platform/docs/docs/platform/services/data/SegmentationService.md
Due: none

fix rtss vis
  extensions/cornerstone-dicom-rt/src/viewports/_getStatusComponent.tsx
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
Due: none

fix the rendering of rt names
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
Due: none

fix: rt hydration
  extensions/cornerstone-dicom-rt/src/utils/_hydrateRT.ts
  extensions/cornerstone-dicom-rt/src/viewports/OHIFCornerstoneRTViewport.tsx
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  yarn.lock
Due: none

fix imports
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/tools/CalibrationLineTool.ts
Due: none

refactor: Modify status and click handling for hydration of RTStructures
  extensions/cornerstone-dicom-rt/src/viewports/OHIFCornerstoneRTViewport.tsx
  extensions/cornerstone-dicom-rt/src/viewports/_getStatusComponent.tsx
  extensions/cornerstone-dicom-seg/src/panels/PanelSegmentation.tsx
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  modes/longitudinal/src/index.js
  platform/ui/src/components/SegmentationGroupTable/SegmentationConfig.tsx
  platform/ui/src/components/SegmentationGroupTable/SegmentationGroupTable.tsx
  platform/ui/src/components/SegmentationGroupTable/segmentationConfigReducer.tsx
  platform/viewer/public/config/local_dcm4chee.js
  yarn.lock
Due: viewer

wip for highlighting contours
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
Due: none

refactor rt displayset code
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/utils/transitions.ts
  extensions/default/src/getSopClassHandlerModule.js
Due: none

review code update
  extensions/cornerstone/src/tools/CalibrationLineTool.ts
  platform/viewer/public/config/local_dcm4chee.js
Due: viewer

update cornerstone dependencies
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  platform/viewer/netlify.toml
  yarn.lock
Due: viewer

refactor: Update license year, version number, and minor code cleanup
  extensions/cornerstone-dicom-rt/LICENSE
  extensions/cornerstone-dicom-rt/README.md
  extensions/cornerstone-dicom-rt/package.json
  extensions/cornerstone-dicom-rt/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-rt/src/index.tsx
  extensions/cornerstone-dicom-rt/src/viewports/OHIFCornerstoneRTViewport.tsx
  extensions/cornerstone-dicom-seg/LICENSE
  extensions/cornerstone-dicom-seg/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone/src/init.tsx
  extensions/cornerstone/src/services/SegmentationService/RTSTRUCT/mapROIContoursToRTStructData.ts
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  modes/longitudinal/src/index.js
  platform/core/src/types/Color.ts
  platform/core/src/types/index.ts
  platform/ui/src/components/LoadingIndicatorTotalPercent/LoadingIndicatorTotalPercent.tsx
  platform/ui/src/components/LoadingIndicatorTotalPercent/index.js
  platform/ui/src/components/index.js
  platform/ui/src/index.js
Due: core

add bulkdataURI retrieve for RT
  extensions/cornerstone-dicom-rt/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-rt/src/loadRTStruct.js
  extensions/default/src/DicomWebDataSource/index.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/local_dcm4chee.js
Due: viewer

fix package version
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  modes/longitudinal/package.json
  platform/viewer/package.json
  platform/viewer/pluginConfig.json
Due: viewer

use new dicom image loader instead of cswil
  .webpack/webpack.base.js
  extensions/cornerstone/package.json
  extensions/cornerstone/src/initWADOImageLoader.js
  extensions/cornerstone/src/utils/dicomLoaderService.js
  extensions/default/src/Panels/getStudiesForPatientByStudyInstanceUID.js
  extensions/tmtv/src/utils/getStudiesForPatientByStudyInstanceUID.js
  platform/core/package.json
  platform/core/src/classes/MetadataProvider.js
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/package.json
  platform/viewer/src/routes/Local/dicomFileLoader.js
  platform/viewer/src/routes/Local/fileLoaderService.js
  platform/viewer/src/routes/Local/pdfFileLoader.js
  yarn.lock
Due: core, viewer

Fix for Joe's double click blank viewport issue
  extensions/default/src/commandsModule.ts
  extensions/default/src/findViewportsByPosition.ts
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
Due: none

PR - documentation
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.ts
Due: none

feat(core): updates default config
  .docker/Viewer-v3.x/default.conf
Due: none

remove author section from readme
  extensions/dicom-microscopy/README.md
  modes/microscopy/README.md
Due: none

fix(Browser history): - fixed an NPE when navigating to a different study via the URL - exposed browser history navigation via a command
  extensions/default/src/commandsModule.ts
  extensions/default/src/types/commandModuleTypes.tsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.tsx
  platform/ui/package.json
  platform/ui/src/index.js
  platform/ui/src/utils/history.ts
  platform/viewer/src/routes/Mode/Mode.tsx
Due: viewer

feat(core): updates default config
  .docker/Viewer-v3.x/entrypoint.sh
  Dockerfile-MIB-AIR
  platform/viewer/package.json
  platform/viewer/server.js
  yarn.lock
Due: viewer

Code clean up.
  extensions/cornerstone/src/components/DicomUpload/DicomUpload.tsx
  platform/viewer/src/routes/WorkList/WorkList.tsx
Due: viewer

feat(core): updates default config
  platform/viewer/package.json
Due: viewer

Added documentation for the navigateHistory command. Moved the history object from UI to viewer.
  extensions/default/src/commandsModule.ts
  platform/docs/docs/platform/modes/routes.md
  platform/ui/package.json
  platform/ui/src/index.js
  platform/viewer/src/index.js
  platform/viewer/src/routes/Mode/Mode.tsx
  platform/viewer/src/utils/history.ts
Due: viewer
