Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

fix(hp): Add displaySetMatchDetails and displaySets to options in (#3320)
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
Due: core

feat(measurements): add CircleROI Tool (#3211)
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone-dicom-sr/src/init.ts
  extensions/cornerstone-dicom-sr/src/tools/toolNames.ts
  extensions/cornerstone/package.json
  extensions/cornerstone/src/initCornerstoneTools.js
  extensions/cornerstone/src/initMeasurementService.js
  extensions/cornerstone/src/utils/measurementServiceMappings/ArrowAnnotate.ts
  extensions/cornerstone/src/utils/measurementServiceMappings/Bidirectional.ts
  extensions/cornerstone/src/utils/measurementServiceMappings/CircleROI.ts
  extensions/cornerstone/src/utils/measurementServiceMappings/EllipticalROI.ts
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.ts
  extensions/cornerstone/src/utils/measurementServiceMappings/constants/supportedTools.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.ts
  extensions/cornerstone/src/utils/measurementServiceMappings/utils/getSOPInstanceAttributes.js
  extensions/default/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-video/package.json
  extensions/measurement-tracking/package.json
  extensions/tmtv/package.json
  modes/basic-dev-mode/src/index.js
  modes/basic-dev-mode/src/toolbarButtons.js
  modes/basic-test-mode/src/initToolGroups.js
  modes/basic-test-mode/src/toolbarButtons.js
  modes/longitudinal/src/initToolGroups.js
  modes/longitudinal/src/toolbarButtons.js
  modes/tmtv/src/toolbarButtons.js
  platform/core/package.json
  platform/core/src/utils/roundNumber.js
  platform/docs/versioned_docs/version-3.0/platform/extensions/modules/toolbar.md
  platform/docs/versioned_docs/version-3.0/platform/services/data/ToolbarService.md
  platform/ui/src/assets/icons/tool-circle.svg
  platform/ui/src/components/Icon/getIcon.js
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

feat(core): updates default config
  .docker/Viewer-v3.x/entrypoint.sh
Due: none

feat(core): updates default config
  Dockerfile-MIB-AIR
Due: none

overlay viewer tool
  extensions/cornerstone/src/initCornerstoneTools.js
  extensions/cornerstone/src/tools/ImageOverlayViewerTool.tsx
  modes/basic-dev-mode/src/index.js
  modes/longitudinal/src/initToolGroups.js
Due: none

performance improvement of image overlay rendering
  extensions/cornerstone/src/tools/ImageOverlayViewerTool.tsx
Due: none

image overlay toggler command and button
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/tools/ImageOverlayViewerTool.tsx
  modes/longitudinal/src/toolbarButtons.js
Due: none

comments
  extensions/cornerstone/src/tools/ImageOverlayViewerTool.tsx
Due: none

feat(core): updates default config
  platform/viewer/public/config/google.js
Due: viewer

fix: Jump to measurement after presentation store
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/commandsModule.ts
  extensions/default/src/commandsModule.ts
  package.json
  platform/core/src/services/MeasurementService/MeasurementService.ts
  platform/core/src/services/ViewportGridService/ViewportGridService.ts
  platform/core/src/services/ViewportGridService/getPresentationIds.ts
  platform/core/src/services/_shared/pubSubServiceInterface.js
  platform/docs/docs/platform/services/data/MeasurementService.md
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
  platform/ui/src/types/index.ts
  platform/viewer/src/components/ViewportGrid.tsx
  yarn.lock
Due: core, viewer

Clear measurements changed to array
  platform/core/src/services/MeasurementService/MeasurementService.ts
Due: core

Fix measurement highlight issues
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.ts
  platform/core/src/services/MeasurementService/MeasurementService.ts
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
Due: core

Fix initial load of DICOM SR
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.tsx
  platform/core/src/services/MeasurementService/MeasurementService.ts
Due: core

feat(core): updates default config
  .docker/Viewer-v3.x/default.conf
Due: none

[refactor] image overlay tool
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/tools/ImageOverlayViewerTool.tsx
Due: none

docs: update cross-origin description for dangerouslyUseDynamicConfig
  platform/docs/docs/configuration/configurationFiles.md
Due: none

fix local loading of microscopy
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.tsx
  extensions/dicom-microscopy/src/utils/dicomWebClient.ts
  platform/viewer/src/routes/Local/Local.tsx
Due: viewer

Add a DICOM SR hanging protocol
  extensions/cornerstone-dicom-sr/src/getHangingProtocolModule.js
  extensions/cornerstone-dicom-sr/src/index.tsx
Due: none

PR fixes
  extensions/cornerstone-dicom-sr/src/commandsModule.js
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.ts
  extensions/cornerstone-dicom-sr/src/index.tsx
  extensions/cornerstone-dicom-sr/src/utils/createReferencedImageDisplaySet.ts
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/cornerstone/src/services/CornerstoneCacheService/CornerstoneCacheService.ts
  platform/core/src/classes/MetadataProvider.js
Due: core

fix: Make the cornerstone sR viewport show all measurements
  extensions/cornerstone-dicom-sr/src/commandsModule.js
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.ts
  extensions/cornerstone-dicom-sr/src/index.tsx
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/index.tsx
  extensions/cornerstone/src/services/CornerstoneCacheService/CornerstoneCacheService.ts
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
  platform/core/src/classes/MetadataProvider.js
  platform/core/src/services/DisplaySetService/DisplaySetService.ts
Due: core

PR fixes
  extensions/cornerstone-dicom-seg/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.ts
  extensions/cornerstone-dicom-sr/src/onModeEnter.js
  extensions/default/src/utils/findSRWithSameSeriesDescription.ts
  extensions/dicom-pdf/src/getSopClassHandlerModule.js
  extensions/dicom-video/src/getSopClassHandlerModule.js
  platform/core/src/services/DisplaySetService/DisplaySetService.ts
  platform/core/src/services/HangingProtocolService/HPMatcher.js
  platform/core/src/types/index.ts
Due: core

PR requested change
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
Due: none

Duplicate the hanging protocol for seg as well
  extensions/cornerstone-dicom-seg/src/getHangingProtocolModule.ts
  extensions/cornerstone-dicom-seg/src/index.tsx
Due: none

fix local loading of dicom microscopy
  platform/viewer/src/routes/Local/Local.tsx
Due: viewer

PR requested changes
  extensions/cornerstone-dicom-seg/src/getHangingProtocolModule.ts
  extensions/cornerstone-dicom-seg/src/index.tsx
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
Due: none

fix typo - indexof to indexOf
  platform/core/src/services/DicomMetadataStore/createStudyMetadata.js
Due: core

Fix restoring SR so the tests described work
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
