Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Small fix on sorting.
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Making some props required across the components.
  platform/ui/src/components/InputDateRange/InputDateRange.jsx
  platform/ui/src/components/InputLabelWrapper/InputLabelWrapper.jsx
  platform/ui/src/components/InputSelect/InputSelect.jsx
  platform/ui/src/components/InputText/InputText.jsx
Due: none

Update and customize multi-select for inputSelect
  platform/ui/src/components/InputSelect/InputSelect.jsx
  platform/ui/src/components/Select/Select.css
  platform/ui/src/components/Select/Select.jsx
Due: none

Update docz and fixing some select style
  platform/ui/src/components/InputSelect/InputSelect.jsx
  platform/ui/src/components/InputSelect/InputSelect.mdx
  platform/ui/src/components/Select/Select.css
  platform/ui/src/components/Select/Select.jsx
  platform/ui/src/components/Select/Select.mdx
  platform/ui/src/views/StudyList/StudyList.js
Due: none

CR Update: Remove google config
  platform/viewer/public/config/default.js
Due: viewer

CR Update: Remove erase tool test
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
Due: viewer

CR Update: Remove instance
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
Due: core

CR Update: Fix issue with undefined prop
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/components/StructureSetItem/StructureSetItem.js
Due: none

CR Update: Update yarn lock
  yarn.lock
Due: none

Fix bug
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
Due: viewer

Refactor the state of the component RTPanel
  extensions/dicom-segmentation/src/OHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  platform/core/src/classes/metadata/StudyMetadata.js
Due: core

refactor table doc page
  platform/ui/src/components/Table/Table.mdx
Due: none

Fixing xcallouts
  platform/ui/src/components/Select/Select.css
  platform/ui/src/components/Select/Select.jsx
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

feat: StudyListTable Refactor
  platform/ui/src/components/StudyListExpandedRow/StudyListExpandedRow.js
  platform/ui/src/components/StudyListExpandedRow/index.js
  platform/ui/src/mocks/studyList.json
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/StudyList.mdx
  platform/ui/src/views/StudyList/components/StudyListTable.js
  platform/ui/src/views/StudyList/components/StudyListTableRow.js
  platform/viewer/src/connectedComponents/ConnectedStudyList.js
Due: viewer

Fixing how to show multi values on select
  platform/ui/src/components/Select/Select.jsx
Due: none

Inicial files
  platform/ui/index.js
  platform/ui/src/components/NavBar/NavBag.jsx
  platform/ui/src/components/NavBar/NavBag.mdx
  platform/ui/src/components/NavBar/index.js
  platform/ui/src/components/index.js
Due: none

Adding NavBag into Header
  platform/ui/src/components/NavBar/NavBag.jsx
  platform/ui/src/views/StudyList/components/Header.js
Due: none

Fixing docz
  platform/ui/index.js
  platform/ui/src/components/NavBar/NavBag.mdx
  platform/ui/src/components/NavBar/NavBar.jsx
  platform/ui/src/components/NavBar/NavBar.mdx
  platform/ui/src/components/NavBar/index.js
  platform/ui/src/components/index.js
Due: none

Ficing callouts
  platform/ui/src/components/InputDateRange/InputDateRange.jsx
Due: none

Fixing select docz page
  platform/ui/src/components/Select/Select.mdx
Due: none

Rename component
  platform/ui/index.js
  platform/ui/src/components/InputDateRange/InputDateRange.mdx
  platform/ui/src/components/InputMultiSelect/InputMultiSelect.jsx
  platform/ui/src/components/InputMultiSelect/InputMultiSelect.mdx
  platform/ui/src/components/InputMultiSelect/index.js
  platform/ui/src/components/InputSelect/index.js
  platform/ui/src/components/InputText/InputText.mdx
  platform/ui/src/components/index.js
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Fix comparisson
  platform/ui/src/components/Select/Select.jsx
Due: none

Creating combo input with label, naming and input for Text, Select and DateRange (#1553)
  platform/ui/index.js
  platform/ui/src/components/InputDateRange/InputDateRange.jsx
  platform/ui/src/components/InputDateRange/InputDateRange.mdx
  platform/ui/src/components/InputDateRange/index.js
  platform/ui/src/components/InputLabelWrapper/InputLabelWrapper.jsx
  platform/ui/src/components/InputLabelWrapper/index.js
  platform/ui/src/components/InputMultiSelect/InputMultiSelect.jsx
  platform/ui/src/components/InputMultiSelect/InputMultiSelect.mdx
  platform/ui/src/components/InputMultiSelect/index.js
  platform/ui/src/components/InputText/InputText.jsx
  platform/ui/src/components/InputText/InputText.mdx
  platform/ui/src/components/InputText/index.js
  platform/ui/src/components/Select/Select.css
  platform/ui/src/components/Select/Select.jsx
  platform/ui/src/components/Select/Select.mdx
  platform/ui/src/components/index.js
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

feat: StudyListTable + Props Refactor
  platform/ui/index.js
  platform/ui/src/components/StudyListExpandedRow/StudyListExpandedRow.js
  platform/ui/src/components/StudyListExpandedRow/index.js
  platform/ui/src/components/index.js
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/StudyListPagination.js
  platform/ui/src/views/StudyList/components/StudyListTable.js
  platform/ui/src/views/StudyList/components/StudyListTableRow.js
  platform/viewer/src/connectedComponents/ConnectedStudyList.js
Due: viewer

async load cornerstoneWADOImageLoader chunk
  platform/core/src/classes/StudyLoadingListener.js
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
  platform/core/src/utils/cornerstoneWADOImageLoader.js
  platform/core/src/utils/dicomLoaderService.js
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/src/config.js
  platform/viewer/src/lib/filesToStudies.js
  platform/viewer/src/lib/localFileLoaders/dicomFileLoader.js
  platform/viewer/src/lib/localFileLoaders/fileLoaderService.js
  platform/viewer/src/lib/localFileLoaders/pdfFileLoader.js
  platform/viewer/src/utils/cornerstoneWADOImageLoader.js
  platform/viewer/src/utils/initWebWorkers.js
  platform/viewer/src/utils/initWebWorkers.test.js
Due: core, viewer

update stale.yml to not close IDC related issues
  .github/stale.yml
Due: none

update stale.yml to not close IDC related issues (#1573)
  .github/stale.yml
Due: none

Lazy initializing of CornerstoneWADIImageLoader - delayed till Viewer creation
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/src/App.js
  platform/viewer/src/config.js
  platform/viewer/src/routes/ViewerRouting.js
  platform/viewer/src/utils/cornerstoneWADOImageLoader.js
Due: core, viewer

Async loading of react-vtkjs-viewport
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/VTKViewport.js
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/utils/getReactVtkjsViewport.js
Due: none

Updating Docz imports
  platform/ui/src/components/Button/Button.mdx
  platform/ui/src/components/ButtonGroup/ButtonGroup.mdx
  platform/ui/src/components/DateRange/DateRange.mdx
  platform/ui/src/components/EmptyStudies/EmptyStudies.mdx
  platform/ui/src/components/Icon/icon.mdx
  platform/ui/src/components/Input/Input.mdx
  platform/ui/src/components/InputDateRange/InputDateRange.mdx
  platform/ui/src/components/InputMultiSelect/InputMultiSelect.mdx
  platform/ui/src/components/InputText/InputText.mdx
  platform/ui/src/components/Label/Label.mdx
  platform/ui/src/components/NavBar/NavBar.mdx
  platform/ui/src/components/Select/Select.mdx
  platform/ui/src/components/Typography/Typography.mdx
  platform/ui/src/views/StudyList/StudyList.mdx
Due: none

Show series in Study Browser before their metadata is retrieved
  platform/core/src/DICOMSR/utils/findMostRecentStructuredReport.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/redux/reducers/viewports.js
  platform/core/src/studies/services/wado/retrieveMetadataLoaderAsync.js
  platform/ui/src/viewer/ViewportLoadingIndicator.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: core, viewer

Attempted Lazy load for OHIFCornerStoneViewport
  extensions/cornerstone/src/index.js
Due: none

Creating InputGroup
  platform/ui/index.js
  platform/ui/src/components/InputGroup/InputGroup.jsx
  platform/ui/src/components/InputGroup/index.js
  platform/ui/src/components/index.js
Due: none

Updating Views with new InputGroup
  platform/ui/src/components/InputMultiSelect/InputMultiSelect.jsx
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Creating Docz for InputGroup
  platform/ui/src/components/InputGroup/InputGroup.mdx
Due: none

fix expanded rows handler
  platform/viewer/src/connectedComponents/ConnectedStudyList.js
Due: viewer

update and fix study list doc page
  platform/ui/src/views/StudyList/StudyList.mdx
Due: none

fix date format
  platform/ui/src/views/StudyList/StudyList.mdx
Due: none

Fixing eslint issues
  platform/ui/index.js
  platform/ui/src/components/DateRange/DateRange.jsx
  platform/ui/src/components/InputGroup/InputGroup.jsx
  platform/ui/src/components/InputGroup/InputGroup.mdx
  platform/ui/src/components/InputLabelWrapper/InputLabelWrapper.jsx
  platform/ui/src/contextProviders/ModalProvider.js
  platform/ui/src/gatsby-theme-docz/components/Sidebar/index.js
  platform/ui/src/utils/index.js
Due: none

Limit concurrent series metadata requests
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: viewer
