Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

fix missing files
  extensions/default/src/DicomWebDataSource/wado/retrieveMetadataLoaderAsync.js
  platform/core/src/utils/index.js
Due: core

add missing stuff
  extensions/default/src/DicomWebDataSource/utils/isLowPriorityModality.js
  extensions/default/src/DicomWebDataSource/utils/sortStudy.js
Due: none

Fix typo + remove IDC ack example
  README.md
Due: none

chore: add acknowledgment of IDC (#2255)
  README.md
Due: none

15022021
  OHIFViewer/.meteor/packages
  OHIFViewer/.meteor/versions
  OHIFViewer/package.json
  Packages/ohif-servers/both/schema/servers.js
  Packages/ohif-viewerbase/client/components/viewer/viewer3D/viewer3D.js
  Packages/splunk-logger/.npm/package/.gitignore
  Packages/splunk-logger/.npm/package/README
  Packages/splunk-logger/.npm/package/npm-shrinkwrap.json
  Packages/splunk-logger/index.js
  Packages/splunk-logger/package.js
  config/orthancDICOMWeb.json
Due: none

Added memoization on VTKMPRToolbarButton component to avoid unnecessary rebuilds
  extensions/vtk/src/toolbarComponents/VTKMPRToolbarButton.js
Due: none

does circle config work?
  .circleci/config.yml
Due: none

does circle config work? round 2
  .circleci/config.yml
Due: none

Update dependency: dcmjs@0.18.1
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

feat(log): add new log service
  extensions/debugging/src/DebugReportModal.css
  extensions/debugging/src/DebugReportModal.js
  extensions/debugging/src/commandsModule.js
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.js
  extensions/dicom-segmentation/src/index.js
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/index.js
  platform/core/src/classes/HotkeysManager.js
  platform/core/src/index.js
  platform/core/src/services/LoggerService/index.js
  platform/core/src/services/index.js
  platform/ui/src/contextProviders/LoggerProvider.js
  platform/ui/src/contextProviders/index.js
  platform/ui/src/index.js
  platform/viewer/src/App.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Update _sortStudies function in StudyListRoute
  platform/viewer/src/studylist/StudyListRoute.js
Due: viewer

Update StudyListRoute.js
  platform/viewer/src/studylist/StudyListRoute.js
Due: viewer

Add git modules
  .gitmodules
Due: none

Update dependency: dcmjs@0.18.2
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Add onerror event to cover all other unhandled errors
  platform/ui/src/contextProviders/LoggerProvider.js
Due: none

Update broken test
  platform/core/src/index.test.js
Due: core

Add logger to viewport grid
  platform/ui/src/contextProviders/LoggerProvider.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
Due: viewer

chore(release): publish [skip ci]
  extensions/debugging/CHANGELOG.md
  extensions/debugging/package.json
  extensions/dicom-microscopy/CHANGELOG.md
  extensions/dicom-microscopy/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

update isDisplaySetReconstructable for float precision
  extensions/vtk/src/toolbarComponents/VTKMPRToolbarButton.js
Due: none

Added memoization on VTKMPRToolbarButton component to avoid unnecesary rebuilds (#2274)
  extensions/vtk/src/toolbarComponents/VTKMPRToolbarButton.js
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Update dependency: dcmjs@0.18.3
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Update dependency: dcmjs@0.18.3 (#2302)
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Update toolbar tabs after derived displayset loaded
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

Update dependency: react-cornerstone-viewport@4.0.5
  extensions/cornerstone/package.json
  yarn.lock
Due: none

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Update measurement service
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/_shared/index.js
  platform/core/src/services/_shared/pubSubServiceInterface.js
Due: core

bug(debugger):Fix bug that breaks mailto introduced by logger service
  extensions/debugging/src/commandsModule.js
  extensions/debugging/src/state.js
Due: none

Force pipeline
  platform/viewer/src/index.js
Due: viewer

chore(release): publish [skip ci]
  extensions/debugging/CHANGELOG.md
  extensions/debugging/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Update outlook credentials
  OHIFViewer/bin/orthancDICOMWeb.sh
Due: none

IDC 2259: add warning UI for series inconsistencies
  extensions/vtk/src/toolbarComponents/VTKMPRToolbarButton.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/isDisplaySetReconstructable.js
  platform/ui/src/components/studyBrowser/StudyBrowser.js
  platform/ui/src/components/studyBrowser/Thumbnail.js
  platform/ui/src/components/studyBrowser/Thumbnail.styl
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

add to proteus
  platform/viewer/.env
  platform/viewer/public/config/default.js
  platform/viewer/public/manifest.json
Due: viewer
