Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

OHIF-299: Fix Study Date sorting on Study List when clicking the label (#1966)
  platform/ui/src/components/InputDateRange/InputDateRange.jsx
Due: none

ohif-301: clearadd series date to qido
  extensions/default/src/DicomWebDataSource/qido.js
Due: none

ohif-301: add series date to qido
  extensions/default/src/DicomWebDataSource/qido.js
Due: none

OHIF-276: Fix UI performance issues related to ToolbarService
  extensions/default/src/ViewerLayout/index.jsx
Due: none

Fix caching issues with related studies.
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  extensions/default/src/Panels/requestDisplaySetCreationForStudy.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/requestDisplaySetCreationForStudy.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
Due: core

Fix caching issues with related studies. (#1970)
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  extensions/default/src/Panels/requestDisplaySetCreationForStudy.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/requestDisplaySetCreationForStudy.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
Due: core

ohif-319: reflect default sorting on ui
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

ohif-319: fix asc and desc order on sort label
  platform/ui/src/components/InputGroup/InputGroup.jsx
  platform/ui/src/components/InputLabelWrapper/InputLabelWrapper.jsx
Due: none

ohif-318: reflect default sorting on ui
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

ohif-319: fix asc and desc order on sort label (#1974)
  platform/ui/src/components/InputGroup/InputGroup.jsx
  platform/ui/src/components/InputLabelWrapper/InputLabelWrapper.jsx
Due: none

OHIF-326, export as CSV.
  extensions/cornerstone/package.json
  extensions/cornerstone/src/utils/measurementServiceMappings/EllipticalRoi.js
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  extensions/measurement-tracking/src/_shared/downloadCSVReport.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/ActionButtons.jsx
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/vtk/package.json
  platform/core/package.json
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

ohif-318: add comment
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

ohif-343: jump to image on measurement edit
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

ohif-303: remove tools svg
  extensions/cornerstone/src/init.js
Due: none

OHIF-303: Disable SVG Cursors for tools (#1979)
  extensions/cornerstone/src/init.js
Due: none

OHIF-343: jump to image on measurement edit (#1978)
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

Update index.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

[OHIF-302] fix: Set SeriesNumber for generated SRs to 4700 or above (#1953)
  extensions/measurement-tracking/src/_shared/getNextSRSeriesNumber.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptSaveReport.js
Due: none

Update qido.js
  extensions/default/src/DicomWebDataSource/qido.js
Due: none

Add delay in microscopy viewer e2e test.
  platform/viewer/cypress/integration/pwa/OHIFExtensionMicroscopy.spec.js
Due: viewer

[IDC-1670] Better display of derived datasets in side panel. (#1962)
  extensions/dicom-rt/src/OHIFDicomRTStructSopClassHandler.js
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/getSourceDisplaySet.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/getSourceDisplaySet.js
  extensions/dicom-segmentation/src/utils/refreshViewports.js
  extensions/dicom-segmentation/src/utils/setActiveLabelMap.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionMicroscopy.spec.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

feat: 🎸 Optional disable measurements panel in app config (#1912)
  platform/viewer/public/config/idc.js
  platform/viewer/src/App.js
Due: viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

feat: 🎸 Add support for POINT and OPEN_PLANAR for RT
  extensions/dicom-rt/src/loadRTStruct.js
  extensions/dicom-rt/src/tools/RTStructDisplayTool.js
Due: none

chore(release): publish [skip ci]
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

feat: 🎸 Update react-vtkjs-viewport usage to use requestPool
  extensions/cornerstone/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/vtk/package.json
  extensions/vtk/src/OHIFVTKViewport.js
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Fix import of react-vtkjs-viewport to cornerstone-tools path.
  extensions/vtk/package.json
  yarn.lock
Due: none

ohif-329: increase fetch limit when paginating more than 101 studies
  extensions/default/src/DicomWebDataSource/index.js
  platform/viewer/src/routes/DataSourceWrapper.jsx
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

Increase maximum load time of MPR test now we are throttling requests.
  platform/viewer/cypress/support/commands.js
Due: viewer

ohif-333: add component foundation
  platform/ui/src/components/SplitButton/SplitButton.jsx
  platform/ui/src/components/SplitButton/SplitButton.mdx
  platform/ui/src/components/SplitButton/index.js
  platform/ui/src/components/index.js
Due: none

ohif-333: add expandable content and mocked data
  extensions/default/src/ViewerLayout/index.jsx
  platform/ui/index.js
  platform/ui/src/components/SplitButton/SplitButton.jsx
Due: none

ohif-333: improve ListMenu component for the new toolbar button and add radio behavior
  extensions/default/src/ViewerLayout/index.jsx
  modes/longitudinal/src/toolbarButtons.js
  platform/ui/src/components/ListMenu/ListMenu.jsx
  platform/ui/src/components/ListMenu/ListMenu.mdx
  platform/ui/src/components/SplitButton/SplitButton.jsx
Due: none

ohif-333: add click outside behavior and update primary and secondary props
  extensions/default/src/ViewerLayout/index.jsx
  platform/ui/package.json
  platform/ui/src/components/SplitButton/SplitButton.jsx
  yarn.lock
Due: none

OHIF-301: Add sorting to worklist series (#1960)
  extensions/default/src/DicomWebDataSource/qido.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  platform/core/src/utils/index.js
  platform/core/src/utils/sortBySeriesDate.js
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: core, viewer

ohif-333: separate classes from markup
  extensions/default/src/ViewerLayout/index.jsx
  platform/ui/src/components/SplitButton/SplitButton.jsx
  platform/ui/src/components/Tooltip/Tooltip.jsx
Due: none

ohif-333: fix layout issues
  extensions/default/src/ViewerLayout/index.jsx
  platform/ui/src/components/SplitButton/SplitButton.jsx
Due: none

ohif-333: extract window level component
  extensions/default/src/ViewerLayout/index.jsx
  modes/longitudinal/src/toolbarButtons.js
  platform/ui/index.js
  platform/ui/src/components/SplitButton/SplitButton.jsx
  platform/ui/src/components/WindowLevelMenuItem/WindowLevelMenuItem.jsx
  platform/ui/src/components/WindowLevelMenuItem/WindowLevelMenuItem.mdx
  platform/ui/src/components/WindowLevelMenuItem/index.js
  platform/ui/src/components/index.js
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
