Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

Fixing margin on filter
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Adding inherit as color on buttons
  platform/ui/src/components/Button/Button.jsx
  platform/ui/src/components/IconButton/IconButton.jsx
Due: none

Adding inherit on learn more button color
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Nuke yarn.lock to stack CST to 4.12.0
  yarn.lock
Due: none

Remove debugger statements.
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/panelModule.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

Addin border with opacity
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

feat: Data mocking for studies
  platform/ui/src/views/StudyList/StudyList.js
Due: none

remove specifc tailwind style for docz
  platform/ui/src/gatsby-theme-docz/components/Sidebar/index.js
  platform/ui/tailwind.config.js
Due: none

chore: uiv2 docz custom page (#1511)
  platform/ui/doczrc.js
  platform/ui/package.json
  platform/ui/src/components/Button/Button.mdx
  platform/ui/src/components/ButtonGroup/ButtonGroup.mdx
  platform/ui/src/components/Icon/icon.mdx
  platform/ui/src/components/Input/Input.mdx
  platform/ui/src/components/Label/Label.mdx
  platform/ui/src/components/Typography/Typography.mdx
  platform/ui/src/gatsby-theme-docz/components/Header/index.js
  platform/ui/src/gatsby-theme-docz/components/Layout/index.js
  platform/ui/src/gatsby-theme-docz/components/Sidebar/index.js
  platform/ui/src/gatsby-theme-docz/theme.css
  platform/ui/src/views/StudyList/StudyList.mdx
  platform/ui/tailwind.config.js
Due: none

feat: Study List Filter (#1504)
  platform/ui/index.js
  platform/ui/src/components/Button/Button.jsx
  platform/ui/src/components/IconButton/IconButton.jsx
  platform/ui/src/components/Input/Input.jsx
  platform/ui/src/components/Label/Label.jsx
  platform/ui/src/components/index.js
  platform/ui/src/views/StudyList/components/Header.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Fix instances font size
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Fixing sorting style and icons
  platform/ui/src/assets/icons/sorting-active-down.svg
  platform/ui/src/assets/icons/sorting-active-up.svg
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

Fix clear filters flicking filter parent height
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

feat: Data Mocking for Study List
  platform/ui/package.json
  platform/ui/src/assets/icons/magnifier.svg
  platform/ui/src/components/Icon/getIcon.jsx
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/StudyListTable.js
  yarn.lock
Due: none

fix empty study position
  platform/ui/src/views/StudyList/components/StudyListTable.js
Due: none

rename variables for numOfStudies
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/StudyListTable.js
Due: none

fix studies query
  platform/ui/src/views/StudyList/StudyList.js
Due: none

Added Russian language localization.
  platform/i18n/src/locales/index.js
  platform/i18n/src/locales/ru/AboutModal.json
  platform/i18n/src/locales/ru/Buttons.json
  platform/i18n/src/locales/ru/CineDialog.json
  platform/i18n/src/locales/ru/Common.json
  platform/i18n/src/locales/ru/DatePicker.json
  platform/i18n/src/locales/ru/Header.json
  platform/i18n/src/locales/ru/MeasurementTable.json
  platform/i18n/src/locales/ru/StudyList.json
  platform/i18n/src/locales/ru/UserPreferencesModal.json
  platform/i18n/src/locales/ru/ViewportDownloadForm.json
  platform/i18n/src/locales/ru/index.js
Due: none

remove alert :|
  platform/ui/src/views/StudyList/StudyList.js
Due: none

minor refactor
  platform/ui/src/mocks/studyList.json
  platform/ui/src/utils/getInstances.js
  platform/ui/src/utils/getModalities.js
  platform/ui/src/views/StudyList/components/StudyListTable.js
Due: none

split utils and refactoring
  platform/ui/src/utils/getMockedStudies.js
  platform/ui/src/utils/index.js
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/StudyListTable.js
Due: none

Make filter size matching with study list table columns
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
  platform/ui/src/views/StudyList/components/StudyListTable.js
  platform/ui/tailwind.config.js
Due: none

Addin width for grid24
  platform/ui/tailwind.config.js
Due: none

Use grid24 instead of 12
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
  platform/ui/src/views/StudyList/components/StudyListTable.js
Due: none

refactoring -- format, clean up icons, mdx mock
  platform/ui/index.js
  platform/ui/src/assets/icons/instances-active.svg
  platform/ui/src/assets/icons/series-active.svg
  platform/ui/src/assets/icons/series-inactive.svg
  platform/ui/src/components/Icon/getIcon.jsx
  platform/ui/src/components/Icon/icon.mdx
  platform/ui/src/mocks/studyList.json
  platform/ui/src/utils/colorManipulator.js
  platform/ui/src/utils/getMockedStudies.js
  platform/ui/src/utils/index.js
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/StudyList.mdx
  platform/ui/src/views/StudyList/components/StudyListTable.js
  platform/viewer/src/connectedComponents/ConnectedStudyList.js
Due: viewer

Adding missing borders
  platform/ui/src/views/StudyList/components/StudyListFilter.js
  platform/ui/src/views/StudyList/components/StudyListTable.js
Due: none

chore: Data Mocking for Study List (#1515)
  platform/ui/index.js
  platform/ui/package.json
  platform/ui/src/assets/icons/instances-active.svg
  platform/ui/src/assets/icons/magnifier.svg
  platform/ui/src/assets/icons/series-active.svg
  platform/ui/src/assets/icons/series-inactive.svg
  platform/ui/src/components/Icon/getIcon.jsx
  platform/ui/src/components/Icon/icon.mdx
  platform/ui/src/mocks/studyList.json
  platform/ui/src/utils/colorManipulator.js
  platform/ui/src/utils/getInstances.js
  platform/ui/src/utils/getMockedStudies.js
  platform/ui/src/utils/getModalities.js
  platform/ui/src/utils/index.js
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/StudyList.mdx
  platform/ui/src/views/StudyList/components/StudyListTable.js
  platform/viewer/src/connectedComponents/ConnectedStudyList.js
  yarn.lock
Due: viewer

WIP consume RTSTRUCT
  extensions/dicom-rt/.webpack/webpack.dev.js
  extensions/dicom-rt/.webpack/webpack.prod.js
  extensions/dicom-rt/LICENSE
  extensions/dicom-rt/README.md
  extensions/dicom-rt/package.json
  extensions/dicom-rt/src/OHIFDicomRTStructSopClassHandler.js
  extensions/dicom-rt/src/id.js
  extensions/dicom-rt/src/index.js
  extensions/dicom-rt/src/init.js
  extensions/dicom-rt/src/loadRTStruct.js
  extensions/dicom-rt/src/utils/transformPointsToImagePlane.js
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
  platform/viewer/package.json
  platform/viewer/public/config/oidc.js
  platform/viewer/src/index.js
  yarn.lock
Due: core, viewer

Doc API and add endpoints.
  extensions/dicom-rt/package.json
  extensions/dicom-rt/src/init.js
  extensions/dicom-rt/src/loadRTStruct.js
  extensions/dicom-rt/src/tools/RTStructDisplayTool.js
  extensions/dicom-rt/src/tools/modules/lib/getImageIdOfCenterFrameOfROIContour.js
  extensions/dicom-rt/src/tools/modules/lib/structureSetReferencesSeriesInstanceUid.js
  extensions/dicom-rt/src/tools/modules/rtStructModule.js
  extensions/dicom-rt/src/utils/toolNames.js
  extensions/dicom-rt/src/utils/transformPointsToImagePlane.js
  extensions/dicom-segmentation/package.json
  platform/viewer/public/config/oidc.js
  yarn.lock
Due: viewer

fix: bump cornerstone-tools version to address toFixed issue
  extensions/cornerstone/package.json
  extensions/dicom-segmentation/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

fix: Select pagination and buttons
  platform/ui/src/assets/icons/arrow-down.svg
  platform/ui/src/components/Icon/getIcon.jsx
  platform/ui/src/views/StudyList/components/StudyListPagination.js
Due: none

Rebase on SEG PR.
  extensions/dicom-rt/src/OHIFDicomRTStructSopClassHandler.js
  extensions/dicom-rt/src/loadRTStruct.js
  extensions/dicom-rt/src/tools/RTStructDisplayTool.js
  extensions/dicom-rt/src/tools/modules/rtStructModule.js
Due: none

fix: Select pagination and buttons (#1521)
  platform/ui/src/assets/icons/arrow-down.svg
  platform/ui/src/components/Icon/getIcon.jsx
  platform/ui/src/views/StudyList/components/StudyListPagination.js
Due: none

test: force tests for MISTER^MR to navigate to study directly
  platform/viewer/cypress/integration/common/OHIFCornerstoneHotkeys.spec.js
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/common/OHIFDownloadSnapshotFile.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
  platform/viewer/cypress/integration/pwa/OHIFSaveMeasurements.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFCornerstoneHotkeys.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFDownloadSnapshotFile.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFStudyViewer.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFUserPreferences.spec.js
  platform/viewer/cypress/support/commands.js
Due: viewer

Fix gridCol division
  platform/ui/src/views/StudyList/StudyList.js
Due: none

fix: Issues on StudyList Filter (#1513)
  platform/ui/src/assets/icons/sorting-active-down.svg
  platform/ui/src/assets/icons/sorting-active-up.svg
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/components/StudyListFilter.js
  platform/ui/src/views/StudyList/components/StudyListTable.js
  platform/ui/tailwind.config.js
Due: none

Update DICOM Keyword variables.
  extensions/dicom-rt/src/loadRTStruct.js
Due: none

Fix metadata vars format
  extensions/dicom-rt/src/OHIFDicomRTStructSopClassHandler.js
  extensions/dicom-rt/src/loadRTStruct.js
  extensions/dicom-rt/src/tools/RTStructDisplayTool.js
  extensions/dicom-rt/src/tools/modules/rtStructModule.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
Due: core

test: remove eraser tool test
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
Due: viewer

test: count is off by one
  platform/viewer/cypress/integration/common/OHIFStudyList.spec.js
Due: viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
