Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Updating mockData
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
  platform/ui/src/components/StudyBrowser/mockData.js
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/Thumbnail/Thumbnail.mdx
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.jsx
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.mdx
  platform/ui/src/views/Viewer/Viewer.mdx
  platform/ui/src/views/Viewer/studyBrowserMockData.js
Due: none

Update docz
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
  platform/ui/src/components/StudyBrowser/StudyBrowser.mdx
  platform/ui/src/components/StudyItem/StudyItem.jsx
  platform/ui/src/components/StudyItem/StudyItem.mdx
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.mdx
  platform/ui/src/components/ViewportGrid/ViewportGrid.jsx
  platform/ui/src/views/Viewer/studyBrowserMockData.js
Due: none

Fix propTypes and update tracked series tag
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
  platform/ui/src/components/StudyItem/StudyItem.jsx
Due: none

fix: whiteLabeling should support component creation by passing React to defined fn
  docs/latest/viewer/configuration.md
  docs/latest/viewer/themeing.md
  platform/core/src/classes/MetadataProvider.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/docker_nginx-orthanc.js
  platform/viewer/public/config/docker_openresty-orthanc-keycloak.js
  platform/viewer/public/config/docker_openresty-orthanc.js
  platform/viewer/public/config/google.js
  platform/viewer/public/config/local_dcm4chee.js
  platform/viewer/public/config/netlify.js
  platform/viewer/public/config/public_dicomweb.js
  platform/viewer/src/App.js
  platform/viewer/src/components/Header/Header.css
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/context/WhiteLabelingContext.js
  platform/viewer/src/context/WhiteLabellingContext.js
  platform/viewer/src/studylist/StudyListRoute.js
Due: core, viewer

fix: whiteLabeling should support component creation by passing React to defined fn (#1659)
  docs/latest/viewer/configuration.md
  docs/latest/viewer/themeing.md
  platform/core/src/classes/MetadataProvider.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/docker_nginx-orthanc.js
  platform/viewer/public/config/docker_openresty-orthanc-keycloak.js
  platform/viewer/public/config/docker_openresty-orthanc.js
  platform/viewer/public/config/google.js
  platform/viewer/public/config/local_dcm4chee.js
  platform/viewer/public/config/netlify.js
  platform/viewer/public/config/public_dicomweb.js
  platform/viewer/src/App.js
  platform/viewer/src/components/Header/Header.css
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/context/WhiteLabelingContext.js
  platform/viewer/src/context/WhiteLabellingContext.js
  platform/viewer/src/studylist/StudyListRoute.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

remove debugger
  platform/core/src/studies/services/wado/retrieveMetadataLoaderAsync.js
  platform/viewer/public/config/idc.js
  platform/viewer/src/App.js
  platform/viewer/src/config.js
Due: core, viewer

docs: whitelabeling and httpErrorHandler
  docs/latest/viewer/configuration.md
Due: none

feat: Viewport API + Documentation Page
  platform/ui/src/components/Viewport/Viewport.jsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.mdx
  platform/ui/src/components/ViewportGrid/ViewportGrid.jsx
  platform/ui/src/views/Viewer/Viewer.mdx
  platform/ui/src/views/Viewer/components/ViewportToolBar.js
Due: none

clean up draft
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

update viewport documentation
  platform/ui/src/components/Viewport/Viewport.mdx
Due: none

bump dicomweb-client version
  extensions/dicom-p10-downloader/package.json
  platform/core/package.json
  yarn.lock
Due: core

bump cornerstone-wado-image-loader version
  extensions/cornerstone/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Add more documentation around httpErrorHandler callback
  docs/latest/viewer/configuration.md
Due: none

test: add errorHandler as an expected top level export
  platform/core/src/index.test.js
Due: core

feat: configuration to hook into XHR Error handling
  docs/latest/viewer/configuration.md
  extensions/cornerstone/package.json
  extensions/dicom-p10-downloader/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/core/src/DICOMSR/handleStructuredReport.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/errorHandler.js
  platform/core/src/index.js
  platform/core/src/index.test.js
  platform/core/src/studies/services/qido/instances.js
  platform/core/src/studies/services/qido/studies.js
  platform/core/src/studies/services/wado/retrieveMetadataLoaderAsync.js
  platform/core/src/studies/services/wado/retrieveMetadataLoaderSync.js
  platform/core/src/utils/dicomLoaderService.js
  platform/core/src/utils/metadataProvider/fetchOverlayData.js
  platform/core/src/utils/metadataProvider/fetchPaletteColorLookupTableData.js
  platform/viewer/package.json
  platform/viewer/public/config/idc.js
  platform/viewer/src/App.js
  platform/viewer/src/config.js
  platform/viewer/src/googleCloud/api/DicomUploadService.js
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-p10-downloader/CHANGELOG.md
  extensions/dicom-p10-downloader/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Update sidePanel to support multiple components
  platform/ui/src/components/SidePanel/SidePanel.jsx
  platform/ui/src/components/SidePanel/SidePanel.mdx
  platform/ui/src/views/Viewer/Viewer.mdx
Due: none

fix: 🐛 Multiframe fix
  extensions/cornerstone/src/initCornerstoneTools.js
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
  yarn.lock
Due: core

feat: 🎸 Seg jump to slice + show/hide
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

fix: 🐛 Multiframe fix (#1661)
  extensions/cornerstone/src/initCornerstoneTools.js
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
  yarn.lock
Due: core

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

fix: undefined `errorHandler` in cornerstoneWadoImageLoader configuration
  platform/viewer/src/config.js
Due: viewer

fix: undefined `errorHandler` in cornerstoneWadoImageLoader configuration (#1664)
  platform/viewer/src/config.js
Due: viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Implement tooltip on remaining paces
  platform/ui/src/components/MeasurementTable/MeasurementTable.jsx
  platform/ui/src/components/SegmentationTable/SegmentationTable.jsx
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.jsx
  platform/ui/src/components/Tooltip/Tooltip.jsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/ui/src/components/ViewportGrid/ViewportGrid.jsx
Due: none

UI to create and apply hanging protocols
  extensions/cornerstone/src/ConnectedCornerstoneViewport.js
  extensions/cornerstone/src/commandsModule.js
  platform/core/src/hanging-protocols/ProtocolEngine.js
  platform/core/src/hanging-protocols/index.js
  platform/core/src/hanging-protocols/protocolStore/classes/LocalStorageProtocolStrategy.js
  platform/core/src/hanging-protocols/protocolStore/classes/index.js
  platform/core/src/hanging-protocols/protocolStore/index.js
  platform/viewer/src/components/hanging-protocol/HangingProtocolButton.js
  platform/viewer/src/components/hanging-protocol/HangingProtocolDetailsModal.js
  platform/viewer/src/components/hanging-protocol/createProtocol.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: core, viewer

fix: 🐛 #1124
  extensions/cornerstone/src/ConnectedCornerstoneViewport.js
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
Due: none

Set currentImageIdIndex to null to avoid re-renders. Needs associated change in react-cornerstore-viewport.
  extensions/cornerstone/package.json
  extensions/cornerstone/src/ConnectedCornerstoneViewport.js
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
Due: none

reset frameIndex and handle null
  extensions/cornerstone/src/ConnectedCornerstoneViewport.js
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
Due: none

Listing and removing of Local Hanging Protocols
  platform/core/src/hanging-protocols/ProtocolEngine.js
  platform/viewer/src/components/hanging-protocol/HangingProtocolButton.js
  platform/viewer/src/components/hanging-protocol/ManagerLocalHangingProtocolList.js
Due: core, viewer

Tabbed UI, Some UI improvements and fixes, capture only customized viewport settings
  platform/viewer/src/components/hanging-protocol/HangingProtocolButton.js
  platform/viewer/src/components/hanging-protocol/HangingProtocolDetailsModal.js
  platform/viewer/src/components/hanging-protocol/ManagerLocalHangingProtocolList.js
  platform/viewer/src/components/hanging-protocol/createProtocol.js
Due: viewer

feat: 🎸 Seg jump to slice + show/hide
  extensions/cornerstone/package.json
  extensions/cornerstone/src/commandsModule.js
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-rt/src/components/StructureSetItem/StructureSetItem.css
  extensions/dicom-rt/src/components/StructureSetItem/StructureSetItem.js
  extensions/dicom-rt/src/index.js
  extensions/dicom-segmentation/package.json
  extensions/dicom-segmentation/src/components/SegmentItem/SegmentItem.css
  extensions/dicom-segmentation/src/components/SegmentItem/SegmentItem.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/components/SegmentationSelect.js
  extensions/dicom-segmentation/src/index.js
  extensions/dicom-segmentation/src/panelModule.js
  extensions/vtk/package.json
  platform/core/package.json
  platform/core/src/classes/MetadataProvider.js
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

fix: 🐛 Dropdown not updating when selecting segment
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
Due: none

update deploy section with non-dicomweb info
  docs/latest/deployment/index.md
Due: none

fix typo and add info re. case sensitive json
  docs/latest/deployment/index.md
Due: none

Add CORS info and reformat inline links
  docs/latest/deployment/index.md
Due: none

fix: 🐛 Dropdown not updating when selecting segment (#1675)
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
Due: none

chore(release): publish [skip ci]
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer
