Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

Update yarn in docs script
  .circleci/config.yml
Due: none

update
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

uncomment cache steps in ci script
  .circleci/config.yml
Due: none

update
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/utils/setActiveLabelMap.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
Due: core, viewer

update
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/getSourceDisplaySet.js
  extensions/dicom-segmentation/src/utils/setActiveLabelMap.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: core, viewer

update
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/utils/setActiveLabelMap.js
Due: none

IDC2345: implement thumbnails footnotes UI for segmentation series inconsistencies warning (#2364)
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/getSourceDisplaySet.js
  extensions/dicom-segmentation/src/utils/setActiveLabelMap.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerMain.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

10042021 - fix dat.gui styles and place fix raycasting to change color
  OHIFViewer/.meteor/packages
  OHIFViewer/.meteor/versions
  OHIFViewer/package-lock.json
  OHIFViewer/package.json
  Packages/ami/ami.js
  Packages/ami/package.js
  Packages/ohif-viewerbase/client/components/viewer/viewer3D/viewer3D.js
  Packages/ohif-viewerbase/client/components/viewer/viewer3D/viewer3D.styl
Due: none

IDC2361: fix seg combobox filling
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/getSourceDisplaySet.js
  extensions/dicom-segmentation/src/utils/setActiveLabelMap.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

Add acquisition context storage sr sop to html ext
  extensions/dicom-html/src/OHIFDicomHtmlSopClassHandler.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: viewer

Add hook to map cornestone tools from ccc srs
  platform/core/src/DICOMSR/parseDicomStructuredReport.js
Due: core

Fix viewer retrieve loading of studies to wait srs to load properly
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: viewer

Add comment
  platform/core/src/DICOMSR/parseDicomStructuredReport.js
Due: core

Add fallback
  platform/core/src/DICOMSR/parseDicomStructuredReport.js
Due: core

update
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/getSourceDisplaySet.js
  extensions/dicom-segmentation/src/utils/setActiveLabelMap.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: core, viewer

update
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/components/SegmentationSelect.js
Due: none

Refresh pipeline
  platform/core/src/DICOMSR/parseDicomStructuredReport.js
Due: core

IDC-2348: Add acquisition storage sr sopclass to sr html ext (#2352)
  extensions/dicom-html/src/OHIFDicomHtmlSopClassHandler.js
  platform/core/src/DICOMSR/parseDicomStructuredReport.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

IDC2345: update dcmjs to version 0.18.5
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

IDC2345: update dcmjs to version 0.18.5 (#2378)
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Update viewer4.9.13 (#83)
  .circleci/config.yml
  Dockerfile
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-html/src/OHIFDicomHtmlSopClassHandler.js
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/components/SegmentationSelect.js
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/getSourceDisplaySet.js
  extensions/dicom-segmentation/src/utils/setActiveLabelMap.js
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/core/src/DICOMSR/parseDicomStructuredReport.js
  platform/core/src/classes/MetadataProvider.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/isDisplaySetReconstructable.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/core/src/utils/metadataProvider/validNumber.js
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerMain.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
  yarn.lock
Due: core, viewer

Update dependency: dcmjs@0.18.6
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  platform/viewer/public/config/default.js
  yarn.lock
Due: core, viewer

Remove broken plugin? Seems to have broken child dep
  docs/latest/book.json
Due: none

remove sitemap dep from older version
  docs/v1/book.json
Due: none

Rollback server config
  platform/viewer/public/config/default.js
Due: viewer

Update fetchPaletteColorLookupTableData.js
  platform/core/src/utils/metadataProvider/fetchPaletteColorLookupTableData.js
Due: core

Implement handlers to retry metadata requests
  platform/core/package.json
  platform/core/src/studies/services/wado/retrieveMetadataLoaderAsync.js
  yarn.lock
Due: core

Update naming
  platform/core/src/studies/services/wado/retrieveMetadataLoaderAsync.js
Due: core

Extract hook and add config and documentation
  .webpack/webpack.base.js
  platform/core/src/DICOMSR/handleStructuredReport.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/studies/services/qido/studies.js
  platform/core/src/studies/services/wado/retrieveMetadataLoaderAsync.js
  platform/core/src/studies/services/wado/retrieveMetadataLoaderSync.js
  platform/core/src/utils/dicomLoaderService.js
  platform/core/src/utils/index.js
  platform/core/src/utils/index.test.js
  platform/core/src/utils/metadataProvider/fetchOverlayData.js
  platform/core/src/utils/metadataProvider/fetchPaletteColorLookupTableData.js
  platform/core/src/utils/xhrRetryRequestHook.js
  yarn.lock
Due: core

Improve docs remove env variables
  .webpack/webpack.base.js
  platform/core/src/utils/xhrRetryRequestHook.js
Due: core

Add option to disable local storage cache of servers
  platform/viewer/public/config/default.js
  platform/viewer/src/store/index.js
Due: viewer

Update config property
  platform/viewer/src/store/index.js
Due: viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
