Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.10%
      core:
        flags: core
      viewer:
        flags: viewer
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

OHIF-1002 Study lazy load should be true by default
  platform/core/src/studies/services/wado/retrieveMetadata.js
Due: core

fix: OHIF-1002 Study lazy load should be true by default (#1004)
  platform/core/src/studies/services/wado/retrieveMetadata.js
Due: core

feat: 🎸 Only allow reconstruction of datasets that make sense
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/isDisplaySetReconstructable.js
  platform/viewer/src/connectedComponents/ConnectedPluginSwitch.js
  platform/viewer/src/connectedComponents/PluginSwitch.js
Due: core, viewer

Check the correct viewport for data in PluginSwitch.
  platform/viewer/src/connectedComponents/PluginSwitch.js
Due: viewer

Update failing e2e test.
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
Due: viewer

add snackbar provider into the main App component
  platform/viewer/src/App.js
Due: viewer

feat: Notification Service
  platform/viewer/src/components/Snackbar/Snackbar.css
  platform/viewer/src/components/Snackbar/SnackbarContainer.js
  platform/viewer/src/components/Snackbar/SnackbarItem.js
  platform/viewer/src/components/Snackbar/SnackbarTypes.js
  platform/viewer/src/context/Snackbar.js
  platform/viewer/src/context/SnackbarContext.js
  yarn.lock
Due: viewer

revert unmodified file
  extensions/dicom-html/src/DicomHtmlViewport.js
Due: none

Update DicomHtmlViewport.js
  extensions/dicom-html/src/DicomHtmlViewport.js
Due: none

update css classnames
  platform/viewer/src/components/Snackbar/Snackbar.css
  platform/viewer/src/components/Snackbar/SnackbarContainer.js
  platform/viewer/src/components/Snackbar/SnackbarItem.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

Change to a `fillEmptyViewports` implementation, instead of maintaining an alternative in Viewer's state
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

giant check in
  extensions/cornerstone/src/ConnectedCornerstoneViewport.js
  extensions/cornerstone/src/commandsModule.js
  extensions/dicom-html/src/OHIFDicomHtmlViewport.js
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.js
  extensions/dicom-pdf/src/OHIFDicomPDFViewport.js
  extensions/vtk/src/ConnectedVTKViewport.js
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/utils/setLayoutAndViewportData.js
  extensions/vtk/src/utils/setLayoutAndViewportPanes.js
  extensions/vtk/src/utils/setMPRLayout.js
  extensions/vtk/src/utils/setSingleLayoutData.js
  extensions/vtk/src/utils/setViewportToVTK.js
  platform/core/src/hanging-protocols/ProtocolEngine.js
  platform/core/src/redux/actions.js
  platform/core/src/redux/actions.test.js
  platform/core/src/redux/constants/ActionTypes.js
  platform/core/src/redux/reducers/viewports.js
  platform/i18n/src/locales/index.js
  platform/ui/src/components/studyBrowser/__docs__/wrappedStudyBrowser.js
  platform/viewer/src/appExtensions/GenericViewerCommands/commandsModule.js
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
  platform/viewer/src/connectedComponents/ConnectedCineDialog.js
  platform/viewer/src/connectedComponents/ConnectedPluginSwitch.js
  platform/viewer/src/connectedComponents/ConnectedViewer.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/store/layout/reducers.js
  platform/viewer/src/store/layout/selectors.js
Due: core, viewer

Update props for new react-cornerstone-viewport implementation
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
Due: none

Create an preRegistration hook for the cornerstone extension to setup cornerstone tools (takes configuration)
  extensions/cornerstone/src/index.js
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/initCornerstoneTools.js
  platform/viewer/src/App.js
Due: viewer

Isolate measurements panel logic
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
  platform/viewer/src/appExtensions/MeasurementsPanel/actions.js
  platform/viewer/src/appExtensions/MeasurementsPanel/getMeasurementLocationCallback.js
  platform/viewer/src/appExtensions/MeasurementsPanel/index.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
  platform/viewer/src/appExtensions/MeasurementsPanel/labelingFlowCallbacks.js
  platform/viewer/src/appExtensions/MeasurementsPanel/updateTableWithNewMeasurementData.js
  platform/viewer/src/setupTools.js
Due: viewer

reorder extension registration
  platform/viewer/src/App.js
  platform/viewer/src/connectedComponents/ConnectedToolContextMenu.js
  platform/viewer/src/connectedComponents/ToolContextMenu.js
Due: viewer

remove unused setupTools
  platform/viewer/src/App.js
  platform/viewer/src/setupTools.js
Due: viewer

Restore CINE connection
  extensions/cornerstone/src/ConnectedCornerstoneViewport.js
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
Due: none

fix stack prefetcher toggling
  extensions/cornerstone/src/ConnectedCornerstoneViewport.js
Due: none

Cleanup OHIFCornerstoneViewport props
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
Due: none

updated yarn lock
  extensions/cornerstone/package.json
  yarn.lock
Due: none

Test cases implemented: Cornerstone tools Clear and Eraser; Measurement panel Relabel and Description
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/support/aliases.js
  platform/viewer/cypress/support/commands.js
Due: viewer

revert toolbarRow
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

fix revert toolbarRow
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

styles adjustments and hide method
  platform/viewer/src/components/Snackbar/Snackbar.css
  platform/viewer/src/components/Snackbar/SnackbarContainer.js
  platform/viewer/src/components/Snackbar/SnackbarItem.js
  platform/viewer/src/context/SnackbarContext.js
Due: viewer

remove unecessary default options
  platform/viewer/src/context/SnackbarContext.js
Due: viewer

feat: 🎸 Update vtk viewport for faster image reconstruction
  extensions/vtk/package.json
  yarn.lock
Due: none

bust yarn.lock to get updated react-cornerstone-viewport
  yarn.lock
Due: none

perf: 🎸 Update vtk viewport for faster image reconstruction (#1016)
  extensions/vtk/package.json
  yarn.lock
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Address Erik's comments.
  platform/core/src/utils/isDisplaySetReconstructable.js
Due: core

fix review comment; us isActive to better show it's influence on prefetch
  extensions/cornerstone/src/ConnectedCornerstoneViewport.js
Due: none

refactor: remove pass through method
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
Due: none

review performance optimization
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
Due: none

review; comment out unused variable
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
Due: none

shift tool under correct comment
  extensions/cornerstone/src/init.js
Due: none

Use alternative csTools config, if provided
  extensions/cornerstone/src/init.js
Due: none

Note regarding config options
  extensions/cornerstone/src/index.js
Due: none

feat: Multiple fixes and implementation changes to react-cornerstone-viewport
  extensions/cornerstone/package.json
  extensions/cornerstone/src/ConnectedCornerstoneViewport.js
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/index.js
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/initCornerstoneTools.js
  platform/viewer/src/App.js
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
  platform/viewer/src/appExtensions/MeasurementsPanel/actions.js
  platform/viewer/src/appExtensions/MeasurementsPanel/getMeasurementLocationCallback.js
  platform/viewer/src/appExtensions/MeasurementsPanel/index.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
  platform/viewer/src/appExtensions/MeasurementsPanel/labelingFlowCallbacks.js
  platform/viewer/src/appExtensions/MeasurementsPanel/updateTableWithNewMeasurementData.js
  platform/viewer/src/connectedComponents/ConnectedToolContextMenu.js
  platform/viewer/src/connectedComponents/ToolContextMenu.js
  platform/viewer/src/setupTools.js
  yarn.lock
Due: viewer
