Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Fixing broken OpenResty / Orthanc recipes and updating doc (#2652)
  docs/latest/deployment/recipes/nginx--image-archive.md
  platform/viewer/.recipes/OpenResty-Orthanc-Keycloak/docker-compose.yml
  platform/viewer/.recipes/OpenResty-Orthanc-Keycloak/dockerfile
  platform/viewer/.recipes/OpenResty-Orthanc/docker-compose.yml
  platform/viewer/.recipes/OpenResty-Orthanc/dockerfile
Due: viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Re IDC #2698: fix overflow text
  extensions/debugging/src/DebugReportModal.css
  extensions/debugging/src/DebugReportModal.js
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

refactor: 💡 Bump lodash and immer to avoid vulnerabilities
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

IDC Re #2656: update dcmjs 0.19.4 and change tol to 0.01. + fix boundary cases in parseSCOORD3D (#2699)
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/core/src/DICOMSR/SCOORD3D/parseSCOORD3D.js
  platform/core/src/DICOMSR/SCOORD3D/utils/getReferencedImagesList.js
  platform/core/src/DICOMSR/SCOORD3D/utils/processNonGeometricallyDefinedMeasurement.js
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Re IDC #2698 : fix overflow text and adding referenced Segs and RTSTRUCT series info in the debug dialog
  extensions/debugging/src/DebugReportModal.css
  extensions/debugging/src/DebugReportModal.js
Due: none

Re IDC #2698 : fix overflow text and adding referenced Segs and RTSTRUCT series info in the debug dialog (#2735)
  extensions/debugging/src/DebugReportModal.css
  extensions/debugging/src/DebugReportModal.js
Due: none

chore(release): publish [skip ci]
  extensions/debugging/CHANGELOG.md
  extensions/debugging/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

chore(docker): switches node version to `node:14-slim` in Dockerfile
  Dockerfile
Due: none

update
  platform/viewer/src/appExtensions/LungModuleSimilarityPanel/SearchParameters/SearchDetails.js
Due: viewer

fix: duplication for dom-helper, pdfjs transpilation error, remove unused webpack plugin(bundler analyser)
  .webpack/webpack.base.js
  extensions/dicom-pdf/package.json
  package.json
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/package.json
  yarn.lock
Due: viewer

fix: fix typo
  modes/longitudinal/src/toolbarButtons.js
Due: none

feat(i18n): add German translations
  platform/i18n/src/locales/de/AboutModal.json
  platform/i18n/src/locales/de/Buttons.json
  platform/i18n/src/locales/de/CineDialog.json
  platform/i18n/src/locales/de/Common.json
  platform/i18n/src/locales/de/DatePicker.json
  platform/i18n/src/locales/de/Header.json
  platform/i18n/src/locales/de/MeasurementTable.json
  platform/i18n/src/locales/de/StudyList.json
  platform/i18n/src/locales/de/UserPreferencesModal.json
  platform/i18n/src/locales/de/ViewportDownloadForm.json
  platform/i18n/src/locales/de/index.js
  platform/i18n/src/locales/index.js
Due: none

PR comments - added params description
  platform/core/src/utils/metadataProvider/fetchPaletteColorLookupTableData.js
Due: core

Fix palette colour display in OHIF v3 (#2731)
  extensions/default/src/getSopClassHandlerModule.js
  platform/core/src/classes/MetadataProvider.js
  platform/core/src/utils/metadataProvider/fetchPaletteColorLookupTableData.js
  yarn.lock
Due: core

fix: set lts node version for docker config
  .circleci/config.yml
  Dockerfile
Due: none

fix: node docker version to prevent node req "^12.13.0 || ^14.15.0 || >=16" issue
  .circleci/config.yml
  Dockerfile
Due: none

Updated dicomweb-client dependency to latest stable
  extensions/default/package.json
  extensions/default/src/DicomWebDataSource/index.js
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

fix: Update fetchPaletteColorLookupTableData: LUT Entries shall be 0 if the table entries value is 2^16 (#2395)
  platform/core/src/utils/metadataProvider/fetchPaletteColorLookupTableData.js
Due: core

IDC2733: update dcmjs to version 0.19.7
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

IDC2733: update dcmjs to version 0.19.7 (#2745)
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

feat(OHIFv3):Add themeable overlays - PR comments
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/ViewportOverlay.js
  extensions/dicom-video/src/viewports/OHIFCornerstoneVideoViewport.js
  extensions/dicom-video/src/viewports/ViewportOverlay.js
  package.json
  platform/core/package.json
  platform/docs/docs/configuration/theme-configuration.md
  platform/docs/package.json
  platform/ui/src/components/ViewportOverlay/index.js
  platform/ui/src/components/ViewportOverlay/listComponentGenerator.js
  platform/ui/src/components/index.js
  platform/viewer/package.json
  platform/viewer/public/theme/viewportOverlay.json5
  platform/viewer/src/appInit.js
  platform/viewer/src/index.js
  yarn.lock
Due: core, viewer

feat(OHIFv3):Add themeable overlays - PR updates
  platform/docs/docs/configuration/theme-configuration.md
  platform/docs/package.json
  platform/ui/src/components/ViewportOverlay/ListContent.jsx
  platform/ui/src/components/ViewportOverlay/index.js
  platform/ui/src/components/ViewportOverlay/itemGenerator.jsx
  platform/ui/src/components/ViewportOverlay/listComponentGenerator.js
  platform/viewer/cypress/support/aliases.js
  platform/viewer/public/config/dicomweb-server.js
  platform/viewer/public/theme/viewportOverlay.json5
Due: viewer

Updating to config-point marked as compatible with node 12
  platform/viewer/package.json
  yarn.lock
Due: viewer

feat(OHIFv3):Add a simple ECG viewer
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/utils/StaticWadoClient.js
  extensions/dicom-ecg/.webpack/webpack.dev.js
  extensions/dicom-ecg/.webpack/webpack.prod.js
  extensions/dicom-ecg/LICENSE
  extensions/dicom-ecg/README.md
  extensions/dicom-ecg/babel.config.js
  extensions/dicom-ecg/package.json
  extensions/dicom-ecg/src/getSopClassHandlerModule.js
  extensions/dicom-ecg/src/id.js
  extensions/dicom-ecg/src/index.js
  extensions/dicom-ecg/src/viewports/EcgTrace.jsx
  extensions/dicom-ecg/src/viewports/GridPattern.jsx
  extensions/dicom-ecg/src/viewports/OHIFCornerstoneEcgViewport.js
  extensions/dicom-ecg/src/viewports/WaveformView.jsx
  modes/longitudinal/src/index.js
  platform/viewer/src/index.js
Due: viewer

Initial ecg trace only view
  extensions/dicom-ecg/src/viewports/EcgTrace.jsx
  extensions/dicom-ecg/src/viewports/GridPattern.jsx
  extensions/dicom-ecg/src/viewports/OHIFCornerstoneEcgViewport.js
  extensions/dicom-ecg/src/viewports/WaveformView.jsx
Due: none

Add hotkey saving functionality
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/ViewerLayout/index.jsx
  platform/core/src/classes/HotkeysManager.js
  platform/core/src/utils/index.js
  platform/core/src/utils/nlApi.js
Due: core

remove console logs
  extensions/default/src/ViewerLayout/index.jsx
  platform/core/src/classes/HotkeysManager.js
Due: core

added loading state and improved overall ux
  platform/viewer/src/appExtensions/LungModuleSimilarityPanel/SearchParameters/SearchDetails.js
Due: viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
