Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Add a basic e2e test for video display
  platform/viewer/cypress/integration/OHIFVideoDisplay.spec.js
Due: viewer

Adding a screen shot as requested
  extensions/dicom-video/README.md
  extensions/dicom-video/video-screenshot.jpg
Due: none

feat(OHIF):Add DICOM Video Display
  extensions/cornerstone/src/commandsModule.js
  extensions/default/src/DicomWebDataSource/index.js
  extensions/dicom-video/.webpack/webpack.dev.js
  extensions/dicom-video/.webpack/webpack.prod.js
  extensions/dicom-video/LICENSE
  extensions/dicom-video/README.md
  extensions/dicom-video/babel.config.js
  extensions/dicom-video/package.json
  extensions/dicom-video/src/getSopClassHandlerModule.js
  extensions/dicom-video/src/id.js
  extensions/dicom-video/src/index.js
  extensions/dicom-video/src/tools/modules/dicomVideoModule.js
  extensions/dicom-video/src/viewports/OHIFCornerstoneVideoViewport.js
  extensions/dicom-video/video-screenshot.jpg
  modes/longitudinal/src/index.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/viewer/cypress/integration/OHIFVideoDisplay.spec.js
  platform/viewer/src/index.js
Due: core, viewer

Remove validNumber for photometricInterpretation key
  platform/core/src/classes/MetadataProvider.js
Due: core

New example config
  idc-assets/viewer_deployment_config.txt
Due: none

fix(cli): fix issues when trying to link an extension or a mode
  platform/cli/src/commands/utils/addToConfig.js
  platform/cli/src/commands/utils/private/readPluginConfigFile.js
  platform/cli/src/index.js
  platform/cli/templates/extension/dependencies.json
  platform/cli/templates/mode/dependencies.json
Due: none

fix(cli): fix issues when trying to link an extension or a mode (#2725)
  platform/cli/src/commands/utils/addToConfig.js
  platform/cli/src/commands/utils/private/readPluginConfigFile.js
  platform/cli/src/index.js
  platform/cli/templates/extension/dependencies.json
  platform/cli/templates/mode/dependencies.json
Due: none

fix(dicom-json): Series metadata retrieve
  extensions/default/src/DicomJSONDataSource/index.js
Due: none

fix(ohif-cli): Update generated files
  .webpack/rules/cssToJavaScript.js
  platform/cli/templates/extension/.webpack/webpack.dev.js
  platform/cli/templates/extension/.webpack/webpack.prod.js
  platform/cli/templates/extension/babel.config.js
  platform/cli/templates/extension/jest.config.js
  platform/cli/templates/mode/.webpack/webpack.dev.js
  platform/cli/templates/mode/.webpack/webpack.prod.js
  platform/cli/templates/mode/babel.config.js
Due: none

fix(dicom-json): Series metadata retrieve (#2726)
  extensions/default/src/DicomJSONDataSource/index.js
Due: none

fix: writing error in documentation
  platform/docs/docs/README.md
  platform/docs/docs/configuration/dataSources/dicom-json.md
  platform/docs/docs/configuration/index.md
  platform/docs/docs/configuration/theme-configuration.md
  platform/docs/docs/deployment/build-for-production.md
  platform/docs/docs/deployment/index.md
  platform/docs/docs/deployment/nginx--image-archive.md
  platform/docs/docs/deployment/static-assets.md
  platform/docs/docs/development/architecture.md
  platform/docs/docs/development/getting-started.md
  platform/docs/docs/development/our-process.md
  platform/docs/docs/development/testing.md
  platform/docs/docs/faq.md
  platform/docs/docs/platform/browser-support.md
  platform/docs/docs/platform/extensions/index.md
  platform/docs/docs/platform/extensions/installation.md
  platform/docs/docs/platform/extensions/modules/commands.md
  platform/docs/docs/platform/extensions/modules/data-source.md
  platform/docs/docs/platform/extensions/modules/panel.md
  platform/docs/docs/platform/extensions/modules/sop-class-handler.md
  platform/docs/docs/platform/extensions/modules/toolbar.md
  platform/docs/docs/platform/extensions/modules/viewport.md
  platform/docs/docs/platform/internationalization.md
  platform/docs/docs/platform/managers/hotkeys.md
  platform/docs/docs/platform/modes/index.md
  platform/docs/docs/platform/modes/lifecycle.md
  platform/docs/docs/platform/modes/routes.md
  platform/docs/docs/platform/scope-of-project.md
  platform/docs/docs/platform/services/config-point-service.md
  platform/docs/docs/platform/services/data/DicomMetadataStore.md
  platform/docs/docs/platform/services/data/HangingProtocolService.md
  platform/docs/docs/platform/services/data/index.md
  platform/docs/docs/platform/services/pubsub.md
  platform/docs/docs/platform/services/ui/index.md
  platform/docs/docs/release-notes.md
  platform/docs/docs/resources.md
  platform/docs/docs/user-guide/viewer/measurement-panel.md
  platform/docs/docs/user-guide/viewer/measurement-tracking.md
  platform/docs/docs/user-guide/viewer/toolbar.md
  platform/docs/docs/user-guide/viewer/viewport.md
Due: none

fix: fixing errors in documentation (#2728)
  platform/docs/docs/README.md
  platform/docs/docs/configuration/dataSources/dicom-json.md
  platform/docs/docs/configuration/index.md
  platform/docs/docs/configuration/theme-configuration.md
  platform/docs/docs/deployment/build-for-production.md
  platform/docs/docs/deployment/index.md
  platform/docs/docs/deployment/nginx--image-archive.md
  platform/docs/docs/deployment/static-assets.md
  platform/docs/docs/development/architecture.md
  platform/docs/docs/development/getting-started.md
  platform/docs/docs/development/our-process.md
  platform/docs/docs/development/testing.md
  platform/docs/docs/faq.md
  platform/docs/docs/platform/browser-support.md
  platform/docs/docs/platform/extensions/index.md
  platform/docs/docs/platform/extensions/installation.md
  platform/docs/docs/platform/extensions/modules/commands.md
  platform/docs/docs/platform/extensions/modules/data-source.md
  platform/docs/docs/platform/extensions/modules/panel.md
  platform/docs/docs/platform/extensions/modules/sop-class-handler.md
  platform/docs/docs/platform/extensions/modules/toolbar.md
  platform/docs/docs/platform/extensions/modules/viewport.md
  platform/docs/docs/platform/internationalization.md
  platform/docs/docs/platform/managers/hotkeys.md
  platform/docs/docs/platform/modes/index.md
  platform/docs/docs/platform/modes/lifecycle.md
  platform/docs/docs/platform/modes/routes.md
  platform/docs/docs/platform/scope-of-project.md
  platform/docs/docs/platform/services/config-point-service.md
  platform/docs/docs/platform/services/data/DicomMetadataStore.md
  platform/docs/docs/platform/services/data/HangingProtocolService.md
  platform/docs/docs/platform/services/data/index.md
  platform/docs/docs/platform/services/pubsub.md
  platform/docs/docs/platform/services/ui/index.md
  platform/docs/docs/release-notes.md
  platform/docs/docs/resources.md
  platform/docs/docs/user-guide/viewer/measurement-panel.md
  platform/docs/docs/user-guide/viewer/measurement-tracking.md
  platform/docs/docs/user-guide/viewer/toolbar.md
  platform/docs/docs/user-guide/viewer/viewport.md
Due: none

Update package.json
  platform/viewer/package.json
Due: viewer

feat(mib-air): makes changes required for MIB AIR project
  .docker/Viewer-v2.x/default.conf
  Dockerfile-Local-Build
  platform/core/src/DICOMWeb/getAuthorizationHeader.js
  platform/viewer/package.json
  platform/viewer/public/config/default.js
  platform/viewer/public/config/google.js
Due: core, viewer

fix(OHIFv3):Fix palette colour data display
  extensions/default/src/getSopClassHandlerModule.js
  platform/core/src/classes/MetadataProvider.js
  platform/core/src/utils/metadataProvider/fetchPaletteColorLookupTableData.js
  yarn.lock
Due: core

Series Instance Linking BugFix
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  platform/viewer/src/components/ViewportGrid.jsx
Due: viewer

save hotkeys via api calls
  extensions/default/src/ViewerLayout/index.jsx
  platform/core/src/classes/HotkeysManager.js
  yarn.lock
Due: core

feat(OHIFv3):Add themeable overlays - PR comments
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/ViewportOverlay.js
  extensions/dicom-video/src/viewports/OHIFCornerstoneVideoViewport.js
  extensions/dicom-video/src/viewports/ViewportOverlay.js
  package.json
  platform/core/package.json
  platform/docs/docs/configuration/theme-configuration.md
  platform/docs/package.json
  platform/ui/src/components/ViewportOverlay/index.js
  platform/ui/src/components/ViewportOverlay/listComponentGenerator.js
  platform/ui/src/components/index.js
  platform/viewer/package.json
  platform/viewer/public/theme/viewportOverlay.json5
  platform/viewer/src/appInit.js
  platform/viewer/src/index.js
  yarn.lock
Due: core, viewer

feat(OHIFv3):Add themeable overlays - PR updates
  platform/docs/docs/configuration/theme-configuration.md
  platform/docs/package.json
  platform/ui/src/components/ViewportOverlay/ListContent.jsx
  platform/ui/src/components/ViewportOverlay/index.js
  platform/ui/src/components/ViewportOverlay/itemGenerator.jsx
  platform/ui/src/components/ViewportOverlay/listComponentGenerator.js
  platform/viewer/cypress/support/aliases.js
  platform/viewer/public/config/dicomweb-server.js
  platform/viewer/public/theme/viewportOverlay.json5
  yarn.lock
Due: viewer

feat(OHIFv3):Add CobbAngle tool support
  extensions/cornerstone/src/_shared/getTools.js
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/getTools.js
  extensions/cornerstone/src/utils/measurementServiceMappings/CobbAngle.js
  extensions/cornerstone/src/utils/measurementServiceMappings/constants/supportedTools.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.js
  extensions/default/src/PanelMeasurementTable.js
  extensions/measurement-tracking/src/_shared/getTools.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/getCornerstoneToolStateToMeasurementSchema.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  modes/longitudinal/src/index.js
  modes/longitudinal/src/toolbarButtons.js
  modes/longitudinal/src/toolbarButtonsConfig.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/docs/docs/configuration/theme-configuration.md
  platform/i18n/src/locales/en-US/Buttons.json
  platform/ui/src/assets/icons/tool-cobbangle.svg
  platform/ui/src/components/Icon/getIcon.js
  platform/viewer/public/theme/extraTools.json5
  platform/viewer/src/index.js
Due: core, viewer

Added unit tests on the changes
  .node-version
  extensions/cornerstone/src/utils/measurementServiceMappings/CobbAngle.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementmappings.test.js
  extensions/measurement-tracking/jest.config.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/getDisplayText.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/getDisplayText.test.js
  platform/core/src/services/MeasurementService/MeasurementService.test.js
Due: core

Changes for the PR
  extensions/cornerstone/src/utils/measurementServiceMappings/CobbAngle.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.js
  platform/viewer/public/theme/extraTools.json5
Due: viewer

small update
  platform/core/src/classes/HotkeysManager.js
Due: core

chore: Add research notice (#2458)
  README.md
Due: none

feature: configurable max prefetch request count (#2632)
  platform/core/src/classes/StudyPrefetcher.js
  platform/viewer/public/config/default.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

IDC #2657: fix rt struct panel update (#2666)
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
Due: none

fix: DICOMFileLoadingListener typo in method name (#2647)
  platform/core/src/classes/StudyLoadingListener.js
Due: core

fix: SeriesTime and SeriesDate are only set for the first series and undefined for the remaining ones (#2476)
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
Due: core

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

IDC update dcmjs to v0.19.2 (#2672)
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

IDC: update dcmjs to version 0.19.3 (#2697)
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Feat/v2 e2e static tests (#2684)
  .circleci/config.yml
  .gitmodules
  .node-version
  .webpack/webpack.base.js
  extensions/dicom-pdf/src/DicomPDFViewport.js
  extensions/dicom-pdf/src/OHIFDicomPDFViewport.js
  package.json
  platform/core/src/index.js
  platform/core/src/index.test.js
  platform/core/src/studies/services/qido/StaticWadoClient.js
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/cypress/support/commands.js
  platform/viewer/package.json
  platform/viewer/public/config/e2e.js
  platform/viewer/public/config/local_static.js
  runtime.txt
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/dicom-pdf/CHANGELOG.md
  extensions/dicom-pdf/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer
