Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

OHIF-304 - Create TooltipClipboard component for copying from Study List (#1887)
  platform/ui/index.js
  platform/ui/src/assets/icons/clipboard.svg
  platform/ui/src/components/Icon/getIcon.jsx
  platform/ui/src/components/StudyListTable/StudyListTableRow.js
  platform/ui/src/components/TooltipClipboard/TooltipClipboard.jsx
  platform/ui/src/components/TooltipClipboard/TooltipClipboard.mdx
  platform/ui/src/components/TooltipClipboard/index.js
  platform/ui/src/components/index.js
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

Switch isEqual to entire filter. Switch lodash import to use lodash.isequal
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

OHIF-260 - "Clear Filters" button should not be visible on first load, when no filters are set (#1873)
  platform/ui/src/components/StudyListPagination/StudyListPagination.js
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

fix: OHIF-307 - Click outside patient info should close tooltip (#1886)
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/ui/src/utils/blurHandlerListener.js
  platform/ui/src/utils/useOnClickOutside.js
Due: none

fix: Switch DICOMFileUploader to use the UIModalService (#1904)
  platform/core/src/services/UIModalService/index.js
  platform/ui/package.json
  platform/ui/src/contextProviders/ModalProvider.js
  platform/viewer/src/googleCloud/DicomFileUploaderModal.js
  platform/viewer/src/googleCloud/DicomStorePickerModal.js
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

fix: OHIF-215 - Patient information should truncate w/ ellipsis instead of expanding box
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

docs: Update readme for end to end test commands (#1774)
  platform/viewer/README.md
Due: viewer

fix: OHIF-215 - Patient information should truncate w/ ellipsis instead of expanding box (#1875)
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

create context menu
  extensions/cornerstone/src/init.js
  platform/ui/index.js
  platform/ui/src/components/ContextMenu/ContextMenu.jsx
  platform/ui/src/components/ContextMenu/ContextMenu.mdx
  platform/ui/src/components/ContextMenu/index.js
  platform/ui/src/components/ContextMenuMeasurements/ContextMenuMeasurements.jsx
  platform/ui/src/components/ContextMenuMeasurements/index.js
  platform/ui/src/components/index.js
Due: none

fix: Use same config for branch deploys as for deploy previews (#1893)
  .netlify/build-deploy-preview.sh
  netlify-lerna-cache.sh
  netlify-lerna-restore.sh
  netlify.toml
  package.json
  platform/ui/gatsby-node.js
Due: none

chore: Use same config for branch deploys as for deploy previews (#1893) (#1916)
  .netlify/build-deploy-preview.sh
  netlify-lerna-cache.sh
  netlify-lerna-restore.sh
  netlify.toml
  package.json
  platform/ui/gatsby-node.js
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

OHIF-285/OHIF-274: Fix default hanging of display sets into the ViewportGrid
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/wado/retrieveMetadata.js
  extensions/default/src/DicomWebDataSource/wado/retrieveMetadataLoaderAsync.js
  extensions/default/src/DicomWebDataSource/wado/utils/getSeriesInfo.js
  extensions/default/src/ViewerLayout/index.jsx
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/ActionButtons.jsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  platform/core/src/index.js
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/DicomMetadataStore/EVENTS.js
  platform/core/src/services/DicomMetadataStore/createStudyMetadata.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.js
  platform/core/src/services/HangingProtocolService/index.js
  platform/core/src/services/ToolBarService/ToolBarService.js
  platform/core/src/services/index.js
  platform/core/src/studies/getSeriesInfo.js
  platform/core/src/studies/index.js
  platform/core/src/studies/services/wado/retrieveMetadataLoaderAsync.js
  platform/core/src/studies/sortStudy.js
  platform/core/src/utils/index.js
  platform/core/src/utils/isLowPriorityModality.js
  platform/ui/index.js
  platform/ui/src/components/Button/Button.jsx
  platform/ui/src/components/ButtonGroup/ButtonGroup.jsx
  platform/ui/src/components/SidePanel/SidePanel.jsx
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
  platform/ui/src/contextProviders/HangingProtocolProvider.jsx
  platform/ui/src/contextProviders/index.js
  platform/viewer/src/App.jsx
  platform/viewer/src/appInit.js
  platform/viewer/src/components/ViewportGrid.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

OHIF-324: Switch Probe to DragProbe and apply minimal strategy
  extensions/cornerstone/src/init.js
  modes/longitudinal/src/toolbarButtons.js
Due: none

OHIF-324: Switch Probe to DragProbe and apply minimal strategy (#1918)
  extensions/cornerstone/src/init.js
  modes/longitudinal/src/toolbarButtons.js
Due: none

OHIF-322: Fix tool settings to stop referencing function name because it breaks on minification
  extensions/cornerstone/src/init.js
Due: none

OHIF-322: Fix tool settings to stop referencing function name because it breaks on minification (#1919)
  extensions/cornerstone/src/init.js
Due: none

Make suggested changes.
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/wado/retrieveMetadata.js
  extensions/default/src/ViewerLayout/index.jsx
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.js
  platform/ui/src/contextProviders/HangingProtocolProvider.jsx
  platform/viewer/src/components/ViewportGrid.jsx
Due: core, viewer

Re-add ToolBarService as a reactive variable.
  extensions/default/src/ViewerLayout/index.jsx
Due: none

OHIF-285/OHIF-274: Fix default hanging of display sets into the ViewportGrid (#1917)
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/DicomWebDataSource/wado/retrieveMetadata.js
  extensions/default/src/DicomWebDataSource/wado/retrieveMetadataLoaderAsync.js
  extensions/default/src/DicomWebDataSource/wado/utils/getSeriesInfo.js
  extensions/default/src/ViewerLayout/index.jsx
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/ActionButtons.jsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  platform/core/src/index.js
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/DicomMetadataStore/EVENTS.js
  platform/core/src/services/DicomMetadataStore/createStudyMetadata.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.js
  platform/core/src/services/HangingProtocolService/index.js
  platform/core/src/services/ToolBarService/ToolBarService.js
  platform/core/src/services/index.js
  platform/core/src/studies/getSeriesInfo.js
  platform/core/src/studies/index.js
  platform/core/src/studies/services/wado/retrieveMetadataLoaderAsync.js
  platform/core/src/studies/sortStudy.js
  platform/core/src/utils/index.js
  platform/core/src/utils/isLowPriorityModality.js
  platform/ui/index.js
  platform/ui/src/components/Button/Button.jsx
  platform/ui/src/components/ButtonGroup/ButtonGroup.jsx
  platform/ui/src/components/SidePanel/SidePanel.jsx
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
  platform/ui/src/contextProviders/HangingProtocolProvider.jsx
  platform/ui/src/contextProviders/index.js
  platform/viewer/src/App.jsx
  platform/viewer/src/appInit.js
  platform/viewer/src/components/ViewportGrid.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

Update cst version.
  extensions/cornerstone/package.json
  extensions/cornerstone/src/init.js
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Arrow Annotate workflow updates.
  extensions/cornerstone/package.json
  extensions/cornerstone/src/init.js
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  extensions/vtk/package.json
  platform/viewer/package.json
  yarn.lock
Due: viewer

Fix arrow key scroll on SR Viewport.
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/init.js
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
Due: none

Remove debuggers
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/init.js
Due: none

OHIF-328 up/down arrows keys on SR viewport. (#1922)
  extensions/cornerstone/src/init.js
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
Due: none

Arrow Annotate workflow updates. (#1921)
  extensions/cornerstone/package.json
  extensions/cornerstone/src/init.js
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  extensions/vtk/package.json
  platform/viewer/package.json
  yarn.lock
Due: viewer

Update cst version
  extensions/cornerstone/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-sr/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

OHIF-67: Fix Magnify issues by updating CornerstoneTools (#1923)
  extensions/cornerstone/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-sr/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

chore: Update react-hot-loader to avoid crashes during hot loading of workspace modules
  package.json
  yarn.lock
Due: none

OHIF-193: Add context menu integration with measurement service
  extensions/cornerstone/src/index.js
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/measurementServiceMappings/ArrowAnnotate.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Bidirectional.js
  extensions/cornerstone/src/utils/measurementServiceMappings/EllipticalRoi.js
  extensions/cornerstone/src/utils/measurementServiceMappings/utils/getHandlesFromPoints.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/ui/src/components/ContextMenuMeasurements/ContextMenuMeasurements.jsx
Due: core

OHIF-193: Update comments
  extensions/cornerstone/src/init.js
  platform/ui/src/components/ContextMenuMeasurements/ContextMenuMeasurements.jsx
Due: none

OHIF-310: Add report title dialog
  extensions/measurement-tracking/src/_shared/createReportAsync.js
  platform/core/src/DICOMSR/dataExchange.js
Due: core

OHIF-310: Extract submit function
  extensions/measurement-tracking/src/_shared/createReportAsync.js
Due: none

OHIF-311: Set nav arrows as active for all viewports
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

workflow changes
  extensions/cornerstone/src/init.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.jsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptSaveReport.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptTrackNewSeries.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptTrackNewStudy.js
Due: none

OHIF-311: Set nav arrows as active for all viewports (#1930)
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

Cherry pick OHIF-310 into this PR.
  extensions/measurement-tracking/src/_shared/createReportAsync.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptSaveReport.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/core/src/DICOMSR/dataExchange.js
Due: core

OHIF-CR Update: Add requested updates
  extensions/cornerstone/src/init.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/ui/src/components/ContextMenuMeasurements/ContextMenuMeasurements.jsx
Due: core

CR Update: Update measurement service remove function
  extensions/cornerstone/src/init.js
  platform/core/src/services/MeasurementService/MeasurementService.js
Due: core

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
