Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

Kill core-js
  package.json
  platform/viewer/package.json
  platform/viewer/src/index.js
Due: viewer

Export in a node happy way
  .webpack/excludeNodeModulesExcept.js
Due: none

Updated yarn lock
  yarn.lock
Due: none

Set NODE_ENV when launching anything w/ WebPack
  platform/viewer/package.json
Due: viewer

fix: 🐛 Activating Pan and Zoom on right and middle click by def
  platform/viewer/src/setupTools.js
Due: viewer

fix: 🐛 Activating Pan and Zoom on right and middle click by def (#841)
  platform/viewer/src/setupTools.js
Due: viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

docs: updated FAQ
  docs/latest/frequently-asked-questions.md
Due: none

docs: on browser support
  docs/latest/browser-support.md
Due: none

Add support for redux browser extension
  platform/viewer/src/store/index.js
Due: viewer

fix(dicom-microscopy): Update dicom-microscopy-viewer to 0.6.1 to fix Google Cloud usage with WSI images
  extensions/dicom-microscopy/package.json
  yarn.lock
Due: none

fix(dicom-microscopy): Update dicom-microscopy-viewer to 0.6.1 to fix Google Cloud usage with WSI images (#843)
  extensions/dicom-microscopy/package.json
  yarn.lock
Due: none

chore(release): publish [skip ci]
  extensions/dicom-microscopy/CHANGELOG.md
  extensions/dicom-microscopy/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

misc. small clean-up
  .webpack/webpack.common-pwa.js
  extensions/vtk/src/utils/setLayoutAndViewportData.js
  platform/viewer/.webpack/all.dev.js
Due: viewer

docs: Remove roadmap page; add browser-support to sidebar
  docs/latest/SUMMARY.md
  docs/latest/roadmap.md
Due: none

Formatting
  docs/v1/faq/general.md
Due: none

Remove roadmap links
  README.md
  platform/viewer/README.md
Due: viewer

Formatting
  platform/viewer/README.md
Due: viewer

ci: Remove config syntax error
  .circleci/config.yml
Due: none

Simplified bug report template
  .github/ISSUE_TEMPLATE/---bug-report.md
Due: none

update community request template
  .github/ISSUE_TEMPLATE/---feature-request.md
Due: none

Update question's template
  .github/ISSUE_TEMPLATE/---support-question.md
Due: none

refactor: 💡 React components to consume appConfig using Context
  README.md
  docs/latest/deployment/recipes/build-for-production.md
  docs/latest/deployment/recipes/nginx--image-archive.md
  docs/latest/deployment/recipes/user-account-control.md
  docs/latest/essentials/configuration.md
  platform/viewer/src/App.js
  platform/viewer/src/OHIFStandaloneViewer.js
  platform/viewer/src/components/Header/Header.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/context/AppContext.js
  platform/viewer/src/context/UserManagerContext.js
  platform/viewer/src/context/WhiteLabellingContext.js
  platform/viewer/src/studylist/StudyListRouting.js
  platform/viewer/src/studylist/StudyListWithData.js
Due: viewer

Fix broken link to roadmap
  .github/ISSUE_TEMPLATE/---feature-request.md
Due: none

refactor: 💡 Removing unecessary code
  platform/viewer/src/OHIFStandaloneViewer.js
Due: viewer

fix: 🐛 Measurement table not working on production build
  platform/core/src/measurements/classes/MeasurementApi.js
  platform/core/src/measurements/classes/TimepointApi.js
  platform/core/src/measurements/configuration.js
  platform/core/src/measurements/index.js
Due: core

simplify build scripts
  .webpack/helpers/excludeNodeModulesExcept.js
  .webpack/rules/cssToJavaScript.js
  .webpack/rules/loadShaders.js
  .webpack/rules/loadWebWorkers.js
  .webpack/rules/stylusToJavaScript.js
  .webpack/rules/transpileJavaScript.js
  .webpack/webpack.base.js
  .webpack/webpack.common-pwa.js
  .webpack/webpack.common.js
  .webpack/webpack.commonjs.js
  extensions/cornerstone/.webpack/webpack.prod.js
  extensions/dicom-html/.webpack/webpack.dev.js
  extensions/dicom-html/.webpack/webpack.prod.js
  extensions/dicom-microscopy/.webpack/webpack.dev.js
  extensions/dicom-microscopy/.webpack/webpack.prod.js
  extensions/dicom-pdf/.webpack/webpack.dev.js
  extensions/dicom-pdf/.webpack/webpack.prod.js
  extensions/vtk/.webpack/webpack.dev.js
  extensions/vtk/.webpack/webpack.prod.js
  platform/core/.webpack/webpack.dev.js
  platform/core/.webpack/webpack.prod.js
  platform/i18n/.webpack/webpack.dev.js
  platform/i18n/.webpack/webpack.prod.js
  platform/ui/.webpack/webpack.prod.js
  platform/viewer/.webpack/all.dev.js
  platform/viewer/.webpack/pwa.prod.js
  platform/viewer/.webpack/rules/extractStyleChunks.js
  platform/viewer/.webpack/rules/fontsToJavaScript.js
  platform/viewer/.webpack/webpack.commonjs.js
  platform/viewer/.webpack/webpack.pwa.js
  postcss.config.js
Due: core, viewer

specify new script names
  platform/viewer/package.json
Due: viewer

fix: for measurement api being pruned by minimizer in prod builds
  platform/core/src/measurements/classes/MeasurementApi.js
  platform/core/src/measurements/classes/TimepointApi.js
  platform/core/src/measurements/configuration.js
  platform/core/src/measurements/index.js
Due: core

Use named exports
  platform/core/src/measurements/configuration.js
Due: core

Simplify config
  platform/viewer/.webpack/rules/extractStyleChunks.js
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/package.json
Due: viewer

Let's not do so much heavy lifting for a dev-server build
  .webpack/rules/transpileJavaScript.js
Due: none

fix dev build
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/README.md
Due: viewer

Add hotkeys to demo
  platform/viewer/public/config/demo.js
Due: viewer

docs: Update `ohif-viewer` package links
  README.md
Due: none

fix: jest babel config and env specific configs
  babel.config.js
Due: none

Remove call to non-existant command
  package.json
Due: none

Shift experimental proposal plugin up a layer
  babel.config.js
Due: none

Use `https`
  .circleci/config.yml
  docs/latest/connecting-to-image-archives/google-cloud-healthcare.md
  docs/latest/essentials/getting-started.md
  platform/viewer/cypress.json
Due: viewer

Try with reduced number of package exceptions
  .webpack/rules/transpileJavaScript.js
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
