Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

remove unused component
  platform/ui/src/components/index.js
  platform/ui/src/components/userPreferencesForm/UserPreferences.js
  platform/ui/src/index.js
Due: none

add record to modal props
  platform/ui/src/components/userPreferencesForm/UserPreferencesForm.js
  platform/viewer/src/connectedComponents/ConnectedUserPreferencesForm.js
Due: viewer

rename record method
  platform/ui/src/components/userPreferencesForm/UserPreferencesForm.js
  platform/viewer/src/connectedComponents/ConnectedUserPreferencesForm.js
Due: viewer

replace handlers to use hotkeyRecord
  platform/ui/src/components/userPreferencesForm/HotKeysPreferences.js
Due: none

CR Update: Move default arrow config to cornerstone instead of default
  extensions/cornerstone/package.json
  extensions/cornerstone/src/init.js
  platform/ui/src/contextProviders/ContextMenuProvider.js
  platform/viewer/public/config/default.js
  platform/viewer/src/App.js
  yarn.lock
Due: viewer

CR Update: Fix app configuration props structure
  platform/ui/src/contextProviders/ContextMenuProvider.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/docker_nginx-orthanc.js
  platform/viewer/public/config/docker_openresty-orthanc-keycloak.js
  platform/viewer/public/config/docker_openresty-orthanc.js
  platform/viewer/public/config/google.js
  platform/viewer/public/config/local_dcm4chee.js
  platform/viewer/public/config/netlify.js
  platform/viewer/public/config/public_dicomweb.js
  platform/viewer/src/App.js
  platform/viewer/src/connectedComponents/ToolContextMenu.js
  platform/viewer/src/index.js
Due: viewer

CR Update: Fix app configuration prop in script tag and extract commands manager from providers
  platform/ui/src/contextProviders/ContextMenuProvider.js
  platform/ui/src/contextProviders/LabellingFlowProvider.js
  platform/viewer/public/html-templates/script-tag.html
  platform/viewer/src/App.js
Due: viewer

CR Update: Create custom providers to use commandsManager
  platform/viewer/src/App.js
  platform/viewer/src/appCustomProviders/ContextMenuProvider/ContextMenuProvider.js
  platform/viewer/src/appCustomProviders/LabellingFlowProvider/LabellingFlowProvider.js
  platform/viewer/src/appCustomProviders/index.js
Due: viewer

CR Update: Use services directly in measurementspanel
  extensions/cornerstone/src/commandsModule.js
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
  platform/viewer/src/appExtensions/MeasurementsPanel/index.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
Due: viewer

CR Update: Pass components to providers
  platform/ui/src/contextProviders/ContextMenuProvider.js
  platform/ui/src/contextProviders/LabellingFlowProvider.js
  platform/viewer/public/config/default.js
  platform/viewer/src/App.js
  platform/viewer/src/appCustomProviders/ContextMenuProvider/ContextMenuProvider.js
  platform/viewer/src/appCustomProviders/LabellingFlowProvider/LabellingFlowProvider.js
  platform/viewer/src/components/EditDescriptionDialog/EditDescriptionDialog.js
  platform/viewer/src/components/Labelling/LabellingManager.js
Due: viewer

docs: process docs to include UX Stories requirement
  docs/latest/our-process.md
Due: none

docs: include note regarding different environments
  docs/latest/our-process.md
Due: none

docs: process updates labels deploy (#1245)
  docs/latest/our-process.md
Due: none

CR Update: Remove position from dialog
  platform/core/src/services/UIDialogService/index.js
  platform/ui/src/contextProviders/ContextMenuProvider.js
  platform/ui/src/contextProviders/DialogProvider.js
Due: core

docs: simplify PR checklist; add UX stories requirement
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: none

CR Update: fix dialog prop check
  platform/ui/src/contextProviders/DialogProvider.js
Due: none

Services init
  docs/latest/services/index.md
Due: none

Update to vtk.js 11.14.0 and react-vtkjs-viewport 0.6.0
  extensions/vtk/package.json
  extensions/vtk/src/OHIFVTKViewport.js
  platform/viewer/package.json
  yarn.lock
Due: viewer

Remove unused canny logos
  docs/latest/assets/img/canny-full.png
  docs/latest/assets/img/canny-logo-name.svg
  docs/latest/assets/img/canny-logo.svg
Due: none

docs: add ModalService diagram
  docs/latest/assets/img/ui-services.png
Due: none

docs: GIF of notification
  docs/latest/assets/img/notification-example.gif
Due: none

docs: add ui-services page
  docs/latest/services/ui-services.md
Due: none

docs: simplify ui services call out in the general services docs
  docs/latest/services/index.md
Due: none

docs: tips and tricks for UI services
  docs/latest/services/ui-services.md
Due: none

docs: moar pages
  docs/latest/services/index.md
  docs/latest/services/ui/index.md
  docs/latest/services/ui/ui-dialog-service.md
  docs/latest/services/ui/ui-modal-service.md
  docs/latest/services/ui/ui-notification-service.md
Due: none

docs: dialog gif
  docs/latest/assets/img/dialog-example.gif
Due: none

docs: services in summary/sidebar
  docs/latest/SUMMARY.md
Due: none

docs: gif examples at top of dialog and notification pages
  docs/latest/services/ui/index.md
  docs/latest/services/ui/ui-dialog-service.md
  docs/latest/services/ui/ui-notification-service.md
Due: none

docs: add UIModal gif
  docs/latest/assets/img/modal-example.gif
  docs/latest/services/ui/ui-dialog-service.md
  docs/latest/services/ui/ui-modal-service.md
Due: none

docs: details for Dialog Service
  docs/latest/services/ui/ui-dialog-service.md
Due: none

docs: include usage information for ui modal service
  docs/latest/services/ui/ui-modal-service.md
Due: none

docs: detailed information about our UI Notification Service
  docs/latest/services/ui/ui-notification-service.md
Due: none

docs: services diagram
  docs/latest/assets/img/services.png
Due: none

docs: remove unused links
  docs/latest/services/ui/index.md
Due: none

docs: services example and image
  docs/latest/services/index.md
Due: none

docs: services (#1255)
  docs/latest/SUMMARY.md
  docs/latest/assets/img/canny-full.png
  docs/latest/assets/img/canny-logo-name.svg
  docs/latest/assets/img/canny-logo.svg
  docs/latest/assets/img/dialog-example.gif
  docs/latest/assets/img/modal-example.gif
  docs/latest/assets/img/notification-example.gif
  docs/latest/assets/img/services.png
  docs/latest/assets/img/ui-services.png
  docs/latest/services/index.md
  docs/latest/services/ui/index.md
  docs/latest/services/ui/ui-dialog-service.md
  docs/latest/services/ui/ui-modal-service.md
  docs/latest/services/ui/ui-notification-service.md
Due: none

docs: begin breaking services docs into bite sized pages
  docs/latest/services/index.md
  docs/latest/services/service.md
  docs/latest/services/ui-dialog-service.md
  docs/latest/services/ui-modal-service.md
  docs/latest/services/ui-notification-service.md
  docs/latest/services/ui.md
Due: none

docs: explanation of default services and current state
  docs/latest/services/index.md
  docs/latest/services/service.md
  docs/latest/services/ui.md
Due: none

docs: fix services linking
  docs/latest/SUMMARY.md
  docs/latest/services/default/index.md
  docs/latest/services/index.md
  docs/latest/services/ui/index.md
  docs/latest/services/ui/ui-dialog-service.md
  docs/latest/services/ui/ui-modal-service.md
  docs/latest/services/ui/ui-notification-service.md
Due: none
