Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

fix: 🐛 Missing SpacingBetweenSlices prevents SEG rendering
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
Due: none

feat(DICOM Upload): Added new DICOM upload dialogue launched from the worklist page (#3326)
  extensions/cornerstone/src/components/DicomUpload/DicomUpload.css
  extensions/cornerstone/src/components/DicomUpload/DicomUpload.tsx
  extensions/cornerstone/src/components/DicomUpload/DicomUploadProgress.tsx
  extensions/cornerstone/src/components/DicomUpload/DicomUploadProgressItem.tsx
  extensions/cornerstone/src/getCustomizationModule.ts
  extensions/cornerstone/src/utils/DicomFileUploader.ts
  extensions/default/package.json
  extensions/default/src/DicomWebDataSource/index.js
  platform/core/package.json
  platform/core/src/DataSources/IWebApiDataSource.js
  platform/ui/src/assets/icons/icon-alert-small.svg
  platform/ui/src/assets/icons/icon-status-alert.svg
  platform/ui/src/assets/icons/icon-transferring.svg
  platform/ui/src/assets/icons/icon-upload.svg
  platform/ui/src/assets/icons/icons-alert-outline.svg
  platform/ui/src/components/Button/Button.tsx
  platform/ui/src/components/Icon/getIcon.js
  platform/ui/src/components/LoadingIndicatorProgress/LoadingIndicatorProgress.tsx
  platform/ui/src/components/Modal/Modal.tsx
  platform/ui/src/components/ProgressLoadingBar/ProgressLoadingBar.css
  platform/ui/src/components/ProgressLoadingBar/ProgressLoadingBar.tsx
  platform/ui/src/components/ProgressLoadingBar/index.js
  platform/ui/src/components/StudyListFilter/StudyListFilter.tsx
  platform/ui/src/components/index.js
  platform/ui/src/contextProviders/ModalProvider.tsx
  platform/ui/src/index.js
  platform/viewer/public/config/local_dcm4chee.js
  platform/viewer/public/config/local_orthanc.js
  platform/viewer/src/routes/DataSourceWrapper.tsx
  platform/viewer/src/routes/WorkList/WorkList.tsx
  platform/viewer/src/routes/index.tsx
  yarn.lock
Due: core, viewer

Fix the unique id issues
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/default/src/commandsModule.ts
  extensions/default/src/findViewportsByPosition.ts
  platform/core/src/services/HangingProtocolService/HPMatcher.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/core/src/services/HangingProtocolService/ProtocolEngine.js
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
  platform/ui/src/contextProviders/getPresentationIds.ts
  platform/ui/src/contextProviders/uniqueViewportIds.ts
  platform/viewer/src/components/ViewportGrid.tsx
Due: core, viewer

feat(core): updates default config
  platform/viewer/src/service-worker.js
Due: viewer

Fix the unit test
  platform/core/src/utils/absoluteUrl.test.js
  yarn.lock
Due: core

review comments changes
  extensions/default/src/DicomWebProxyDataSource/index.js
  platform/viewer/public/config/default.js
Due: viewer

another small code review fix
  extensions/default/src/DicomWebProxyDataSource/index.js
Due: none

PR review comments
  extensions/cornerstone-dicom-sr/src/utils/createReferencedImageDisplaySet.ts
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/services/CornerstoneCacheService/CornerstoneCacheService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
  extensions/cornerstone/src/types/CornerstoneCacheService.ts
  extensions/default/src/commandsModule.ts
Due: none

refactor(viewport): simplify imports, align destructuring
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/services/CornerstoneCacheService/CornerstoneCacheService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/default/src/commandsModule.ts
  package.json
  platform/core/src/services/ViewportGridService/getPresentationIds.ts
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

fix(jump): Jump to measurement wasn't jumping when presentation already existed (#3318)
  extensions/cornerstone-dicom-sr/src/utils/createReferencedImageDisplaySet.ts
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/services/CornerstoneCacheService/CornerstoneCacheService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
  extensions/cornerstone/src/types/CornerstoneCacheService.ts
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.ts
  extensions/default/src/commandsModule.ts
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.tsx
  platform/core/src/services/MeasurementService/MeasurementService.ts
  platform/core/src/services/ViewportGridService/ViewportGridService.ts
  platform/core/src/services/ViewportGridService/getPresentationIds.ts
  platform/core/src/services/_shared/pubSubServiceInterface.js
  platform/core/src/utils/absoluteUrl.test.js
  platform/docs/docs/platform/services/data/MeasurementService.md
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
  platform/ui/src/types/index.ts
  platform/viewer/src/components/ViewportGrid.tsx
  yarn.lock
Due: core, viewer

feat(proxy datasource): JSON server configuration launch (#2791)
  extensions/default/src/DicomWebProxyDataSource/index.js
  extensions/default/src/getDataSourcesModule.js
  platform/docs/docs/configuration/dataSources/dicom-web-proxy.md
  platform/viewer/public/config/default.js
Due: viewer

Fix tmtv mode not loading
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
Due: none

feat(core): updates default config
  yarn.lock
Due: none

Fix viewport mode
  extensions/cornerstone/src/getHangingProtocolModule.ts
Due: none

chore(lerna): upgrades lerna to 6.x (#3215)
  package.json
  yarn.lock
Due: none

feat(DICOM Upload): Decreased the minimum height for the upload dialog contents to better fit some laptops.
  extensions/cornerstone/src/components/DicomUpload/DicomUpload.tsx
Due: none

fix(DICOM Upload): Decreased the minimum height for the upload dialog contents to better fit some laptops. (#3347)
  extensions/cornerstone/src/components/DicomUpload/DicomUpload.tsx
Due: none

feat(HangingProtocolService): Add callback property & update description
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
Due: core

Fix logs and some specific navigation issues
  extensions/cornerstone/package.json
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  platform/core/package.json
  platform/core/src/services/HangingProtocolService/HPMatcher.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/core/src/services/HangingProtocolService/ProtocolEngine.js
  platform/core/src/services/ViewportGridService/ViewportGridService.ts
  platform/core/src/services/ViewportGridService/getPresentationIds.ts
  platform/docs/docs/configuration/url.md
  platform/docs/docs/platform/services/ui/viewport-grid-service.md
  platform/ui/src/contextProviders/uniqueViewportIds.ts
  yarn.lock
Due: core

fix(HangingProtocolService): Add callback property & update description (#3349)
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
Due: core

chore(lerna): add lerna caching to build and tests
  nx.json
Due: none

chore(lerna): add lerna caching to build and tests (#3350)
  nx.json
Due: none

Additional view fixes
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/Viewport/Overlays/CornerstoneOverlays.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportOrientationMarkers.tsx
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
Due: none

Change docker base image
  .circleci/config.yml
Due: none

Remove a few more viewportIndex refs
  extensions/cornerstone/package.json
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  platform/core/package.json
  yarn.lock
Due: core

feat: added promise lifecycle to Viewport
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  platform/core/src/types/HangingProtocol.ts
  platform/viewer/src/components/ViewportGrid.tsx
Due: core, viewer

chore(bump cs3d): bump package and add caching to webpack
  .webpack/rules/transpileJavaScript.js
  .webpack/webpack.base.js
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/cornerstone/src/init.tsx
  extensions/measurement-tracking/package.json
  package.json
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/public/config/google.js
  yarn.lock
Due: viewer

remove test for now
  platform/core/src/utils/Queue.test.js
Due: core

chore(bump cs3d): bump package and add caching to webpack (#3353)
  .webpack/rules/transpileJavaScript.js
  .webpack/webpack.base.js
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/cornerstone/src/init.tsx
  extensions/measurement-tracking/package.json
  package.json
  platform/core/src/utils/Queue.test.js
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/public/config/google.js
  yarn.lock
Due: core, viewer

Misc fixes
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/Viewport/Overlays/CustomizableViewportOverlay.tsx
  extensions/default/package.json
  extensions/default/src/commandsModule.ts
Due: none

fix: Toggling off comparison after changing studies should still toggle
  extensions/default/src/commandsModule.ts
Due: none

choe(modes, components): improved readability
  modes/basic-dev-mode/src/index.js
  platform/ui/src/components/Thumbnail/Thumbnail.tsx
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/public/config/aws.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/dicomweb-server.js
  platform/viewer/public/config/dicomweb_relative.js
  platform/viewer/public/config/docker_nginx-orthanc.js
  platform/viewer/public/config/docker_openresty-orthanc.js
  platform/viewer/public/config/e2e.js
  platform/viewer/public/config/google.js
  platform/viewer/public/config/local_dcm4chee.js
  platform/viewer/public/config/local_orthanc.js
  platform/viewer/public/config/local_static.js
  platform/viewer/public/config/multiple.js
  platform/viewer/public/config/netlify.js
Due: viewer

fix(cli): better path management and add dependencies
  platform/cli/src/commands/linkPackage.js
  platform/cli/src/commands/unlinkPackage.js
  platform/cli/src/commands/utils/private/writePluginConfigFile.js
  platform/cli/src/questions.js
Due: none

better docs
  platform/docs/docs/development/ohif-cli.md
  platform/docs/versioned_docs/version-3.0/platform/themeing.md
  platform/viewer/public/config/aws.js
  platform/viewer/public/config/dicomweb-server.js
  platform/viewer/public/config/dicomweb_relative.js
  platform/viewer/public/config/google.js
  platform/viewer/public/config/local_orthanc.js
  platform/viewer/public/config/netlify.js
Due: viewer

add default tool group to the templates
  platform/cli/templates/mode/src/index.tsx
  platform/cli/templates/mode/src/initToolGroups.js
  platform/cli/templates/mode/src/toolbarButtons.js
Due: none

Adding doesNotEquals, includes and doesNotInclude Rules
  platform/core/src/services/HangingProtocolService/lib/validator.js
  platform/core/src/services/HangingProtocolService/lib/validator.test.js
Due: core

feat(4D): code review
  extensions/cornerstone-dynamic-volume/src/getHangingProtocolModule.ts
  extensions/cornerstone-dynamic-volume/src/getPanelModule.tsx
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/default/src/Toolbar/Toolbar.tsx
  platform/ui/src/contextProviders/CineProvider.tsx
Due: none

@cornerstonejs/streaming-image-volume-loader 0.17.0
  extensions/cornerstone/package.json
  extensions/default/src/getSopClassHandlerModule.js
  modes/preclinical-4d/src/index.tsx
  yarn.lock
Due: none

4D mode/extension updates (#3328)
  extensions/cornerstone-dynamic-volume/src/getHangingProtocolModule.ts
  extensions/cornerstone-dynamic-volume/src/index.ts
  extensions/cornerstone-dynamic-volume/src/panels/DynamicDataPanel.tsx
  extensions/cornerstone-dynamic-volume/src/panels/WorkflowPanel.tsx
  extensions/cornerstone/package.json
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/index.tsx
  extensions/cornerstone/src/init.tsx
  extensions/cornerstone/src/initCineService.ts
  extensions/default/src/Toolbar/Toolbar.tsx
  extensions/default/src/getSopClassHandlerModule.js
  modes/preclinical-4d/src/index.tsx
  modes/preclinical-4d/src/initToolGroups.tsx
  modes/preclinical-4d/src/toolbarButtons.tsx
  platform/core/src/classes/MetadataProvider.js
  platform/core/src/services/CineService/CineService.ts
  platform/ui/src/components/CinePlayer/CinePlayer.tsx
  platform/ui/src/contextProviders/CineProvider.tsx
  yarn.lock
Due: core

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
