Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

feat(deps): updates lerna version to 5.5.0
  package.json
  yarn.lock
Due: none

Re IDC #2849: raise error if dicom request is not conforming with the UID (DICOM UI VR) character repertoire.
  platform/core/src/DICOMSR/SCOORD3D/parseSCOORD3D.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/studies/retrieveStudyMetadata.test.js
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

Re IDC #2849: raise error if dicom request is not conforming with the UID (DICOM UI VR) character repertoire. (#2908)
  platform/core/src/DICOMSR/SCOORD3D/parseSCOORD3D.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/studies/retrieveStudyMetadata.test.js
  platform/core/src/studies/services/wado/studyInstanceHelpers.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

build: updates .env files and adds config files for different environments
  Dockerfile-Local-Build
  package.json
  platform/viewer/.env.dev
  platform/viewer/.env.production
  platform/viewer/.env.stage
  platform/viewer/.env.test
  platform/viewer/public/config/default-dev.js
  platform/viewer/public/config/default-production.js
  platform/viewer/public/config/default-stage.js
  platform/viewer/public/config/default-test.js
  yarn.lock
Due: viewer

Prevent IntelliJ config file from being pushed to the repository
  .gitignore
Due: none

Rename module's name to reflect the created file for a new mode
  platform/cli/templates/mode/dependencies.json
Due: none

Rename the module's name to reflect the filed created for a new extension which uses now typescript
  platform/cli/templates/extension/dependencies.json
Due: none

Fix https://github.com/OHIF/Viewers/issues/2870
  platform/viewer/src/appExtensions/GenericViewerCommands/commandsModule.js
Due: viewer

autoplay multiframe images added
  platform/core/src/classes/StudyPrefetcher.js
  platform/viewer/src/components/StudyPrefetcher.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: core, viewer

fix: modules name to reflect typescript usage (#2909)
  .gitignore
  platform/cli/templates/extension/dependencies.json
  platform/cli/templates/mode/dependencies.json
Due: none

fix various styles and renamings
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/default/src/DicomWebDataSource/index.js
  extensions/tmtv/src/Panels/PanelPetSUV.tsx
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/DicomMetadataStore/createStudyMetadata.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/core/src/services/DisplaySetService/IDisplaySet.ts
  platform/core/src/services/HangingProtocolService/HPMatcher.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/core/src/services/HangingProtocolService/ProtocolEngine.js
  platform/core/src/services/HangingProtocolService/lib/validator.js
  platform/docs/versioned_docs/version-3.0/platform/services/data/DisplaySetService.md
  platform/viewer/src/routes/Mode/Mode.tsx
Due: core, viewer

feat: refactored hp service
  extensions/cornerstone/src/utils/interleaveCenterLoader.ts
  extensions/cornerstone/src/utils/interleaveTopToBottom.ts
  extensions/tmtv/src/Panels/PanelPetSUV.tsx
  extensions/tmtv/src/commandsModule.js
  modes/tmtv/src/index.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/viewer/src/components/ViewportGrid.tsx
  platform/viewer/src/routes/Mode/Mode.tsx
Due: core, viewer

fix: use HP service event for viewport grid
  platform/viewer/src/components/ViewportGrid.tsx
Due: viewer

remove unnecessary doc
  platform/docs/versioned_docs/version-3.0/platform/services/data/DisplaySetService.md
Due: none

fix test
  platform/core/src/services/HangingProtocolService/HangingProtocolService.test.js
Due: core

apply review comment
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/docs/docs/platform/services/data/DisplaySetService.md
  platform/viewer/src/routes/Mode/Mode.tsx
Due: core, viewer

fix(error):Fix a few error conditions, mostly around seriesNumber
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  modes/longitudinal/src/index.js
  platform/ui/src/Types.ts
  platform/ui/src/components/StudyBrowser/StudyBrowser.tsx
  platform/ui/src/components/Thumbnail/Thumbnail.tsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.tsx
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.tsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.tsx
  platform/ui/src/index.js
  platform/viewer/src/components/ViewportGrid.tsx
Due: viewer

fix: segmentation creation
  extensions/tmtv/src/Panels/PanelPetSUV.tsx
  extensions/tmtv/src/commandsModule.js
Due: none

fix: displaySetService no event not needed (#2912)
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/cornerstone/src/utils/interleaveCenterLoader.ts
  extensions/cornerstone/src/utils/interleaveTopToBottom.ts
  extensions/default/src/DicomWebDataSource/index.js
  extensions/tmtv/src/Panels/PanelPetSUV.tsx
  extensions/tmtv/src/commandsModule.js
  modes/tmtv/src/index.js
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/DicomMetadataStore/createStudyMetadata.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/core/src/services/DisplaySetService/IDisplaySet.ts
  platform/core/src/services/HangingProtocolService/HPMatcher.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.test.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/core/src/services/HangingProtocolService/ProtocolEngine.js
  platform/core/src/services/HangingProtocolService/lib/validator.js
  platform/docs/docs/platform/services/data/DisplaySetService.md
  platform/docs/versioned_docs/version-3.0/platform/services/data/DisplaySetService.md
  platform/viewer/src/components/ViewportGrid.tsx
  platform/viewer/src/routes/Mode/Mode.tsx
Due: core, viewer

feat: make hanging protocol work on displaySets instead of series (#2837)
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
  extensions/cornerstone/src/utils/interleaveCenterLoader.ts
  extensions/cornerstone/src/utils/interleaveTopToBottom.ts
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/getHangingProtocolModule.js
  extensions/tmtv/src/Panels/PanelPetSUV.tsx
  extensions/tmtv/src/commandsModule.js
  jest.config.base.js
  modes/tmtv/src/index.js
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/DicomMetadataStore/StudyMetadata.ts
  platform/core/src/services/DicomMetadataStore/createStudyMetadata.js
  platform/core/src/services/DisplaySetService/IDisplaySet.ts
  platform/core/src/services/HangingProtocolService/HPMatcher.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.test.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/core/src/services/HangingProtocolService/ProtocolEngine.js
  platform/core/src/services/HangingProtocolService/lib/validator.js
  platform/core/src/services/HangingProtocolService/lib/validator.test.js
  platform/docs/docs/platform/services/data/DisplaySetService.md
  platform/docs/versioned_docs/version-3.0/platform/services/data/DisplaySetService.md
  platform/docs/versioned_docs/version-3.0/platform/services/data/HangingProtocolService.md
  platform/docs/versioned_docs/version-3.0/platform/services/pubsub.md
  platform/viewer/src/components/ViewportGrid.tsx
  platform/viewer/src/routes/Mode/Mode.tsx
Due: core, viewer

feat(synchronizers):Add registration for synchronizers
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/services/SyncGroupService/SyncGroupService.ts
  platform/docs/versioned_docs/version-3.0/platform/services/data/HangingProtocolService.md
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
Due: none

fix: bump packages for crosshairs to get fixed
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  yarn.lock
Due: none

fix: bump packages for crosshairs to get fixed (#2917)
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  yarn.lock
Due: none

fix: hotkey page up/down did not work (#2910)
  platform/viewer/src/appExtensions/GenericViewerCommands/commandsModule.js
Due: viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

fix: imagScrollbar should not stop cine if not playing
  extensions/cornerstone/src/Viewport/Overlays/ViewportImageScrollbar.tsx
Due: none

fix: total dose unit
  extensions/tmtv/src/Panels/PanelPetSUV.tsx
Due: none

fix: imagScrollbar should not stop cine if not playing (#2920)
  extensions/cornerstone/src/Viewport/Overlays/ViewportImageScrollbar.tsx
Due: none

fix: total dose unit (#2921)
  extensions/tmtv/src/Panels/PanelPetSUV.tsx
Due: none

fix: constant should be enums in cs3d
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/cornerstone/src/index.tsx
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
  extensions/cornerstone/src/utils/getCornerstoneOrientation.ts
  extensions/measurement-tracking/package.json
  platform/docs/docs/platform/extensions/modules/utility.md
  yarn.lock
Due: none

remove non working hotkeys for now
  extensions/cornerstone/src/commandsModule.js
  extensions/dicom-pdf/src/index.tsx
  extensions/dicom-video/src/index.tsx
  extensions/measurement-tracking/src/index.tsx
  platform/core/src/defaults/hotkeyBindings.js
  platform/viewer/public/config/aws.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/dicomweb_relative.js
  platform/viewer/public/config/e2e.js
  platform/viewer/public/config/local_static.js
  platform/viewer/public/config/netlify.js
  platform/viewer/public/config/public_dicomweb.js
Due: core, viewer

apply few fixes
  modes/longitudinal/src/index.js
  platform/ui/src/Types.ts
  platform/ui/src/components/StudyBrowser/StudyBrowser.tsx
  platform/ui/src/components/Thumbnail/Thumbnail.tsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.tsx
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.tsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.tsx
  platform/ui/src/index.js
  platform/viewer/src/components/ViewportGrid.tsx
Due: viewer

fix: left right hotkeys and remove non working ones (#2922)
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/index.tsx
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
  extensions/cornerstone/src/utils/getCornerstoneOrientation.ts
  extensions/dicom-pdf/src/index.tsx
  extensions/dicom-video/src/index.tsx
  extensions/measurement-tracking/package.json
  extensions/measurement-tracking/src/index.tsx
  platform/core/src/defaults/hotkeyBindings.js
  platform/docs/docs/platform/extensions/modules/utility.md
  platform/viewer/public/config/aws.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/dicomweb_relative.js
  platform/viewer/public/config/e2e.js
  platform/viewer/public/config/local_static.js
  platform/viewer/public/config/netlify.js
  platform/viewer/public/config/public_dicomweb.js
  yarn.lock
Due: core, viewer

fix: various type issues and error handlings (#2831)
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  modes/longitudinal/src/index.js
  platform/ui/src/Types.ts
  platform/ui/src/components/StudyBrowser/StudyBrowser.tsx
  platform/ui/src/components/Thumbnail/Thumbnail.tsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.tsx
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.tsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.tsx
  platform/ui/src/index.js
  platform/viewer/src/components/ViewportGrid.tsx
Due: viewer

fix: enabled multiple studies in local mode (#2889)
  extensions/default/src/DicomLocalDataSource/index.js
  platform/viewer/src/routes/Local/Local.tsx
Due: viewer

fix: ohif cli bug for linking (#2892)
  platform/cli/src/commands/linkPackage.js
  platform/cli/templates/extension/dependencies.json
Due: none

.
  platform/viewer/package.json
Due: viewer

Re IDC #2919: fix popup notifications behavior
  platform/core/src/classes/HotkeysManager.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: core, viewer
