Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

fixed for mobile responsive
  platform/viewer/src/importIdc/CollectionList.js
  platform/viewer/src/importIdc/PatientList.js
Due: viewer

fix: Fix issues with CPU viewport flipping, including config files
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/cornerstone/src/Viewport/Overlays/ViewportOrientationMarkers.tsx
  extensions/cornerstone/src/init.js
  extensions/measurement-tracking/package.json
  platform/core/src/defaults/hotkeyBindings.js
  platform/docs/versioned_docs/version-2.0/viewer/configuration.md
  platform/viewer/cypress/integration/measurement-tracking/OHIFCornerstoneHotkeys.spec.js
  platform/viewer/public/config/aws.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/e2e.js
  platform/viewer/public/config/local_static.js
  platform/viewer/public/config/netlify.js
  platform/viewer/public/config/public_dicomweb.js
  yarn.lock
Due: core, viewer

fix: bump cornerstone to fix magnify tool
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  package.json
  yarn.lock
Due: none

fix: Bump Cornerstone version to fix resetCamera issue in StackViewport
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  yarn.lock
Due: none

deployment for Orthanc authentication and other view changes
  .docker/Viewer-v2.x/docker-compose.yml
  Dockerfile
  entrypoint.sh
  extensions/cornerstone/src/commandsModule.js
  platform/core/src/redux/reducers/preferences.js
  platform/ui/src/components/studyBrowser/StudyBrowser.styl
  platform/ui/src/components/studyBrowser/Thumbnail.styl
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/public/config/default.js
  platform/viewer/src/components/Header/Header.css
  platform/viewer/src/components/Header/Header.js
  platform/viewer/src/components/OHIFLogo/OHIFLogo.css
  platform/viewer/src/components/OHIFLogo/OHIFLogo.js
  platform/viewer/src/connectedComponents/ToolbarRow.css
  platform/viewer/src/connectedComponents/ToolbarRow.js
  platform/viewer/src/theme-tide.css
  platform/viewer/src/utils/initWebWorkers.js
  platform/viewer/src/variables.css
Due: core, viewer

ci: Add _headers file to enable CORS headers for Netlify Drag/Drop deploys
  platform/viewer/public/_headers
Due: viewer

impl series matching ruls
  extensions/default/src/ViewerLayout/index.jsx
  extensions/measurement-tracking/src/getViewportModule.js
  platform/core/src/services/HangingProtocolService/HPMatcher.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.js
  platform/core/src/services/HangingProtocolService/ProtocolEngine.js
  platform/ui/src/components/Dropdown/Dropdown.jsx
  platform/ui/src/components/Header/Header.jsx
  platform/viewer/src/components/ViewportGrid.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
  yarn.lock
Due: core, viewer

fix series linking
  extensions/cornerstone/src/initSeriesLinking.js
Due: none

fix table loading icon for import-idc feature
  platform/viewer/src/importIdc/ImportIdcModal.js
  platform/viewer/src/importIdc/LoadingText.js
  platform/viewer/src/studylist/StudyListRoute.js
Due: viewer

fix for import post request using correct studyId details
  platform/viewer/src/importIdc/PatientList.js
Due: viewer

fix reference lines (#62)
  extensions/cornerstone/package.json
  extensions/cornerstone/src/initReferenceLines.js
  extensions/cornerstone/src/planeIntersection.js
  extensions/dicom-sr/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

fix series linking (#61)
  extensions/cornerstone/src/initSeriesLinking.js
Due: none

fix: WADO-URI was not working. PET Metadata was coming from the wrong place. Fixed some minor React errors
  extensions/cornerstone/src/Viewport/Overlays/ViewportImageScrollbar.tsx
  extensions/cornerstone/src/init.js
  extensions/default/src/getPTImageIdInstanceMetadata.ts
  extensions/tmtv/src/Panels/PanelPetSUV.tsx
  extensions/tmtv/src/commandsModule.js
  platform/core/src/classes/MetadataProvider.js
Due: core

feat: prior study
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/requestDisplaySetCreationForStudy.js
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.js
  platform/viewer/src/components/ViewportGrid.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

feat(OHIF):Add deploy of "public" directory from extensions, plus mode factory
  extensions/default/src/DicomWebDataSource/index.js
  modes/longitudinal/src/index.js
  package.json
  platform/cli/templates/extension/.webpack/webpack.prod.js
  platform/cli/templates/extension/babel.config.js
  platform/cli/templates/extension/src/index.tsx
  platform/cli/templates/mode/.webpack/webpack.prod.js
  platform/cli/templates/mode/babel.config.js
  platform/cli/templates/mode/dependencies.json
  platform/cli/templates/mode/src/index.tsx
  platform/core/src/services/HangingProtocolService/HPMatcher.js
  platform/core/src/services/HangingProtocolService/lib/validator.js
  platform/ui/src/components/StudyBrowser/StudyBrowser.tsx
  platform/ui/src/components/Thumbnail/Thumbnail.tsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.tsx
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.tsx
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/.webpack/writePluginImportsFile.js
  platform/viewer/package.json
  platform/viewer/pluginConfig.json
  platform/viewer/public/config/dicomweb_relative.js
  platform/viewer/public/config/theme.js
  platform/viewer/public/theme/theme.json5
  platform/viewer/src/components/ViewportGrid.tsx
  platform/viewer/src/index.js
  platform/viewer/src/service-worker.js
  yarn.lock
Due: core, viewer

fix: Re IDC2797, fix double parsing of SR qualitative annotations
  platform/core/src/DICOMSR/SCOORD3D/parseSCOORD3D.js
Due: core

fix: Re IDC2797, fix double parsing of SR qualitative annotations (#2830)
  platform/core/src/DICOMSR/SCOORD3D/parseSCOORD3D.js
Due: core

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

fix measurement sidebar, impl viewport settings
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  platform/core/src/services/ViewportGridService/ViewportGridService.js
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
  platform/viewer/src/components/ViewportGrid.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

IDC2797: improving UI for SR qualitative measurements and bug fixes
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/components/OHIFCornerstoneViewportOverlay.css
  extensions/cornerstone/src/components/OHIFCornerstoneViewportOverlay.js
  extensions/lesion-tracker/src/components/MeasurementComparisonTable.js
  platform/core/src/DICOMSR/SCOORD3D/parseSCOORD3D.js
  platform/core/src/DICOMSR/SCOORD3D/utils/addMeasurement.js
  platform/core/src/measurements/tools/dicomSRDisplayTool.js
  platform/ui/src/components/measurementTable/MeasurementTableItem.js
  platform/ui/src/components/measurementTable/MeasurementTableItem.styl
  platform/ui/src/components/tableList/TableListItem.js
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

IDC2797: improving UI for SR qualitative measurements and bug fixes (#2832)
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/components/OHIFCornerstoneViewportOverlay.css
  extensions/cornerstone/src/components/OHIFCornerstoneViewportOverlay.js
  extensions/lesion-tracker/src/components/MeasurementComparisonTable.js
  platform/core/src/DICOMSR/SCOORD3D/parseSCOORD3D.js
  platform/core/src/DICOMSR/SCOORD3D/utils/addMeasurement.js
  platform/core/src/measurements/tools/dicomSRDisplayTool.js
  platform/ui/src/components/measurementTable/MeasurementTableItem.js
  platform/ui/src/components/measurementTable/MeasurementTableItem.styl
  platform/ui/src/components/tableList/TableListItem.js
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/lesion-tracker/CHANGELOG.md
  extensions/lesion-tracker/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

IDC2797: add linking and report UI for SR displaySets
  extensions/cornerstone/src/components/OHIFCornerstoneViewportOverlay.js
  extensions/debugging/src/DebugReportModal.js
  extensions/dicom-html/src/OHIFDicomHtmlSopClassHandler.js
  platform/core/src/DICOMSR/SCOORD3D/parseSCOORD3D.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: core, viewer

IDC2797: add linking and report UI for SR displaySets (#2834)
  extensions/cornerstone/src/components/OHIFCornerstoneViewportOverlay.js
  extensions/debugging/src/DebugReportModal.js
  extensions/dicom-html/src/OHIFDicomHtmlSopClassHandler.js
  platform/core/src/DICOMSR/SCOORD3D/parseSCOORD3D.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/debugging/CHANGELOG.md
  extensions/debugging/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

downgrade react-router to 6.2.1
  extensions/default/package.json
  platform/viewer/package.json
  yarn.lock
Due: viewer

fix(OHIF3D):Fix the hanging protocol design
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/getHangingProtocolModule.js
  platform/core/src/services/DicomMetadataStore/DicomMetadataStore.js
  platform/core/src/services/DicomMetadataStore/createStudyMetadata.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/core/src/services/HangingProtocolService/HPMatcher.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.test.js
  platform/core/src/services/HangingProtocolService/ProtocolEngine.js
  platform/core/src/services/HangingProtocolService/lib/validator.js
  platform/core/src/services/HangingProtocolService/lib/validator.test.js
  platform/docs/versioned_docs/version-3.0/platform/services/data/DisplaySetService.md
  platform/docs/versioned_docs/version-3.0/platform/services/data/HangingProtocolService.md
  platform/docs/versioned_docs/version-3.0/platform/services/pubsub.md
  platform/viewer/pluginConfig.json
  platform/viewer/src/components/ViewportGrid.tsx
  platform/viewer/src/routes/Mode/Mode.tsx
Due: core, viewer

fix(OHIF3D):Fix the addCustomViewportSetting in hanging protocol
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  platform/core/src/services/HangingProtocolService/HangingProtocolService.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.test.js
  platform/docs/versioned_docs/version-3.0/platform/services/data/HangingProtocolService.md
Due: core

feat(OHIF):Allow modes and extensions to be added after commpile time.
  platform/cli/templates/extension/.webpack/webpack.prod.js
  platform/cli/templates/extension/babel.config.js
  platform/cli/templates/extension/src/index.tsx
  platform/cli/templates/mode/.webpack/webpack.prod.js
  platform/cli/templates/mode/babel.config.js
  platform/cli/templates/mode/dependencies.json
  platform/cli/templates/mode/src/index.tsx
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/.webpack/writePluginImportsFile.js
  platform/viewer/package.json
  platform/viewer/pluginConfig.json
  platform/viewer/public/config/dicomweb_relative.js
  platform/viewer/public/theme/theme.json5
  platform/viewer/src/index.js
  platform/viewer/src/service-worker.js
  yarn.lock
Due: viewer

feat(OHIF): PR for hanging protocol, review fixes + zoom/pan correction
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
  platform/core/src/services/HangingProtocolService/HPMatcher.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/viewer/src/components/ViewportGrid.tsx
Due: core, viewer

feat(OHIF):Allow modes and extensions to be added after commpile time. (#2838)
  platform/cli/templates/extension/.webpack/webpack.prod.js
  platform/cli/templates/extension/babel.config.js
  platform/cli/templates/extension/src/index.tsx
  platform/cli/templates/mode/.webpack/webpack.prod.js
  platform/cli/templates/mode/babel.config.js
  platform/cli/templates/mode/dependencies.json
  platform/cli/templates/mode/src/index.tsx
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/.webpack/writePluginImportsFile.js
  platform/viewer/package.json
  platform/viewer/pluginConfig.json
  platform/viewer/public/config/dicomweb_relative.js
  platform/viewer/public/theme/theme.json5
  platform/viewer/src/index.js
  platform/viewer/src/service-worker.js
  yarn.lock
Due: viewer

fix(OHIF):Fix study level matching that needs access to display set data
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  platform/core/src/services/HangingProtocolService/HPMatcher.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/core/src/services/HangingProtocolService/ProtocolEngine.js
  platform/core/src/services/HangingProtocolService/lib/validator.js
  platform/core/src/services/HangingProtocolService/lib/validator.test.js
Due: core

fix(OHIF3D):Couple of minor HP issues
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
Due: core

feat: NP-292, NP-328, NP-329
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/ViewportOverlay.js
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/init.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  modes/longitudinal/src/toolbarButtons.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/ViewerToolsetService/ViewerToolset.js
  platform/ui/src/assets/icons/tool-overlay.svg
  platform/ui/src/components/Header/Header.jsx
  platform/ui/src/components/Icon/getIcon.js
  platform/ui/src/components/MeasurementTable/MeasurementItem.js
  platform/ui/src/components/MeasurementTable/MeasurementTable.jsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/ui/src/contextProviders/ViewerToolsetProvider.jsx
  platform/ui/src/index.js
  yarn.lock
Due: core

Start of commit for site findings
  platform/viewer/pluginConfig.json
Due: viewer

bump: dcmjs version to fix hydration bugs
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-video/package.json
  extensions/measurement-tracking/package.json
  platform/core/package.json
  platform/ui/src/contextProviders/DialogProvider.tsx
  platform/ui/src/contextProviders/SnackbarProvider.tsx
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

fix: window level presets (#2808)
  modes/longitudinal/src/toolbarButtons.js
Due: none

fix: ohif-cli cosmetic changes for help description (#2776)
  platform/cli/src/index.js
  platform/cli/templates/extension/dependencies.json
Due: none

Update StudyBrowser.tsx
  platform/ui/src/components/StudyBrowser/StudyBrowser.tsx
Due: none
