Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

CR Update: Update imports
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

fix: 🐛 Fix drag-n-drop of local files into OHIF
  platform/ui/src/contextProviders/DialogProvider.js
  platform/ui/src/contextProviders/DialogProvider.styl
Due: none

CR Update: Add update / added events example
  extensions/cornerstone/src/init.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/MeasurementService/MeasurementService.test.js
Due: core

refactor: 💡 Move DICOMSR code to @ohif/core project (#1310)
  platform/core/package.json
  platform/core/src/DICOMSR/dataExchange.js
  platform/core/src/DICOMSR/handleStructuredReport.js
  platform/core/src/DICOMSR/index.js
  platform/core/src/DICOMSR/parseDicomStructuredReport.js
  platform/core/src/DICOMSR/parseMeasurementsData.js
  platform/core/src/DICOMSR/utils/findInstanceMetadataBySopInstanceUid.js
  platform/core/src/DICOMSR/utils/findMostRecentStructuredReport.js
  platform/core/src/DICOMSR/utils/getAllDisplaySets.js
  platform/core/src/DICOMSR/utils/isToolSupported.js
  platform/core/src/index.js
  platform/core/src/index.test.js
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
  platform/viewer/src/connectedComponents/Viewer.js
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

CR Update: Centralize dialogs
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
Due: viewer

fix: 🐛 Fix drag-n-drop of local files into OHIF (#1319)
  platform/ui/src/contextProviders/DialogProvider.js
  platform/ui/src/contextProviders/DialogProvider.styl
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
Due: viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Removing data-cy selector from cornerstone toolbar
  platform/ui/src/viewer/ToolbarButton.js
Due: none

Refactoring toolbar data-cy selectors
  platform/ui/src/components/userPreferencesForm/UserPreferencesTabs.js
  platform/ui/src/viewer/ToolbarButton.js
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionVTK.spec.js
  platform/viewer/cypress/support/aliases.js
  platform/viewer/cypress/support/commands.js
Due: viewer

fix: 🐛 Make Plugin switch part of ToolbarModule
  extensions/cornerstone/src/toolbarModule.js
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/toolbarModule.js
  extensions/vtk/src/utils/setCornerstoneLayout.js
Due: none

Move setCornerstoneViewport command into cornerstone extension
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/utils/setCornerstoneLayout.js
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/toolbarModule.js
Due: none

Exposing extensionManager into extension's get modules functions
  docs/latest/extensions/modules/toolbar.md
  extensions/cornerstone/src/index.js
  platform/core/src/extensions/ExtensionManager.js
Due: core

Remove Plugin switch
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

Updating set cornerstonelayout to work on VIEWER context
  extensions/cornerstone/src/commandsModule.js
Due: none

Creating a customComponent for 2D MPR button
  extensions/cornerstone/src/index.js
  extensions/cornerstone/src/toolbarComponents/VTKMPRToolbarComponent.js
  extensions/cornerstone/src/toolbarModule.js
Due: none

Use extensionManager to show or not buttons Adding isHidden option into toolbarModules
  extensions/cornerstone/src/index.js
  extensions/cornerstone/src/toolbarModule.js
  extensions/vtk/src/index.js
  extensions/vtk/src/toolbarModule.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

Make buttons hidden depending on extension registration
  extensions/cornerstone/src/toolbarComponents/VTKMPRToolbarComponent.js
  extensions/cornerstone/src/toolbarModule.js
  extensions/vtk/src/toolbarModule.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

Fix unit test after changes on extensionManager
  platform/core/src/extensions/ExtensionManager.test.js
Due: core

Remove workaround for extensionManager
  extensions/cornerstone/src/toolbarComponents/VTKMPRToolbarComponent.js
  extensions/cornerstone/src/toolbarModule.js
Due: none

Use studyMeatadataManager and remove TODO's
  extensions/cornerstone/src/toolbarComponents/VTKMPRToolbarComponent.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

Remove storeContext not needed
  extensions/cornerstone/src/commandsModule.js
Due: none

docs: include hideHandles configuration in our configuration docs
  docs/latest/viewer/configuration.md
Due: none

chore: default to hiding handles for annotations
  extensions/cornerstone/src/init.js
Due: none

Moving Exit 2D MPR into cornerstone extension with VTK context
  extensions/cornerstone/src/toolbarModule.js
  extensions/vtk/src/toolbarModule.js
Due: none

chore: switch to drawHandlesOnHover to mimic legacy viewer functionality
  extensions/cornerstone/src/init.js
Due: none

Remove PluginSwitch files
  platform/viewer/src/connectedComponents/ConnectedPluginSwitch.js
  platform/viewer/src/connectedComponents/PluginSwitch.css
  platform/viewer/src/connectedComponents/PluginSwitch.js
Due: viewer

Flip logic for drawHandlesOnHover; reverse of hideHandles
  extensions/cornerstone/src/init.js
Due: none

Don't hide the handles of ellipse or rectangle roi
  extensions/cornerstone/src/init.js
Due: none

invert check
  extensions/cornerstone/src/init.js
Due: none

Fix E2E tests
  platform/viewer/cypress/integration/pwa/OHIFExtensionVTK.spec.js
  platform/viewer/cypress/support/aliases.js
Due: viewer

Adding cypress screenshots into gitignore
  .gitignore
Due: none

feat: 🎸 Configuration so viewer tools can nix handles (#1304)
  docs/latest/viewer/configuration.md
  extensions/cornerstone/README.md
  extensions/cornerstone/package.json
  extensions/cornerstone/src/init.js
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

test: Save Measurements Functionality (#1300)
  platform/ui/src/components/measurementTable/MeasurementTable.js
  platform/viewer/cypress/integration/pwa/OHIFSaveMeasurements.spec.js
Due: viewer

test: Refactoring toolbar data-cy selectors (#1323)
  platform/ui/src/components/userPreferencesForm/UserPreferencesTabs.js
  platform/ui/src/viewer/ToolbarButton.js
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionVTK.spec.js
  platform/viewer/cypress/support/aliases.js
  platform/viewer/cypress/support/commands.js
Due: viewer

Remove extensionManager from getModuleFn functions and moving CustomComponent for VTK button to VTK extension
  docs/latest/extensions/modules/toolbar.md
  extensions/cornerstone/src/index.js
  extensions/cornerstone/src/toolbarModule.js
  extensions/vtk/src/index.js
  extensions/vtk/src/toolbarComponents/VTKMPRToolbarButton.js
  extensions/vtk/src/toolbarModule.js
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/extensions/ExtensionManager.test.js
Due: core

fix: 🐛 1241: Make Plugin switch part of ToolbarModule (#1322)
  .gitignore
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/toolbarModule.js
  extensions/cornerstone/src/utils/setCornerstoneLayout.js
  extensions/vtk/src/toolbarComponents/VTKMPRToolbarButton.js
  extensions/vtk/src/toolbarModule.js
  platform/core/src/extensions/ExtensionManager.test.js
  platform/viewer/cypress/support/aliases.js
  platform/viewer/src/connectedComponents/ConnectedPluginSwitch.js
  platform/viewer/src/connectedComponents/PluginSwitch.css
  platform/viewer/src/connectedComponents/PluginSwitch.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: core, viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
