Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

measurement SR support on multi-frame DICOM
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-sr/src/utils/addMeasurement.ts
  extensions/cornerstone/src/initMeasurementService.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/_hydrateStructuredReport.js
  extensions/tmtv/src/utils/measurementServiceMappings/utils/getSOPInstanceAttributes.js
  platform/core/src/services/MeasurementService/MeasurementService.js
Due: core

bug fix - jumping to the selected measurment on multi-frame DICOM
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
Due: none

upgrade dcmjs dependency to 2.8.1
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-video/package.json
  extensions/measurement-tracking/package.json
  extensions/tmtv/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

fix(hp):Make the updated hanging protocol compatible with modes
  extensions/cornerstone/src/getHangingProtocolModule.ts
  extensions/default/src/getHangingProtocolModule.js
  extensions/tmtv/src/getHangingProtocolModule.js
  modes/basic-dev-mode/src/index.js
  modes/tmtv/src/index.js
  platform/cli/templates/mode/src/index.tsx
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/services/HangingProtocolService/HPMatcher.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.test.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/core/src/services/HangingProtocolService/ProtocolEngine.js
  platform/core/src/types/HangingProtocol.ts
  platform/docs/docs/platform/modes/index.md
  platform/docs/docs/platform/services/data/HangingProtocolService.md
  platform/docs/versioned_docs/version-3.0/platform/modes/index.md
  platform/viewer/src/routes/Mode/Mode.tsx
Due: core, viewer

fix(hp): Make the updated hanging protocol compatible with modes (#2971)
  extensions/cornerstone/src/getHangingProtocolModule.ts
  extensions/default/src/getHangingProtocolModule.js
  extensions/tmtv/src/getHangingProtocolModule.js
  modes/basic-dev-mode/src/index.js
  modes/tmtv/src/index.js
  platform/cli/templates/mode/src/index.tsx
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/services/HangingProtocolService/HPMatcher.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.test.js
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/core/src/services/HangingProtocolService/ProtocolEngine.js
  platform/core/src/types/HangingProtocol.ts
  platform/docs/docs/platform/modes/index.md
  platform/docs/docs/platform/services/data/HangingProtocolService.md
  platform/docs/versioned_docs/version-3.0/platform/modes/index.md
  platform/viewer/src/routes/Mode/Mode.tsx
Due: core, viewer

StudySummary component - allow "description" to be null
  platform/ui/src/components/StudySummary/StudySummary.tsx
Due: none

make getUIDsFromImageID() method public from MetadataProvider
  platform/core/src/classes/MetadataProvider.js
Due: core

imageId usage fixes to be more stable
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.js
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/initMeasurementService.js
Due: none

applies a lot fix for viewer
  extensions/cornerstone/src/components/AITrigger.js
  extensions/xnat/src/components/XNATSegmentationPanel.js
  platform/core/src/redux/actions.js
  platform/core/src/redux/reducers/index.js
  platform/core/src/redux/reducers/selectionMask.js
  platform/viewer/src/appExtensions/LungModuleSimilarityPanel/SearchParameters/SearchDetails.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/AITriggerComponent.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/JobParameters/JobDetails.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/LayerControls/LayerControls.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/Jobs.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
Due: core, viewer

add nnunet api's
  platform/viewer/src/pages/Nnunet.js
Due: viewer

adds radcad api as a constant
  platform/viewer/src/App.js
  platform/viewer/src/appExtensions/LungModuleSimilarityPanel/utils.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/TextureFeature.js
Due: viewer

fix: 2965 Correct Parsing Logic for Qualitative Instance Level SR
  platform/core/src/DICOMSR/SCOORD3D/parseSCOORD3D.js
  platform/core/src/DICOMSR/SCOORD3D/utils/getReferencedImagesList.js
Due: core

rename radiomics report to selectmask
  platform/viewer/src/connectedComponents/ConnectedSelectMask.js
  platform/viewer/src/connectedComponents/ConnectedSelectMaskRetrieveStudyData.js
  platform/viewer/src/connectedComponents/Radiomics.js
  platform/viewer/src/connectedComponents/SelectMask.js
  platform/viewer/src/connectedComponents/SelectMaskRetrieveStudyData.js
  platform/viewer/src/routes/SelectMaskRouting.js
Due: viewer

rename radiomics report to selectmask
  platform/viewer/src/OHIFStandaloneViewer.js
Due: viewer

prevent navigation to radiomics without mask
  platform/viewer/src/layouts/header/NavigateIcons.js
Due: viewer

remove print pdf from radiomics
  platform/viewer/src/connectedComponents/Radiomics.js
Due: viewer

fix nnunet loading on error
  platform/viewer/src/pages/Nnunet.js
Due: viewer

fix mask persist after selectmask step
  platform/viewer/src/connectedComponents/SelectMask.js
Due: viewer

change the variable name to be more meaningful
  extensions/default/src/DicomWebDataSource/index.js
Due: none

fix metaProvider importing
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.js
Due: none

for(...of) instead of for(i=0;i<length;..) as that doesn't assume anything about the layout/design and just gets next until done.
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.js
Due: none

use Array.findIndex instead of plain for loop
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
Due: none

use ReferencedSOPSequence[0] - because the ReferencedSOPSequence is an array that happens to have attributes of child zero when of length 1, but you shouldn't count on that.
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-sr/src/utils/addMeasurement.ts
Due: none

DisplaySetService.getDisplaySetForSOPInstanceUID() - added optional frameNumber parameter for future usage : now they are just ignored as we are not supporting multiframe splits
  extensions/cornerstone/src/utils/measurementServiceMappings/ArrowAnnotate.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Bidirectional.js
  extensions/cornerstone/src/utils/measurementServiceMappings/EllipticalROI.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.js
  platform/core/src/services/DisplaySetService/DisplaySetService.js
Due: core

feat: Add logout for oidc (#2840)
  extensions/default/src/ViewerLayout/index.tsx
  platform/i18n/src/locales/en-US/Header.json
  platform/ui/src/assets/icons/power-off.svg
  platform/ui/src/components/Icon/getIcon.js
  platform/viewer/src/App.tsx
  platform/viewer/src/routes/WorkList/WorkList.tsx
  platform/viewer/src/utils/OpenIdConnectRoutes.tsx
Due: viewer

fix: cine clean up when exited
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
Due: none

fix: make cine work while dragging and dropping another displayset
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
Due: none

fix: cine scrolling was broken when navigating back to studylist (#2974)
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
Due: none

simple code refactoring
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
Due: none

refactoring for checking undefined values - mappedAnnotations
  extensions/cornerstone/src/utils/measurementServiceMappings/ArrowAnnotate.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Bidirectional.js
  extensions/cornerstone/src/utils/measurementServiceMappings/EllipticalROI.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.js
Due: none

remove unreachable code
  extensions/cornerstone/src/initMeasurementService.js
Due: none

code refactoring - prefer conditional chaining
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-sr/src/utils/addMeasurement.ts
  extensions/cornerstone/src/initMeasurementService.js
Due: none

fix how we access imageIds of viewport (StackViewport)
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
Due: none

feat: v3 nl-pacs build
  .gitignore
  extensions/default/src/DicomWebDataSource/wado/retrieveMetadataLoaderSync.js
  lerna.json
  package.json
  yarn.lock
Due: none

Added POLYLINE rendering from ladeirarodolfo to PR
  extensions/cornerstone-dicom-sr/src/tools/DICOMSRDisplayTool.ts
Due: none

Rolled Dockerfile back to master to make merge easier
  Dockerfile
Due: none

Minor cleanup
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.js
Due: none

feat: Added support for TID 1410 relationship types (#2942)
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.js
  extensions/cornerstone-dicom-sr/src/tools/DICOMSRDisplayTool.ts
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
