Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Update dialog
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/ui/src/components/Dialog/Dialog.jsx
  platform/ui/src/components/Dialog/Footer.js
  platform/ui/src/components/Dialog/Header.js
Due: none

Format date
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

pass servicesManager and extensionManager all the way to our UI prompts; use in exposed createReportAsync call
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.jsx
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptBeginTracking.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptTrackNewSeries.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptTrackNewStudy.js
  extensions/measurement-tracking/src/getContextModule.js
Due: none

Fix undefined data source for local download/export
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

Update summary to use primary modalities
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

delete empty studySummary page
  platform/ui/src/components/StudySummary/StudySummary.mdx
Due: none

add missing PropTypes import
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

fix for accidental sync'd viewports
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

Respond to reviewer comments.
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/dicom-sr/src/index.js
  extensions/dicom-sr/src/utils/getToolStateToCornerstoneMeasurementSchema.js
  extensions/dicom-sr/src/utils/isRehydratable.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

OHIF-190 - Rehydrate PR (#1835)
  extensions/cornerstone/package.json
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/measurementServiceMappings/ArrowAnnotate.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Bidirectional.js
  extensions/cornerstone/src/utils/measurementServiceMappings/EllipticalRoi.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.js
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/dicom-sr/src/index.js
  extensions/dicom-sr/src/utils/addMeasurement.js
  extensions/dicom-sr/src/utils/getToolStateToCornerstoneMeasurementSchema.js
  extensions/dicom-sr/src/utils/isRehydratable.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/viewer/src/components/ViewportGrid.jsx
Due: core, viewer

Render text properly, render arrow + freetext. Need to move textboxes appropriately.
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/dicom-sr/src/tools/DICOMSRDisplayTool.js
  extensions/dicom-sr/src/utils/addMeasurement.js
  yarn.lock
Due: none

CR Updates
  extensions/default/src/PanelMeasurementTable.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/ui/src/components/MeasurementTable/MeasurementItem.js
  platform/ui/src/components/MeasurementTable/MeasurementTable.jsx
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
Due: none

CR Update avoid cache of measurements
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

Use get measurement
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

Add comment to edit function
  platform/ui/src/components/MeasurementTable/MeasurementItem.js
Due: none

Remove request and merge modalities from series
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

Don't reposition textboxes for now.
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/dicom-sr/src/tools/DICOMSRDisplayTool.js
Due: none

Remove debugger statements.
  extensions/dicom-sr/src/tools/DICOMSRDisplayTool.js
Due: none

Update dependency: react-cornerstone-viewport@2.3.9
  extensions/cornerstone/package.json
  extensions/default/src/PanelMeasurementTable.js
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/ui/src/components/MeasurementTable/MeasurementItem.js
  yarn.lock
Due: none

Update extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

Add debugs
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

Update dcmjs
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

remove console.debug
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

Fix export
  extensions/dicom-sr/src/getSopClassHandlerModule.js
Due: none

Update frameindex to imageindex
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/commandsModule.js
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/commandsModule.js
  platform/core/src/DICOMSR/parseDicomStructuredReport.js
  platform/core/src/measurements/lib/getImageAttributes.js
  platform/core/src/measurements/lib/getImageIdForImagePath.js
  platform/viewer/src/appExtensions/MeasurementsPanel/jumpToRowItem.js
Due: core, viewer

Use new rcv debounced function
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

add group hover for borderColor
  platform/ui/tailwind.config.js
Due: none

measurements action buttons hover state
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/ActionButtons.jsx
  platform/ui/tailwind.config.js
Due: none

fixes and button/buttongroup/iconButton refactor
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/ActionButtons.jsx
  platform/ui/src/components/Button/Button.jsx
  platform/ui/src/components/ButtonGroup/ButtonGroup.jsx
  platform/ui/src/components/IconButton/IconButton.jsx
Due: none

OHIF-161: Fix Tracked/Untracked Text in Thumbnail's Tooltip
  platform/ui/src/components/ThumbnailTracked/ThumbnailTracked.jsx
Due: none

OHIF-254: Format SR series date
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
Due: none

OHIF-167 - Fix Study Date Time format
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

Update dcmjs to fix bidirectional issue.
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-sr/package.json
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/measurement-tracking/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
Due: core, viewer

Update dcmjs to fix bidirectional issue. (#1848)
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-sr/package.json
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/measurement-tracking/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
Due: core, viewer

Only process SR on consumption of viewport.
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/viewer/src/components/ViewportGrid.jsx
Due: viewer

Add dynamic default sorting
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

Fix preset values for window level
  platform/core/src/defaults/windowLevelPresets.js
Due: core

Fix hovering
  platform/ui/src/components/MeasurementTable/MeasurementItem.js
Due: none

Update measurement table display text to use cornerstone rendered value fixed points
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

Update dialog text
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none
