Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

Update config
  idc-assets/app-config-template.js
  platform/viewer/public/config/default.js
Due: viewer

Add load balancer script
  idc-deploy-shell/buildLoadBalancer.sh
Due: none

working on eventlistener removal
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/Jobs.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/data.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
Due: viewer

[NP-90] Study date is incorrectly being updated to the date of the most recent structured report
  platform/core/src/DICOMSR/dataExchange.js
Due: core

feat: Add initial doc for mode installation
  platform/docs/docs/assets/img/clockMode-file.png
  platform/docs/docs/platform/modes/installation.md
  platform/docs/src/css/custom.css
Due: none

testing renewed event listener
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/Jobs.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
Due: viewer

event listener fixed
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/Jobs.js
Due: viewer

[NP-52] Series Linking (#20)
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/initSeriesLinking.js
  modes/longitudinal/src/toolbarButtons.js
  platform/core/src/services/ViewerToolsetService/ViewerToolset.js
  platform/ui/src/assets/icons/tool-series-linking.svg
  platform/ui/src/components/Icon/getIcon.js
  platform/ui/src/contextProviders/ViewerToolsetProvider.jsx
  platform/viewer/package.json
Due: core, viewer

Bump ping time
  idc-deploy-shell/pingJob.sh
Due: none

fully commented the jobs component
  platform/viewer/src/appExtensions/ThetaDetailsPanel/AITriggerComponent.css
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/Jobs.js
Due: viewer

Re IDC #2604: show on slides panel and on tag explorer series which are non supported for the visualization.
  extensions/dicom-tag-browser/src/components/DicomTagBrowser.js
  platform/core/src/classes/StudyPrefetcher.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/isDisplaySetReconstructable.js
  platform/ui/src/components/studyBrowser/Thumbnail.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: core, viewer

selected active
  platform/viewer/src/appExtensions/ThetaDetailsPanel/AITriggerComponent.css
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/Jobs.js
Due: viewer

selected active
  platform/viewer/src/appExtensions/ThetaDetailsPanel/AITriggerComponent.css
Due: viewer

general overlay button functionality in progress
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/Jobs.js
  platform/viewer/src/connectedComponents/JobsContextUtil.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/context/JobsContext.js
Due: viewer

update
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: core, viewer

update
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

Re IDC #2604: show series (with unsupported modalities) on slides panel and on tag explorer (#2621)
  extensions/dicom-tag-browser/src/components/DicomTagBrowser.js
  platform/core/src/classes/StudyPrefetcher.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/isDisplaySetReconstructable.js
  platform/ui/src/components/studyBrowser/Thumbnail.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

general remove overlay button complete
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/Jobs.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/TextureFeature.js
  platform/viewer/src/connectedComponents/JobsContextUtil.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/context/JobsContext.js
Due: viewer

[NP-131] Change color to signify past (non-selected) exams
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/viewer/tailwind.config.js
Due: viewer

[NP-130] Cursors
  extensions/cornerstone/src/init.js
Due: none

selected job color indication pre-test
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/Jobs.js
  platform/viewer/src/connectedComponents/JobsContextUtil.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/context/JobsContext.js
Due: viewer

[NP-131] Change color to signify past (non-selected) exams
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

instance selected color change complete
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/Jobs.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

stable version v0.1
  platform/viewer/src/appExtensions/ThetaDetailsPanel/LayerControls/LayerControls.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/Jobs.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/TextureFeature.js
Due: viewer

changed jobs interval to 2secs
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/TextureFeature.js
Due: viewer

fix: don't retry failed requests while prefetching
  platform/core/src/classes/StudyPrefetcher.js
Due: core

update cornerstone deps
  extensions/cornerstone/package.json
  extensions/debugging/package.json
  extensions/dicom-html/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

update
  platform/viewer/cypress/integration/pwa/OHIFSaveMeasurements.spec.js
Due: viewer

Update cornerstone deps (#2628)
  extensions/cornerstone/package.json
  extensions/debugging/package.json
  extensions/dicom-html/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/cypress/integration/pwa/OHIFSaveMeasurements.spec.js
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/debugging/CHANGELOG.md
  extensions/debugging/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-pdf/CHANGELOG.md
  extensions/dicom-pdf/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

pre-side-panel work
  platform/viewer/src/appExtensions/ThetaDetailsPanel/LayerControls/LayerControls.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/Jobs.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/TextureFeature.js
  platform/viewer/src/connectedComponents/JobsContextUtil.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/context/JobsContext.js
Due: viewer

update docker remote version for CI
  .circleci/config.yml
Due: none

update docker remote version for CI (#2629)
  .circleci/config.yml
Due: none

[NP-128] Free Rotate Tool
  extensions/cornerstone/src/_shared/getTools.js
  extensions/cornerstone/src/utils/getTools.js
  extensions/measurement-tracking/src/_shared/getTools.js
  modes/longitudinal/src/toolbarButtons.js
  platform/ui/src/assets/icons/tool-rotate.svg
  platform/ui/src/components/Icon/getIcon.js
Due: none

hidden error messages, added indicator, display completed jobs
  platform/viewer/src/appExtensions/ThetaDetailsPanel/AITriggerComponent.css
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/Jobs.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/TextureFeature.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/utils/circle-loading.svg
Due: viewer

fix: don't retry thumbnail requests after errors
  platform/ui/src/components/studyBrowser/ImageThumbnail.js
Due: none

feature: configurable max prefetch request count
  platform/core/src/classes/StudyPrefetcher.js
  platform/viewer/public/config/default.js
Due: core, viewer

fixed warning and no job indication
  extensions/cornerstone/src/components/AITrigger.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/JobParameters/JobDetails.js
  platform/viewer/src/connectedComponents/ConnectedViewerMain.js
  platform/viewer/src/connectedComponents/JobsContextUtil.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/context/JobsContext.js
Due: viewer

job details auto refresh complete
  extensions/cornerstone/src/components/AITrigger.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/JobParameters/JobDetails.js
  platform/viewer/src/appExtensions/ThetaDetailsPanel/TextureFeatures/Jobs.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
