Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

Fixing callouts
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: viewer

docs: stubbing extension pages
  docs/latest/extensions/index.md
  docs/latest/extensions/modules/commands.md
  docs/latest/extensions/modules/panel.md
  docs/latest/extensions/modules/sop-class-handler.md
  docs/latest/extensions/modules/toolbar.md
  docs/latest/extensions/modules/viewport.md
Due: none

docs: UX Stories --> User Cases
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  docs/latest/our-process.md
Due: none

chore: eslint fix
  platform/core/src/services/UIDialogService/index.js
Due: core

Adding util functions into files and refactor with JSDocs
  platform/viewer/src/lib/DICOMSR/utils/findMostRecentStructuredReport.js
  platform/viewer/src/lib/DICOMSR/utils/getAllDisplaySets.js
  platform/viewer/src/lib/DICOMSR/utils/getInstanceMetadata.js
Due: viewer

docs: extensions overview + diagram
  docs/latest/assets/img/extensions-diagram.png
  docs/latest/extensions/index.md
Due: none

docs: update extensions in sidebar
  docs/latest/SUMMARY.md
Due: none

docs: extension skeleton and registration info
  docs/latest/extensions/index.md
Due: none

docs: copy of maintained extensions table partial in the extensions folder
  docs/latest/extensions/_maintained-extensions-table.md
Due: none

Refactoring code, adding some basic JSDocs
  platform/viewer/src/lib/DICOMSR/dataExchange.js
  platform/viewer/src/lib/DICOMSR/handleStructuredReport.js
  platform/viewer/src/lib/DICOMSR/index.js
  platform/viewer/src/lib/DICOMSR/isToolSupported.js
  platform/viewer/src/lib/DICOMSR/parseDicomStructuredReport.js
  platform/viewer/src/lib/DICOMSR/parseMeasurementsData.js
  platform/viewer/src/lib/DICOMSR/srUtils.js
  platform/viewer/src/lib/DICOMSR/utils/isToolSupported.js
Due: viewer

docs: swap out old extensions structure for new
  docs/latest/SUMMARY.md
  docs/latest/advanced/architecture.md
  docs/latest/advanced/custom-tools.md
  docs/latest/advanced/extensions.md
  docs/latest/deployment/index.md
  docs/latest/deployment/recipes/embedded-viewer.md
  docs/latest/extensions/index.md
  docs/latest/extensions/lifecycle/pre-registration.md
  docs/latest/extensions/modules/commands.md
  docs/latest/extensions/modules/panel.md
  docs/latest/extensions/modules/sop-class-handler.md
  docs/latest/extensions/modules/toolbar.md
  docs/latest/extensions/modules/viewport.md
  docs/latest/hotkeys/index.md
  docs/latest/services/ui/index.md
Due: none

docs: extensions (#1258)
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  docs/latest/SUMMARY.md
  docs/latest/advanced/architecture.md
  docs/latest/advanced/custom-tools.md
  docs/latest/advanced/extensions.md
  docs/latest/assets/img/extensions-diagram.png
  docs/latest/deployment/index.md
  docs/latest/deployment/recipes/embedded-viewer.md
  docs/latest/extensions/_maintained-extensions-table.md
  docs/latest/extensions/index.md
  docs/latest/extensions/lifecycle/pre-registration.md
  docs/latest/extensions/modules/commands.md
  docs/latest/extensions/modules/panel.md
  docs/latest/extensions/modules/sop-class-handler.md
  docs/latest/extensions/modules/toolbar.md
  docs/latest/extensions/modules/viewport.md
  docs/latest/hotkeys/index.md
  docs/latest/our-process.md
  docs/latest/services/ui/index.md
  platform/core/src/services/UIDialogService/index.js
Due: core

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

CR Update: Fix comments
  platform/viewer/public/html-templates/script-tag.html
  platform/viewer/src/App.js
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
  platform/viewer/src/appExtensions/MeasurementsPanel/index.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
  platform/viewer/src/connectedComponents/ConnectedUserPreferencesForm.js
  platform/viewer/src/index-umd.js
Due: viewer

docs: shift architecture to own dir; simplify sidebar
  docs/latest/SUMMARY.md
  docs/latest/advanced/index.md
  docs/latest/architecture/index.md
Due: none

docs: clean up links
  README.md
  docs/latest/advanced/_maintained-extensions-table.md
  docs/latest/advanced/custom-tools.md
  docs/latest/advanced/monorepos-a-crash-courese.md
  docs/latest/contributing/index.md
  platform/viewer/README.md
Due: viewer

docs: shift measurements to services directory
  docs/latest/SUMMARY.md
  docs/latest/services/default/measurements.md
Due: none

docs: shift viewer specific docs to own section
  docs/latest/SUMMARY.md
  docs/latest/essentials/configuration.md
  docs/latest/scope-of-project.md
  docs/latest/viewer/configuration.md
  docs/latest/viewer/index.md
  docs/latest/viewer/themeing.md
Due: none

docs: call out different config types
  docs/latest/extensions/index.md
Due: none

docs: shift "getting started" outside of essentials
  docs/latest/README.md
  docs/latest/SUMMARY.md
  docs/latest/contributing/index.md
  docs/latest/deployment/recipes/build-for-production.md
  docs/latest/essentials/data-source.md
  docs/latest/getting-started.md
  platform/viewer/README.md
Due: viewer

docs: nuke troubleshooting.md
  docs/latest/SUMMARY.md
  docs/latest/essentials/troubleshooting.md
  docs/latest/getting-started.md
Due: none

docs: translating --> internationlization
  docs/latest/SUMMARY.md
  docs/latest/viewer/internationalization.md
Due: none

docs: shift files around to match summary structure
  README.md
  docs/latest/README.md
  docs/latest/SUMMARY.md
  docs/latest/architecture/index.md
  docs/latest/configuring/configuration.md
  docs/latest/configuring/data-source.md
  docs/latest/deployment/index.md
  docs/latest/deployment/recipes/build-for-production.md
  docs/latest/development/continous-integration.md
  docs/latest/development/contributing.md
  docs/latest/development/getting-started.md
  docs/latest/development/testing.md
  docs/latest/faq/browser-support.md
  docs/latest/faq/index.md
  docs/latest/faq/pwa-vs-packaged.md
  docs/latest/faq/scope-of-project.md
  docs/latest/our-process.md
  docs/latest/viewer/hotkeys.md
  platform/i18n/README.md
  platform/ui/src/__docs__/translating.mdx
  platform/viewer/README.md
Due: viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

docs: stub quick start page
  docs/latest/quick-start.md
Due: none

docs: remove unused configuration link
  docs/latest/SUMMARY.md
Due: none

docs: prefixes in h1 titles to disambiguate pages
  docs/latest/configuring/index.md
  docs/latest/viewer/configuration.md
  docs/latest/viewer/internationalization.md
  docs/latest/viewer/themeing.md
Due: none

docs: lifecycle hooks summary
  docs/latest/extensions/index.md
  docs/latest/extensions/lifecycle/pre-registration.md
Due: none

docs: modules and contexts summary
  docs/latest/extensions/index.md
Due: none

docs: fix broken link
  docs/latest/development/getting-started.md
Due: none

docs: stub bulk of missing extension docs
  docs/latest/extensions/modules/panel.md
  docs/latest/extensions/modules/sop-class-handler.md
  docs/latest/viewer/index.md
Due: none

docs: fix broken links
  docs/latest/SUMMARY.md
Due: none

docs: tidying up extensions summary info
  docs/latest/extensions/index.md
Due: none

docs: filling in preRegistration hook info
  docs/latest/extensions/lifecycle/pre-registration.md
Due: none

docs: ExtensionManager class docs
  docs/latest/SUMMARY.md
  docs/latest/extensions/index.md
Due: none

docs: panel docs and gif
  docs/latest/assets/img/extensions-panel.gif
  docs/latest/extensions/modules/panel.md
Due: none

docs: fixing jsdoc for preregistration example
  docs/latest/extensions/lifecycle/pre-registration.md
Due: none

docs: fix incorrect paths
  docs/latest/SUMMARY.md
  docs/latest/extensions/index.md
  docs/latest/extensions/modules/panel.md
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
