Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

fix: download tool fixes & improvements
  platform/i18n/src/locales/en-US/Buttons.json
  platform/i18n/src/locales/en-US/ViewportDownloadForm.json
  platform/i18n/src/locales/en-US/index.js
  platform/i18n/src/locales/es/Buttons.json
  platform/i18n/src/locales/es/Common.json
  platform/i18n/src/locales/pt-BR/Buttons.json
  platform/i18n/src/locales/pt-BR/Common.json
  platform/i18n/src/locales/pt-BR/UserPreferencesModal.json
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.styl
Due: none

fix filename error
  platform/i18n/src/locales/en-US/ViewportDownloadForm.json
Due: none

sidepanel should scroll if there's overflow
  platform/viewer/src/components/SidePanel.css
Due: viewer

Use a fancier range slider
  extensions/dicom-seg/src/ExampleSidePanel.js
Due: none

Slightly prettier buttons
  platform/viewer/src/components/SidePanel.css
Due: viewer

Push in progress
  extensions/dicom-seg/src/ExampleSidePanel.js
  platform/viewer/src/components/SidePanel.css
Due: viewer

A bit more reactive; handle no-meta
  extensions/dicom-seg/src/ExampleSidePanel.css
  extensions/dicom-seg/src/ExampleSidePanel.js
Due: none

Pass commandsModule to extension
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/index.js
Due: none

Update edit description dialog and simple dialog to position relative
  platform/ui/src/components/simpleDialog/SimpleDialog.styl
  platform/viewer/src/components/EditDescriptionDialog/EditDescriptionDialog.css
  platform/viewer/src/components/EditDescriptionDialog/EditDescriptionDialog.js
Due: viewer

Remove style code from labelling flow and manager
  platform/viewer/src/components/Labelling/LabellingFlow.js
  platform/viewer/src/components/Labelling/LabellingManager.js
Due: viewer

Remove eventdata from labelling
  extensions/cornerstone/src/commandsModule.js
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
  platform/viewer/src/components/Labelling/LabellingFlow.js
  platform/viewer/src/components/Labelling/LabellingManager.js
Due: viewer

Remove labelling code from measurement init
  platform/viewer/src/appExtensions/MeasurementsPanel/index.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
Due: viewer

Add commandsmanager to provider
  platform/viewer/src/App.js
Due: viewer

Update contextmenu provider and service
  platform/core/src/services/UIContextMenuService/index.js
  platform/ui/src/contextProviders/ContextMenuProvider.js
  platform/ui/src/contextProviders/index.js
  platform/viewer/public/config/default.js
Due: core, viewer

Add commandsmanager to commandsmodule
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/index.js
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/extensions/ExtensionManager.test.js
Due: core

Remove builtin behaviour from toolbarrow
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/index.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

Add touchstart and mouseclick to hide contextmenu
  extensions/cornerstone/src/commandsModule.js
  platform/core/src/services/UIContextMenuService/index.js
  platform/ui/src/contextProviders/ContextMenuProvider.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
Due: core, viewer

Hide labelling if click/touch
  extensions/cornerstone/src/commandsModule.js
  platform/core/src/services/UIContextMenuService/index.js
  platform/ui/src/contextProviders/ContextMenuProvider.js
  platform/viewer/public/config/default.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
Due: core, viewer

Remove labelling and context menu dead code
  platform/viewer/src/appExtensions/MeasurementsPanel/actions.js
  platform/viewer/src/appExtensions/MeasurementsPanel/getMeasurementLocationCallback.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
  platform/viewer/src/appExtensions/MeasurementsPanel/labelingFlowCallbacks.js
  platform/viewer/src/appExtensions/MeasurementsPanel/updateTableWithNewMeasurementData.js
  platform/viewer/src/components/Labelling/labellingPositionUtils.js
  platform/viewer/src/connectedComponents/ConnectedLabellingOverlay.js
  platform/viewer/src/connectedComponents/ConnectedToolContextMenu.js
  platform/viewer/src/connectedComponents/LabellingOverlay.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerMain.js
  platform/viewer/src/store/index.js
  platform/viewer/src/store/layout/reducers.js
Due: viewer

Fix undefined bug if ViewerMain grid has no children
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  platform/ui/src/contextProviders/ContextMenuProvider.js
Due: none

refactor: Viewports state (#1218)
  extensions/cornerstone/src/ConnectedCornerstoneViewport.js
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/state.js
  extensions/dicom-html/src/ConnectedDicomHtmlViewport.js
  extensions/dicom-html/src/DicomHtmlViewport.js
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/index.js
  platform/core/src/extensions/ExtensionManager.js
  platform/core/src/extensions/ExtensionManager.test.js
  platform/core/src/redux/actions.js
  platform/core/src/redux/actions.test.js
  platform/core/src/redux/reducers/viewports.js
  platform/core/src/redux/reducers/viewports.test.js
  platform/viewer/src/connectedComponents/ConnectedCineDialog.js
  platform/viewer/src/connectedComponents/ConnectedViewportDownloadForm.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Fix broken prop on context menu
  platform/ui/src/contextProviders/ContextMenuProvider.js
Due: none

refactor: Shift ConnectedViewportDownloadForm to extension-cornerstone (#1224)
  extensions/cornerstone/src/CornerstoneViewportDownloadForm.js
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/index.js
  platform/viewer/src/connectedComponents/ConnectedViewportDownloadForm.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

refactor: viewports store (#1239)
  extensions/cornerstone/src/CornerstoneViewportDownloadForm.js
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/index.js
  platform/viewer/src/connectedComponents/ConnectedViewportDownloadForm.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Update commandsmodule based on master
  extensions/cornerstone/src/commandsModule.js
Due: none

Fixed Download button test and blocked Download Dialog event
  platform/viewer/cypress/integration/common/OHIFDownloadSnapshotFile.spec.js
  platform/viewer/src/connectedComponents/ConnectedViewportDownloadForm.js
Due: viewer

Deleting file ConnectedViewportDownloadForm.js
  platform/viewer/src/connectedComponents/ConnectedViewportDownloadForm.js
Due: viewer

Fix broken configuration
  extensions/vtk/src/OHIFVTKViewport.js
  platform/viewer/src/App.js
  platform/viewer/src/index.js
Due: viewer

Removing wrong import line
  platform/viewer/cypress/integration/common/OHIFDownloadSnapshotFile.spec.js
Due: viewer

Update script tag config
  platform/viewer/public/html-templates/script-tag.html
Due: viewer

Remove cornerstone from toolcontextmenu
  platform/viewer/src/connectedComponents/ToolContextMenu.js
Due: viewer

Remove cornerstone from toolcontextmenu
  extensions/cornerstone/src/commandsModule.js
Due: none

Split labelling and context menu providers
  platform/viewer/src/App.js
Due: viewer

Split labelling and context menu providers
  extensions/cornerstone/src/commandsModule.js
  platform/core/src/index.js
  platform/core/src/services/UIContextMenuService/index.js
  platform/core/src/services/UILabellingFlowService/index.js
  platform/core/src/services/index.js
  platform/ui/src/contextProviders/ContextMenuProvider.js
  platform/ui/src/contextProviders/LabellingFlowProvider.js
  platform/ui/src/contextProviders/index.js
  platform/ui/src/index.js
  platform/viewer/src/App.js
  platform/viewer/src/index.js
Due: core, viewer

Update test
  platform/core/src/index.test.js
Due: core

Destructure extensions into new array
  platform/viewer/src/App.js
Due: viewer

add record method to hotkey manager
  platform/core/src/classes/HotkeysManager.js
  platform/core/src/classes/hotkeys/index.js
Due: core

fix record plugin
  platform/core/src/classes/hotkeys/recordPlugin.js
Due: core

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
