Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

ui(InputNumber): adding label element in InputNumber Component and … (#3501)
  platform/ui/src/components/InputNumber/InputNumber.tsx
  platform/ui/src/index.js
Due: none

chore(version): version.json [skip ci]
  commit.txt
  extensions/cornerstone-dicom-rt/package.json
  extensions/cornerstone-dicom-seg/package.json
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-video/package.json
  extensions/measurement-tracking/package.json
  extensions/test-extension/package.json
  extensions/tmtv/package.json
  modes/basic-dev-mode/package.json
  modes/basic-test-mode/package.json
  modes/longitudinal/package.json
  modes/microscopy/package.json
  modes/tmtv/package.json
  platform/core/package.json
  version.json
  version.txt
Due: core

chore(version): Update package versions [skip ci]
  extensions/cornerstone-dicom-rt/package.json
  extensions/cornerstone-dicom-seg/package.json
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-video/package.json
  extensions/measurement-tracking/package.json
  extensions/test-extension/package.json
  extensions/tmtv/package.json
  lerna.json
  modes/basic-dev-mode/package.json
  modes/basic-test-mode/package.json
  modes/longitudinal/package.json
  modes/microscopy/package.json
  modes/tmtv/package.json
  platform/app/package.json
  platform/cli/package.json
  platform/core/package.json
  platform/docs/package.json
  platform/i18n/package.json
  platform/ui/package.json
Due: core

fix(tmtv): jumpToClick Tool for TMTV mode (#3525)
  modes/tmtv/src/initToolGroups.js
Due: none

fix(cli): extension template (#3512)
  platform/cli/templates/extension/babel.config.js
  platform/cli/templates/extension/dependencies.json
Due: none

Cmap
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/extension-lytic-lesion/src/commandsModule.ts
  extensions/extension-lytic-lesion/src/getHangingProtocolModule copy.js
  extensions/extension-lytic-lesion/src/getHangingProtocolModule.js
  extensions/extension-lytic-lesion/src/hpMNGrid.ts
  extensions/extension-lytic-lesion/src/utils/colormaps/customColormap.js
  extensions/extension-lytic-lesion/src/utils/hpViewports.ts
  extensions/tmtv/src/commandsModule.js
  extensions/tmtv/src/utils/hpViewports.ts
Due: none

Address const error when loading rt data
  extensions/dicom-rt/src/loadRTStruct.js
Due: none

updated commandsModule
  extensions/extension-lytic-lesion/src/commandsModule.ts
  platform/viewer/.recipes/OpenResty-Orthanc/volumes/orthanc-db/index-shm
  platform/viewer/.recipes/OpenResty-Orthanc/volumes/orthanc-db/index-wal
  yarn.lock
Due: viewer

Fixed Opacity
  extensions/extension-lytic-lesion/src/commandsModule.ts
  extensions/extension-lytic-lesion/src/getHangingProtocolModule.js
  extensions/extension-lytic-lesion/src/utils/colormaps/customColormap.js
  modes/lytic-lesions/src/index.js
  modes/lytic-lesions/src/toolbarButtons.js
  platform/core/src/services/SegmentationService/SegmentationService.ts
  platform/viewer/.recipes/OpenResty-Orthanc/volumes/orthanc-db/index-shm
  platform/viewer/.recipes/OpenResty-Orthanc/volumes/orthanc-db/index-wal
Due: core, viewer

Add meta svg
  platform/ui/src/assets/icons/tool-sam.svg
  platform/ui/src/components/Icon/getIcon.js
Due: none

PE-617 skip window level set if passed arguments don't parse right
  extensions/cornerstone/src/commandsModule.ts
Due: none

PE-617 Fix nan check
  extensions/cornerstone/src/commandsModule.ts
Due: none

Commented the useEffect that fires events to the measurement tracking state machine when markups are added.
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
Due: none

fix(Measurement tracking): Side panel study browser can now be closed and measurements are still tracked (#3530)
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.tsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
Due: none

fix(Worklist): use the flexbox gap style property for spacing between mode buttons Call preventDefault when the icon embedded in the disabled button is clicked.
  platform/app/src/routes/WorkList/WorkList.tsx
Due: none

fix(Worklist): use the flexbox gap style property for spacing between mode buttons (#3532)
  platform/app/src/routes/WorkList/WorkList.tsx
Due: none

ADD manuel segmentation saving
  extensions/xnat/src/components/XNATSegmentationExportMenu/XNATSegmentationExportMenu.js
  extensions/xnat/src/components/XNATSegmentationPanel.js
  extensions/xnat/src/components/common/MenuIOButtons.js
  platform/viewer/src/appExtensions/LungModuleSimilarityPanel/utils.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
  platform/viewer/src/layouts/header/NavigateIcons.js
  platform/viewer/src/utils/synced_storage.js
Due: viewer

Rename metadata provider
  platform/core/src/classes/MetadataProvider.ts
Due: core

Updated the various cornerstone dependencies.
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  platform/app/package.json
  platform/core/package.json
  yarn.lock
Due: core

fix(PT measurement units): Use the modality unit that arrives from cornerstone3d instead of calculating the modality unit (again) here. (#3533)
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/cornerstone/src/utils/measurementServiceMappings/CircleROI.ts
  extensions/cornerstone/src/utils/measurementServiceMappings/EllipticalROI.ts
  extensions/cornerstone/src/utils/measurementServiceMappings/RectangleROI.ts
  extensions/cornerstone/src/utils/measurementServiceMappings/utils/getModalityUnit.js
  extensions/cornerstone/src/utils/measurementServiceMappings/utils/index.ts
  extensions/measurement-tracking/package.json
  platform/app/package.json
  platform/core/package.json
  platform/core/src/classes/MetadataProvider.js
  yarn.lock
Due: core

similar looking scans
  platform/viewer/src/appExtensions/LungModuleSimilarityPanel/SearchParameters/SearchDetails.js
Due: viewer

feat hp search recover from incomplete or missing series/stages
  platform/core/src/services/HangingProtocolService/HangingProtocolService.ts
  platform/core/src/services/HangingProtocolService/ProtocolEngine.js
Due: core

fix(render): Fix a re-render on opening/closing sidebars on change
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  platform/ui/src/components/Dialog/Footer.tsx
Due: none

Adapted fix for headers resolution
  extensions/default/src/DicomWebDataSource/index.js
Due: none

test: Integration test wait until rendered/queried instead of timed
  platform/app/cypress/support/commands.js
  platform/app/src/routes/WorkList/WorkList.tsx
  platform/ui/src/components/StudyListTable/StudyListTable.tsx
Due: none

useMemo implementation
  platform/app/src/routes/WorkList/WorkList.tsx
Due: none

Code cleanup.
  extensions/default/src/DicomWebDataSource/index.js
Due: none

PR requested changes
  platform/app/cypress/support/commands.js
Due: none

Change extension to ts, add missing class members
  platform/core/src/services/_shared/pubSubServiceInterface.ts
Due: core

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
