Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Add todo and brushradius from config
  extensions/dicom-seg/src/components/BrushRadius.js
  extensions/dicom-seg/src/components/SegmentationPanel.js
Due: none

Fix packagejson growcut import
  platform/viewer/package.json
Due: viewer

Style finish
  platform/ui/src/components/userPreferences/HotKeysPreferences.js
  platform/ui/src/components/userPreferences/UserPreferences.js
  platform/ui/src/components/userPreferences/UserPreferences.styl
  platform/ui/src/components/userPreferences/hotkeysValidators.js
Due: none

move about docs into about folder
  platform/ui/src/components/content/aboutContent/__docs__/about.mdx
Due: none

Fix double tap on single keys
  platform/ui/src/components/customForm/HotkeyField.js
  platform/ui/src/components/userPreferences/HotKeysPreferences.js
Due: none

Remove missing comment
  platform/core/src/redux/reducers/viewports.test.js
Due: core

Style refactor
  platform/ui/src/components/languageSwitcher/LanguageSwitcher.js
  platform/ui/src/components/userPreferences/GeneralPreferences.js
  platform/ui/src/components/userPreferences/GeneralPreferences.styl
  platform/ui/src/components/userPreferences/HotKeysPreferences.js
  platform/ui/src/components/userPreferences/HotkeysPreferences.styl
  platform/ui/src/components/userPreferences/TabFooter.js
  platform/ui/src/components/userPreferences/TabFooter.styl
  platform/ui/src/components/userPreferences/UserPreferences.styl
Due: none

Remove log
  platform/core/src/classes/CommandsManager.js
Due: core

Fix log issues on unit tests
  platform/core/src/__mocks__/log.js
Due: core

Fix unit test breaking on ohif/core index
  platform/core/src/utils/index.test.js
Due: core

Fixing hotkeys unpause unit test issue
  platform/core/src/classes/HotkeysManager.js
  platform/core/src/classes/HotkeysManager.test.js
Due: core

Rename file to adopt lowercase
  platform/ui/src/components/userPreferences/HotkeysPreferences.js
Due: none

Rename file to adopt lowercase
  platform/ui/src/components/userPreferences/hotkeysConfig.js
Due: none

Add more measurement service tests
  extensions/cornerstone/src/init.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/MeasurementService/MeasurementService.test.js
  yarn.lock
Due: core

Fixing callouts
  platform/core/src/utils/hotkeys/index.js
  platform/ui/src/components/customForm/HotkeyField.js
  platform/ui/src/components/userPreferences/HotkeysPreferences.js
  platform/ui/src/components/userPreferences/UserPreferences.js
  platform/ui/src/components/userPreferences/WindowLevelPreferences.js
Due: core

Big refactor miving some of the components into viewer and creating small components into ohif/ui
  platform/ui/src/components/index.js
  platform/ui/src/components/languageSwitcher/LanguageSwitcher.js
  platform/ui/src/components/languageSwitcher/index.js
  platform/ui/src/components/tabComponents/TabComponents.js
  platform/ui/src/components/tabComponents/TabComponents.styl
  platform/ui/src/components/tabComponents/TabFooter.js
  platform/ui/src/components/tabComponents/TabFooter.styl
  platform/ui/src/components/tabComponents/index.js
  platform/ui/src/components/userPreferences/UserPreferences.js
  platform/ui/src/components/userPreferences/__docs__/generalDefaults.js
  platform/ui/src/components/userPreferences/__docs__/hotkeyDefaults.js
  platform/ui/src/components/userPreferences/__docs__/userPreferences.mdx
  platform/ui/src/components/userPreferences/__docs__/windowLevelDefaults.js
  platform/ui/src/index.js
  platform/viewer/src/components/Header/Header.js
  platform/viewer/src/components/UserPreferences/GeneralPreferences.js
  platform/viewer/src/components/UserPreferences/GeneralPreferences.styl
  platform/viewer/src/components/UserPreferences/HotkeysPreferences.js
  platform/viewer/src/components/UserPreferences/HotkeysPreferences.styl
  platform/viewer/src/components/UserPreferences/UserPreferences.js
  platform/viewer/src/components/UserPreferences/WindowLevelPreferences.js
  platform/viewer/src/components/UserPreferences/hotkeysConfig.js
  platform/viewer/src/components/UserPreferences/hotkeysValidators.js
  platform/viewer/src/components/UserPreferences/index.js
Due: viewer

Update broken mapping tests
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.test.js
  platform/core/src/services/MeasurementService/MeasurementService.js
Due: core

chore: init lesion-tracker extension
  extensions/lesion-tracker/.webpack/webpack.dev.js
  extensions/lesion-tracker/.webpack/webpack.prod.js
  extensions/lesion-tracker/LICENSE
  extensions/lesion-tracker/README.md
  extensions/lesion-tracker/package.json
  extensions/lesion-tracker/src/index.js
Due: none

fix: Switch MetadataProvider imagePlane to imagePlaneModule
  platform/core/src/classes/MetadataProvider.js
Due: core

fix: Remove trash data from redux storage after updates (#1358)
  platform/core/src/redux/reducers/viewports.js
  platform/core/src/redux/reducers/viewports.test.js
Due: core

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Fix for failing tests
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/integration/pwa/OHIFSaveMeasurements.spec.js
Due: viewer

feat: Create API Layer to manage requests
  platform/viewer/src/api/api.js
Due: viewer

add axios as dependency
  platform/viewer/package.json
  yarn.lock
Due: viewer

api module
  platform/viewer/src/api/index.js
Due: viewer

create useAPI hook to manage calls from components
  platform/viewer/src/customHooks/useApi.js
Due: viewer

WIP pdf reports
  platform/viewer/package.json
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/utils/reports/base.js
  platform/viewer/src/utils/reports/events.js
  platform/viewer/src/utils/reports/exportPDF.js
  platform/viewer/src/utils/reports/helpers.js
  platform/viewer/src/utils/reports/measurement.js
  yarn.lock
Due: viewer

Clear unused code
  platform/viewer/src/utils/reports/BaseReport.js
  platform/viewer/src/utils/reports/MeasurementReport.js
  platform/viewer/src/utils/reports/events.js
  platform/viewer/src/utils/reports/exportPDF.js
Due: viewer

chore: dev build for lesion-tracker extension
  extensions/lesion-tracker/src/index.js
  package.json
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/package.json
  platform/viewer/src/index-lesion-tracker.js
  yarn.lock
Due: viewer

fix: a more appropriate library name
  extensions/lesion-tracker/.webpack/webpack.prod.js
Due: none

chore: fix script naming
  extensions/lesion-tracker/package.json
Due: none

feat: lesion-tracker extension (#1420)
  extensions/lesion-tracker/.webpack/webpack.dev.js
  extensions/lesion-tracker/.webpack/webpack.prod.js
  extensions/lesion-tracker/LICENSE
  extensions/lesion-tracker/README.md
  extensions/lesion-tracker/package.json
  extensions/lesion-tracker/src/index.js
  package.json
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/package.json
  platform/viewer/src/index-lesion-tracker.js
  yarn.lock
Due: viewer

chore(release): publish [skip ci]
  extensions/lesion-tracker/CHANGELOG.md
  extensions/lesion-tracker/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Typo on folder name
  platform/ui/src/components/index.js
Due: none

WIP
  extensions/lesion-tracker/src/components/LesionTrackerPanel.css
  extensions/lesion-tracker/src/components/LesionTrackerPanel.js
  extensions/lesion-tracker/src/index.js
  platform/ui/src/components/measurementTable/MeasurementTable.js
  platform/ui/src/components/tableList/TableList.styl
  platform/viewer/src/index.js
Due: viewer

Updating ohif ui docs
  platform/ui/src/components/tabComponents/TabComponents.js
  platform/ui/src/components/tabComponents/__docs__/tabComponents.mdx
  platform/ui/src/components/tabComponents/__docs__/tabs.js
  platform/viewer/src/components/UserPreferences/UserPreferences.js
Due: viewer

Remove comments
  platform/viewer/src/components/UserPreferences/GeneralPreferences.js
Due: viewer

Fix binding of combo keys
  platform/core/src/classes/HotkeysManager.js
Due: core

Fix some cypress tests failures
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFUserPreferences.spec.js
  platform/viewer/cypress/support/aliases.js
  platform/viewer/cypress/support/commands.js
Due: viewer

Fixing onCancel button
  platform/ui/src/components/tabComponents/TabFooter.js
  platform/viewer/src/components/UserPreferences/GeneralPreferences.js
  platform/viewer/src/components/UserPreferences/WindowLevelPreferences.js
Due: viewer
