Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

Fix a couple of rename issues that were missed
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/cornerstone/src/Viewport/Overlays/ViewportOverlay.tsx
  extensions/cornerstone/src/index.tsx
  extensions/cornerstone/src/services/CornerstoneCacheService/CornerstoneCacheService.ts
  extensions/cornerstone/src/services/CornerstoneCacheService/index.js
  extensions/cornerstone/src/services/SyncGroupService/index.js
  extensions/cornerstone/src/services/ToolGroupService/ToolGroupService.ts
  extensions/default/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-video/package.json
  extensions/measurement-tracking/package.json
  extensions/tmtv/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Fix translations
  platform/i18n/src/locales/en-US/SidePanel.json
  platform/i18n/src/locales/en-US/StudyBrowser.json
  platform/i18n/src/locales/en-US/StudyList.json
  platform/i18n/src/locales/en-US/index.js
  platform/i18n/src/locales/es/SidePanel.json
  platform/i18n/src/locales/es/StudyBrowser.json
  platform/i18n/src/locales/es/StudyList.json
  platform/i18n/src/locales/es/index.js
  platform/ui/src/components/SidePanel/SidePanel.tsx
  platform/ui/src/components/StudyListFilter/StudyListFilter.tsx
  platform/ui/src/components/StudyListPagination/StudyListPagination.tsx
  platform/viewer/src/routes/WorkList/filtersMeta.js
Due: viewer

fix: Additional renames that were missed on the first round
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/init.tsx
  extensions/cornerstone/src/initWADOImageLoader.js
  extensions/cornerstone/src/services/CornerstoneCacheService/CornerstoneCacheService.ts
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/commandsModule.js
  platform/core/src/extensions/ExtensionManager.ts
  platform/core/src/types/Services.ts
  platform/viewer/src/App.tsx
  platform/viewer/src/routes/index.tsx
  platform/viewer/src/utils/OpenIdConnectRoutes.tsx
Due: core, viewer

fix(typescript): Missed renames UIModalService and UserAuthenticationService (#3171)
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/init.tsx
  extensions/cornerstone/src/initWADOImageLoader.js
  extensions/cornerstone/src/services/CornerstoneCacheService/CornerstoneCacheService.ts
  extensions/default/src/DicomWebDataSource/index.js
  extensions/default/src/commandsModule.js
  platform/core/src/extensions/ExtensionManager.ts
  platform/core/src/types/Services.ts
  platform/viewer/src/App.tsx
  platform/viewer/src/routes/index.tsx
  platform/viewer/src/utils/OpenIdConnectRoutes.tsx
Due: core, viewer

Remove unusued Types import (#3167)
  platform/core/src/services/_shared/pubSubServiceInterface.js
Due: core

PR feedback: moved getNumViewportPanes into the ViewportGridService API.
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.tsx
  platform/core/src/services/ViewportGridService/ViewportGridService.ts
  platform/core/src/utils/getNumViewportPanes.ts
  platform/core/src/utils/index.js
  platform/core/src/utils/index.test.js
  platform/docs/docs/platform/services/ui/viewport-grid-service.md
  platform/docs/versioned_docs/version-3.0/platform/services/ui/viewport-grid-service.md
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
  platform/viewer/src/components/ViewportGrid.tsx
Due: core, viewer

-prevent blank description
  extensions/measurement-tracking/src/_shared/createReportDialogPrompt.tsx
Due: none

-trim label to prevent trailling and leading white space in description
  extensions/measurement-tracking/src/_shared/createReportDialogPrompt.tsx
Due: none

PR feedback: - renamed some variables - proper import/export of IDisplaySet - added some comments for clarification - fixed broken e2e tests
  platform/core/src/types/index.ts
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
  platform/viewer/src/components/ViewportGrid.tsx
Due: core, viewer

Some missed rename of Services.
  extensions/cornerstone/src/utils/mpr/toggleMPRHangingProtocol.ts
  platform/core/src/types/index.ts
  platform/viewer/src/components/ViewportGrid.tsx
Due: core, viewer

fix(ViewportGrid) fill blank viewports with display sets not yet in grid. (#3154)
  extensions/cornerstone/src/utils/mpr/toggleMPRHangingProtocol.ts
  extensions/default/src/Toolbar/ToolbarLayoutSelector.tsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.tsx
  platform/core/src/services/ViewportGridService/ViewportGridService.ts
  platform/docs/docs/platform/services/ui/viewport-grid-service.md
  platform/docs/versioned_docs/version-3.0/platform/services/ui/viewport-grid-service.md
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
  platform/viewer/src/components/ViewportGrid.tsx
Due: core, viewer

chore: update vtk js to 26.4.0
  extensions/cornerstone/package.json
  package.json
  platform/viewer/src/components/ViewportGrid.tsx
  yarn.lock
Due: viewer

chore: update vtk js to 26.4.0 (#3174)
  extensions/cornerstone/package.json
  package.json
  platform/viewer/src/components/ViewportGrid.tsx
  yarn.lock
Due: viewer

fix(authentication): {mode}/{datasource} routes must be marked private so they can be protected via authentication.
  platform/viewer/src/routes/buildModeRoutes.tsx
Due: viewer

fix error
  extensions/cornerstone/src/tools/SquareRoiTool.js
Due: none

feat(ImageSet):Avoid exposing the images field by adding a getNumImages method.
  platform/core/src/classes/ImageSet.js
Due: core

fix error
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/tools/SquareRoiTool.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.js
  platform/core/src/measurements/tools/SquareRoiTool.js
  platform/core/src/measurements/tools/index.js
Due: core

fix: yarn lock
  yarn.lock
Due: none

feat(ImageSet): Avoid exposing the images field by adding a getNumImagesMethod (#3179)
  platform/core/src/classes/ImageSet.js
Due: core

fix(authentication): mode/datasource routes must be marked private so they can be protected via authentication. (#3178)
  platform/viewer/src/routes/buildModeRoutes.tsx
Due: viewer

fix: Patient name handling as either Alphabetic object or simply string object
  extensions/default/src/DicomJSONDataSource/index.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
  platform/core/src/utils/formatPN.js
Due: core

fix unit tests failing
  extensions/cornerstone-dicom-seg/package.json
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/default/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-video/package.json
  extensions/measurement-tracking/package.json
  extensions/test-extension/package.json
  extensions/tmtv/package.json
  modes/basic-dev-mode/package.json
  modes/basic-test-mode/package.json
  modes/longitudinal/package.json
  modes/tmtv/package.json
  package.json
  platform/cli/templates/extension/dependencies.json
  platform/cli/templates/mode/dependencies.json
  platform/core/package.json
  platform/core/src/extensions/ExtensionManager.ts
  platform/i18n/package.json
  platform/viewer/package.json
  tsconfig.json
  yarn.lock
Due: core, viewer

feat(ViewportActionBar): OHIF issue #3123
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone-dicom-seg/src/viewports/_getStatusComponent.tsx
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportOverlay.tsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
  platform/docs/tailwind.config.js
  platform/i18n/src/locales/en-US/Common.json
  platform/ui/src/assets/icons/chevron-next.svg
  platform/ui/src/assets/icons/chevron-prev.svg
  platform/ui/src/assets/icons/info-action.svg
  platform/ui/src/assets/icons/status-alert.svg
  platform/ui/src/assets/icons/status-locked.svg
  platform/ui/src/assets/icons/status-tracked.svg
  platform/ui/src/assets/icons/status-untracked.svg
  platform/ui/src/components/CinePlayer/__stories__/cinePlayer.stories.mdx
  platform/ui/src/components/CinePlayer/index.js
  platform/ui/src/components/Icon/getIcon.js
  platform/ui/src/components/LegacyCinePlayer/LegacyCinePlayer.tsx
  platform/ui/src/components/LegacyCinePlayer/LegacyCinePlayerCustomInputRange.css
  platform/ui/src/components/LegacyCinePlayer/__stories__/legacyCinePlayer.stories.mdx
  platform/ui/src/components/LegacyCinePlayer/index.js
  platform/ui/src/components/LegacyPatientInfo/LegacyPatientInfo.tsx
  platform/ui/src/components/LegacyPatientInfo/index.js
  platform/ui/src/components/LegacyViewportActionBar/LegacyViewportActionBar.stories.tsx
  platform/ui/src/components/LegacyViewportActionBar/LegacyViewportActionBar.tsx
  platform/ui/src/components/LegacyViewportActionBar/index.js
  platform/ui/src/components/Viewport/Viewport.tsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.tsx
  platform/ui/src/components/ViewportActionBar/index.tsx
  platform/ui/src/components/index.js
  platform/ui/src/hooks/index.ts
  platform/ui/src/hooks/useResizeObserver.ts
  platform/ui/src/index.js
  platform/ui/tailwind.config.js
  platform/viewer/tailwind.config.js
Due: viewer

feat: Add adapter mappings for RectangleROI and Angle and save same
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone-dicom-sr/src/commandsModule.js
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.ts
  extensions/cornerstone-dicom-sr/src/init.js
  extensions/cornerstone-dicom-sr/src/init.ts
  extensions/cornerstone-dicom-sr/src/tools/toolNames.ts
  extensions/cornerstone-dicom-sr/src/tools/tools/SRArrowAnnotate.ts
  extensions/cornerstone-dicom-sr/src/tools/tools/SRBidirectional.ts
  extensions/cornerstone-dicom-sr/src/tools/tools/SREllipticalROI.ts
  extensions/cornerstone-dicom-sr/src/tools/tools/SRLength.ts
  extensions/cornerstone-dicom-sr/src/utils/addToolInstance.ts
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/cornerstone/package.json
  extensions/cornerstone/src/index.tsx
  extensions/cornerstone/src/initCornerstoneTools.js
  extensions/cornerstone/src/initMeasurementService.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Angle.ts
  extensions/cornerstone/src/utils/measurementServiceMappings/CobbAngle.ts
  extensions/cornerstone/src/utils/measurementServiceMappings/PlanarFreehandROI.ts
  extensions/cornerstone/src/utils/measurementServiceMappings/RectangleROI.ts
  extensions/cornerstone/src/utils/measurementServiceMappings/constants/supportedTools.js
  extensions/cornerstone/src/utils/measurementServiceMappings/index.ts
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.ts
  extensions/cornerstone/src/utils/measurementServiceMappings/utils/index.ts
  extensions/cornerstone/src/utils/measurementServiceMappings/utils/selection.ts
  extensions/default/package.json
  extensions/default/src/Panels/PanelMeasurementTable.tsx
  extensions/default/src/utils/findSRWithSameSeriesDescription.ts
  extensions/dicom-pdf/package.json
  extensions/dicom-video/package.json
  extensions/measurement-tracking/package.json
  extensions/tmtv/package.json
  modes/longitudinal/src/initToolGroups.js
  modes/longitudinal/src/toolbarButtons.js
  modes/tmtv/src/initToolGroups.js
  platform/core/package.json
  platform/core/src/measurements/tools/polygonRoi.js
  platform/core/src/services/MeasurementService/MeasurementService.ts
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

fix: Rehydrate check on non core measurement adapters
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone-dicom-sr/src/getSopClassHandlerModule.ts
  extensions/cornerstone-dicom-sr/src/init.ts
  extensions/cornerstone-dicom-sr/src/utils/isRehydratable.js
  extensions/cornerstone/package.json
  extensions/default/src/utils/findSRWithSameSeriesDescription.ts
  yarn.lock
Due: none

Update package version
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/measurement-tracking/package.json
  yarn.lock
Due: none

add application mode for brain and lung
  extensions/cornerstone/src/commandsModule.js
  platform/core/src/redux/reducers/mode.js
  platform/core/src/redux/reducers/steps.js
  platform/viewer/src/components/3DSegmentation/3DApi.js
  platform/viewer/src/layouts/header/NavigateIcons.js
  platform/viewer/src/layouts/header/index.js
  platform/viewer/src/layouts/sidebar/index.js
  platform/viewer/src/store/index.js
Due: core, viewer

fix morphology api fetch error
  platform/viewer/src/components/3DSegmentation/3D.js
Due: viewer

fix for radiomic loading page
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
  platform/viewer/src/connectedComponents/Radiomics.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

fix missing files
  platform/viewer/src/components/3DSegmentation/3D_old.js
  platform/viewer/src/components/3DSegmentation/3d.css
Due: viewer

remove square tool
  extensions/cornerstone/src/init.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
  platform/viewer/src/pages/Nnunet.js
Due: viewer

Updated tailwind to 3.2.7. Put external imports like React at the top of the import list.
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone-dicom-seg/src/viewports/_getStatusComponent.tsx
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  platform/ui/tailwind.config.js
  platform/viewer/package.json
  platform/viewer/tailwind.config.js
  yarn.lock
Due: viewer

fix navigate back
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

stable
  platform/viewer/src/layouts/header/NavigateIcons.js
Due: viewer

feat(ViewportActionBar): OHIF issue #3123 (#3186)
  extensions/cornerstone-dicom-seg/src/viewports/OHIFCornerstoneSEGViewport.tsx
  extensions/cornerstone-dicom-seg/src/viewports/_getStatusComponent.tsx
  extensions/cornerstone-dicom-sr/src/viewports/OHIFCornerstoneSRViewport.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportOverlay.tsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.tsx
  platform/docs/tailwind.config.js
  platform/i18n/src/locales/en-US/Common.json
  platform/ui/src/assets/icons/chevron-next.svg
  platform/ui/src/assets/icons/chevron-prev.svg
  platform/ui/src/assets/icons/info-action.svg
  platform/ui/src/assets/icons/status-alert.svg
  platform/ui/src/assets/icons/status-locked.svg
  platform/ui/src/assets/icons/status-tracked.svg
  platform/ui/src/assets/icons/status-untracked.svg
  platform/ui/src/components/CinePlayer/__stories__/cinePlayer.stories.mdx
  platform/ui/src/components/CinePlayer/index.js
  platform/ui/src/components/Icon/getIcon.js
  platform/ui/src/components/LegacyCinePlayer/LegacyCinePlayer.tsx
  platform/ui/src/components/LegacyCinePlayer/LegacyCinePlayerCustomInputRange.css
  platform/ui/src/components/LegacyCinePlayer/__stories__/legacyCinePlayer.stories.mdx
  platform/ui/src/components/LegacyCinePlayer/index.js
  platform/ui/src/components/LegacyPatientInfo/LegacyPatientInfo.tsx
  platform/ui/src/components/LegacyPatientInfo/index.js
  platform/ui/src/components/LegacyViewportActionBar/LegacyViewportActionBar.stories.tsx
  platform/ui/src/components/LegacyViewportActionBar/LegacyViewportActionBar.tsx
  platform/ui/src/components/LegacyViewportActionBar/index.js
  platform/ui/src/components/Viewport/Viewport.tsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.tsx
  platform/ui/src/components/ViewportActionBar/index.tsx
  platform/ui/src/components/index.js
  platform/ui/src/hooks/index.ts
  platform/ui/src/hooks/useResizeObserver.ts
  platform/ui/src/index.js
  platform/ui/tailwind.config.js
  platform/viewer/package.json
  platform/viewer/tailwind.config.js
  yarn.lock
Due: viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
