Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Respond to reviewer comments.
  extensions/vtk/src/OHIFVTKViewport.js
Due: none

fix: 🐛 Fail gracefully on an MPR load error (#1992)
  extensions/vtk/package.json
  extensions/vtk/src/LoadingIndicator.js
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/index.js
  yarn.lock
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Sort based on SeriesNumber and SeriesDate/SeriesTime.
  extensions/dicom-html/src/OHIFDicomHtmlSopClassHandler.js
  extensions/dicom-microscopy/src/DicomMicroscopySopClassHandler.js
  extensions/dicom-pdf/src/OHIFDicomPDFSopClassHandler.js
  extensions/dicom-rt/src/OHIFDicomRTStructSopClassHandler.js
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

Thumbnail Highlighting
  platform/ui/src/components/studyBrowser/ImageThumbnail.styl
  platform/ui/src/components/studyBrowser/StudyBrowser.js
  platform/ui/src/components/studyBrowser/Thumbnail.js
  platform/viewer/src/connectedComponents/ConnectedStudyBrowser.js
Due: viewer

Harden, and perform final sort in algorithm if last N entries have the same SeriesNumber.
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

pass through "setToolActive" commands for other viewport types
  extensions/cornerstone/src/CornerstoneViewportDownloadForm.js
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/index.js
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/state.js
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/dicom-sr/src/index.js
  extensions/measurement-tracking/src/index.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/core/src/classes/CommandsManager.js
  platform/core/src/services/ToolBarService/ToolBarService.js
  platform/ui/src/components/SplitButton/SplitButton.jsx
Due: core

fix small overlay bugs (no wwwc or scale info)
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/state.js
  extensions/measurement-tracking/src/index.js
  platform/core/src/services/ToolBarService/ToolBarService.js
Due: core

Show SpacingBetweenSlices instead of PixelSpacing in patient information dialog
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

Fix prop-types
  platform/ui/src/components/ToolbarButton/ToolbarButton.jsx
Due: none

Update tracked viewport to have alternative tracked styling
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

alt styling for SR viewports
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

Update to support isLocked + isRehydratable
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.jsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/ui/src/components/Tooltip/Tooltip.jsx
  platform/ui/src/components/Viewport/Viewport.jsx
  platform/ui/src/components/Viewport/Viewport.mdx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.mdx
  platform/ui/src/views/Viewer/Viewer.mdx.todo
Due: none

fix broken logic
  extensions/dicom-sr/src/getSopClassHandlerModule.js
Due: none

fix broken logic
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/TrackedMeasurementsContext.jsx
Due: none

switch icon style
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

fix icon styles
  platform/ui/src/assets/icons/arrow-left.svg
  platform/ui/src/assets/icons/exclamation.svg
  platform/ui/src/components/Icon/getIcon.jsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

hover and click to start flow
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/ui/tailwind.config.js
Due: none

expedited workflow when data is not dirty (just after SR hydration)
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/measurementTrackingMachine.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptTrackNewSeries.js
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptTrackNewStudy.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
Due: none

fix: setting elliptical roi tool
  modes/longitudinal/src/toolbarButtons.js
Due: none

fix arrow annotate dialog
  extensions/cornerstone/src/callInputDialog.js
  extensions/cornerstone/src/init.js
Due: none

fix: do not show learn more button for now
  platform/ui/src/components/StudyListFilter/StudyListFilter.jsx
Due: none

remove dead code
  platform/ui/src/components/StudyListFilter/StudyListFilter.jsx
Due: none

simpler cache invalidation
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

simpler cache invalidation part 2
  platform/viewer/src/routes/DataSourceWrapper.jsx
Due: viewer

Fix for unable to spand study cards on separate pages
  platform/viewer/src/routes/DataSourceWrapper.jsx
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

Switch to insertion rather than sorting as sorting is too slow. Reimplement low priority sorting into new insertion method.
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/isLowPriorityModality.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: core, viewer

WIP render top level tags.
  extensions/dicom-tag-browser/.webpack/webpack.dev.js
  extensions/dicom-tag-browser/.webpack/webpack.prod.js
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/LICENSE
  extensions/dicom-tag-browser/README.md
  extensions/dicom-tag-browser/package.json
  extensions/dicom-tag-browser/src/components/DicomTagBrowser.css
  extensions/dicom-tag-browser/src/components/DicomTagBrowser.js
  extensions/dicom-tag-browser/src/getCommandsModule.js
  extensions/dicom-tag-browser/src/index.js
  extensions/dicom-tag-browser/src/toolbarModule.js
  extensions/dicom-tag-browser/src/utils.js
  platform/viewer/src/index.js
Due: viewer

Add drop down to select series.
  extensions/dicom-html/src/OHIFDicomHtmlSopClassHandler.js
  extensions/dicom-microscopy/src/DicomMicroscopySopClassHandler.js
  extensions/dicom-pdf/src/OHIFDicomPDFSopClassHandler.js
  extensions/dicom-rt/src/OHIFDicomRTStructSopClassHandler.js
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  extensions/dicom-tag-browser/package.json
  extensions/dicom-tag-browser/src/components/DicomBrowserSelect.js
  extensions/dicom-tag-browser/src/components/DicomBrowserSelectItem.css
  extensions/dicom-tag-browser/src/components/DicomBrowserSelectItem.js
  extensions/dicom-tag-browser/src/components/DicomTagBrowser.css
  extensions/dicom-tag-browser/src/components/DicomTagBrowser.js
  extensions/dicom-tag-browser/src/getCommandsModule.js
Due: none

Fix errors with type 2 sequences.
  extensions/dicom-tag-browser/src/components/DicomTagBrowser.js
  extensions/dicom-tag-browser/src/toolbarModule.js
Due: none

WIP swap instance.
  extensions/dicom-tag-browser/src/components/DicomTagBrowser.js
Due: none

change port using the PORT variable
  .docker/Viewer-v2.x/entrypoint.sh
Due: none

Working seralizaytion of contours.
  extensions/kinderspital-mr-urography/src/components/MRUrographyPanel.js
  extensions/kinderspital-mr-urography/src/constants/labels.js
  extensions/kinderspital-mr-urography/src/index.js
  extensions/kinderspital-mr-urography/src/utils/computeSegmentationFromContours.js
  extensions/kinderspital-mr-urography/src/utils/findDisplaySetFromDisplaySetInstanceUID.js
  yarn.lock
Due: none

Read WIP.
  extensions/kinderspital-mr-urography/src/components/MRUrographyPanel.js
  extensions/kinderspital-mr-urography/src/utils/computeSegmentationFromContours.js
  extensions/kinderspital-mr-urography/src/utils/loadSegmentation.js
Due: none

Get to the point of having contours, need to add/replace data.
  extensions/kinderspital-mr-urography/src/components/MRUrographyPanel.js
  extensions/kinderspital-mr-urography/src/utils/hull/convex.js
  extensions/kinderspital-mr-urography/src/utils/hull/format.js
  extensions/kinderspital-mr-urography/src/utils/hull/grid.js
  extensions/kinderspital-mr-urography/src/utils/hull/hull.js
  extensions/kinderspital-mr-urography/src/utils/hull/index.js
  extensions/kinderspital-mr-urography/src/utils/hull/intersect.js
  extensions/kinderspital-mr-urography/src/utils/loadSegmentation.js
Due: none

fix: viewport grid area top padding should align with sidepanel gap
  extensions/default/src/ViewerLayout/index.jsx
Due: none

fix: don't wrap split button list item text
  platform/ui/src/components/SplitButton/SplitButton.jsx
Due: none

fix: cine player moz/chrome styles
  platform/ui/src/components/CinePlayer/CinePlayer.jsx
  platform/ui/src/components/CinePlayer/CinePlayerCustomInputRange.css
Due: none

fix: split button arrows
  modes/longitudinal/src/toolbarButtons.js
Due: none

fix: tighten toolbar and splitbutton styles
  extensions/default/src/ViewerLayout/index.jsx
  platform/ui/src/components/IconButton/IconButton.jsx
  platform/ui/src/components/NavBar/NavBar.jsx
  platform/ui/src/components/SplitButton/SplitButton.jsx
  platform/ui/src/components/SplitButton/SplitButton.mdx
  platform/ui/src/components/StudyListFilter/StudyListFilter.jsx
  platform/ui/src/components/ToolbarButton/ToolbarButton.jsx
  platform/ui/src/views/Viewer/Viewer.js
  platform/ui/src/views/Viewer/Viewer.mdx.todo
Due: none
