Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

test
  .drone.jsonnet
Due: none

test1
  .drone.jsonnet
Due: none

test2
  .drone.jsonnet
Due: none

test3
  .drone.jsonnet
Due: none

fix: fileName capitalization
  extensions/tmtv/src/utils/measurementServiceMappings/RectangleROIStartEndThreshold.js
Due: none

feat: use the new prefetch stack in the cs3d
  extensions/cornerstone/src/Viewport/Overlays/CornerstoneOverlays.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportImageScrollbar.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportLoadingIndicator.tsx
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
Due: none

use viewport scroll api for stack viewport
  extensions/cornerstone/src/Viewport/Overlays/ViewportImageScrollbar.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportLoadingIndicator.tsx
  extensions/measurement-tracking/src/viewports/ViewportLoadingIndicator.js
Due: none

fix cine stop when scrollbar changes
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/Viewport/Overlays/CornerstoneOverlays.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportImageScrollbar.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportLoadingIndicator.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportOverlay.tsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.tsx
Due: none

Feat/np 281 (#54)
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/_shared/getTools.js
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Angle.js
  extensions/cornerstone/src/utils/measurementServiceMappings/ArrowAnnotate.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Bidirectional.js
  extensions/cornerstone/src/utils/measurementServiceMappings/EllipticalRoi.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.js
  extensions/cornerstone/src/utils/measurementServiceMappings/NLFreehandRoi.js
  extensions/cornerstone/src/utils/measurementServiceMappings/RectangleRoi.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.js
  extensions/measurement-tracking/src/_shared/getTools.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/viewer/src/components/ViewportGrid.jsx
Due: core, viewer

feat: use new prefetch events
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/cornerstone/src/Viewport/Overlays/ViewportImageScrollbar.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportLoadingIndicator.tsx
  extensions/cornerstone/src/init.js
  extensions/measurement-tracking/package.json
  platform/viewer/public/config/default.js
  yarn.lock
Due: viewer

fix loading state to not show repeatedly
  extensions/cornerstone/src/Viewport/Overlays/ViewportLoadingIndicator.tsx
Due: none

feat: use the new prefetch stack in the cs3d (#2820)
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/Viewport/Overlays/CornerstoneOverlays.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportImageScrollbar.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportLoadingIndicator.tsx
  extensions/cornerstone/src/Viewport/Overlays/ViewportOverlay.tsx
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/measurement-tracking/package.json
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.tsx
  extensions/measurement-tracking/src/viewports/ViewportLoadingIndicator.js
  platform/viewer/public/config/default.js
  yarn.lock
Due: viewer

feat: make tmtv mode available in worklist
  extensions/tmtv/src/Panels/PanelROIThresholdSegmentation/PanelROIThresholdSegmentation.tsx
  extensions/tmtv/src/commandsModule.js
  extensions/tmtv/src/utils/getThresholdValue.ts
  platform/viewer/package.json
  platform/viewer/pluginConfig.json
Due: viewer

feat: add new icons for tmtv mode
  extensions/cornerstone/src/Viewport/Overlays/ViewportOverlay.tsx
  extensions/default/src/ViewerLayout/index.tsx
  extensions/tmtv/src/getPanelModule.tsx
  modes/tmtv/src/index.js
  modes/tmtv/src/toolbarButtons.js
  modes/tmtv/src/utils/setEllipticalROIConfiguration.js
  platform/ui/src/assets/icons/create-threshold.svg
  platform/ui/src/assets/icons/edit-patient.svg
  platform/ui/src/components/Icon/getIcon.js
Due: none

feat: add fusion color icon
  extensions/cornerstone-dicom-sr/src/commandsModule.js
  extensions/default/src/ViewerLayout/index.tsx
  extensions/tmtv/src/getPanelModule.tsx
  modes/tmtv/src/toolbarButtons.js
  platform/ui/src/assets/icons/tool-create-threshold.svg
  platform/ui/src/assets/icons/tool-fusion-color.svg
  platform/ui/src/components/Icon/getIcon.js
Due: none

hanging protocol integration - wip
  platform/core/src/classes/HotkeysManager.js
  platform/ui/src/components/Header/Header.jsx
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

[NP-291]: Drone CI/CD (#57)
  .drone.jsonnet
  platform/viewer/package_gen.sh
Due: viewer

Commented this out per issue comment: https://github.com/OHIF/Viewers/issues/2426#issuecomment-917162303 MIE ticket: https://pm.mieweb.com/issues/110529#change-547823
  extensions/cornerstone/src/init.js
Due: none

Fixed html-templates/script-tag.html path
  platform/viewer/public/html-templates/script-tag.html
Due: viewer

feat IDC #2797: add support for SR qualitative annotation per instance
  extensions/cornerstone/package.json
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/components/OHIFCornerstoneViewportOverlay.css
  extensions/cornerstone/src/components/OHIFCornerstoneViewportOverlay.js
  extensions/cornerstone/src/tools/DICOMSRDisplayTool.js
  extensions/cornerstone/src/tools/constants/scoordTypes.js
  package.json
  platform/core/src/DICOMSR/SCOORD3D/constants/scoordTypes.js
  platform/core/src/DICOMSR/SCOORD3D/parseSCOORD3D.js
  platform/core/src/DICOMSR/SCOORD3D/utils/getCoordsFromSCOORDOrSCOORD3D.js
  platform/core/src/DICOMSR/SCOORD3D/utils/getMeasurements.js
  platform/core/src/DICOMSR/SCOORD3D/utils/getRenderableData.js
  platform/core/src/DICOMSR/SCOORD3D/utils/processMeasurement.js
  platform/core/src/DICOMSR/SCOORD3D/utils/processNonGeometricallyDefinedMeasurement.js
  platform/core/src/DICOMSR/SCOORD3D/utils/processTID1410Measurement.js
  yarn.lock
Due: core

feat IDC #2797: add support for SR qualitative annotation per instance (#2822)
  extensions/cornerstone/package.json
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/components/OHIFCornerstoneViewportOverlay.css
  extensions/cornerstone/src/components/OHIFCornerstoneViewportOverlay.js
  extensions/cornerstone/src/tools/DICOMSRDisplayTool.js
  extensions/cornerstone/src/tools/constants/scoordTypes.js
  package.json
  platform/core/src/DICOMSR/SCOORD3D/constants/scoordTypes.js
  platform/core/src/DICOMSR/SCOORD3D/parseSCOORD3D.js
  platform/core/src/DICOMSR/SCOORD3D/utils/getCoordsFromSCOORDOrSCOORD3D.js
  platform/core/src/DICOMSR/SCOORD3D/utils/getMeasurements.js
  platform/core/src/DICOMSR/SCOORD3D/utils/getRenderableData.js
  platform/core/src/DICOMSR/SCOORD3D/utils/processMeasurement.js
  platform/core/src/DICOMSR/SCOORD3D/utils/processNonGeometricallyDefinedMeasurement.js
  platform/core/src/DICOMSR/SCOORD3D/utils/processTID1410Measurement.js
  yarn.lock
Due: core

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

fix: parallel scale calculation
  extensions/cornerstone/src/Viewport/Overlays/ViewportOverlay.tsx
  platform/viewer/pluginConfig.json
Due: viewer

fix: various bugs for tmtv mode thresholding and new icons (#2823)
  extensions/cornerstone-dicom-sr/src/commandsModule.js
  extensions/cornerstone/src/Viewport/Overlays/ViewportOverlay.tsx
  extensions/tmtv/src/Panels/PanelROIThresholdSegmentation/PanelROIThresholdSegmentation.tsx
  extensions/tmtv/src/commandsModule.js
  extensions/tmtv/src/getPanelModule.tsx
  extensions/tmtv/src/utils/getThresholdValue.ts
  modes/tmtv/src/index.js
  modes/tmtv/src/toolbarButtons.js
  modes/tmtv/src/utils/setEllipticalROIConfiguration.js
  platform/ui/src/assets/icons/edit-patient.svg
  platform/ui/src/assets/icons/tool-create-threshold.svg
  platform/ui/src/assets/icons/tool-fusion-color.svg
  platform/ui/src/components/Icon/getIcon.js
  platform/viewer/package.json
Due: viewer

fix: Docker builds were not working
  Dockerfile
  yarn.lock
Due: none

wip
  .docker/Nginx-Orthanc/docker-compose.yml
  Dockerfile
Due: none

all the package.json now support NODE_ENV=development PUBLIC_URL=./ yarn build:package-all
  extensions/cornerstone/package.json
  extensions/debugging/package.json
  extensions/dicom-html/package.json
  extensions/dicom-microscopy/package.json
  extensions/dicom-pdf/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/lesion-tracker/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/i18n/package.json
  platform/ui/package.json
  platform/viewer/package.json
Due: core, viewer

Resolve polyfill
  platform/viewer/public/html-templates/index.html
Due: viewer

Allow debug of wado-image-loader in place
  extensions/cornerstone/package.json
  package.json
  yarn.lock
Due: none

add celian fix ct preset and display thumnails
  modes/longitudinal/src/toolbarButtons.js
  platform/ui/src/components/StudyBrowser/StudyBrowser.tsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.tsx
Due: none

wip
  Dockerfile
Due: none

fix: bump Cornerstone to get large image support working
  extensions/cornerstone/package.json
  package.json
  yarn.lock
Due: none

fix preset
  platform/core/src/defaults/windowLevelPresets.js
Due: core

addition of import idc feature
  platform/core/src/redux/actions.js
  platform/core/src/redux/reducers/collections.js
  platform/core/src/redux/reducers/index.js
  platform/viewer/src/importIdc/CollectionList.js
  platform/viewer/src/importIdc/Collections.js
  platform/viewer/src/importIdc/ImportIdc.styl
  platform/viewer/src/importIdc/ImportIdcModal.js
  platform/viewer/src/importIdc/LoadingText.js
  platform/viewer/src/importIdc/PatientList.js
  platform/viewer/src/importIdc/Patients.js
  platform/viewer/src/importIdc/TableSearchFilter.js
  platform/viewer/src/importIdc/utils.js
  platform/viewer/src/studylist/StudyListRoute.js
Due: core, viewer
