Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Fixing e2e tests
  platform/core/src/utils/hotkeys/index.js
  platform/core/src/utils/hotkeys/recordPlugin.js
  platform/core/src/utils/index.js
  platform/ui/src/components/customForm/HotkeyField.js
  platform/ui/src/components/tabComponents/TabComponents.js
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
Due: core, viewer

Small style update
  platform/ui/src/components/tabComponents/TabComponents.styl
Due: none

Fixing unit tests failing after fix issue
  platform/core/src/classes/HotkeysManager.js
  platform/core/src/classes/HotkeysManager.test.js
  platform/core/src/utils/index.test.js
Due: core

Fix issues with isDisplaySetReconstructable when we have empty DICOM tags (closes #1280)
  platform/core/src/studies/services/wado/retrieveMetadataLoader.js
  platform/core/src/utils/isDisplaySetReconstructable.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: core, viewer

Fix issues with isDisplaySetReconstructable when we have empty DICOM tags (closes #1280) (#1426)
  platform/core/src/studies/services/wado/retrieveMetadataLoader.js
  platform/core/src/utils/isDisplaySetReconstructable.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Finish mock
  extensions/lesion-tracker/src/components/LesionTrackerPanel.js
  platform/ui/src/components/measurementTable/MeasurementTable.js
  platform/ui/src/components/measurementTable/MeasurementTable.styl
  platform/ui/src/components/measurementTable/MeasurementTableItem.js
Due: none

Update test description
  platform/core/src/services/MeasurementService/MeasurementService.test.js
Due: core

Remove some not used code
  platform/ui/src/components/customForm/HotkeyField.js
Due: none

Update name, remove vendor prefix
  extensions/lesion-tracker/src/components/MeasurementComparisonTable.css
  extensions/lesion-tracker/src/components/MeasurementComparisonTable.js
  extensions/lesion-tracker/src/index.js
  platform/ui/src/components/measurementTable/MeasurementTable.js
  platform/ui/src/components/measurementTable/MeasurementTable.styl
Due: none

Update getAnnotation to get mapping based on def and source
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/MeasurementService/MeasurementService.test.js
Due: core

Remove lesion tracker from defaults
  platform/viewer/src/index.js
Due: viewer

Refactor measurement table changes
  extensions/lesion-tracker/src/components/CircularProgressIcon.js
  extensions/lesion-tracker/src/components/MeasurementComparisonTable.css
  extensions/lesion-tracker/src/components/MeasurementComparisonTable.js
  platform/ui/src/components/measurementTable/MeasurementTable.js
  platform/ui/src/components/measurementTable/MeasurementTable.styl
Due: none

Remove unused code
  extensions/lesion-tracker/src/components/CircularProgressIcon.js
  extensions/lesion-tracker/src/components/MeasurementComparisonTable.css
  extensions/lesion-tracker/src/components/MeasurementComparisonTable.js
  platform/ui/src/components/measurementTable/MeasurementTable.js
Due: none

feat: 🎸 MeasurementService (#1314)
  extensions/cornerstone/babel.config.js
  extensions/cornerstone/jest.config.js
  extensions/cornerstone/package.json
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.test.js
  jest.config.js
  platform/core/src/index.js
  platform/core/src/index.test.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/MeasurementService/MeasurementService.test.js
  platform/core/src/services/MeasurementService/index.js
  platform/core/src/services/index.js
  platform/viewer/src/App.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Initial code changes to make lesion tracker study browser available as a left side bar panel
  extensions/lesion-tracker/src/LTStudyBrowser/AllStudies.js
  extensions/lesion-tracker/src/LTStudyBrowser/LTStudyBrowser.js
  extensions/lesion-tracker/src/LTStudyBrowser/ViewingStudies.js
  extensions/lesion-tracker/src/LTStudyBrowser/index.js
  extensions/lesion-tracker/src/LTStudyBrowser/mockData.js
  extensions/lesion-tracker/src/index.js
Due: none

Small workaround to make lesion tracker study browser available on side panel
  platform/viewer/src/connectedComponents/Viewer.js
Due: viewer

Fixing roundedButtons
  extensions/lesion-tracker/src/LTStudyBrowser/LTStudyBrowser.js
  extensions/lesion-tracker/src/LTStudyBrowser/LTStudyBrowser.styl
Due: none

Update naming of collections
  extensions/lesion-tracker/src/components/MeasurementComparisonTable.js
Due: none

feat: Lesion tracker right panel (#1428)
  extensions/lesion-tracker/src/components/MeasurementComparisonTable.css
  extensions/lesion-tracker/src/components/MeasurementComparisonTable.js
  extensions/lesion-tracker/src/index.js
  platform/ui/src/components/measurementTable/MeasurementTable.js
  platform/ui/src/components/measurementTable/MeasurementTable.styl
  platform/ui/src/components/measurementTable/MeasurementTableItem.js
  platform/ui/src/components/tableList/TableList.styl
Due: none

chore(release): publish [skip ci]
  extensions/lesion-tracker/CHANGELOG.md
  extensions/lesion-tracker/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

add test packages
  platform/viewer/package.json
  yarn.lock
Due: viewer

create axios mock
  platform/viewer/src/__mocks__/axios.js
Due: viewer

api refactor
  platform/viewer/src/api/api.js
Due: viewer

unit test for api layer
  platform/viewer/src/api/api.test.js
Due: viewer

generic baseUrls to centralize api urls
  platform/viewer/src/api/baseUrls.js
Due: viewer

useApi refactor
  platform/viewer/src/customHooks/useApi.js
Due: viewer

useApi unit tests
  platform/viewer/src/customHooks/useApi.test.js
Due: viewer

minor fix
  platform/viewer/src/api/api.test.js
Due: viewer

Persistence of filters/sort/pageNum/rowPerPage
  platform/ui/src/components/studyList/PaginationArea.styl
  platform/ui/src/components/studyList/StudyList.js
  platform/ui/src/components/studyList/StudyList.styl
  platform/ui/src/components/studyList/TablePagination.js
  platform/ui/src/components/studyList/TableSearchFilter.js
  platform/ui/src/hooks/index.js
  platform/ui/src/hooks/useStorage.js
  platform/ui/src/index.js
  platform/viewer/src/studylist/StudyListRoute.js
Due: viewer

Updating mock and adding style file
  extensions/lesion-tracker/src/LTStudyBrowser/LTStudyBrowser.js
  extensions/lesion-tracker/src/LTStudyBrowser/mockData.js
Due: none

Creating a studyItem components
  extensions/lesion-tracker/src/LTStudyBrowser/StudyItem.js
  extensions/lesion-tracker/src/LTStudyBrowser/StudyItem.styl
Due: none

Remove left over after debug
  platform/ui/src/components/customForm/HotkeyField.js
Due: none

Adding prevent default on hotkeys events
  platform/core/src/classes/HotkeysManager.js
  platform/ui/src/components/customForm/HotkeyField.js
Due: core

Fixinf existing hotkeys validator with 3 keys pressed
  platform/viewer/src/components/UserPreferences/hotkeysValidators.js
Due: viewer

Exposing hotkeys as root level on ohif-core
  platform/core/src/index.js
  platform/core/src/index.test.js
  platform/ui/src/components/customForm/HotkeyField.js
Due: core

Clean up
  platform/viewer/src/components/UserPreferences/hotkeysConfig.js
  platform/viewer/src/components/UserPreferences/hotkeysValidators.js
Due: viewer

Exposing all availableLanguages with labels and fixing an issue on language switcher
  platform/i18n/src/getAvailableLanguagesInfo.js
  platform/i18n/src/index.js
  platform/ui/src/components/languageSwitcher/LanguageSwitcher.js
  platform/viewer/src/components/UserPreferences/GeneralPreferences.js
Due: viewer

Fixing e2e cypress tests
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
Due: viewer
