Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Preveinting some simple errors
  platform/core/src/classes/HotkeysManager.js
Due: core

Treating error once we try to set hotkey definitions
  platform/core/src/classes/HotkeysManager.js
  platform/viewer/src/components/UserPreferences/HotkeysPreferences.js
Due: core, viewer

feat: 🎸 Style changes and feature for clear all
  platform/core/src/utils/getContentFromArrayMap.js
  platform/core/src/utils/index.js
  platform/ui/src/components/studyList/PaginationArea.styl
  platform/ui/src/components/studyList/StudyList.js
  platform/ui/src/components/studyList/StudyList.styl
  platform/ui/src/components/studyList/TablePagination.js
  platform/viewer/src/studylist/StudyListRoute.js
Due: core, viewer

feat: 🎸 Cypress clear session storage when entering on studylis
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFUserPreferences.spec.js
  platform/viewer/cypress/support/commands.js
Due: viewer

feat: 🎸 Fix unit test
  platform/core/src/utils/index.test.js
Due: core

Update measurement service image attributes
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/measurements/lib/getImageAttributes.js
  platform/core/src/services/MeasurementService/MeasurementService.js
Due: core

Add basic integration
  extensions/lesion-tracker/src/asyncComponent.js
  extensions/lesion-tracker/src/components/MeasurementComparisonTable.js
  extensions/lesion-tracker/src/index.js
Due: none

Add removal of tool
  extensions/cornerstone/src/init.js
  extensions/lesion-tracker/src/components/MeasurementComparisonTable.js
  extensions/lesion-tracker/src/index.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/MeasurementService/MeasurementService.test.js
Due: core

Adding ui notification on setHotkeys errors
  platform/core/src/classes/HotkeysManager.js
  platform/viewer/src/App.js
Due: core, viewer

Implementing a service queue request to hold until functions are implemented
  platform/core/src/services/UINotificationService/index.js
Due: core

Making sure toFixed is only called on Numbers
  platform/core/src/measurements/tools/angle.js
  platform/core/src/measurements/tools/circleRoi.js
  platform/core/src/measurements/tools/ellipticalRoi.js
  platform/core/src/measurements/tools/freehandMouse.js
  platform/core/src/measurements/tools/length.js
  platform/core/src/measurements/tools/rectangleRoi.js
Due: core

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/i18n/CHANGELOG.md
  platform/i18n/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Update mock data
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.test.js
  extensions/lesion-tracker/src/components/MeasurementComparisonTable.js
  extensions/lesion-tracker/src/index.js
  platform/core/src/measurements/lib/jumpToRowItem.js
  platform/core/src/services/MeasurementService/MeasurementService.js
Due: core

WindowLevel preset code changes
  extensions/cornerstone/src/commandsModule.js
  platform/core/src/redux/reducers/preferences.js
  platform/core/src/utils/addUserPreferences.js
  platform/core/src/utils/index.js
  platform/core/src/utils/index.test.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/netlify.js
  platform/viewer/src/App.js
  platform/viewer/src/appExtensions/GenericViewerCommands/commandsModule.js
  platform/viewer/src/components/UserPreferences/HotkeysPreferences.js
  platform/viewer/src/components/UserPreferences/HotkeysPreferences.styl
  platform/viewer/src/components/UserPreferences/UserPreferences.js
  platform/viewer/src/components/UserPreferences/UserPreferences.styl
  platform/viewer/src/components/UserPreferences/WindowLevelPreferences.js
  platform/viewer/src/components/UserPreferences/WindowLevelPreferences.styl
Due: core, viewer

Remove localStorage code as its already being saved and some small refactor on reducer/action
  extensions/cornerstone/src/commandsModule.js
  platform/core/src/redux/reducers/preferences.js
  platform/core/src/redux/reducers/preferences.test.js
  platform/viewer/src/App.js
  platform/viewer/src/components/UserPreferences/WindowLevelPreferences.js
Due: core, viewer

Creating unit tests for preferences reducer
  platform/core/src/redux/actions.js
  platform/core/src/redux/constants/ActionTypes.js
  platform/core/src/redux/reducers/preferences.js
  platform/core/src/redux/reducers/preferences.test.js
Due: core

Fix cypress after class naming change
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
Due: viewer

Remove jump file
  platform/core/src/measurements/lib/jumpToRowItem.js
Due: core

feat: 🎸 Customize routes on app config
  platform/core/src/extensions/MODULE_TYPES.js
  platform/viewer/public/config/default.js
  platform/viewer/src/App.js
  platform/viewer/src/OHIFStandaloneViewer.js
  platform/viewer/src/appExtensions/GenericRoutesModule/index.js
  platform/viewer/src/appExtensions/GenericRoutesModule/routesModule.js
  platform/viewer/src/appExtensions/index.js
  platform/viewer/src/routes/routesUtil.js
Due: core, viewer

WIP Input
  platform/ui/src/components/Input/Input.jsx
  platform/ui/src/components/Input/Input.mdx
Due: none

WIP Label
  platform/ui/src/components/Label/Label.jsx
  platform/ui/src/components/Label/Label.mdx
Due: none

Use timestamps for now to fix #1124 issue
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/commandsModule.js
  extensions/lesion-tracker/src/index.js
Due: none

Creating 2 commands to activate zoom tool and also to move between displaySets
  extensions/cornerstone/src/commandsModule.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/netlify.js
  platform/viewer/src/appExtensions/GenericViewerCommands/commandsModule.js
Due: viewer

Cleanup viewport code
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  platform/viewer/src/components/ViewportGrid/ViewportGrid.js
  platform/viewer/src/connectedComponents/ViewerMain.js
Due: viewer

fix: Creating 2 commands to activate zoom tool and also to move between displaySets (#1446)
  extensions/cornerstone/src/commandsModule.js
  platform/viewer/public/config/default.js
  platform/viewer/public/config/demo.js
  platform/viewer/public/config/netlify.js
  platform/viewer/src/appExtensions/GenericViewerCommands/commandsModule.js
Due: viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Remove timestamp from cornestone viewport
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  platform/viewer/src/appExtensions/MeasurementsPanel/jumpToRowItem.js
Due: viewer

add button props
  platform/ui/src/components/Button/Button.jsx
Due: none

add label class name
  platform/ui/src/components/Input/Input.jsx
Due: none

Small refactor on StudyImte
  platform/ui/src/components/index.js
  platform/ui/src/components/quickSwitch/StudiesList.js
  platform/ui/src/components/quickSwitch/StudyItem.js
  platform/ui/src/components/quickSwitch/StudyItem.styl
  platform/ui/src/components/quickSwitch/index.js
Due: none

Update viewport details
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/commandsModule.js
Due: none

Move action to connected component
  extensions/cornerstone/src/ConnectedCornerstoneViewport.js
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
Due: none

Study imte refactor
  extensions/lesion-tracker/src/LTStudyBrowser/StudyItem.js
  extensions/lesion-tracker/src/LTStudyBrowser/StudyItem.styl
  extensions/lesion-tracker/src/LTStudyBrowser/ViewingStudies.js
  extensions/lesion-tracker/src/LTStudyBrowser/ViewingStudies.styl
  platform/ui/src/components/quickSwitch/StudiesList.js
  platform/ui/src/index.js
Due: none

Remove comment
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
Due: none

Fix studyItem use and updating style and mockdata
  extensions/lesion-tracker/src/LTStudyBrowser/AllStudies.js
  extensions/lesion-tracker/src/LTStudyBrowser/LTStudyBrowser.js
  extensions/lesion-tracker/src/LTStudyBrowser/LTStudyBrowser.styl
  extensions/lesion-tracker/src/LTStudyBrowser/ViewingStudies.js
  extensions/lesion-tracker/src/LTStudyBrowser/mockData.js
  extensions/lesion-tracker/src/LTStudyBrowser/utils.js
Due: none

Creating Thumbnails list
  extensions/lesion-tracker/src/LTStudyBrowser/AllStudies.js
  extensions/lesion-tracker/src/LTStudyBrowser/ThumbnailsList.js
  extensions/lesion-tracker/src/LTStudyBrowser/ViewingStudies.js
  extensions/lesion-tracker/src/LTStudyBrowser/mockData.js
Due: none

Make hidden false as default for tab components
  platform/ui/src/components/tabComponents/TabComponents.js
  platform/viewer/src/components/UserPreferences/UserPreferences.js
Due: viewer
