Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

feat/ohif-332: update mode configuration strategy
  docs/latest/extensions/index.md
  extensions/default/src/ViewerLayout/Header.jsx
  extensions/default/src/ViewerLayout/index.jsx
  extensions/default/src/getLayoutTemplateModule.js
  platform/core/src/extensions/ExtensionManager.js
  platform/i18n/src/index.js
  platform/i18n/src/utils.js
  platform/ui/index.js
  platform/ui/src/components/Button/Button.jsx
  platform/ui/src/components/HotkeyField/HotkeyField.jsx
  platform/ui/src/components/HotkeyField/utils.js
  platform/ui/src/components/HotkeysPreferences/HotkeysPreferences.jsx
  platform/ui/src/components/HotkeysPreferences/hotkeysValidators.js
  platform/ui/src/components/HotkeysPreferences/utils.js
  platform/ui/src/components/Select/Select.jsx
  platform/ui/src/components/UserPreferences/UserPreferences.jsx
  platform/ui/src/contextProviders/ModeProvider.jsx
  platform/ui/src/contextProviders/index.js
  platform/viewer/src/appInit.js
  platform/viewer/src/routes/Mode/Mode.jsx
Due: core, viewer

feat/ohif-332: fix hotkey errors
  platform/ui/src/components/HotkeysPreferences/HotkeysPreferences.jsx
  platform/ui/src/components/UserPreferences/UserPreferences.jsx
Due: none

minor refactor to add a delay to show the tooltip clipboard
  platform/ui/src/components/TooltipClipboard/TooltipClipboard.jsx
Due: none

delay to hide comment
  platform/ui/src/components/TooltipClipboard/TooltipClipboard.jsx
Due: none

feat/ohif-332: update hotkey logic with recent merged changes
  extensions/default/src/ViewerLayout/index.jsx
  platform/core/src/classes/HotkeysManager.js
  platform/ui/src/components/UserPreferences/UserPreferences.jsx
Due: core

remove unused handler listener
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
Due: none

rename click outside method and refactor its usage
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/ui/src/utils/blurHandlerListener.js
  platform/ui/src/utils/clickOutsideHandler.js
  platform/ui/src/utils/useOnClickOutside.js
Due: none

feat/ohif-322: wrap
  extensions/default/src/ViewerLayout/index.jsx
  platform/core/src/classes/HotkeysManager.js
  platform/core/src/defaults/windowLevelPresets.js
  platform/i18n/src/index.js
  platform/ui/src/components/UserPreferences/UserPreferences.jsx
Due: core

feat/ohif-322: add disable state
  platform/ui/src/components/HotkeyField/HotkeyField.jsx
  platform/ui/src/components/HotkeysPreferences/HotkeysPreferences.jsx
  platform/ui/src/components/Input/Input.jsx
  platform/ui/src/components/UserPreferences/UserPreferences.jsx
Due: none

Fix unit tests.
  platform/viewer/cypress/integration/common/OHIFRoutes.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyList.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFRoutes.spec.js
Due: viewer

WIP
  platform/viewer/public/config/idc.js
Due: viewer

comment out reamining MRSTUDY line
  platform/viewer/cypress/integration/common/OHIFRoutes.spec.js
Due: viewer

fix: 🐛 Fix RT Panel hide/show and Fix looping load errors (#1877)
  extensions/dicom-rt/src/OHIFDicomRTStructSopClassHandler.js
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/tools/modules/rtStructModule.js
  extensions/dicom-segmentation/src/loadSegmentation.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/viewer/cypress/integration/common/OHIFRoutes.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyList.spec.js
  platform/viewer/cypress/integration/visual-regression/PercyCheckOHIFRoutes.spec.js
  platform/viewer/public/config/idc.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

fix: 🐛 If no contours for structure, cleanly exit and notify
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/index.js
  platform/viewer/cypress/integration/common/OHIFRoutes.spec.js
  platform/viewer/public/config/idc.js
Due: viewer

Idc 1892 (#1896)
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/index.js
Due: none

chore(release): publish [skip ci]
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Update dcmjs to solve issue.
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-rt/src/loadRTStruct.js
  extensions/dicom-segmentation/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

fix: 🐛 Update dcmjs to solve end of file issue
  extensions/dicom-rt/src/loadRTStruct.js
Due: none

Put guards in all places that a cornerstone re-render is called.
  extensions/cornerstone/src/commandsModule.js
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/loadRTStruct.js
  extensions/dicom-rt/src/tools/modules/rtStructModule.js
  platform/core/src/measurements/classes/MeasurementApi.js
  platform/core/src/measurements/lib/refreshCornerstoneViewports.js
  platform/core/src/measurements/measurementHandlers/handleChildMeasurementAdded.js
  platform/core/src/measurements/measurementHandlers/handleChildMeasurementRemoved.js
  platform/core/src/measurements/measurementHandlers/handleSingleMeasurementAdded.js
  platform/core/src/measurements/measurementHandlers/handleSingleMeasurementRemoved.js
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
Due: core, viewer

fix: 🐛 - Put guards in all places that a cornerstone re-render
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
Due: none

IDC 1856 - Update dcmjs version to prevent failed naturalization of some DICOM instances. (#1898)
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-rt/src/loadRTStruct.js
  extensions/dicom-segmentation/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

fix: 🐛 - Put guards in all places that a cornerstone re-render (#1899)
  extensions/cornerstone/src/commandsModule.js
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-rt/src/loadRTStruct.js
  extensions/dicom-rt/src/tools/modules/rtStructModule.js
  platform/core/src/measurements/classes/MeasurementApi.js
  platform/core/src/measurements/lib/refreshCornerstoneViewports.js
  platform/core/src/measurements/measurementHandlers/handleChildMeasurementAdded.js
  platform/core/src/measurements/measurementHandlers/handleChildMeasurementRemoved.js
  platform/core/src/measurements/measurementHandlers/handleSingleMeasurementAdded.js
  platform/core/src/measurements/measurementHandlers/handleSingleMeasurementRemoved.js
  platform/viewer/src/appExtensions/MeasurementsPanel/ConnectedMeasurementTable.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

fix: Switch DICOMFileUploader to use the UIModalService
  platform/core/src/services/UIModalService/index.js
  platform/ui/package.json
  platform/ui/src/contextProviders/ModalProvider.js
  platform/viewer/src/googleCloud/DicomFileUploaderModal.js
  platform/viewer/src/googleCloud/DicomStorePickerModal.js
  yarn.lock
Due: core, viewer

Merged in dev-32 (pull request #11)
  platform/viewer/src/connectedComponents/ConnectedCineDialog.js
Due: viewer

feat: 🎸 Optional disable measurements panel in app config
  platform/viewer/public/config/idc.js
  platform/viewer/src/App.js
Due: viewer

Fix e2e workflow.
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/dicom-sr/src/utils/getToolStateToCornerstoneMeasurementSchema.js
  platform/core/src/services/MeasurementService/MeasurementService.js
Due: core

Fix regression that removed highlighting on jump to.
  extensions/cornerstone/package.json
  extensions/cornerstone/src/commandsModule.js
  extensions/default/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-sr/package.json
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/dicom-sr/src/utils/getToolStateToCornerstoneMeasurementSchema.js
  extensions/measurement-tracking/package.json
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  extensions/vtk/package.json
  platform/core/package.json
  platform/core/src/DICOMSR/dataExchange.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

Make sure jump to works from panel as well as viewport.
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

Fix typo and remove debugger.
  platform/core/src/DICOMSR/dataExchange.js
  platform/core/src/services/MeasurementService/MeasurementService.js
Due: core

left/right to navigate time.
  extensions/cornerstone/src/index.js
  extensions/kinderspital-mr-urography/src/commandsModule.js
  extensions/kinderspital-mr-urography/src/index.js
  platform/viewer/public/config/docker_nginx-orthanc.js
Due: viewer

[OHIF 284] - JumpToMeasurement + prevent layout change on scroll Prevent layout change on scroll (#1889)
  extensions/cornerstone/package.json
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/init.js
  extensions/cornerstone/src/utils/measurementServiceMappings/ArrowAnnotate.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Bidirectional.js
  extensions/cornerstone/src/utils/measurementServiceMappings/EllipticalRoi.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.js
  extensions/default/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-sr/package.json
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/dicom-sr/src/utils/getToolStateToCornerstoneMeasurementSchema.js
  extensions/measurement-tracking/package.json
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  extensions/vtk/package.json
  platform/core/package.json
  platform/core/src/services/DisplaySetService/DisplaySetService.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
  platform/viewer/package.json
  platform/viewer/src/components/ViewportGrid.jsx
  yarn.lock
Due: core, viewer

fix: Use same config for branch deploys as for deploy previews (#1893)
  .netlify/build-deploy-preview.sh
  build-deploy-preview.sh
  lerna-debug.log
  netlify-lerna-cache.sh
  netlify-lerna-restore.sh
  netlify.toml
  package.json
  platform/ui/gatsby-node.js
Due: none

OHIF-284: Fix jump to measurement breaking keyboard shortcuts
  platform/ui/src/components/MeasurementTable/MeasurementItem.js
Due: none

OHIF-284: Fix jump to measurement breaking keyboard shortcuts (#1914)
  platform/ui/src/components/MeasurementTable/MeasurementItem.js
Due: none

Remove titles which were interfering with tooltips
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer
