Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.10%
      core:
        flags: core
      viewer:
        flags: viewer
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

quick fix
  platform/ui/src/components/userPreferencesModal/AboutModal.js
Due: none

Fix: PDF, HTML and VTK extensions
  platform/viewer/cypress/integration/common/OHIFExtensionVTK.spec.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionHTML.spec.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionPDF.spec.js
Due: viewer

docs: more specific location for build output
  docs/latest/deployment/recipes/build-for-production.md
Due: none

lock file
  yarn.lock
Due: none

WIP use PR ##1226 of vtk-js.
  extensions/vtk/src/LoadingIndicator.js
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/commandsModule.js
  platform/viewer/package.json
  yarn.lock
Due: viewer

add build_num
  .webpack/webpack.base.js
  platform/ui/src/components/userPreferencesModal/AboutModal.js
Due: none

add screenshot e2e test
  platform/viewer/cypress/integration/common/OHIFStandaloneViewer.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
Due: viewer

quick test build_num
  platform/viewer/src/components/Header/Header.js
Due: viewer

feat: 🎸 Code review. Minor code refactoring
  platform/ui/src/components/studyList/StudyList.js
Due: none

feat: 🎸 Only allow reconstruction of datasets that make sense (#1010)
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/isDisplaySetReconstructable.js
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/support/aliases.js
  platform/viewer/src/connectedComponents/ConnectedPluginSwitch.js
  platform/viewer/src/connectedComponents/PluginSwitch.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

CI: running into different folders for PWA and Script-tag tests
  .circleci/config.yml
Due: none

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Update vtk.js
  platform/viewer/package.json
  yarn.lock
Due: viewer

fix: 🐛 Remove debugger statement left in from last PR
  platform/viewer/src/connectedComponents/PluginSwitch.js
Due: viewer

fix: 🐛 Remove debugger statement left in from last PR (#1052)
  platform/viewer/src/connectedComponents/PluginSwitch.js
Due: viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

revert header
  platform/viewer/src/components/Header/Header.js
Due: viewer

include i18n texts
  platform/i18n/src/locales/en-US/AboutModal.json
  platform/i18n/src/locales/en-US/index.js
  platform/i18n/src/locales/pt-BR/AboutModal.json
  platform/i18n/src/locales/pt-BR/index.js
  platform/ui/src/components/userPreferencesModal/AboutModal.js
Due: none

WIP orientation API.
  extensions/vtk/src/commandsModule.js
  extensions/vtk/src/utils/setMPRLayout.js
  platform/viewer/src/connectedComponents/PluginSwitch.js
  yarn.lock
Due: viewer

feat: Add browser info and app version (#1046)
  .webpack/webpack.base.js
  platform/i18n/src/locales/en-US/AboutModal.json
  platform/i18n/src/locales/en-US/index.js
  platform/i18n/src/locales/pt-BR/AboutModal.json
  platform/i18n/src/locales/pt-BR/index.js
  platform/ui/package.json
  platform/ui/src/components/userPreferencesModal/AboutModal.js
  platform/ui/src/design/styles/common/modal.styl
  platform/viewer/cypress/integration/common/OHIFStandaloneViewer.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/src/components/Header/Header.css
  platform/viewer/src/components/Header/Header.js
  yarn.lock
Due: viewer

test: percy visual testing init
  .env.example
  .gitignore
  .webpack/webpack.base.js
  package.json
  platform/viewer/cypress/integration/common/OHIFStandaloneViewer.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/plugins/index.js
  platform/viewer/cypress/support/commands.js
  platform/viewer/package.json
  yarn.lock
Due: viewer

Try PR checks with custom command
  .circleci/config.yml
  package.json
Due: none

Only run percy visual tests for PWA on merge for now
  .circleci/config.yml
Due: none

test: percy visual testing (#1053)
  .circleci/config.yml
  .env.example
  .gitignore
  .webpack/webpack.base.js
  package.json
  platform/viewer/cypress/integration/common/OHIFStandaloneViewer.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/plugins/index.js
  platform/viewer/cypress/support/commands.js
  platform/viewer/package.json
  yarn.lock
Due: viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/i18n/CHANGELOG.md
  platform/i18n/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Fix for VTK tests and Cornerstone Eraser tool
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/common/OHIFExtensionVTK.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionHTML.spec.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionPDF.spec.js
  platform/viewer/cypress/support/commands.js
Due: viewer

Removed VTK alias from Cornerstone aliases initialization
  platform/viewer/cypress/integration/common/OHIFExtensionVTK.spec.js
  platform/viewer/cypress/support/aliases.js
  platform/viewer/cypress/support/commands.js
Due: viewer

Temporary fix for Eraser tool
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
Due: viewer

Test workaround
  platform/viewer/cypress/integration/common/OHIFExtensionVTK.spec.js
Due: viewer

Use juno for vtk
  platform/viewer/cypress/integration/common/OHIFExtensionVTK.spec.js
Due: viewer

Shift VTK tests to PWA folder
  platform/viewer/cypress/integration/pwa/OHIFExtensionVTK.spec.js
Due: viewer

test: Test cases for extensions: VTK, HTML and PDF (#1036)
  .circleci/config.yml
  platform/viewer/cypress/integration/common/OHIFCornerstoneToolbar.spec.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionHTML.spec.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionPDF.spec.js
  platform/viewer/cypress/integration/pwa/OHIFExtensionVTK.spec.js
  platform/viewer/cypress/support/aliases.js
  platform/viewer/cypress/support/commands.js
Due: viewer

docs: add percy badge to readme
  README.md
Due: none

fix: add missing study and index declerations
  platform/ui/src/components/studyList/StudyList.js
Due: none

feat: 🎸 Progressive volume loading for vtk viewport
  extensions/vtk/package.json
  extensions/vtk/src/LoadingIndicator.js
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/commandsModule.js
  yarn.lock
Due: none

Remove cst4 dependency of vtk viewport.
  extensions/vtk/package.json
Due: none

Improviment on VTK beforeEach hook
  platform/viewer/cypress/integration/pwa/OHIFExtensionVTK.spec.js
Due: viewer
