Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Hide handles whilst moving + correct hide handles on hover.
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/init.js
  yarn.lock
Due: none

Dismiss dialogs on esc
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/ui/src/components/Input/Input.jsx
  platform/ui/src/contextProviders/DialogProvider.jsx
Due: none

Update dependency: react-cornerstone-viewport@3.0.0
  extensions/cornerstone/package.json
  extensions/dicom-sr/package.json
  yarn.lock
Due: none

remove debugger
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
Due: none

Up CST version
  extensions/cornerstone/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-sr/package.json
  extensions/measurement-tracking/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
Due: core, viewer

Update measurement table display text to use cornerstone rendered value fixed points (#1852)
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

Fix preset values for window level (#1851)
  platform/core/src/defaults/windowLevelPresets.js
Due: core

[OHIF-235] Lazy processing of DICOM SR for viewport. (#1849)
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/viewer/src/components/ViewportGrid.jsx
Due: viewer

Add truncate 2 lines class
  platform/ui/src/components/StudyItem/StudyItem.jsx
  platform/ui/src/gatsby-theme-docz/tailwind.css
Due: none

OHIF-237
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  platform/ui/src/components/Dialog/Footer.js
  platform/ui/src/components/Input/Input.jsx
Due: none

Add truncate 2 lines class (#1853)
  platform/ui/src/components/StudyItem/StudyItem.jsx
  platform/ui/src/gatsby-theme-docz/tailwind.css
Due: none

WIP
  platform/ui/src/components/ViewportPane/ViewportPane.jsx
  platform/viewer/src/components/ViewportGrid.jsx
Due: viewer

Update cst
  yarn.lock
Due: none

double click to maximise implemented at the viewport grid layer.
  platform/core/src/services/ViewportGridService/ViewportGridService.js
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
  platform/viewer/src/components/ViewportGrid.jsx
Due: core, viewer

Remove memory of cached layout when the layout is changed, or a different displaySet is set.
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
  platform/viewer/src/components/ViewportGrid.jsx
Due: viewer

OHIF-249: Fix viewport border thickness and action bar min height
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/ui/src/components/ViewportPane/ViewportPane.jsx
Due: none

Use different approach to sort
  extensions/default/src/DicomWebDataSource/qido.js
  platform/viewer/src/routes/DataSourceWrapper.jsx
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

WIP fix double click for cornerstone.
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/viewer/src/components/ViewportGrid.jsx
Due: viewer

Add new loading component
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  extensions/measurement-tracking/src/viewports/ViewportLoadingIndicator.js
Due: none

remove console.debug
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

pass viewportIdentificator to SR Thumbnail
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
Due: none

show tooltip when hover over the SR thumbnail
  platform/ui/src/components/ThumbnailNoImage/ThumbnailNoImage.jsx
Due: none

Remove dead code brought in from rebase
  platform/viewer/src/appExtensions/GenericViewerCommands/commandsModule.js
  platform/viewer/src/appExtensions/MeasurementsPanel/jumpToRowItem.js
Due: viewer

EmptyViewport should not display a message
  platform/viewer/src/components/EmptyViewport.jsx
Due: viewer

Remove more dead code from rebase
  platform/viewer/src/components/Header/Header.css
  platform/viewer/src/components/Header/Header.js
  platform/viewer/src/components/SidePanel.css
Due: viewer

fix variable naming
  extensions/vtk/src/commandsModule.js
  platform/core/src/DICOMSR/parseDicomStructuredReport.js
  platform/core/src/measurements/lib/getImageAttributes.js
  platform/core/src/measurements/lib/getImageIdForImagePath.js
Due: core

remove unused hook
  platform/viewer/src/customHooks/useQuery.js
Due: viewer

bump yarn lock
  yarn.lock
Due: none

formatting
  extensions/measurement-tracking/src/viewports/ViewportOverlay.js
Due: none

Add arrow dialog
  extensions/cornerstone/src/init.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/viewports/ViewportOverlay.js
  platform/ui/src/components/Dialog/Footer.js
Due: none

OHIF-170: Display tooltip when hovering over an untracked series in the Viewport Action Bar
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

Fix typo
  extensions/measurement-tracking/src/contexts/TrackedMeasurementsContext/promptTrackNewStudy.js
Due: none

Filter based on trackedSeries
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
Due: none

OHIF-208 (#1842)
  extensions/cornerstone/package.json
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/init.js
  extensions/default/src/PanelMeasurementTable.js
  extensions/dicom-rt/src/components/RTPanel/RTPanel.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-sr/package.json
  extensions/dicom-sr/src/getSopClassHandlerModule.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  extensions/measurement-tracking/src/viewports/ViewportOverlay.js
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/commandsModule.js
  platform/core/src/DICOMSR/parseDicomStructuredReport.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/ui/src/components/Dialog/Body.js
  platform/ui/src/components/Dialog/Dialog.jsx
  platform/ui/src/components/Dialog/Footer.js
  platform/ui/src/components/Dialog/Header.js
  platform/ui/src/components/Input/Input.jsx
  platform/ui/src/components/MeasurementTable/MeasurementItem.js
  platform/ui/src/components/MeasurementTable/MeasurementTable.jsx
  platform/ui/src/components/StudySummary/StudySummary.mdx
  platform/ui/src/contextProviders/DialogProvider.jsx
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
  platform/viewer/src/appExtensions/GenericViewerCommands/commandsModule.js
  platform/viewer/src/appExtensions/MeasurementsPanel/jumpToRowItem.js
  platform/viewer/src/components/EmptyViewport.jsx
  platform/viewer/src/components/Header/Header.css
  platform/viewer/src/components/Header/Header.js
  platform/viewer/src/components/SidePanel.css
  platform/viewer/src/customHooks/useQuery.js
  yarn.lock
Due: core, viewer

OHIF-202: Add tooltip for locked/unlocked SR viewport icon
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

fix edit margin
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

OHIF-252: "Recent" and "All" tabs should be disabled if there are no studies on their category
  platform/ui/src/components/StudyBrowser/StudyBrowser.jsx
Due: none

fix button props and avoid onClick on disabled state
  platform/ui/src/components/Button/Button.jsx
Due: none

Undo accidental date change
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

Sneak in "Create Report" messaging for createReport notifications
  extensions/measurement-tracking/src/_shared/createReportAsync.js
Due: none
