Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

proteus config
  platform/viewer/.env
  platform/viewer/public/config/proteus.js
Due: viewer

trigger CI
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
Due: core

fix: IDC-2288: Update toolbar tabs after derived displayset loaded (#2307)
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

add development scripts
  package.json
  platform/viewer/.env
  platform/viewer/.env.example
  platform/viewer/package.json
  platform/viewer/public/config/proteus.js
  platform/viewer/public/html-templates/index.html
Due: viewer

add development scripts
  platform/viewer/public/assets/favicon.ico
  platform/viewer/public/html-templates/index.html
Due: viewer

Apply review
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/enums.js
  platform/core/src/utils/isDisplaySetReconstructable.js
  platform/ui/src/components/studyBrowser/Thumbnail.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

IDC 2259: add warning UI for series inconsistencies (#2331)
  extensions/vtk/src/toolbarComponents/VTKMPRToolbarButton.js
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/enums.js
  platform/core/src/utils/isDisplaySetReconstructable.js
  platform/ui/src/components/studyBrowser/StudyBrowser.js
  platform/ui/src/components/studyBrowser/Thumbnail.js
  platform/ui/src/components/studyBrowser/Thumbnail.styl
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Fix scroll speed
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/index.js
Due: none

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

changed new image handler conditional for 0 edge case
  extensions/cornerstone/src/OHIFCornerstoneViewport.js
Due: none

IDC2332
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: viewer

Update Install CloudSDK
  .circleci/config.yml
Due: none

IDC2332 (#2341)
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: viewer

chore(release): publish [skip ci]
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Force output
  .circleci/config.yml
  idc-deploy-shell/pingJob.sh
Due: none

newline
  idc-deploy-shell/pingJob.sh
Due: none

Create pings for build output
  .circleci/config.yml
  idc-deploy-shell/killPing.sh
  idc-deploy-shell/pingJob.sh
Due: none

Newline
  idc-deploy-shell/killPing.sh
Due: none

Test for empty PID
  idc-deploy-shell/killPing.sh
Due: none

print
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/print.js
  extensions/cornerstone/src/toolbarModule.js
  platform/ui/src/elements/Icon/getIcon.js
  platform/ui/src/elements/Icon/icons/print.svg
  platform/ui/src/elements/Svg/svgs/dim.svg
  platform/viewer/.env
  platform/viewer/public/manifest.json
Due: viewer

add print logo and title
  extensions/cornerstone/src/print.js
  platform/viewer/.env
Due: viewer

Update Dockerfile - fix missing dependencies
  Dockerfile
Due: none

fix: Update Dockerfile node version - fix missing dependencies (#2349)
  Dockerfile
Due: none

Added the correct CSS class to the confirm button.
  platform/ui/src/components/simpleDialog/SimpleDialog.js
Due: none

Fixed the dialog footer width issue caused by margin overflowing.
  platform/viewer/src/components/SimpleDialog/SimpleDialog.css
Due: viewer

IDC2259: do not check uniform spacing in the 4th dimension for 4D datasets
  platform/core/src/utils/isDisplaySetReconstructable.js
Due: core

IDC2259: do not check uniform spacing in the 4th dimension for 4D datasets (#2356)
  platform/core/src/utils/isDisplaySetReconstructable.js
Due: core

IDC2346: fix images sorting
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/isDisplaySetReconstructable.js
Due: core

Force for config change
  .circleci/config.yml
Due: none

UI refactors + mail routes fixing
  OHIFViewer/client/routes.js
  OHIFViewer/server/email.js
  Packages/ohif-viewerbase/client/components/viewer/imageViewerViewport/imageViewerViewport.styl
  Packages/ohif-viewerbase/client/components/viewer/viewer3D/viewer3D.html
  Packages/ohif-viewerbase/client/components/viewer/viewer3D/viewer3D.js
  Packages/ohif-viewerbase/client/components/viewer/viewer3D/viewer3D.styl
  Packages/ohif-viewerbase/package.js
  config/orthancDICOMWeb.json
Due: none

IDC2346: fix images sorting (#2358)
  platform/core/src/classes/metadata/StudyMetadata.js
  platform/core/src/utils/isDisplaySetReconstructable.js
Due: core

IDC2345: Update dcmjs to version 0.18.4
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
Due: core, viewer

IDC2345: Update dcmjs to version 0.18.4 (#2362)
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
Due: core, viewer

fix(wl): fix metadata provider window level issues after dicomweb update (string vs number)
  platform/core/src/classes/MetadataProvider.js
  platform/core/src/utils/metadataProvider/validNumber.js
Due: core

Comment cache
  .circleci/config.yml
Due: none

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

IDC2345: implement thumbnails footnotes UI for segmentation series inconsistencies warning
  .circleci/config.yml
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/dicom-segmentation/src/getOHIFDicomSegSopClassHandler.js
  extensions/dicom-segmentation/src/getSourceDisplaySet.js
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/core/src/classes/MetadataProvider.js
  platform/core/src/utils/metadataProvider/validNumber.js
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
  yarn.lock
Due: core, viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
