Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

fix small defects
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
  platform/ui/src/components/ViewportGrid/ViewportGrid.jsx
  platform/ui/tailwind.config.js
Due: none

fix: 🐛 Load default display set when no time metadata
  platform/core/src/utils/loadAndCacheDerivedDisplaySets.js
Due: core

fix pagination size
  platform/ui/src/components/StudyListPagination/StudyListPagination.js
Due: none

docs: updated deployment section with info for using JSON (#1676)
  docs/latest/deployment/index.md
Due: none

Add single viewport configuration
  extensions/dicom-segmentation/src/components/SegmentItem/SegmentItem.js
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/index.js
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/commandsModule.js
Due: none

quick navigation between routes
  platform/viewer/src/containers/StudyListContainer/StudyListContainer.jsx
  platform/viewer/src/containers/ViewerContainer/ViewerContainer.jsx
Due: viewer

configure webpack to read .env variables
  platform/viewer/.env.example
  platform/viewer/.webpack/webpack.commonjs.js
  platform/viewer/.webpack/webpack.pwa.js
  platform/viewer/package.json
  platform/viewer/src/App.js
Due: viewer

Multiple viewport configuration
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/index.js
  extensions/vtk/src/commandsModule.js
Due: none

Improve performance by using independent set methods
  extensions/vtk/src/commandsModule.js
Due: none

Update imports in /platform
  platform/core/src/DICOMSR/handleStructuredReport.js
  platform/core/src/DICOMSR/parseDicomStructuredReport.js
  platform/core/src/DICOMSR/parseMeasurementsData.js
  platform/core/src/DICOMSR/utils/isToolSupported.js
  platform/core/src/classes/MetadataProvider.js
  platform/viewer/src/lib/localFileLoaders/dicomFileLoader.js
Due: core, viewer

Update dcmjs imports in /extentions
  extensions/dicom-html/src/DicomHtmlViewport.js
  extensions/dicom-rt/src/loadRTStruct.js
  extensions/dicom-segmentation/src/loadSegmentation.js
Due: none

wip mockups
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
  platform/ui/src/components/Viewport/Viewport.jsx
  platform/ui/src/views/Viewer/Image1.png
  platform/ui/src/views/Viewer/Image2.png
  platform/ui/src/views/Viewer/Viewer.mdx
  platform/ui/src/views/Viewer/studyBrowserMockData.js
  platform/ui/src/views/Viewer/thumb1.png
  platform/ui/src/views/Viewer/thumb2.png
  platform/ui/src/views/Viewer/thumb3.png
  yarn.lock
Due: none

chore: cleanup dcmjs imports
  extensions/dicom-html/src/DicomHtmlViewport.js
  extensions/dicom-rt/src/loadRTStruct.js
  extensions/dicom-segmentation/src/loadSegmentation.js
  platform/core/src/DICOMSR/handleStructuredReport.js
  platform/core/src/DICOMSR/parseDicomStructuredReport.js
  platform/core/src/DICOMSR/parseMeasurementsData.js
  platform/core/src/DICOMSR/utils/isToolSupported.js
  platform/core/src/classes/MetadataProvider.js
  platform/viewer/src/lib/localFileLoaders/dicomFileLoader.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/dicom-html/CHANGELOG.md
  extensions/dicom-html/package.json
  extensions/dicom-rt/CHANGELOG.md
  extensions/dicom-rt/package.json
  extensions/dicom-segmentation/CHANGELOG.md
  extensions/dicom-segmentation/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

wip
  platform/ui/src/components/MeasurementTable/MeasurementTable.jsx
  platform/ui/src/components/MeasurementsPanel/MeasurementsPanel.jsx
  platform/ui/src/components/MeasurementsPanel/MeasurementsPanel.mdx
  platform/ui/src/components/Viewport/Viewport.jsx
  platform/ui/src/views/Viewer/Viewer.mdx
  platform/ui/src/views/Viewer/studyBrowserMockData.js
Due: none

wip2
  platform/ui/package.json
  platform/ui/src/components/MeasurementTable/MeasurementTable.jsx
  platform/ui/src/components/MeasurementsPanel/MeasurementsPanel.jsx
  platform/ui/src/components/MeasurementsPanel/MeasurementsPanel.mdx
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
  platform/ui/src/components/Viewport/Viewport.jsx
  platform/ui/src/views/Viewer/Viewer.mdx
  platform/ui/src/views/Viewer/studyBrowserMockData.js
Due: none

fix
  platform/ui/src/components/Thumbnail/Thumbnail.jsx
  platform/ui/src/components/ThumbnailList/ThumbnailList.jsx
  platform/ui/src/components/Viewport/Viewport.jsx
  platform/ui/src/views/Viewer/Viewer.mdx
  platform/ui/src/views/Viewer/studyBrowserMockData.js
Due: none

Add jump to slice command
  extensions/dicom-segmentation/package.json
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/index.js
  extensions/vtk/src/commandsModule.js
  yarn.lock
Due: none

done
  platform/ui/src/mocks/studyList.json
  platform/ui/src/utils/getMockedStudies.js
  platform/ui/src/views/StudyList/StudyList.mdx
  platform/ui/src/views/Viewer/Viewer.mdx
  platform/ui/src/views/Viewer/studyBrowserMockData.js
  platform/ui/src/views/Viewer/thumb4.png
Due: none

Add context configuration
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/components/SegmentationSettings/SegmentationSettings.js
  extensions/dicom-segmentation/src/index.js
  platform/core/src/extensions/ExtensionManager.js
  platform/viewer/src/App.js
  platform/viewer/src/OHIFStandaloneViewer.js
  platform/viewer/src/connectedComponents/ConnectedToolbarRow.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/context/AppContext.js
Due: core, viewer

Cache panel visibility
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
Due: none

export studylist filter
  platform/ui/index.js
  platform/ui/src/components/index.js
Due: none

split studylist filter into a component
  platform/ui/src/components/StudyListFilter/StudyListFilter.jsx
  platform/ui/src/components/StudyListFilter/index.js
Due: none

minor fix in studylist pagination
  platform/ui/src/components/StudyListPagination/StudyListPagination.js
Due: none

update studylistfilter imports
  platform/ui/src/views/StudyList/StudyList.js
  platform/ui/src/views/StudyList/StudyList.mdx
Due: none

create studylist container with study list content
  platform/viewer/src/containers/StudyListContainer/StudyListContainer.jsx
Due: viewer

moving file
  platform/ui/src/views/StudyList/components/StudyListFilter.js
Due: none

study list filter doc page
  platform/ui/src/components/StudyListFilter/StudyListFilter.mdx
Due: none

Fix sync between vtk and cornerstone
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/vtk/src/OHIFVTKViewport.js
Due: none

fix: Add IHEInvokeImageDisplay routes back into viewer
  platform/viewer/src/routes/routesUtil.js
Due: viewer

fix: Add IHEInvokeImageDisplay routes back into viewer (#1695)
  platform/viewer/src/routes/routesUtil.js
Due: viewer

chore(release): publish [skip ci]
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

Remove apis index
  extensions/vtk/src/commandsModule.js
Due: none

Add approach
  extensions/dicom-segmentation/src/components/SegmentationPanel/SegmentationPanel.js
  extensions/dicom-segmentation/src/index.js
  extensions/vtk/src/OHIFVTKViewport.js
  extensions/vtk/src/commandsModule.js
Due: none

use bit-appropriate array for palette lookup tables
  platform/core/src/utils/metadataProvider/fetchPaletteColorLookupTableData.js
Due: core

Move container components to Routes directory
  platform/viewer/src/containers/ViewerContainer/ViewerContainer.jsx
  platform/viewer/src/containers/ViewerContainer/index.js
  platform/viewer/src/routes/NotFound/NotFound.jsx
  platform/viewer/src/routes/NotFound/index.js
  platform/viewer/src/routes/StudyListContainer/StudyListContainer.jsx
  platform/viewer/src/routes/StudyListContainer/index.js
  platform/viewer/src/routes/index.js
Due: viewer

Fix naming of recipe file
  platform/viewer/.recipes/Nginx-Dcm4che/docker-compose.yml
Due: viewer

Clean up source folder
  platform/viewer/src/App.js
  platform/viewer/src/head.html
  platform/viewer/src/sha.js
  platform/viewer/src/version.js
Due: viewer

update yarn.lock
  yarn.lock
Due: none

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
