Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

fix: minor date picker UX improvements
  platform/i18n/src/locales/en-US/Common.json
  platform/i18n/src/locales/en-US/DatePicker.json
  platform/i18n/src/locales/en-US/index.js
  platform/i18n/src/locales/pt-BR/Common.json
  platform/i18n/src/locales/pt-BR/DatePicker.json
  platform/i18n/src/locales/pt-BR/index.js
  platform/ui/src/components/studyList/CustomDateRangePicker.css
  platform/ui/src/components/studyList/CustomDateRangePicker.js
  platform/ui/src/components/studyList/StudyList.js
  platform/ui/src/components/studyList/StudyList.styl
  platform/ui/src/components/studyList/TableSearchFilter.js
  platform/viewer/src/studylist/StudyListRoute.js
  platform/viewer/src/variables.css
Due: viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/i18n/CHANGELOG.md
  platform/i18n/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

fix: 🐛 Code review. Ref back to useMedia and pass value down
  platform/ui/src/components/studyList/StudyList.js
  platform/ui/src/hooks/index.js
  platform/ui/src/hooks/useMedia.js
  platform/ui/src/index.js
  platform/viewer/src/studylist/StudyListRoute.js
Due: viewer

Block drag on buttons/svgs/paths/input and improve jsdoc
  platform/core/src/services/UIDialogService/index.js
  platform/ui/src/utils/providers/DialogProvider.js
  platform/ui/src/utils/providers/DialogProvider.styl
Due: core

fix: translation switcher
  platform/core/src/redux/reducers/preferences.js
  platform/i18n/src/index.js
  platform/ui/src/components/languageSwitcher/LanguageSwitcher.js
  platform/ui/src/components/studyList/StudyList.js
  platform/ui/src/components/userPreferencesForm/GeneralPreferences.js
  platform/ui/src/components/userPreferencesForm/HotKeysPreferences.js
  platform/ui/src/components/userPreferencesForm/UserPreferencesForm.js
  platform/viewer/src/connectedComponents/ConnectedUserPreferencesForm.js
Due: core, viewer

fix
  platform/i18n/src/index.js
Due: none

Use guid util to generate dialog ids
  platform/ui/src/utils/providers/DialogProvider.js
Due: none

cleanup
  platform/ui/src/components/languageSwitcher/LanguageSwitcher.js
Due: none

add missed translation
  platform/viewer/src/components/Header/Header.js
Due: viewer

Explicit props in dialog provider
  platform/ui/src/utils/providers/DialogProvider.js
Due: none

Fix based on PR review comments
  platform/ui/src/components/userPreferencesForm/HotKeysPreferences.js
  platform/viewer/cypress/integration/common/OHIFCornerstoneHotkeys.spec.js
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
  platform/viewer/cypress/support/aliases.js
  platform/viewer/cypress/support/commands.js
Due: viewer

Improve jsdocs
  platform/core/src/services/UIDialogService/index.js
  platform/core/src/services/UIModalService/index.js
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.styl
  platform/ui/src/utils/providers/DialogProvider.js
Due: core

docs: start "our process" docs
  docs/latest/our-process.md
Due: none

docs: flush out issue triage
  docs/latest/our-process.md
Due: none

docs: clarify purpose of page and index links
  docs/latest/our-process.md
Due: none

docs: add "our process" to sidebar
  docs/latest/SUMMARY.md
Due: none

docs: Issue curation
  docs/latest/our-process.md
Due: none

docs: fix broken links
  docs/latest/contributing/index.md
Due: none

feat: Issue 879 viewer route query param not filtering but promoting (#1141)
  platform/core/src/studies/services/wado/retrieveMetadataLoader.js
  platform/core/src/studies/studyUtils.js
  platform/ui/src/components/studyBrowser/ImageThumbnail.js
  platform/viewer/cypress/integration/common/OHIFStudyList.spec.js
  platform/viewer/public/config/default.js
  platform/viewer/src/connectedComponents/ConnectedViewerRetrieveStudyData.js
  platform/viewer/src/connectedComponents/ViewerRetrieveStudyData.js
Due: core, viewer

chore(release): publish [skip ci]
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

chore: use github label syntax for triage flag
  .github/stale.yml
Due: none

chore: add triage to default bug report label
  .github/ISSUE_TEMPLATE/---bug-report.md
Due: none

chore: labels format
  .github/ISSUE_TEMPLATE/---bug-report.md
Due: none

chore: lets try double quotes
  .github/ISSUE_TEMPLATE/---bug-report.md
Due: none

chore: revert
  .github/ISSUE_TEMPLATE/---bug-report.md
Due: none

chore: attempt known good syntax
  .github/ISSUE_TEMPLATE/---bug-report.md
Due: none

chore: add triage flag
  .github/ISSUE_TEMPLATE/---bug-report.md
Due: none

chore: add triage flag label
  .github/ISSUE_TEMPLATE/---feature-request.md
Due: none

chore: add triage flag label
  .github/ISSUE_TEMPLATE/---support-question.md
Due: none

docs: copy-paste of Erik's notes on PRs and releases
  docs/latest/our-process.md
Due: none

Fix tests broken
  platform/ui/src/components/ohifModal/OHIFModal.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
Due: viewer

Fix boundaries calculation
  platform/core/src/services/UIDialogService/index.js
  platform/ui/src/utils/providers/DialogProvider.js
  platform/ui/src/utils/providers/DialogProvider.styl
Due: core

Remember last dialog position
  platform/ui/src/utils/providers/DialogProvider.js
Due: none

Update providers location
  platform/ui/src/components/cineDialog/CineDialog.js
  platform/ui/src/components/languageSwitcher/LanguageSwitcher.js
  platform/ui/src/components/measurementTable/MeasurementTable.js
  platform/ui/src/components/measurementTable/MeasurementTableItem.js
  platform/ui/src/components/overlayTrigger/Overlay.js
  platform/ui/src/components/snackbar/SnackbarContainer.js
  platform/ui/src/components/studyList/StudyList.js
  platform/ui/src/components/studyList/StudyListLoadingText.js
  platform/ui/src/components/studyList/TablePagination.js
  platform/ui/src/components/userPreferencesForm/UserPreferencesForm.js
  platform/ui/src/contextProviders/DialogProvider.js
  platform/ui/src/contextProviders/DialogProvider.styl
  platform/ui/src/contextProviders/LanguageProvider.js
  platform/ui/src/contextProviders/ModalProvider.js
  platform/ui/src/contextProviders/SnackbarProvider.js
  platform/ui/src/contextProviders/index.js
  platform/ui/src/index.js
  platform/ui/src/viewer/ToolbarButton.js
Due: none

Add scroll to modal
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.styl
  platform/ui/src/components/ohifModal/OHIFModal.styl
Due: none

Add toggable button toolbar and fix css modal
  extensions/cornerstone/src/toolbarModule.js
  platform/ui/src/components/ohifModal/OHIFModal.styl
  platform/viewer/src/connectedComponents/ToolbarRow.js
Due: viewer

fix: 🐛 Code review
  platform/core/src/classes/HotkeysManager.js
  platform/ui/src/components/userPreferencesForm/HotKeysPreferences.js
  platform/ui/src/components/userPreferencesForm/UserPreferences.js
  platform/ui/src/components/userPreferencesForm/UserPreferencesForm.js
  platform/ui/src/components/userPreferencesForm/UserPreferencesTabs.js
  platform/ui/src/components/userPreferencesForm/WindowLevelPreferences.js
  platform/viewer/src/App.js
  platform/viewer/src/components/Header/Header.js
Due: core, viewer

fix: 🐛 Fix unit tests
  platform/core/src/classes/HotkeysManager.test.js
Due: core

Fix for script-tag issue on CI
  platform/viewer/cypress/integration/common/OHIFUserPreferences.spec.js
  platform/viewer/cypress/support/commands.js
Due: viewer

feat: New dialog service (#1202)
  extensions/cornerstone/src/toolbarModule.js
  platform/core/src/index.js
  platform/core/src/index.test.js
  platform/core/src/services/UIDialogService/index.js
  platform/core/src/services/UIModalService/index.js
  platform/core/src/services/index.js
  platform/ui/package.json
  platform/ui/src/components/cineDialog/CineDialog.js
  platform/ui/src/components/content/aboutContent/AboutContent.js
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.js
  platform/ui/src/components/content/viewportDownloadForm/ViewportDownloadForm.styl
  platform/ui/src/components/languageSwitcher/LanguageSwitcher.js
  platform/ui/src/components/measurementTable/MeasurementTable.js
  platform/ui/src/components/measurementTable/MeasurementTableItem.js
  platform/ui/src/components/ohifModal/OHIFModal.js
  platform/ui/src/components/ohifModal/OHIFModal.styl
  platform/ui/src/components/overlayTrigger/Overlay.js
  platform/ui/src/components/snackbar/SnackbarContainer.js
  platform/ui/src/components/studyList/StudyList.js
  platform/ui/src/components/studyList/StudyListLoadingText.js
  platform/ui/src/components/studyList/TablePagination.js
  platform/ui/src/components/userPreferencesForm/HotKeysPreferences.styl
  platform/ui/src/components/userPreferencesForm/UserPreferences.js
  platform/ui/src/components/userPreferencesForm/UserPreferences.styl
  platform/ui/src/components/userPreferencesForm/UserPreferencesForm.js
  platform/ui/src/components/userPreferencesForm/UserPreferencesForm.styl
  platform/ui/src/contextProviders/DialogProvider.js
  platform/ui/src/contextProviders/DialogProvider.styl
  platform/ui/src/contextProviders/LanguageProvider.js
  platform/ui/src/contextProviders/ModalProvider.js
  platform/ui/src/contextProviders/SnackbarProvider.js
  platform/ui/src/contextProviders/index.js
  platform/ui/src/index.js
  platform/ui/src/viewer/ToolbarButton.js
  platform/viewer/cypress/integration/common/OHIFStudyViewer.spec.js
  platform/viewer/src/App.js
  platform/viewer/src/components/Header/Header.js
  platform/viewer/src/connectedComponents/ToolbarRow.js
  yarn.lock
Due: core, viewer

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
