Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

webpack configuration update for microscopy extension
  .webpack/rules/transpileJavaScript.js
  .webpack/webpack.base.js
  extensions/dicom-microscopy/.webpack/webpack.prod.js
  extensions/dicom-microscopy/package.json
  modes/microscopy/.webpack/webpack.prod.js
  modes/microscopy/package.json
Due: none

register new icons for microscopy tools
  platform/ui/src/assets/icons/tool-circle.svg
  platform/ui/src/assets/icons/tool-freehand-polygon.svg
  platform/ui/src/assets/icons/tool-freehand.svg
  platform/ui/src/assets/icons/tool-polygon.svg
  platform/ui/src/components/Icon/getIcon.js
Due: none

fixes to the microscopy extension and mode
  extensions/dicom-microscopy/src/commandsModule.ts
  extensions/dicom-microscopy/src/components/MicroscopyPanel/MicroscopyPanel.tsx
  extensions/dicom-microscopy/src/getCommandsModule.ts
  extensions/dicom-microscopy/src/getPanelModule.tsx
  extensions/dicom-microscopy/src/index.tsx
  modes/microscopy/src/index.tsx
Due: none

trivial error fix - typescript type import error
  extensions/cornerstone/src/index.tsx
Due: none

link microscopy extension with default OHIF app plugin config
  platform/viewer/pluginConfig.json
  yarn.lock
Due: viewer

demo config fix
  platform/viewer/public/config/demo.js
Due: viewer

fix logs
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.tsx
  extensions/dicom-microscopy/src/index.tsx
  extensions/dicom-microscopy/src/utils/getSourceDisplaySet.js
Due: none

remove unsed imports
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.tsx
Due: none

Bump minimist version to fix prototype pollution reported by dependabot
  package.json
  yarn.lock
Due: none

Bump minimist version to fix prototype pollution reported by dependabot (docs/latest)
  docs/latest/package.json
  docs/latest/yarn.lock
Due: none

Bump libs version to address dependabot critical security alerts
  docs/latest/package.json
  docs/latest/yarn.lock
  package.json
  yarn.lock
Due: none

Bump libs version to address dependabot [critical] security alerts
  docs/latest/package.json
  docs/latest/yarn.lock
  package.json
  yarn.lock
Due: none

chore(release): publish [skip ci]
  extensions/dicom-tag-browser/CHANGELOG.md
  extensions/dicom-tag-browser/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: viewer

fix v3-stable i18n
  platform/i18n/src/locales/en-US/Buttons.json
  platform/i18n/src/locales/zh/Buttons.json
Due: none

fixed pdf design
  platform/viewer/src/appExtensions/LungModuleSimilarityPanel/SearchParameters/SearchDetails.js
  platform/viewer/src/connectedComponents/Radiomics.js
  platform/viewer/src/connectedComponents/SelectMask.js
  platform/viewer/src/connectedComponents/Viewer.js
  platform/viewer/src/layouts/header/NavigateIcons.js
  platform/viewer/src/lib/PdfMaker.js
  platform/viewer/src/lib/localStorageUtils.js
  platform/viewer/src/studylist/StudyListRoute.js
  platform/viewer/src/utils/syncrhonizeToolState.js
Due: viewer

fix: PR fixes, mostly code cleanup
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/init.tsx
  extensions/test-extension/src/hp/hpMN.ts
  platform/core/src/services/StateSyncService/StateSyncService.ts
  platform/docs/docs/platform/services/data/StateSyncService.md
  platform/ui/src/contextProviders/getPresentationIds.ts
Due: core

Improve a race condition in an automated test
  platform/viewer/cypress/integration/measurement-tracking/OHIFStudyBrowser.spec.js
Due: viewer

Remove obsolete code
  platform/viewer/src/components/ViewportGrid.tsx
Due: viewer

PR fixes
  platform/ui/src/contextProviders/getPresentationIds.ts
Due: none

fix: Hanging protocol state fixes (#3242)
  extensions/cornerstone/src/Viewport/OHIFCornerstoneViewport.tsx
  extensions/cornerstone/src/init.tsx
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
  extensions/cornerstone/src/tools/CalibrationLineTool.ts
  extensions/cornerstone/src/types/Presentation.ts
  extensions/default/src/commandsModule.ts
  extensions/default/src/utils/reuseCachedLayouts.ts
  extensions/test-extension/src/hp/hpMN.ts
  platform/core/src/services/StateSyncService/StateSyncService.ts
  platform/core/src/types/HangingProtocol.ts
  platform/docs/docs/platform/services/data/StateSyncService.md
  platform/ui/src/contextProviders/ViewportGridProvider.tsx
  platform/ui/src/contextProviders/getPresentationId.ts
  platform/ui/src/contextProviders/getPresentationIds.ts
  platform/ui/src/types/index.ts
  platform/viewer/cypress/integration/measurement-tracking/OHIFStudyBrowser.spec.js
  platform/viewer/src/components/ViewportGrid.tsx
Due: core, viewer

bump dot-prop from 4.2.0 to 4.2.1 in /docs/latest
  docs/latest/yarn.lock
Due: none

bump y18n from 3.2.1 to 3.2.2 in /docs/latest
  docs/latest/yarn.lock
Due: none

Address high vulnerability items reported by dependabot
  docs/latest/package.json
  docs/latest/yarn.lock
  package.json
  yarn.lock
Due: none

Update docs yarn lock
  docs/latest/yarn.lock
Due: none

Do not set orientation for stack viewport.
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
Due: none

fix: TMTV mode and message on drag and drop/toggle MPR
  extensions/default/src/Panels/PanelStudyBrowser.tsx
  extensions/default/src/commandsModule.ts
  platform/ui/src/contextProviders/getPresentationIds.ts
Due: none

Tweaked some packages to force a rebuild
  package.json
  platform/ui/package.json
  yarn.lock
Due: none

fixed commit issues
  extensions/measurement-tracking/package.json
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.tsx
Due: none

fix(tmtv): hanging protocol state sync (#3269)
  extensions/default/src/Panels/PanelStudyBrowser.tsx
  extensions/default/src/commandsModule.ts
  package.json
  platform/ui/package.json
  platform/ui/src/contextProviders/getPresentationIds.ts
  yarn.lock
Due: none

feat(VolumeViewport3D): add volumeViewport3Dd sample hp (#3241)
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/getHangingProtocolModule.ts
  extensions/cornerstone/src/initCornerstoneTools.js
  extensions/cornerstone/src/services/CornerstoneCacheService/CornerstoneCacheService.ts
  extensions/cornerstone/src/services/ViewportService/CornerstoneViewportService.ts
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
  extensions/cornerstone/src/utils/getCornerstoneViewportType.ts
  extensions/measurement-tracking/package.json
  modes/longitudinal/src/initToolGroups.js
  yarn.lock
Due: none

fix(SegmentationPanel): should be able to hide and only show one segment
  extensions/cornerstone-dicom-sr/package.json
  extensions/cornerstone/package.json
  extensions/cornerstone/src/index.tsx
  extensions/cornerstone/src/services/SegmentationService/SegmentationService.ts
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
  extensions/cornerstone/src/utils/getCornerstoneOrientation.ts
  extensions/measurement-tracking/package.json
  platform/ui/src/components/SegmentationGroupTable/SegmentationGroup.tsx
  yarn.lock
Due: none

fix imports
  extensions/cornerstone/src/services/ViewportService/Viewport.ts
Due: none

[fix] loading of microscopy
  extensions/dicom-microscopy/package.json
  extensions/dicom-microscopy/src/DicomMicroscopySopClassHandler.js
  extensions/dicom-microscopy/src/DicomMicroscopyViewport.tsx
  extensions/dicom-microscopy/src/utils/cleanDenaturalizedDataset.ts
  extensions/dicom-microscopy/src/utils/deepCopyAndClean.ts
  yarn.lock
Due: none

fix(ui): autoscroll to new measurement on measurement table (#3223)
  extensions/measurement-tracking/package.json
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.tsx
Due: none

updated cornerstone-wado-image-loader version to resolve bundle version
  extensions/cornerstone/package.json
  extensions/vtk/package.json
  platform/core/package.json
  platform/viewer/package.json
  yarn.lock
Due: core, viewer

feat: Context menu
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/defaultContextMenu.ts
  extensions/cornerstone/src/index.tsx
  extensions/cornerstone/src/init.tsx
  extensions/cornerstone/src/initContextMenu.ts
  extensions/default/src/getCustomizationModule.tsx
  platform/core/src/classes/CommandsManager.ts
  platform/core/src/extensions/ExtensionManager.ts
  platform/core/src/services/CustomizationService/CustomizationService.ts
  platform/core/src/types/Command.ts
  platform/docs/docs/platform/services/ui/customization-service.md
  platform/ui/src/components/ContextMenu/ContextMenu.tsx
  platform/ui/src/components/ContextMenu/ContextMenuController.tsx
  platform/ui/src/components/ContextMenu/ContextMenuItemsBuilder.test.js
  platform/ui/src/components/ContextMenu/ContextMenuItemsBuilder.ts
  platform/ui/src/components/ContextMenu/types.ts
  platform/ui/src/components/ContextMenuMeasurements/ContextMenuMeasurements.tsx
  platform/ui/src/components/ContextMenuMeasurements/index.js
  platform/ui/src/components/Header/Header.tsx
  platform/ui/src/components/index.js
  platform/ui/src/index.js
  platform/ui/src/types/Predicate.ts
  platform/ui/src/types/index.ts
Due: core

fix: Capture tool exception
  extensions/cornerstone/src/initContextMenu.ts
Due: none

Add fully worked out examples in the basic test mode/extension
  extensions/cornerstone/src/commandsModule.ts
  extensions/default/src/getCustomizationModule.tsx
  extensions/test-extension/src/custom-context-menu/codingValues.ts
  extensions/test-extension/src/custom-context-menu/contextMenuCodeItem.ts
  extensions/test-extension/src/custom-context-menu/findingsContextMenu.ts
  extensions/test-extension/src/custom-context-menu/index.ts
  extensions/test-extension/src/getCustomizationModule.ts
  extensions/test-extension/src/index.tsx
  modes/basic-test-mode/src/index.js
  platform/ui/src/components/ContextMenu/ContextMenu.tsx
  platform/ui/src/components/ContextMenu/ContextMenuItemsBuilder.ts
  platform/viewer/cypress/integration/measurement-tracking/OHIFContextMenuCustomization.spec.js
Due: viewer

PR updates
  extensions/cornerstone/src/commandsModule.ts
  extensions/cornerstone/src/initContextMenu.ts
  platform/ui/src/components/ContextMenu/ContextMenuController.tsx
  platform/ui/src/components/ContextMenu/ContextMenuItemsBuilder.ts
  platform/ui/src/components/ContextMenu/types.ts
Due: none

Fix the menu display
  extensions/cornerstone/src/commandsModule.ts
  platform/core/src/services/CustomizationService/CustomizationService.ts
Due: core

Path conditions:
  core: any of: platform/core
  viewer: any of: platform/viewer
