Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

docs: toolbar docs for three different kinds of definitions
  docs/latest/extensions/modules/toolbar.md
Due: none

docs: gif of nested buttons
  docs/latest/assets/img/extensions-toolbar-nested.gif
Due: none

test: consistent pre-amble for panel docs
  docs/latest/extensions/modules/panel.md
Due: none

docs: basic viewport docs
  docs/latest/extensions/modules/viewport.md
Due: none

CR Update: Update documentation
  docs/latest/configuring/data-source.md
  docs/latest/configuring/index.md
  docs/latest/deployment/recipes/embedded-viewer.md
  extensions/cornerstone/src/commandsModule.js
  extensions/cornerstone/src/init.js
  platform/ui/src/contextProviders/ContextMenuProvider.js
  platform/viewer/public/html-templates/index.html
  platform/viewer/public/html-templates/rollbar.html
  platform/viewer/src/index.js
  yarn.lock
Due: viewer

CR Update: Add test default configuration
  platform/viewer/public/config/default.js
Due: viewer

CR Update: Add default empy array to extensions
  platform/viewer/src/App.js
Due: viewer

CR Update: Update i18n configuration all ot match current function configuration
  extensions/_example/src/index.js
  platform/i18n/src/index.js
  platform/viewer/src/App.js
Due: viewer

CR Update: Add defaults to injected dependencies in configuration and extension configuration
  extensions/_example/src/index.js
  extensions/cornerstone/src/index.js
  extensions/cornerstone/src/init.js
  platform/viewer/public/config/default.js
  platform/viewer/src/appExtensions/MeasurementsPanel/index.js
  platform/viewer/src/appExtensions/MeasurementsPanel/init.js
Due: viewer

CR Update: Add defaults to configuration with no args
  platform/viewer/public/config/default.js
Due: viewer

Update documentation
  docs/latest/configuring/data-source.md
  docs/latest/configuring/index.md
  docs/latest/deployment/recipes/embedded-viewer.md
Due: none

CR Update: Add default for tools
  platform/viewer/src/App.js
Due: viewer

CR Update: Update config object to i18n
  platform/i18n/src/index.js
Due: none

Bump dcmjs with latest version and fixes
  extensions/cornerstone/package.json
  extensions/dicom-html/package.json
  extensions/vtk/package.json
  platform/viewer/package.json
Due: viewer

JSDocs and small refactors
  platform/viewer/src/lib/DICOMSR/dataExchange.js
  platform/viewer/src/lib/DICOMSR/handleStructuredReport.js
  platform/viewer/src/lib/DICOMSR/parseDicomStructuredReport.js
  platform/viewer/src/lib/DICOMSR/parseMeasurementsData.js
Due: viewer

yarn lock file after dcmjs update
  yarn.lock
Due: none

CR Update: spread defaults
  platform/viewer/src/App.js
Due: viewer

fix combined keys
  platform/ui/src/components/userPreferencesForm/HotKeysPreferences.js
Due: none

docs: commands module docs
  docs/latest/extensions/modules/commands.md
Due: none

docs: fix GitHub table formatting issue
  docs/latest/extensions/modules/commands.md
Due: none

docs: add command behaviors to disambiguate situations in which commands may behave unexpectedly
  docs/latest/extensions/modules/commands.md
Due: none

CR Update: Add tool configuration example to cornerstone extension
  extensions/cornerstone/README.md
Due: none

CR Update: Add tool configuration to netlify (testing)
  platform/viewer/public/config/default.js
  platform/viewer/public/config/netlify.js
Due: viewer

CR Update: Remove netlify config for tools
  platform/viewer/public/config/netlify.js
Due: viewer

CR Update: Rollback changes to i18n to be fixed later
  platform/i18n/src/index.js
Due: none

CR Update: Update documentation and pass whole cornerstone config object instead of tools key
  docs/latest/configuring/data-source.md
  docs/latest/configuring/index.md
  docs/latest/deployment/recipes/embedded-viewer.md
  extensions/cornerstone/README.md
  extensions/cornerstone/src/index.js
  platform/viewer/public/config/default.js
  platform/viewer/src/App.js
  platform/viewer/src/appExtensions/MeasurementsPanel/index.js
Due: viewer

Fixes based on PR comments
  platform/ui/src/components/ohifModal/OHIFModal.js
  platform/viewer/cypress/integration/common/OHIFDownloadSnapshotFile.spec.js
Due: viewer

chore(release): publish [skip ci]
  extensions/cornerstone/CHANGELOG.md
  extensions/cornerstone/package.json
  extensions/vtk/CHANGELOG.md
  extensions/vtk/package.json
  platform/core/CHANGELOG.md
  platform/core/package.json
  platform/ui/CHANGELOG.md
  platform/ui/package.json
  platform/viewer/CHANGELOG.md
  platform/viewer/package.json
Due: core, viewer

Remove unused parameters
  platform/core/src/measurements/classes/MeasurementApi.js
  platform/viewer/src/lib/DICOMSR/dataExchange.js
Due: core, viewer

docs: beginnings of SOPClassHandlerModule docs
  docs/latest/extensions/modules/sop-class-handler.md
Due: none

Registering a plain copy of server into measurementAPI
  platform/core/src/measurements/classes/MeasurementApi.js
  platform/viewer/src/connectedComponents/Viewer.js
Due: core, viewer

docs: code of conduct
  CODE_OF_CONDUCT.md
Due: none

docs: contributing guidelines
  CONTRIBUTING.md
Due: none

docs: shift pr template up a dir
  .github/pull_request_template.md
Due: none

docs: templates in P_R_T directory can only be set w/ query string; removing
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: none

Small refactor
  platform/viewer/src/lib/DICOMSR/parseDicomStructuredReport.js
Due: viewer

Start changing from toolType to toolName
  platform/viewer/src/lib/DICOMSR/parseDicomStructuredReport.js
Due: viewer

Rename a function to get instanceMetadata
  platform/viewer/src/lib/DICOMSR/parseDicomStructuredReport.js
  platform/viewer/src/lib/DICOMSR/utils/findInstanceMetadataBySopInstanceUid.js
Due: viewer
