Repository OHIF/Viewers: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

.codecov.yml:

# ABOUT:
# https://docs.codecov.io/docs/codecov-yaml
#
#
# COMMIT STATUS:
# https://docs.codecov.io/docs/commit-status
coverage:
  status:
    project:
      default:
        threshold: 0.5%
      core:
        flags: core
        threshold: 0.5%
      viewer:
        flags: viewer
        threshold: 0.5%
    patch: off
flags:
  core:
    paths:
      - platform/core
  viewer:
    paths:
      - platform/viewer

Create window level dropdown menu
  extensions/default/src/ViewerLayout/index.jsx
  modes/longitudinal/src/toolbarButtons.js
  platform/core/src/services/ToolBarService/ToolBarService.js
  platform/ui/index.js
  platform/ui/src/components/ExpandableToolbarButton/ExpandableToolbarButton.css
  platform/ui/src/components/ExpandableToolbarButton/ExpandableToolbarButton.jsx
  platform/ui/src/components/ExpandableToolbarButton/ExpandableToolbarButton.mdx
  platform/ui/src/components/ExpandableToolbarButton/index.js
  platform/ui/src/components/IconButton/IconButton.jsx
  platform/ui/src/components/ListMenu/ListMenu.jsx
  platform/ui/src/components/ListMenu/ListMenu.mdx
  platform/ui/src/components/ListMenu/index.js
  platform/ui/src/components/Select/Select.jsx
  platform/ui/src/components/Tooltip/Tooltip.jsx
  platform/ui/src/components/index.js
  platform/ui/tailwind.config.js
Due: core

fix icon size
  platform/ui/src/assets/icons/link.svg
  platform/ui/src/assets/icons/unlink.svg
Due: none

Update code to avoid intercepting onclick
  extensions/default/src/ViewerLayout/index.jsx
  extensions/default/src/getToolbarModule.js
  platform/core/src/services/ToolBarService/ToolBarService.js
Due: core

more descriptive comment for isDisabled prop
  platform/ui/src/components/Tooltip/Tooltip.jsx
Due: none

Add active state
  extensions/default/src/ViewerLayout/ToolbarButtonNestedMenu.jsx
Due: none

Add active state
  extensions/default/src/ViewerLayout/ToolbarButtonNestedMenu.jsx
  extensions/default/src/ViewerLayout/index.jsx
Due: none

Expose ViewportGridService API methods to extensions
  platform/core/src/index.js
  platform/core/src/services/ViewportGridService/ViewportGridService.js
  platform/core/src/services/ViewportGridService/index.js
  platform/core/src/services/index.js
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
  platform/viewer/src/App.jsx
  platform/viewer/src/appInit.js
Due: core, viewer

Add "todo" notes for next work day
  platform/ui/src/contextProviders/ViewportGridProvider.jsx
Due: none

Add simple loading and default state to datasourcewrapper
  platform/ui/src/components/EmptyStudies/EmptyStudies.js
  platform/viewer/src/routes/DataSourceWrapper.jsx
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

fix tailwind class
  platform/ui/src/components/Dropdown/Dropdown.jsx
Due: none

Update patient info to be clickable and update fields in viewers
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: none

nuke inputNumber and use inputText with refactor
  platform/ui/index.js
  platform/ui/src/components/InputNumber/InputNumber.jsx
  platform/ui/src/components/InputNumber/InputNumber.mdx
  platform/ui/src/components/InputNumber/index.js
  platform/ui/src/components/InputText/InputText.jsx
  platform/ui/src/components/ViewportDownloadForm/ViewportDownloadForm.jsx
  platform/ui/src/components/index.js
Due: none

make input more reusable
  platform/ui/src/components/Input/Input.jsx
Due: none

revert inputText "number" stuff
  platform/ui/src/components/InputText/InputText.jsx
Due: none

replace inputText to Input
  platform/ui/src/components/ViewportDownloadForm/ViewportDownloadForm.jsx
Due: none

fix input spacing + label
  platform/ui/src/components/Input/Input.jsx
Due: none

fix modal overlay classes
  platform/ui/src/components/Modal/Modal.jsx
  platform/ui/tailwind.config.js
Due: none

Viewport grid load default as 1x1 and load first image of series by default
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  extensions/default/src/Toolbar/ToolbarLayoutSelector.jsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/viewer/src/components/ViewportGrid.jsx
Due: viewer

fix inline styles
  platform/ui/src/components/ViewportDownloadForm/ViewportDownloadForm.jsx
Due: none

fix onclick learn more
  platform/ui/src/components/StudyListFilter/StudyListFilter.jsx
Due: none

fix close icon
  platform/ui/src/assets/icons/close.svg
  platform/ui/src/components/Icon/getIcon.jsx
  platform/ui/src/components/Modal/Modal.jsx
Due: none

revert transition
  platform/ui/src/components/IconButton/IconButton.jsx
Due: none

remove inline styles
  platform/ui/src/components/Modal/Modal.css
  platform/ui/src/components/Modal/Modal.jsx
Due: none

remove unecessary stuff
  platform/ui/src/components/Modal/Modal.jsx
Due: none

OHIF-177 JSDocs.
  platform/core/src/DICOMSR/dataExchange.js
Due: core

Add proxy for activeDataSource to extensionManager.
  platform/core/src/extensions/ExtensionManager.js
Due: core

[OHIF-177] - JSDocs (#1818)
  platform/core/src/DICOMSR/dataExchange.js
  platform/core/src/extensions/ExtensionManager.js
Due: core

Add app authoring information.
  extensions/default/src/DicomWebDataSource/index.js
Due: none

Add authoring information to exported DICOMs using the DICOMWeb DataSource (#1819)
  extensions/default/src/DicomWebDataSource/index.js
Due: none

Add util to formatpn
  extensions/default/src/DicomWebDataSource/qido.js
  platform/core/src/utils/formatPN.js
  platform/core/src/utils/index.js
Due: core

Jump between tracked measurements in measurements panel.
  extensions/cornerstone/src/utils/measurementServiceMappings/ArrowAnnotate.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Bidirectional.js
  extensions/cornerstone/src/utils/measurementServiceMappings/EllipticalRoi.js
  extensions/cornerstone/src/utils/measurementServiceMappings/Length.js
  extensions/cornerstone/src/utils/measurementServiceMappings/measurementServiceMappingsFactory.test.js
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/getViewportModule.js
  extensions/measurement-tracking/src/panels/PanelMeasurementTableTracking/index.js
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  extensions/measurement-tracking/src/viewports/utils/jumpToNextAnnotation.js
  platform/core/src/DICOMSR/dataExchange.js
  platform/core/src/DICOMSR/handleStructuredReport.js
  platform/core/src/services/MeasurementService/MeasurementService.js
  platform/core/src/services/MeasurementService/MeasurementService.test.js
  platform/ui/src/components/Viewport/Viewport.jsx
  platform/ui/src/components/ViewportActionBar/ViewportActionBar.jsx
Due: core

Add error boundary
  platform/ui/index.js
  platform/ui/package.json
  platform/ui/src/components/ErrorBoundary/ErrorBoundary.jsx
  platform/ui/src/components/ErrorBoundary/ErrorBoundary.mdx
  platform/ui/src/components/ErrorBoundary/ErrorFallback.css
  platform/ui/src/components/ErrorBoundary/index.js
  platform/ui/src/components/index.js
  yarn.lock
Due: none

Viewport grid load default as 1x1 and load first image of series by default (#1817)
  extensions/default/src/Panels/PanelStudyBrowser.jsx
  extensions/default/src/Toolbar/ToolbarLayoutSelector.jsx
  extensions/measurement-tracking/src/panels/PanelStudyBrowserTracking/PanelStudyBrowserTracking.jsx
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/viewer/src/components/ViewportGrid.jsx
Due: viewer

Format patient name in patient information tab
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

Add simple loading and default state to datasourcewrapper (#1815)
  platform/ui/src/components/EmptyStudies/EmptyStudies.js
  platform/viewer/src/routes/DataSourceWrapper.jsx
  platform/viewer/src/routes/WorkList/WorkList.jsx
Due: viewer

Add spacing
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

Remove log
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

OHIF-163: Patient Name is displayed in correct format "Last Name, First Name" (#1820)
  extensions/default/src/DicomWebDataSource/qido.js
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
  platform/core/src/utils/formatPN.js
  platform/core/src/utils/index.js
Due: core

round number
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none

Add default
  extensions/dicom-sr/src/OHIFCornerstoneSRViewport.js
  extensions/measurement-tracking/src/viewports/TrackedCornerstoneViewport.js
Due: none
